
@{
    ViewBag.Form = "Stock Transfer";
    Layout = "~/Views/Shared/FormViewLayout1.cshtml";
}
<form id="IssueTransfer_form" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:2px;padding-bottom:20px">
            <div class="row" style="padding-bottom:15px">
                <div class="col-xs-4" style="display:none">
                    <div class=" form-group">
                        <label for="txtorgn_code" class=" col-sm-5 control-label">orgn_code</label>
                         <input type="text" id="txtMode" name="In_mode_flag" class="" maxlength="50">
                        <div class=" col-sm-6">
                            <input type="text" id="txtorgn_code" name="In_orgn_code" class="form-control" maxlength="50" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="txt_transfer_rowid" class="col-sm-5 control-label ">inward_rowid:</label>
                        <div class="col-sm-4">
                            <input type="text" id="txt_transfer_rowid" name="IOU_transfer_rowid" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4" style="display:none">
                    <div class=" form-group">
                        <label for="ic_code" class=" col-sm-5 control-label">ic_code</label>
                        <div class=" col-sm-6">
                            <input type="text" id="ic_code" name="In_ic_code" class="form-control" maxlength="50" disabled>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class="form-group">
                        @*<label for="txt_ICDName" class=" col-sm-5 control-label required">ICD Name</label>*@
                        <label for="cmb_ICName" class="col-sm-5 control-label required">IC Name</label>
                        <div class=" col-sm-6">
                            <input id="cmb_filter" name="orgid" style="width: 100%" data-role="filtercombo">
                            <input type="hidden" id="txt_status_code" name="In_status_code">
                            <input id="txtagg_code" type="hidden" />
                            <input id="txtic_code" type="hidden" />
                            <input id"hdnOrgCode" type="hidden" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class=" form-group">
                        <label for="txtProduct" class=" col-sm-5 control-label required">Product Name</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtProductName" name="In_product_code" class="form-control" maxlength="50">
                        </div>
                        <div id="pay_help">
                            <a class="HelpWindow fa fa-search fa-lg" role="button" id="pay_help" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Product" searchid="ICDPRD" data-target="#HelpModal" onclick=transfer(this,"form","","form_control"); title="Search" style="font-size: 19px; "></a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class=" form-group">
                        <label for="txtAvailableStock" class=" col-sm-6 control-label required">Available Stock</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtAvailableStock" name="In_AvailableStock" class="form-control" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:15px">

                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtStockToICD" class=" col-sm-5 control-label required">Stock To ICD</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtStockToICD" name="In_received_qty" class="form-control" maxlength="6" value="0" onkeypress="return isNumberKey(event)" onchange="stocktransfer()">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class=" form-group">
                        <label for="txtRevisedStock" class=" col-sm-5 control-label required">Revised Stock</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtRevisedStock" name="InRevisedStock" class="form-control" maxlength="6" value="0" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class=" form-group">
                        <label for="txtuomdesc" class=" col-sm-6 control-label required">UOM</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtuomdesc" name="" class="form-control" maxlength="50" value="" readonly>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>
<script src="~/API_Scripts/product_search_Model.js"></script> 

<script>
    click_act_name = "StockIssueTransfer";
    click_ctrl_name = "ICDStockIssue";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>
<script>
    $(document).ready(function () {

        kendodate_format();
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#IssueTransfer_form");


        kendo.init(container);
        container.kendoValidator({
            rules: {
                checkdate: function (input) {
                    if (input.attr("data-role") == "datepicker") {
                        var res = isDate(input.val());
                        return res;
                    }
                    else {
                        return true;
                    }
                }
            }
        });

        $("#lblForm_menuid").text("ICDISSUETRANS");
        Screen_Id = "ICDISSUETRANS";
        permission = sec_Permission(Screen_Id);
        setlocalStorage('screen', Screen_Id);
        setlocalStorage("procrowid", "");
        setlocalStorage("process", "ICDISSUETRANS");
        $("#common_id").text("GRN NO");
        $("#modevalue").hide();
        var combo_statefrom = "";
        var org = getlocalStorage('org_id');
        $("#hdnOrgCode").val(org);
        $('#txtagg_code').val(org);
        $("#bottom_menus").hide(); 
        load_master_code();
        var combo_ICName = "";
        $("#cmb_filter").empty();
        combo_ICName = grid_comboScreen_mastercodes("QCD_IC_SECONDARY");
        filter_combobox("cmb_filter", combo_ICName);
    
  @*var In_agg_code = $("#txtagg_code").val();
        var data = { In_agg_code: In_agg_code, module: "ICD" };
        $.ajax({
          url: '@Url.Action("lcdcenter_search", "Product")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                  //  alert('a');
                    var itemArr = [];
                    for (var i = 0; i < response.length; i++) {
                        var list = {};
                        //list.id = response[i].Out_orgn_rowid
                        list.code = response[i].Out_orgn_code;
                        list.desc = response[i].Out_orgn_desc;
                        itemArr.push(list);
                    }
                    filter_combobox("cmb_filter", itemArr);

                }
                else {
                    $("#cmb_filter").empty();
                }
            },
            error: function (er) {
                alert(er);
                console.log(er);
            }
        });*@

        if (getlocalStorage('btn_clk_val') == "Create") {
             
            $('#divCreate #review').hide();
            $("#bottom_menus").hide();
            $("#txtMode").val("I");
            $("#grn_no").val("0");
        }
        else if(getlocalStorage('btn_clk_val') == "View" || getlocalStorage('btn_clk_val') == "Edit") {
            debugger;
            $("#txtMode").val("U");
            $('#divEdit #reviewEd').hide();
            $('#divEdit #deactivate').hide();
            if (getlocalStorage("ls_pageList") != undefined) {
                var data1 = getlocalStorage("ls_pageList");
                var formval = form_Serialize("IssueTransfer_form");
                var obj_val = JSON.parse(formval);
                obj_val.In_orgn_code = data1.Out_ic_code;    ``
                obj_val.IOU_transfer_rowid = data1.Out_inward_rowid;
                $("#txtcommon_id").val(data1.Out_grn_no); 
                $("#IOU_transfer_rowid").val(data1.Out_inward_rowid);  
              //  alert('b');
                //$('#cmb_filter').data("kendoComboBox").value(data1.Out_ic_code);  
                //$('#cmb_filter').val(data1.Out_ic_name);
                $('#cmb_filter').data("kendoComboBox").value(data1.Out_ic_name);
                $("#ic_code").val(data1.Out_ic_code);
                $("#cmb_filter").attr("readonly", "");              
                $("#txtProductName").val(data1.product_code);
                $("#txtProductName").attr("readonly", true);
                $("#pay_help").css("display", "none");               
                $("#txtAvailableStock").val(data1.accepted_qty);
                $("#txtStockToICD").val(data1.received_qty);
                $("#txtuomdesc").val(data1.uom_code);
                var bal = data1.accepted_qty - data1.received_qty;
                if (bal < 0) {
                    bal = 0;
                }
                $("#txtRevisedStock").val(bal); 
                $("#DocStat").val('Active');
            }
        }


    });
</script>
<script>
    function grid_control() {
        try {

            var control_Name = [
                { "dataCol": "Product_code", "grid_row_col": "Product Code" },
                { "dataCol": "Product_name", "grid_row_col": "Product Name" },
                { "dataCol": "Stock", "grid_row_col": "Stock Count" }
            ];
            return control_Name
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function form_control() {
        var control_Name = [
           
            { "dataCol": "Product_code", "controlId": "txtProductName", "type": "Text" },
            { "dataCol": "Product_name", "controlId": "txtProductName", "type": "Text" },
            { "dataCol": "Stock", "controlId": "txtAvailableStock", "type": "Text" },
            { "dataCol": "uomdesc", "controlId": "txtuomdesc", "type": "Text" }
        ];
        return control_Name
    }

    function controlName() {
        try {
            var control_Name = [
            ];
            return control_Name
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function trans_input_data() {
        try {
           
           
           // $("#hdnOrgCode").val(org);
           // $('#txtagg_code').val()
            
            var trans_coll = [
              
                { "trasfer": "Yes", "dataCol": "orgn_code", "controlId": "txtagg_code", "grid_id": "", "grid_row_col": "" },
                { "trasfer": "No", "dataCol": "Product_code", "controlId": "", "grid_id": "", "grid_row_col": "" },
                { "trasfer": "No", "dataCol": "Product_name", "controlId": "", "grid_id": "", "grid_row_col": "" } 
            ];
            return trans_coll;
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function stocktransfer() {
        debugger;
        var curr_stock = $("#txtAvailableStock").val();
        var transfer_stock = $("#txtStockToICD").val();
        var revised_stock = 0;
        if (parseFloat(curr_stock) >= parseFloat(transfer_stock) && parseFloat(transfer_stock) != 0) {
             revised_stock = parseFloat(curr_stock) - parseFloat(transfer_stock);
            $("#txtRevisedStock").val(revised_stock);
        }
        else {
            $("#txtRevisedStock").val(0);
            kendoAlert("Please Enter Valid Stock");
            return false;
        }
    }


</script>

<script>



    function save() {
        debugger;
        try {
            save_transfer();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    //function save_Image() {
    //    try {
    //        var xhr = new XMLHttpRequest();
    //        var fd = new FormData();
    //        xhr.onreadystatechange = function () {
    //            if (xhr.readyState == 4 && xhr.status == 200) {
    //                var value = JSON.parse(xhr.responseText);
    //                if (value.result != undefined) {
    //                    $("#txtImageHidden").val(value.result);
    //                }
    //                save_transfer();
    //            }
    //        };

    //        save_transfer();
    //        fd.append("file", document.getElementById('Billfile').files[0]);
    //        fd.append("userID", $('#txtUserId').val());
    //        xhr.open("POST", "/UserDefinition/User/", true);
    //        xhr.send(fd);
    //        xhr.addEventListener("load", function (event) {
    //        }, false);
    //    }
    //    catch (err) {
    //        javascript_log4j_root(arguments.callee.name, err);
    //    }
    //}
    function save_transfer() {
        debugger;
        try {
            var mandatory_check = true;
            if ($("#txt_transfer_rowid").val() == "") {
                $("#txt_transfer_rowid").val(0);
            } 
            //var transport_amt = parseFloat($("#txt_transamt").val()).toFixed(0);
            //$('#txt_transamt').val(parseFloat(transport_amt).toFixed(0));

            var formval = form_Serialize("IssueTransfer_form");
            console.log(formval);            
            var obj_val = JSON.parse(formval);
            // var obj_Det = JSON.parse(formval);
            var obj_Det = {};

            if ($("#cmb_filter").val() == '' || $("#cmb_filter").val() == undefined) {
                kendoAlert('Please IC Name');
            }
            obj_val.In_grn_no = $("#txtcommon_id").val();


            //if ($("#ic_code").val() == "") {
            //   obj_val.In_ic_code = $("#cmb_filter").val();
            // }


            // var org = getlocalStorage('org_id');
            obj_val.In_ic_code = $("#cmb_filter").val();
            obj_val.In_orgn_code = getlocalStorage('org_id');
            obj_val.In_grn_date = "2021-03-03";
            obj_val.In_process_status = "QCD_INWARD_ISSUETRANSFER";
            if (obj_val.In_row_timestamp == undefined || obj_val.In_row_timestamp == "") {
                obj_val.In_row_timestamp = "2021-03-03";
            }
           // obj_val.In_mode_flag = "I";

            var In_ProductName = obj_val.In_product_code;
            obj_Det.In_product_code = In_ProductName;
            //  var In_AvailableStock = parseInt(obj_val.In_AvailableStock);
            //  obj_val.In_AvailableStock = In_AvailableStock;
            var InStockToICD = obj_val.In_received_qty;
            obj_Det.In_received_qty = InStockToICD;
            obj_Det.In_status_code = "A";
            obj_Det.In_mode_flag = "I";
            var ProductCode = In_ProductName;
            var Qty = InStockToICD;
            var data = {};
            data.context = getContext();
            data.context.orgnId = $("#cmb_filter").val();
            data.context.Header = obj_val;
            // console.log(JSON.parse(obj_Det));
            data.context.Detail = "";
            var Context = data.context;
            $.ajax({
                type: "POST",
                //data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, Header: Context.Header, Detail: Context.Detail }),

                data: JSON.stringify({ orgnId: Context.orgnId, locnId: Context.locnId, userId: Context.userId, localeId: Context.localeId, Header: Context.Header, Detail: Context.Detail }),
                url: "/ICDStockIssue/StockTransferedSave",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                //  contentType: 'application/x-www-form-urlencoded',
                success: function (response) {
                    var Res = JSON.parse(response);
                    var result=JSON.parse(Res)
                    // alert(response);
                    debugger;
                    if (result.context.Header != null) {
                        var mode = $("#txtMode").val();
                        if (mode == "I") {
                            kendoAlert("Stock Transfer Details saved successfully");
                            get_StockTransfer_header(result.context.Header);
                            $('#divCreate #btnSave').prop('disabled', true);
                        }
                        else if (mode == "D") {
                            kendoAlert("Stock Transfer Details inactivate successfully");
                            get_StockTransfer_header(result.context.Header);
                            $('#divEdit #btnSaveEd').prop('disabled', true);
                        }
                        else {
                            kendoAlert("Stock Transfer Details Updated successfully");
                            get_StockTransfer_header(result.context.Header);
                            $('#divEdit #btnSaveEd').prop('disabled', true);
                        }
                    }
                    else {
                        kendoAlert(Res.ApplicationException.errorDescription);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }
            });
        }

        catch (err) {
            javascript_log4j_generate_TaxInvoiceproduct_listroot(arguments.callee.name, err);
        }
    }

</script>
 
<script>
    function load_master_code() {
        var data = {};
        var context = getContext();
        data.userId = context.userId
        data.orgnId = context.orgnId;
        data.locnId = context.locnId
        data.localeId = context.localeId
        data.screen_Id = "ICDISSUETRANS";
        var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
    }


    function get_StockTransfer_header(res) {
        debugger;
        $("#txt_transfer_rowid").val(res.IOU_inward_rowid);
        $("#txtcommon_id").val(res.In_grn_no);
        var formval = form_Serialize("IssueTransfer_form");
        var obj_val = JSON.parse(formval);
        obj_val.orgn_code = res.In_ic_code;
        obj_val.inward_rowid = res.ioU_inward_rowid;        
        $("#txtMode").val("U");
        
    } 
    function generate_StockTransfered_header(res) {
        try {
            $("#txt_transfer_rowid").val(res.IOU_inward_rowid);
            $("#txtcommon_id").val(res.In_grn_no);
            $("#cmb_filter").val(res.In_ic_desc);
            $("#ic_code").val(res.In_ic_code);
            $("#cmb_filter").attr("readonly", "");
            $("#txtProductName").val(res.In_supplier_name);
            $("#txtAvailableStock").val(res.In_supplier_location);
            $("#txtStockToICD").val(res.In_Remarks);
            $("#txtRevisedStock").val(res.In_grn_date); 
            $("#txt_status_code").val(res.In_status_code); 
            $("#DocStat").val('Active');
            $("#txtMode").val(res.In_mode_flag);
            readonlyitems();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function readonlyitems() {

        $("#txtProductName").attr('readonly',true)
        $("#txtAvailableStock").attr('readonly', true);
        $("#txtStockToICD").attr('readonly', true);
        $("#txtRevisedStock").attr('readonly', true); 
    }

</script>


