@{
    ViewBag.List = "Invoice";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}
<form id="frm_invoice_list" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="row">
        <div class="col-xs-12">
            <div id="gd_invoice">
                <div id="invoice_grid"></div>
            </div>
        </div>
    </div>
</form>
<script>
    click_act_name = "InvoiceForm";
    click_ctrl_name = "Invoice";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>
@*<script src="~/API_Scripts/getInvoice_Model.js"></script>*@
<script src="~/API_Scripts/getInvoiceList_Model.js"></script>
@*<script src="~/API_Scripts/Invoice_master_getInvoice_APIClient.js"></script>*@
<script src="~/API_Scripts/Invoice_master_getInvoiceList_APIClient.js"></script>
@*<script src="~/API_Scripts/Invoice_master_getPaymentCollection_APIClient.js"></script>
<script src="~/API_Scripts/Invoice_master_saveInvoice_APIClient.js"></script>
<script src="~/API_Scripts/Invoice_master_savePaymentCollection_APIClient.js"></script>
<script src="~/API_Scripts/getPaymentCollection_Model.js"></script>
<script src="~/API_Scripts/saveInvoice_Model.js"></script>
<script src="~/API_Scripts/savePaymentCollection_Model.js"></script>*@
<script src="~/API_Scripts/invoice.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        $(".adv_filter").hide();
        //$(".adv_filter").attr("hdrtitle", "Invoice List Record");
        //$(".adv_filter").attr("fltid", "invoice");
        $(".Export").attr("hdrtitle", "invoice");
        $(".Export").attr("SubTreeId", "invoice");
        list_grid_id = "invoice_grid";
        $("#RI").hide();
        $("#FPO").hide();
        listpageloadfetch();

        Screen_Id = "ICDINVOICE";
        permission = sec_Permission(Screen_Id);
        //page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        filterhover();
    });
</script>
<script>
    function listpageloadfetch() {
        try{
            var formval = form_Serialize("frm_invoice_list");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_FromValue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_FromValue = ".";
            }
            obj_val.FilterBy_ToValue = ".";

            var data = {};
            data.context = WebAPIProxy.getContext();;
            data.context.Filter = obj_val;        
            var Context = data.context;
            $.ajax({
                type: "POST",
                url: '/Invoice/InvoiceListfetch',
                dataType: 'json',
                data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, FilterBy_Option: Context.Filter.FilterBy_Option, FilterBy_Code: Context.Filter.FilterBy_Code, FilterBy_FromValue: Context.Filter.FilterBy_FromValue, FilterBy_ToValue: Context.Filter.FilterBy_ToValue }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    //var list = JSON.parse(response);
                    if (response.context.List != null) {
                        generate_Invoice_list(response.context.List);
                    }
                    else {
                        invoicegrid([]);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
            //setlocalStorage('flt_condition', "");
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    var status_Priority = [];
    function invoicegrid(data) {
        try {
            $.each(data, function (index, value) {
                var flag = false;
                $.each(status_Priority, function (sindex, svalue) {
                    if (svalue == value.status_desc) {
                        flag = true;
                    }
                });
                if (flag == false) {
                    status_Priority.push(value.status_desc);
                }
            });
            $("#invoice_grid").kendoGrid(
                {
                    excel: {
                        fileName: "Invoice List.xlsx",
                        filterable: true,
                        allPages: false
                    },
                    dataSource: {
                        data: data,
                        pageSize: 20,
                        change: function (e) {
                            setTimeout(function () {
                                var gd = $("#invoice_grid").data("kendoGrid");
                                filter_row(gd);
                                $('.k-i-close').css('display', 'none');
                                $('button.k-button-icon').css('display', 'none');
                                $('#invoice_grid .k-input').prop('disabled', false);
                                $('#invoice_grid .k-input').prop('readonly', true);

                            }, 1);
                        },
                    },
                    toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
                    excelExport: function (e) {
                        debugger;

                        //Mohan Changes 09-11-2020
                        var gd = $("#invoice_grid").data("kendoGrid");
                        var gd_fi = $("#invoice_grid").data("kendoGrid").dataSource;

                        var filters = gd_fi.filter();
                        var allData = gd_fi.data();
                        var query = new kendo.data.Query(allData);
                        var data = query.filter(filters).data;
                        var data_tt = gd.dataSource.data();


                        var sheet = e.workbook.sheets[0];
                        var gridColumns = gd.columns;

                        var columnCells = [];
                        for (var c = 0; c < gridColumns.length; c++) {
                            var fieldName = gd.columns[c].hidden;
                            if (typeof (fieldName) === "undefined") {
                                var cellValue = gridColumns[c].title ? gridColumns[c].title : gridColumns[c].field;
                                columnCells.push({ value: cellValue, autoWidth: true, background: "#7a7a7a", color: "#fff" });
                            }
                        }

                        var rows = [{ cells: columnCells, type: "header" }];


                        for (var i = 0; i < data.length; i++) {
                            var rowCells = [];
                            for (var j = 0; j < gridColumns.length; j++) {

                                var fieldName = gd.columns[j].hidden;
                                if (typeof (fieldName) === "undefined") {
                                    var cellValue = data[i][gridColumns[j].field];
                                    rowCells.push({ value: cellValue });
                                }
                            }
                            rows.push({ cells: rowCells, type: "data" });
                        }

                        sheet.rows = rows;

                        return false;
                    },
                    filterable: {
                        enabled: false,
                        delay: 1500,
                       // mode: "menu, row",
                        height: 200,
                        click: function (e) {
                            var gd = $("#invoice_grid").data("kendoGrid");
                            filter_row(gd);
                        }
                    },
                    filterMenuInit: function (e) {
                        var gd = $("#invoice_grid").data("kendoGrid");
                        filter_row(gd);
                    },
                    change: selectRow,
                    height: 450,
                    sortable: true,
                    selectable: true,
                    selectable: "singl",   //  Grid Row Selection
                    pageable: {
                        refresh: false,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    navigatable: true,
                    groupable: false,

                    columns: [
                        {
                            field: "Out_invoice_rowid",
                            title: "invoice_rowid",
                            width: 1,
                            hidden: true,
                        },
                        {
                            field: "Out_ic_code",
                            title: "ic_code",
                            width: 1,
                            hidden: true,
                        },
                        {
                            field: "Out_ic_name",
                            title: "Input Centre Name",
                            filterable: {
                                extra: false,
                                operators: {
                                    string: {
                                        contains: "contains"
                                    }
                                }
                            },
                          
                        },
                        {
                            field: "Out_invoice_date",
                            title: "Invoice Date",
                            filterable: {
                                extra: false,
                                operators: {
                                    string: {
                                        contains: "contains"
                                    }
                                }
                            }
                        },
                         {
                             field: "Out_invoice_no",
                             title: "Invoice No",
                             filterable: {
                                 extra: false,
                                 operators: {
                                     string: {
                                         contains: "contains"
                                     }
                                 }
                             }
                         },
                         {
                             field: "Out_customer_type",
                             title: "customer_type",
                             width: 1,
                             hidden: true,
                         },
                       
                         {
                             field: "Out_customer_type_desc",
                             title: "Customer Type",
                             filterable: {
                                 extra: false,
                                 operators: {
                                     string: {
                                         contains: "contains"
                                     }
                                 }
                             }
                         },

                          {
                              field: "Out_customer_name",
                              title: "Farmer/Customer Name",
                              filterable: {
                                  extra: false,
                                  operators: {
                                      string: {
                                          contains: "contains"
                                      }
                                  }
                              }
                          },
                          {
                              field: "Out_reciver_location",
                              title: "reciver_location",
                              width: 1,
                              hidden: true,
                          },
                          {
                              field: "Out_reciver_location_desc",
                              title: "Receiver Location",
                              filterable: {
                                  extra: false,
                                  operators: {
                                      string: {
                                          contains: "contains"
                                      }
                                  }
                              }
                          },
                          {
                              field: "Out_reciver_address",
                              title: "Receiver Address",
                              filterable: {
                                  extra: false,
                                  operators: {
                                      string: {
                                          contains: "contains"
                                      }
                                  }
                              }
                          },
                          {
                              field: "Out_process_status",
                              title: "process_status",
                              width: 1,
                              hidden: true,
                          },
                           {
                               field: "Out_process_status_desc",
                               title: "process_status_desc",
                               width: 1,
                               hidden: true,
                           },
                           {
                               field: "Out_status_code",
                               title: "status_code",
                               width: 1,
                               hidden: true,
                           },
                           {
                               field: "Out_status_desc",
                               title: "status_desc",
                               width: 1,
                               hidden: true,
                           },
                    ]

                });
            $(".k-dropdown-operator").css('display', 'none');
            $("#invoice_grid .k-input").attr('disabled', 'false');
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }

    function selectRow() {
        try {
            var grid = $("#invoice_grid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            setlocalStorage("ls_pageList", selectedItem);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>
<script>
    $("#btn_Edit").bind("click", function () {
        getSerializedSelectedRows('edit');
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('view');
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../Invoice/InvoiceForm";
    });

    function getSerializedSelectedRows(mode) {
        try {
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");
                if (items.length == 0) {
                    kendoAlert("Please select records");
                }

                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../Invoice/InvoiceForm";
                    }
                    else if (mode == "view") {
                        btn_onClick('View');
                        location.href = "../Invoice/InvoiceForm";
                    }
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>
<script>
    function generate_Invoice_list(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                $("#gd_invoice").empty();
                $("#gd_invoice").append("<div id='invoice_grid'></div>");
                invoicegrid(data);
            }
            else {
                invoicegrid([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>








