@{
    ViewBag.Form = "Invoice To CM";
    Layout = "~/Views/Shared/FormViewLayout2.cshtml";
}

<form id="Invoicetocm_form" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:16px;padding-bottom:2px">
            <div class="row" style="padding-bottom:15px">
                <div class="col-xs-12">
                    <div id="grid_invcm">
                    </div>
                </div>
            </div>
            </div>
        </div>
    </form>
<script src="~/API_Scripts/Invoice_To_CM_getInvoiceToCMList_APIClient.js"></script>
<script src="~/API_Scripts/Invoice_To_CM_saveInvoiceToCM_APIClient.js"></script>
<script src="~/API_Scripts/getInvoiceToCMList_Model.js"></script>
<script src="~/API_Scripts/saveInvoiceToCM_Model.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/API_Scripts/InvoicetoCM.js"></script>
<script>
    $(document).ready(function () {
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#Invoicetocm_form");
        kendo.init(container);
        container.kendoValidator({
        });
        master_Invoice_CM()        
        $("#divCreate").hide();        
        $('.create_item').hide();   
        GridInvcm([]);
        Screen_Id = "FALINVCM";
        listpageloadfetch();        
    });

</script>

<script>
    function listpageloadfetch() {
        try {
            var formval = form_Serialize("cmquery");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";

            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Filter = obj_val;
            retrieve_InvoicetoCM_details(data);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function GridInvcm(data) {
        try {
            $("#grid_invcm").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {
                                customer_code: { type: "string" },
                                customer_name: { type: "string" },
                                booking_id: { type: "string" },
                                equipment: { type: "string", editable: false },
                                booking_date: { type: "string", editable: false },
                                period_from: { type: "string", editable: false },
                                period_to: { type: "string", editable: false },
                                Status: { type: "string", editable: false }
                            }
                        }
                    }
                },
              
                height: 300,
                groupable: false,
                dataBinding: setDefaultValues,

                dataBound: function (e) {
                    resultData = e.sender._data;
                    var rows = $('#grid_invcm').data('kendoGrid').tbody.children();
                    setColor(rows, resultData);
                },
                change: function (e) {
                    $("#grid_invcm tbody .k-state-selected").css({
                        "background-color": "lightgreen"
                    });
                    $('tr').find('[type=checkbox]').prop('checked', false);
                    $('tr.k-state-selected').find('[type=checkbox]').prop('checked', true);
                },
                sortable: true,
                selectable: true,
                navigatable: true,
                columns: [
                    {
                        title: "Select",
                        width: 20,
                        template: "<input type='checkbox' name='Id' class='checkbox' />",
                    },
                     {
                         field: "invoicetocm_rowid",
                         title: "invoicetocm_rowid",
                         hidden: true
                     },
               {
                   field: "customer_code",
                   title: "Customer Code",
                   width: 100
               },
            {
                field: "customer_name",
                title: "Customer Name",
                width: 100
            },


             {
                 field: "booking_no",
                 title: "Booking ID ",
                 width: 100
             },
             {
                 field: "espequipment_code",
                 title: "espequipment_code",
                 hidden: true
             },
              {
                  field: "equipment_name",
                  title: "Equipment ",
                  width: 100
              },
              {
                  field: "date_of_booking",
                  title: "Date Of Booking ",
                  width: 100
              },
              {
                  field: "period_from",
                  title: "Period From",
                  width: 100
              },
              {
                  field: "period_to",
                  title: "Period To",
                  width: 100
              },
              {
                  field: "status_code",
                  title: "status_code",
                  hidden: true
              },
        {
            field: "status_desc",
            title: "Status",
            width: 100
        },
                ],
                editable: true
            });
            $(".k-dropdown-operator").css('display', 'none');
            $("#grid_invcm .k-input").attr('disabled', 'false');

            function onDataBound(e) {
                var selectedItem = [];
                $(".checkbox").bind("change", function (e) {
                    $(e.target).closest("tr").toggleClass("k-state-selected");
                });
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    var gridRowID = -1;
    function sel_checkbox() {
        gridRowID++;
        return '<input id="chk_sel_' + gridRowID + '" class="checkbox" type="checkbox" />';
    }
    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }

</script>
    <script>
        function generate_InvoicetoCM_list(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                GridInvcm(data);
            }
            else {
                GridInvcm([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    </script>
<script>
    function save() {
        try {
            var formval = form_Serialize("Invoicetocm_form");
            var obj_val = JSON.parse(formval);           
            var grid_val = JSON.stringify($("#grid_invcm").data().kendoGrid._data);
            var Bind = {};
            Bind = grid_val;
            var result = JSON.parse(Bind);
            if (result.length == 0) {
                kendoAlert("Atleast one record needs to be entered");
                return false;
            }
            $.each(result, function (index, value) {
                var invoicetocm_rowid = value.invoicetocm_rowid;
                if (invoicetocm_rowid == undefined) {
                    result[index].invoicetocm_rowid = "0";
                }

                var mmode = result[index].mode_flag;
                if (mmode == "S") {
                    result[index].mode_flag = "U";
                }

            });
            var obj_grid_val = result;
            var data_save = {};
            data_save.context = WebAPIProxy.getContext();
            data_save.context.List = obj_grid_val;
            save_InvoicetoCM_details(data_save);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>

       
