@{
    ViewBag.Form = "Revenue Expense Overall Report";
    Layout = "~/Views/Shared/FormViewLayout2.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<form id="revexrpt" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-bottom:15px;padding-top:12px;">
                <div class="col-xs-4" style="display:none">
                    <div class=" form-group">
                        <label for="ic_code" class=" col-sm-5 control-label">Revenue Expense Report</label>
                        <div class=" col-sm-6">
                            <input type="text" id="ic_code" name="ic_code" class="form-control" maxlength="50" disabled>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <label for="cmb_FPO" class="col-sm-2 control-label required">FPO:</label>
                            <div class="col-sm-6" style="width: 83%;">
                                <input id="cmb_orgfpo" name="orgpfpo_code" style="width: 100%">
                                <input type="hidden" id="txt_orgcode" name="orgn_code" />
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="cmb_reqtype" class="col-sm-3 control-label required">Modules</label>
                            <div class="col-sm-7" style="width: 75%;">
                                <input id="cmb_business" name="business_code" style="width: 100%">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <label for="cmb_revExptype" class="col-sm-3 control-label required">Rev/Exp</label>
                            <div class="col-sm-7" style="width: 75%;">
                                <input id="cmb_revexp" name="RevExp_code" style="width: 100%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 1%;">
                    <div class="col-sm-12">
                        <div class="col-sm-4">
                            <label for="cmb_Finantype" class="col-sm-3 control-label required">Financial Year</label>
                            <div class="col-sm-7" style="width: 60%;">
                                <input id="cmb_Financial" name="Financial_code" style="width: 100%">
                            </div>
                        </div>
                        <div class="col-sm-2" style="margin-left: 50%;">
                            <button id="refresh" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                    data-original-title="Refresh">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>

                            <button id="clear" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                    data-original-title="clear" onclick="listclear()">
                                clear
                            </button>
                            <button type="button" id="btnExport" style="background-color: #00c0ef; border-color: #00acd6;" class="Export btn btn-sm btn-info"
                                    data-original-title="Export" onclick="Export()">
                                <span class=" glyphicon glyphicon-export mr"></span>
                            </button>                      </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-xs-12">

                            <div id="gd_ser">
                                <div id="revexgrid_grid"></div>
                            </div>
                        </div>
                    </div>
              
            </div>
        </div>
    </div>
</form>
<script src="~/CommonScripts/Common_func.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>

<style>
    .drpdwn {
        width: 137px;
        height: 30px;
        border-radius: 4px;
        border: 1px solid #AAAAAA;
    }
</style>
<script>
    $(document).ready(function () {
        
        var menuId = "";
        var permission = "";
        var org_code = "";
        var rev_exp = "";
        var financial = "";
        var business = "";
        Screen_Id = "Rem_Report";
        permission = sec_Permission(Screen_Id);
        var org_id = getlocalStorage('org_id');
        $('#txt_orgcode').val(org_id);
        load_master_code();
        $("#cmb_orgfpo").empty();
        org_code = grid_comboScreen_mastercodes("ORGFO");
        filter_combobox("cmb_orgfpo", org_code);

        $("#cmb_revexp").empty();
        rev_exp = grid_comboScreen_mastercodes("QCD_REMTYPE");
        filter_combobox("cmb_revexp", rev_exp);


        $("#cmb_Financial").empty();
        financial = grid_comboScreen_mastercodes("FY");
        filter_combobox("cmb_Financial", financial);


        $("#cmb_business").empty();
        
        business = grid_comboScreen_mastercodes("QCD_BUSSACTY");
        business.reverse()[0];
        filter_combobox("cmb_business", business);



        var jso = ["Produce Aggregation Warehouse", "Input Centre Demand", "Farm Lease", "XYZ", "ABC"]
        for (var i in jso) {
            $("#FromJson").append('<option value="' + jso[i] + '">' + jso[i] + '</option>');
        }
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#revexrpt");
        kendo.init(container);
        container.kendoValidator({
        });
        $("#Topsubheader").show();
        $("#bottomFooter").show();
        $("#bottom_menus").hide();
        $("#btndiv").show();
        $("#frmlayerdiv").hide();
        $("#divCreate").hide();
        $("#divEdit").hide();
        $("#divView").show();
        $("#DocStat").show();
        $(".edtviw_item").show();
        $(".create_item").hide();
      
        listgrid();
        $("#btnExport").kendoButton({
            click: function () {
                
                var gd = $("#revexgrid_grid").data("kendoGrid");
                var len = gd.dataSource._data.length;
                if (len != 0) {
                    $("#revexgrid_grid").data("kendoGrid").saveAsExcel();
                    kendoAlert("Exported Succesfully");
                }
                else if (len == 0) {
                    kendoAlert("Sorry, no data found in the grid to Export");
                }

            }
        });
    });

    $(function () {
        $('#refresh').click(function () {
            debugger;
            $('#btnExport').show();
            var data = {};
            var Bind = {};
            var formval = form_Serialize("revexrpt");
            var obj_val = JSON.parse(formval);
            //Bind = grid_val;
            //var result = JSON.parse(Bind);
            data.context = WebAPIProxy.getContext();        
            data.context.Header = obj_val;
        //    data.context.Details = obj_grid_val;
            var Context = data.context;
            if ($('#cmb_business').val() != "" && $("#cmb_orgfpo").val() != "" && $("#cmb_Financial").val() != "" && $("#cmb_revexp").val() !="") {
                //var cmb_code = $("#cmb_business").val();
                //var fpo_code = $("#cmb_orgfpo").val();
                //var Fin_Year = $("#cmb_Financial").val();
                //var rev_exp = $("#cmb_revexp").val();
                //var org_id = getlocalStorage('org_id');
                $.ajax({
                    type: "POST",
                    //data: '{  FPO_code: "' + orgpfpo_code + '",Fin_Year:"' + Financial_code + '", pro_code: "' + business_code + '", rev_exp: "' + RevExp_code + '", org_id: "' + orgpfpo_code + '",header:"' +  +'"}',
                    data: JSON.stringify({
                        userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId,
                        In_Fin_Year: Context.Header.Financial_code, In_fpo_code: Context.Header.orgpfpo_code,
                        In_pro_code: Context.Header.business_code, In_rev_exp: Context.Header.RevExp_code
                    }),
                 
                    url: "/REM/RevenueExReportNAF",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) { 
                        console.log(response)
                        var Res = JSON.parse(response);
                        if (Res.context != null) {
                            console.log(Res);
                            // kendoAlert("Saved Succedfully");
                            debugger;
                            listgrid(Res.context.Output)
                        }
                         
                    },
                    error: function (er) {
                        alert(er)
                        console.log(er)
                    }
                });
            }
            else {
                if($('#cmb_orgfpo').val()=="")
                {
                    kendoAlert('Please Select FPO');
                }
            else if($('#cmb_business').val() == "")
                {
                    kendoAlert('Please Select Module');
                }
            else if ($("#cmb_Financial").val() == "")
                {
                    kendoAlert('Please Select Financial Year');
                }
            else if ($("#cmb_revexp").val()== "")
                {
                    kendoAlert('Please Select Type');
                }
              

            }

            return false;
        });
    });
    function listclear() {
        try {
            $("#cmb_orgfpo").data("kendoComboBox").value("");
            $("#cmb_business").data("kendoComboBox").value("");
            $("#cmb_Financial").data("kendoComboBox").value("");
            $("#cmb_revexp").data("kendoComboBox").value("");
            listgrid([]);

        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function load_master_code() {
        try {


            var data = {};
            var context = WebAPIProxy.getContext();
            data.userId = context.userId
            data.orgnId = context.orgnId
            data.locnId = context.locnId
            data.localeId = context.localeId
            data.screen_Id = "Tax";
            var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>


<script>

    function listgrid(data) {
        $("#revexgrid_grid").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            In_fpo_code: { type: "string", required: true },
                            In_revenueexpense: { type: "string", required: true },
                            In_date: { type: "string", required: true },
                            In_description: { type: "string", required: true },
                            In_bill_no: { type: "string", required: true },
                            In_revenueamount: { type: "float", defaultValue: "0.00" },
                            In_expenseamount: { type: "float", defaultValue: "0.00" },
                        }
                    }
                },
                aggregate: [{ field: "In_revenueamount", aggregate: "sum" },
                    { field: "In_expenseamount", aggregate: "sum" }],
               },
             height: 450,
            scrollable: true,
            sortable: true,
            pageable: {
                refresh: false,
                pageSizes: true,
                previousNext: false,
                buttonCount: 8
            },

            columns: [
                {
                    field: "In_fpo_code",
                    title: "FPO Name",
                    width: 100,

                },
                  {
                      field: "In_revenueexpense",
                      title: "Revenue/Expense",
                      width: 40,

                  },
                   {
                       field: "In_date",
                       title: "Date",
                       width: 30,
                     },
                    {
                        field: "In_description",
                        title: "Description",
                        width: 60,

                    },

              {
                  field: "In_bill_no",
                  title: "Bill #",
                  width: 30

              },
              {
                  field: "In_revenueamount",
                  title: "Revenue Amount",
                  width: 40,
                  template: "<div style='text-align:right'>#= kendo.toString(In_revenueamount, '0.00') # </div>"
               },

                {
                    field: "In_expenseamount",
                  title: "Expense Amount",
                  width: 40,
                    template: "<div style='text-align:right'>#= kendo.toString(In_expenseamount, '0.00') # </div>"
         
              },

            ],
            editable: false,

        });

    }

</script>

