@{
    ViewBag.List = "Duplicate Register";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}


<form id="DuplicateRegister" class="form-horizontal" data-role="validator" novalidate="novalidate">

    <div class="row">
        <div class="col-xs-12">
            <div id="gd_dupReg">
                <div id="DupReg_grid"></div>
            </div>
        </div>
    </div>
</form>

<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/API_Scripts/DuplicateRegister.js"></script>

<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {

        kendodate_format();
        $(".adv_filter").attr("hdrtitle", "Duplicate Register");
        $(".adv_filter").attr("fltid", "register");
        $(".Export").attr("hdrtitle", "Duplicate Register List");
        $(".Export").attr("SubTreeId", "SRVDUPREG");
        Screen_Id = "SRVDUPREG";
        permission = sec_Permission(Screen_Id);
        //page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        $("#RI").hide();
        $("#FPO").hide();
        listpageloadfetch();
    });
</script>
<script>
    function listpageloadfetch() {
        try {
            var formval = form_Serialize("DuplicateRegister");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "QCD_SHA_DUP_REG";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";


            var data = {};
            data.context = WebAPIProxy.getContext();;
            data.context.Filter = obj_val;
            var Context = data.context;
            $.ajax({
                type: "POST",
                data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, filterby_option: Context.Filter.FilterBy_Option, filterby_code: Context.Filter.FilterBy_Code, filterby_fromvalue: Context.Filter.FilterBy_Fromvalue, filterby_tovalue: Context.Filter.FilterBy_Tovalue }),
                url: "/DuplicateRegister/AllServiceList",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    if (response.context != null) {
                        generate_DuplicateRegister_list(response.context.List)
                        //listgrid(response.context.List);
                        //SetPager(response.context.Filter.out_record_count)
                    }
                    else {
                        listgrid([]);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
            //retrieve_DuplicateRegister_list(data);          
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    var status_Priority = [];
    function DupRegGrid(data) {
        try {
            $.each(data, function (index, value) {
                var flag = false;
                $.each(status_Priority, function (sindex, svalue) {
                    if (svalue == value.status_desc) {
                        flag = true;
                    }
                });
                if (flag == false) {
                    status_Priority.push(value.status_desc);
                }
            });
            $("#DupReg_grid").kendoGrid(
                {
                    dataSource: {
                        data: data,
                        pageSize: 20,
                        change: function (e) {
                            setTimeout(function () {
                                var gd = $("#DupReg_grid").data("kendoGrid");
                                filter_row(gd);
                                $('.k-i-close').css('display', 'none');
                                $('button.k-button-icon').css('display', 'none');
                                $('#DupReg_grid .k-input').prop('disabled', false);
                                $('#DupReg_grid .k-input').prop('readonly', true);
                            }, 1);
                        },
                    },
                    toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
                    excelExport: function (e) {
                        var gd = $("#DupReg_grid").data("kendoGrid");
                        var len = gd.dataSource._data.length;
                        var chkall = $('#chkall').is(':checked');
                        var chkfilter = $('#chkfilter').is(':checked');
                        var chktemp = $('#chktemp').is(':checked');
                        var twokendobox = true;
                        gd.dataSource.pageSize(len);
                        if (e.sender.dataSource._data.length == len) {
                            twokendobox = false;
                            exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                        }
                        else {
                            exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                        }
                        gd.dataSource.pageSize('10');
                        return false;
                    },
                    filterable: {
                        enabled: true,
                        delay: 1500,
                        mode: "menu, row",
                        height: 200,
                        click: function (e) {
                            var gd = $("#DupReg_grid").data("kendoGrid");
                            filter_row(gd);
                        }
                    },
                    filterMenuInit: function (e) {
                        var gd = $("#DupReg_grid").data("kendoGrid");
                        filter_row(gd);
                    },
                    change: selectRow,
                    height: 450,
                    sortable: true,
                    selectable: true,
                    selectable: "singl",   //  Grid Row Selection
                    pageable: {
                        refresh: false,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    navigatable: true,
                    groupable: false,
                    columns: [
                         {
                            field: "Out_register_rowid",
                             title: "register_rowid",
                             width: 1,
                             hidden: true,
                         },
                         {
                             field: "Out_fpoorgn_code",
                             title: "fpoorgn_code",
                             width: 1,
                             hidden: true,
                         },
                    {
                        field: "Out_register_no",
                        title: "Report ID",
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        width: 150

                    },
                    {
                        field: "Out_register_type_code",
                        title: "register_type_code",
                        width: 1,
                        hidden: true,
                    },
                    {
                        field: "Out_register_type_desc",
                        title: "Report Name",
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        width: 150

                    },
                    {
                        field: "Out_register_date",
                        title: "Report Date",
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        width: 150

                    },
                     {
                         field: "Out_status_code",
                         title: "STATUS Id",
                         width: 1,
                         hidden: true,
                     },
                    {
                        field: "Out_status_desc",
                        title: "Status",
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        width: 150

                    }
                    ],
                    editable: false
                });
            $(".k-dropdown-operator").css('display', 'none');
            $("#DupReg_grid .k-input").attr('disabled', 'false');
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function selectRow() {
        var grid = $("#DupReg_grid").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        setlocalStorage("ls_pageList", selectedItem);
    }

    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }
</script>
<script>
    $("#btn_Edit").bind("click", function () {
        getSerializedSelectedRows('edit');
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('view');
    });
    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../DuplicateRegister/DuplicateRegisterform";
    });
    function getSerializedSelectedRows(mode) {
        try {
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");
                if (items.length == 0) {
                    kendoAlert("Please select records");
                }
                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../DuplicateRegister/DuplicateRegisterform";
                    }
                    else if (mode == "view") {
                        btn_onClick('View');
                        location.href = "../DuplicateRegister/DuplicateRegisterform";
                    }
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>
<script>
    function generate_DuplicateRegister_list(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                $("#gd_dupReg").empty();
                $("#gd_dupReg").append("<div id='DupReg_grid'></div>");
                DupRegGrid(data);


            }
            else {
                DupRegGrid([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>





