@{
    ViewBag.Form = "Customer Master";
    Layout = "~/Views/Shared/FormViewLayout1.cshtml";
}

<div class="row">
    <div class="col-xs-12">
    </div>
</div>

<form id="Customer_Master" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">

            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txt_customer_code" class=" col-sm-5 control-label required">Customer Code</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txt_customer_code" name="IOU_customer_code" class="form-control" readonly />
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="cus_type" class="col-sm-3 control-label required">Customer Type</label>
                        <div class=" col-sm-3">
                            <input type="radio" id="rdo_farm" name="In_customer_type" checked="checked" onclick="changing()" />Farmer Member
                        </div>
                        <div class=" col-sm-3">
                            <input type="radio" id="rdo_farnm" name="In_customer_type" onclick="changing()" />FPO
                        </div>
                        <div class=" col-sm-3">
                            <input type="radio" id="rad_oth" name="In_customer_type" onclick="changing()" />Others
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txt_customer_name" class="col-sm-5 control-label required">Customer Name</label>
                        <div class="col-sm-6">
                            <input type="text" id="txt_customer_name" name="In_customer_name" class="form-control" maxlength="50" readonly>
                        </div>
                        <div id="pay_help1">
                            <a class="HelpWindow fa fa-search fa-lg" role="button" id="pay_help1" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Farmer Member" searchid="PW01" data-target="#HelpModal" onclick=transfer(this,"form","","form_control"); title="Search" style="font-size: 19px; "></a>
                        </div>
                        <div id="pay_help2">
                            <a class="HelpWindow fa fa-search fa-lg" role="button" id="pay_help2" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="FPO" searchid="PW02" data-target="#HelpModal" onclick=transfer(this,"form","","form_control"); title="Search" style="font-size: 19px; "></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="address1" class="col-sm-5 control-label required">Address 1</label>
                        <div class="col-sm-6">
                            <input type="text" name="In_customer_addr1" id="address1" class="form-control" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="address2" class="col-sm-5 control-label required">Address 2</label>
                        <div class="col-sm-6">
                            <input type="text" name="In_customer_addr2" id="address2" class="form-control" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="pin_code" class="col-sm-5 control-label required">PinCode</label>
                        <div class=" col-sm-6">
                            <input type="text" name="In_customer_pincode" id="pin_code" class="form-control" maxlength="6" style="text-align:right" onkeypress="return isNumberKey(event)" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="combo_village" class="col-sm-5 control-label required">Village</label>
                        <div class=" col-sm-6">
                            <input id="combo_village" class="form-control" name="In_customer_village_desc" data-role="filtercombo" style="width:100%" readonly>
                        </div>
                        <div>
                            <a class="HelpWindow fa fa-search fa-lg" role="button" id="Search2" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Village" searchid="S106" data-target="#HelpModal" onclick=transfer(this,"form","","form_control"); title="Search" style="font-size: 19px; "></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="combo_grampanchayat" class="col-sm-5 control-label required">Gram Panchayat</label>
                        <div class="col-sm-6">
                            <input id="combo_grampanchayat" class="form-control" name="In_customer_panchayat_desc" style="width:100%" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="taluk" class="col-sm-5 control-label required">Taluk</label>
                        <div class="col-sm-6">
                            <input id="combo_taluk" class="form-control" name="In_customer_taluk_desc" style="width:100%" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="combo_country" class="col-sm-5 control-label required">Country</label>
                        <div class=" col-sm-6">
                            <input id="combo_country" class="form-control" name="In_customer_country_desc" data-role="filtercombo" style="width:100%" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="combo_district" class="col-sm-5 control-label required">District</label>
                        <div class="col-sm-6">
                            <input id="combo_district" class="form-control" name="In_customer_dist_desc" style="width:100%" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="combo_state" class="col-sm-5 control-label">State</label>
                        <div class=" col-sm-6">
                            <input id="combo_state" class="form-control" name="In_customer_state_desc" data-role="filtercombo" style="width:100%" readonly>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="display:none">
                        <div class="form-group">
                            <label for="combo_villagecode" class="col-sm-5 control-label">Village Desc</label>
                            <div class=" col-sm-6">
                                <input id="combo_villagecode" class="form-control" name="In_customer_village" data-role="filtercombo" style="width:100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="display:none">
                        <div class="form-group">
                            <label for="combo_grampanchayatcode" class="col-sm-5 control-label">Gram Panchayat Desc</label>
                            <div class="col-sm-6">
                                <input id="combo_grampanchayatcode" class="form-control" name="In_customer_panchayat" style="width:100%" data-toggle="tooltip" data-placement="bottom" data-role="filtercombo">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="display:none">
                        <div class="form-group">
                            <label for="combo_talukcode" class="col-sm-5 control-label">Taluk Desc</label>
                            <div class="col-sm-6">
                                <input id="combo_talukcode" class="form-control" name="In_customer_taluk" style="width:100%" data-toggle="tooltip" data-placement="bottom" data-role="filtercombo">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4" style="display:none">
                        <div class="form-group">
                            <label for="combo_districtcode" class="col-sm-5 control-label">District desc</label>
                            <div class="col-sm-6">
                                <input id="combo_districtcode" class="form-control" name="In_customer_dist" style="width:100%" data-toggle="tooltip" data-placement="bottom" data-role="filtercombo">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="display:none">
                        <div class="form-group">
                            <label for="combo_countrycode" class="col-sm-5 control-label ">Country Desc</label>
                            <div class=" col-sm-6">
                                <input id="combo_countrycode" class="form-control" name="In_customer_country" data-role="filtercombo" style="width:100%">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" style="display:none">
                            <label for="combo_statecode" class="col-sm-5 control-label ">State Desc</label>
                            <div class=" col-sm-6">
                                <input id="combo_statecode" class="form-control" name="In_customer_state" data-role="filtercombo" style="width:100%">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4" style="display:none">
                        <div class="form-group">
                            <label for="txt_customer_rowID" class="col-sm-5 control-label ">Customer RowID</label>
                            <div class="col-sm-6">
                                @*<input type="text" name="customer_rowid" id="txt_customer_rowID" class="form-control" maxlength="50" >*@
                                <input type="text" name="IOU_customer_rowid" onkeypress="return isNumberKey(event)" id="txt_customer_rowID" class="form-control" maxlength="50" style="text-align:right">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="display:none">
                        <div class="form-group">
                            <label for="txt_agg_code" class="col-sm-5 control-label ">Agg Code</label>
                            <div class=" col-sm-6">
                                <input type="text" name="IOU_customer_code" onkeypress="return isNumberKey(event)" id="txt_agg_code" class="form-control" maxlength="50" style="text-align:right" value="AGG">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" style="display:none;">
                            <label for="txt_status_code" class="col-sm-5 control-label">Status_code</label>
                            <div class="col-sm-4">
                                <input type="text" value="A" id="txt_status_code" name="In_status_code" class="form-control" maxlength="10">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" style="display:none;">
                            <label for="txt_status_desc" class="col-sm-5 control-label">Status_code</label>
                            <div class="col-sm-4">
                                <input type="text" value="Active" id="txt_status_desc" name="In_status_desc" class="form-control" maxlength="10">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" style="display:none;">
                            <label for="txtMode" class="col-sm-5 control-label">Mode</label>
                            <div class="col-sm-4">
                                <input type="text" id="txtMode" name="In_mode_flag" class="form-control" maxlength="10">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group" style="display:none;">
                            <label for="row_timestamp" class="col-sm-5 control-label">Timestamp:</label>
                            <div class="col-sm-4">
                                <input type="text" id="txt_row_timestamp" name="In_row_timestamp" class="form-control" maxlength="10">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</form>

<script src="~/API_Scripts/Customer_master_PAWHS_getCustomerMaster_APIClient.js"></script>
<script src="~/API_Scripts/PAWHSCustomerMaster.js"></script>
<script src="~/API_Scripts/Customer_master_PAWHS_getCustomerMasterList_APIClient.js"></script>
<script src="~/API_Scripts/Customer_master_PAWHS_saveCustomerMaster_APIClient.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/API_Scripts/PAWHS_getCustomerMaster_Model.js"></script>
<script src="~/API_Scripts/PAWHS_getCustomerMasterList_Model.js"></script>
<script src="~/API_Scripts/PAWHS_saveCustomerMaster_Model.js"></script>
<script src="~/CommonScripts/ExportExcel.js"></script>
<script src="~/CommonScripts/Common_func.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>

<script>
    click_act_name = "CustomerMasterList";
    click_ctrl_name = "PAWHSCustomerMaster";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>

<script>

    $(document).ready(function () {
        kendodate_format();
        $("#txt_Gst_no").attr("disabled", "disabled");
        $("#hide_div").hide();
        $("#Search2").hide();
        $("#pay_help2").hide();
        load_master_code();
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#Customer_Master");
        kendo.init(container);
        container.kendoValidator({
        });
        $(".file_attach").attr("hdrtitle", "Customer ");
        $(".notes").attr("hdrtitle", "Customer ");
        $("#lblForm_menuid").text("PWCUSMAS");

        Screen_Id = "PWCUSMAS";
        permission = sec_Permission(Screen_Id);
        var ORGFO = "";
        $("#facilitorg").empty();
        ORGFO = grid_comboScreen_mastercodes("ORGFO");
        filter_combobox("facilitorg", ORGFO);

        //var Country = "";
        //$("#combo_country").empty();
        //Country = grid_comboScreen_mastercodes("QCD_COUNTRY");
        //filter_combobox("combo_country", Country);

        //var State = "";
        //$("#combo_state").empty();
        //State = grid_comboScreen_mastercodes("QCD_UN_STATE");
        //filter_combobox("combo_state", State);

        //var Village = "";
        //$("#combo_village").empty();
        //Village = grid_comboScreen_mastercodes("QCD_UN_VILLAGE");
        //filter_combobox("combo_village", Village);
        //var dmap_in = "";

        //$("#combo_district").empty();
        //dmap_in = grid_comboScreen_mastercodes("QCD_UN_DIST");
        //filter_combobox("combo_district", dmap_in);

        //var gmap_in = "";
        //$("#combo_grampanchayat").empty();
        //gmap_in = grid_comboScreen_mastercodes("QCD_UN_GRAMPAN");
        //filter_combobox("combo_grampanchayat", gmap_in);

        //var tmap_in = "";
        //$("#combo_taluk").empty();
        //tmap_in = grid_comboScreen_mastercodes("QCD_UN_TALUK");
        //filter_combobox("combo_taluk", tmap_in);

        if (getlocalStorage('btn_clk_val') == "Create") {

            $('#divCreate #review').hide();
            $("#txtMode").val("I");
            $("#bottom_menus").hide();
            $("#DocStat").val("New");
        }
        else if (getlocalStorage('btn_clk_val') == "Edit") {
            $('#divEdit #reviewEd').hide();
            $('#divEdit #deactivate').hide();
            $("#bottom_menus").hide();

            if (getlocalStorage("ls_pageList") != undefined) {
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("Customer_Master");
                var obj_val = JSON.parse(formval);
                obj_val.IOU_customer_rowid = data.Out_customer_rowid;
                obj_val.IOU_customer_code = data.Out_customer_code;

                var data = {};
                data.context = WebAPIProxy.getContext();
                data.context.Header = obj_val;
                var Context = data.context;
                //retrieve_Customer_MasterScreen(data);
                SingleFetch_Customer_MasterScreen(Context);
                $("#txtMode").val("U");
                $("#DocStat").val("Active");
                setlocalStorage('doc_no', $("#txt_customer_code").val());
                setlocalStorage('doc_row_id', $("#txt_customer_rowID").val());
            }
        }
        else if (getlocalStorage('btn_clk_val') == "View") {
            $('#divEdit #reviewEd').hide();
            $('#divEdit #deactivate').hide();
            $("#bottom_menus li:nth-child(1)").hide();
            $("#bottom_menus li:nth-child(3)").hide();
            $("#btnDwnload").hide();

            if (getlocalStorage("ls_pageList") != undefined) {
                $("#rdo_farnm").attr("disabled", true);
                $("#rad_oth").attr("disabled", true);
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("Customer_Master");
                var obj_val = JSON.parse(formval);
                obj_val.IOU_customer_rowid = data.Out_customer_rowid;
                obj_val.IOU_customer_code = data.Out_customer_code;
                var data = {};
                data.context = WebAPIProxy.getContext();
                data.context.Header = obj_val;
                var Context = data.context;
                //retrieve_Customer_MasterScreen(data);
                SingleFetch_Customer_MasterScreen(Context);
                $("#txtMode").val("U");
                $("#DocStat").val("View");

            }
        }
    });


    function SingleFetch_Customer_MasterScreen(Context) {
        debugger;
        try {
            $.ajax({
                type: "POST",
                data: JSON.stringify({ orgnId: Context.orgnId, locnId: Context.locnId, userId: Context.userId, localeId: Context.localeId, Header: Context.Header }),
                url: "/PAWHSCustomerMaster/SingleServiceList",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    if (response.context != null) {
                        generate_customermaster_header(response.context.Header)

                    }
                    if (response.ApplicationException != null) {
                        kendoAlert(response.ApplicationException.errorDescription);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }

    }

    function allnumeric(inputtxt) {
        var numbers = /^[0-9]+$/;
        if (inputtxt.value.match(numbers)) {

        }
        else {
            return false;
        }
    }

    function cleartextbox() {
        debugger;
        $('#txt_customer_code').val('');
        $('#txt_customer_name').val('');
        $('#address1').val('');
        $('#address2').val('');
        $('#pin_code').val('');
        $('#orgn_code').val('');
        $('#combo_country').val('');
        $('#combo_state').val('');
        $('#combo_village').val('');
        $('#combo_grampanchayat').val('');
        $('#combo_taluk').val('');
        $('#combo_district').val('');
    }

    function load_master_code() {
        try {
            debugger;
            var data = {};
            var context = WebAPIProxy.getContext();
            data.userId = context.userId
            data.orgnId = context.orgnId
            data.locnId = context.locnId
            data.localeId = context.localeId
            data.screen_Id = "PWCUSMAS";
            var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function clear_val() {
    }

    function Get_customerMaster_details(res) {
        try {
            var formval = form_Serialize("CustomerMaster");
            var obj_val = JSON.parse(formval);
            //$("#txt_agg_code").val(res.agg_code);
            $("#txt_customer_code").val(res.IOU_customer_code);
            $("#txtMode").val("U");
            setlocalStorage('doc_no', $("#txt_customer_code").val());
            setlocalStorage('doc_row_id', $("#txt_customer_rowID").val());
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function changing() {
        if ($("#rdo_farm").is(":checked")) {
            $("#pay_help1").show();
            $("#Search2").hide();
            $("#pay_help2").hide();
            disable();
            $("#address1").attr("readonly", true);
            $("#address2").attr("readonly", true);
            $("#pin_code").attr("readonly", true);
            cleartextbox();
        }
        if ($("#rdo_farnm").is(":checked")) {
            cleartextbox();
            $("#pay_help1").hide();
            $("#pay_help2").show();
            $("#Search2").hide();
            $("#address1").attr("readonly",true);
            $("#address2").attr("readonly",true);
            $("#pin_code").attr("readonly",true);
        }
        if ($("#rad_oth").is(":checked")) {
            cleartextbox();
            $("#pay_help1").hide();
            $("#pay_help2").hide();
            $("#Search2").show();
            $("#txt_customer_name").removeAttr("readonly");
            $("#address1").removeAttr("readonly");
            $("#address2").removeAttr("readonly");
            $("#pin_code").removeAttr("readonly");
        }
    }

    function Cancel() {
        debugger;
        try {
            var data = getlocalStorage("ls_pageList");
            var formval = form_Serialize("Customer_Master");
            var obj_val = JSON.parse(formval);
            obj_val.customer_rowid = data.customer_rowid;
            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Header = obj_val;
            retrieve_Customer_MasterScreen(data);
            $("#txtMode").val("U");
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function form_control() {
        var control_Name = [
            //{ "dataCol": "ccbill_no", "controlId": "txt_bill", "type": "Text" },
            //{ "dataCol": "farmer_code", "controlId": "txt_customer_code", "type": "Text" },
             { "dataCol": "farmer_name", "controlId": "txt_customer_name", "type": "Text" },
             { "dataCol": "farmer_addr1", "controlId": "address1", "type": "Text" },
             { "dataCol": "farmer_addr2", "controlId": "address2", "type": "Text" },
             { "dataCol": "farmer_pincode", "controlId": "pin_code", "type": "Text" },
             { "dataCol": "country", "controlId": "combo_country", "type": "Text" },
             { "dataCol": "state", "controlId": "combo_state", "type": "Text" },
             { "dataCol": "Village", "controlId": "combo_village", "type": "Text" },
             { "dataCol": "Panchayat", "controlId": "combo_grampanchayat", "type": "Text" },
             { "dataCol": "taluk", "controlId": "combo_taluk", "type": "Text" },
             { "dataCol": "District", "controlId": "combo_district", "type": "Text" },

              { "dataCol": "farmer_country", "controlId": "combo_countrycode", "type": "Text" },
             { "dataCol": "farmer_state", "controlId": "combo_statecode", "type": "Text" },
             { "dataCol": "farmer_village", "controlId": "combo_villagecode", "type": "Text" },
             { "dataCol": "farmer_panchayat", "controlId": "combo_grampanchayatcode", "type": "Text" },
             { "dataCol": "farmer_taluk", "controlId": "combo_talukcode", "type": "Text" },
             { "dataCol": "farmer_dist", "controlId": "combo_districtcode", "type": "Text" },

             { "dataCol": "orgn_name", "controlId": "txt_customer_name", "type": "Text" },
             { "dataCol": "orgn_code", "controlId": "txt_fpo_code", "type": "Text" },
             { "dataCol": "orgn_addr1", "controlId": "address1", "type": "Text" },
             { "dataCol": "orgn_addr2", "controlId": "address2", "type": "Text" },
             { "dataCol": "orgn_pincode", "controlId": "pin_code", "type": "Text" },
             { "dataCol": "country", "controlId": "combo_country", "type": "Text" },
             { "dataCol": "state", "controlId": "combo_state", "type": "Text" },
             { "dataCol": "village", "controlId": "combo_village", "type": "Text" },
             { "dataCol": "panchayat", "controlId": "combo_grampanchayat", "type": "Text" },
             { "dataCol": "taluk", "controlId": "combo_taluk", "type": "Text" },
             { "dataCol": "district", "controlId": "combo_district", "type": "Text" },

              { "dataCol": "orgn_country", "controlId": "combo_countrycode", "type": "Text" },
             { "dataCol": "orgn_state", "controlId": "combo_statecode", "type": "Text" },
             { "dataCol": "orgn_village", "controlId": "combo_villagecode", "type": "Text" },
             { "dataCol": "orgn_panchayat", "controlId": "combo_grampanchayatcode", "type": "Text" },
             { "dataCol": "orgn_taluk", "controlId": "combo_talukcode", "type": "Text" },
             { "dataCol": "orgn_dist", "controlId": "combo_districtcode", "type": "Text" },

        ];
        return control_Name;
    }

    function trans_input_data() {
        var trans_coll = [
            //{ "trasfer": "Yes", "dataCol": "ccbill_no", "controlId": "", "grid_id": "", "grid_row_col": "" },
            //{ "trasfer": "No", "dataCol": "", "controlId": "", "grid_id": "", "grid_row_col": "" }
            //{ "trasfer": "Yes", "dataCol": "farmer_code", "controlId": "txt_customer_code", "grid_id": "", "grid_row_col": "farmer_code" },
            //*For Farmer Member*//
            { "trasfer": "Yes", "dataCol": "farmer_name", "controlId": "txt_customer_name", "grid_id": "", "grid_row_col": "farmer_name" },
            { "trasfer": "Yes", "dataCol": "village", "controlId": "combo_village", "grid_id": "", "grid_row_col": "village" },
            { "trasfer": "Yes", "dataCol": "panchayat", "controlId": "combo_grampanchayat", "grid_id": "", "grid_row_col": "panchayat" },
            { "trasfer": "Yes", "dataCol": "District", "controlId": "combo_district", "grid_id": "", "grid_row_col": "District" },
            { "trasfer": "Yes", "dataCol": "taluk", "controlId": "combo_taluk", "grid_id": "", "grid_row_col": "taluk" },
            { "trasfer": "Yes", "dataCol": "state", "controlId": "combo_state", "grid_id": "", "grid_row_col": "state" },
            { "trasfer": "Yes", "dataCol": "country", "controlId": "combo_country", "grid_id": "", "grid_row_col": "country" },

              { "trasfer": "Yes", "dataCol": "farmer_village", "controlId": "combo_villagecode", "grid_id": "", "grid_row_col": "village" },
            { "trasfer": "Yes", "dataCol": "farmer_panchayat", "controlId": "combo_grampanchayatcode", "grid_id": "", "grid_row_col": "panchayat" },
            { "trasfer": "Yes", "dataCol": "farmer_dist", "controlId": "combo_districtcode", "grid_id": "", "grid_row_col": "District" },
            { "trasfer": "Yes", "dataCol": "farmer_taluk", "controlId": "combo_talukcode", "grid_id": "", "grid_row_col": "taluk" },
            { "trasfer": "Yes", "dataCol": "farmer_state", "controlId": "combo_statecode", "grid_id": "", "grid_row_col": "state" },
            { "trasfer": "Yes", "dataCol": "farmer_country", "controlId": "combo_countrycode", "grid_id": "", "grid_row_col": "country" },
            /*End*/

           { "trasfer": "Yes", "dataCol": "orgn_name", "controlId": "txt_customer_name", "grid_id": "", "grid_row_col": "farmer_name" },
            { "trasfer": "Yes", "dataCol": "village", "controlId": "combo_village", "grid_id": "", "grid_row_col": "village" },
            { "trasfer": "Yes", "dataCol": "panchayat", "controlId": "combo_grampanchayat", "grid_id": "", "grid_row_col": "panchayat" },
            { "trasfer": "Yes", "dataCol": "district", "controlId": "combo_district", "grid_id": "", "grid_row_col": "District" },
            { "trasfer": "Yes", "dataCol": "taluk", "controlId": "combo_taluk", "grid_id": "", "grid_row_col": "taluk" },
            { "trasfer": "Yes", "dataCol": "state", "controlId": "combo_state", "grid_id": "", "grid_row_col": "state" },
            { "trasfer": "Yes", "dataCol": "country", "controlId": "combo_country", "grid_id": "", "grid_row_col": "country" },

              { "trasfer": "Yes", "dataCol": "orgn_village", "controlId": "combo_villagecode", "grid_id": "", "grid_row_col": "village" },
            { "trasfer": "Yes", "dataCol": "orgn_panchayat", "controlId": "combo_grampanchayatcode", "grid_id": "", "grid_row_col": "panchayat" },
            { "trasfer": "Yes", "dataCol": "orgn_dist", "controlId": "combo_districtcode", "grid_id": "", "grid_row_col": "District" },
            { "trasfer": "Yes", "dataCol": "orgn_taluk", "controlId": "combo_talukcode", "grid_id": "", "grid_row_col": "taluk" },
            { "trasfer": "Yes", "dataCol": "orgn_state", "controlId": "combo_statecode", "grid_id": "", "grid_row_col": "state" },
            { "trasfer": "Yes", "dataCol": "orgn_country", "controlId": "combo_countrycode", "grid_id": "", "grid_row_col": "country" },
        ];
        return trans_coll;
    }

    function enable() {
        //$("#txt_customer_name").removeAttr("readonly");
        $("#combo_village").removeAttr("readonly");
        $("#combo_country").removeAttr("readonly");
        $("#combo_state").removeAttr("readonly");
        $("#combo_taluk").removeAttr("readonly");
        $("#combo_district").removeAttr("readonly");
        $("#combo_grampanchayat").removeAttr("readonly");
    }

    function disable() {
        //$("#txt_customer_name").attr("readonly", true);
        $("#combo_village").attr("readonly", true);
        $("#combo_country").attr("readonly", true);
        $("#combo_state").attr("readonly", true);
        $("#txt_customer_code").attr("readonly", true);
        $("#combo_taluk").attr("readonly", true);
        $("#combo_district").attr("readonly", true);
        $("#combo_grampanchayat").attr("readonly", true);
    }

    var validate = false;
    function Validate() {
        //if ($("#rdo_farm").is(":checked") == false || $("#rdo_farnm").is(":checked") == false || $("#rad_oth").is(":checked") == false)
        if ($(document.getElementById("rdo_farm")).checked == false || $(document.getElementById("rdo_farnm")).checked == false || $(document.getElementById("rad_oth")).checked == false) {
            kendoAlert("Customer Type Cannot Be Blank. Please Enter the Customer Type");
        }
        else if ($("#txt_customer_name").val() == "") {
            kendoAlert("Customer Name Cannot Be Blank. Please Fill the Customer Name Field");
            return 0;
        }
        else if ($("#address1").val() == "") {
            kendoAlert("Address1 Cannot Be Blank. Please Fill the Address1 Field");
            return 0;
        }
        else if ($("#address2").val() == "") {
            kendoAlert("Address2 Cannot Be Blank. Please Fill the Address2 Field");
            return 0;
        }
        else if ($("#pincode").val() == "") {
            kendoAlert("Pincode Cannot Be Blank. Please Fill the Pincode Field");
            return 0;
        }
        else if ($("#combo_village").val() == "") {
            kendoAlert("Customer Village Cannot Be Blank. Please Fill the Customer Code Field");
            return 0;
        }
        else {
            validate = true;
        }
    }

    function save() {
        try {
            if ($("#rdo_farnm").is(":checked")) {
                //$("#txt_customer_name").removeAttr("readonly");
                if ($("#txt_customer_name").val() != "") {
                    if ($("#txt_customer_rowID").val() == "") {
                        $("#txt_customer_rowID").val('0');
                    }
                    $("#rdo_farm").val("FM");
                    $("#rdo_farnm").val("FPO");
                    $("#rad_oth").val("Others");
                    if ($("#address1").val() == "" || $("#address1").val() == undefined) {
                        $("#address1").val() == "";
                    }
                    if ($("#address2").val() == "" || $("#address2").val() == undefined) {
                        $("#address2").val() == "";
                    }
                    if ($("#pin_code").val() == "" || $("#pin_code").val() == undefined) {
                        $("#pin_code").val() == "";
                    }
                    if ($("#combo_village").val() == "" || $("#combo_village").val() == undefined) {
                        $("#combo_village").val() == "";
                    }
                    if ($("#combo_country").val() == "" || $("#combo_country").val() == undefined) {
                        $("#combo_country").val() == "";
                    }
                    if ($("#combo_state").val() == "" || $("#combo_state").val() == undefined) {
                        $("#combo_state").val() == "";
                    }
                    if ($("#combo_taluk").val() == "" || $("#combo_taluk").val() == undefined) {
                        $("#combo_taluk").val() == "";
                    }
                    if ($("#combo_district").val() == "" || $("#combo_district").val() == undefined) {
                        $("#combo_district").val() == "";
                    }
                    if ($("#combo_grampanchayat").val() == "" || $("#combo_grampanchayat").val() == undefined) {
                        $("#combo_grampanchayat").val() == "";
                    }
                    var formval = form_Serialize("Customer_Master");
                    var obj_val = JSON.parse(formval);
                    var data = {};
                    data.context = WebAPIProxy.getContext();
                    data.context.Header = obj_val;
                    var Context = data.context;

                    $.ajax({
                        type: "POST",
                        data: JSON.stringify({ orgnId: Context.orgnId, locnId: Context.locnId, userId: Context.userId, localeId: Context.localeId, Header: Context.Header }),
                        url: "/PAWHSCustomerMaster/SaveCustomerMaster",
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            debugger;
                            var Res = JSON.parse(response);
                            if (Res != null) {
                                var msg = Res.ApplicationException;
                                //retrive_SingleFetch_Details(Res.context);
                                if (Res.ApplicationException == null || Res.ApplicationException == "") {
                                    Get_customerMaster_details(Res.context.Header)
                                    kendoAlert("Customer Master Details Saved Successfully");
                                }
                                else {
                                    kendoAlert(Res.ApplicationException.errorDescription);
                                }                             

                            }
                          
                        },
                        error: function (er) {
                            alert(er)
                            console.log(er)
                        }

                    });
                    //save_Customer_details(data);
                    $("#txtMode").val("U");
                    $("#DocStat").val("Active");
                    disable();
                }
                else
                {
                    kendoAlert("Customer Name Cannot Be Blank. Please Fill the Customer Name Field");
                    return 0;
                }
                //$("#txt_customer_name").attr("readonly", true);
            }
            else {
                Validate();
                if (validate == true) {
                    enable();
                    if ($("#txt_customer_rowID").val() == "") {
                        $("#txt_customer_rowID").val('0');
                    }
                    $("#rdo_farm").val("FM");
                    $("#rdo_farnm").val("FPO");
                    $("#rad_oth").val("Others");
                    var formval = form_Serialize("Customer_Master");
                    var obj_val = JSON.parse(formval);
                    var data = {};
                    data.context = WebAPIProxy.getContext();
                    data.context.Header = obj_val;
                    var Context = data.context;

                    $.ajax({
                        type: "POST",
                        data: JSON.stringify({ orgnId: Context.orgnId, locnId: Context.locnId, userId: Context.userId, localeId: Context.localeId, Header: Context.Header }),
                        url: "/PAWHSCustomerMaster/SaveCustomerMaster",
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        success: function (response) {
                            debugger;
                            var Res = JSON.parse(response);
                            if (Res != null) {
                                var msg = Res.ApplicationException;
                                //retrive_SingleFetch_Details(Res.context);
                                if (Res.ApplicationException == null || Res.ApplicationException == "") {
                                    Get_customerMaster_details(Res.context.Header)
                                    kendoAlert("Customer Master Details Saved Successfully");
                                }
                                else {
                                    kendoAlert(Res.ApplicationException.errorDescription);
                                }

                            }

                        },
                        error: function (er) {
                            alert(er)
                            console.log(er)
                        }

                    });
                    //save_Customer_details(data);
                    $("#txtMode").val("U");
                    $("#DocStat").val("Active");
                    disable();
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function generate_customermaster_header(res) {
        debugger;
        try {
            var formval = form_Serialize("CustomerMaster");
            var obj_val = JSON.parse(formval);
            $("#txt_agg_code").attr("readonly", "");
            $("#txt_customer_code").val(res.IOU_customer_code);
            $("#rdo_farm").val(res.In_customer_type);

            if (res.customer_type == "FM") {
                $("#rdo_farm").attr("checked", true);
                $("#rdo_farnm").attr("disabled", true);
                $("#rad_oth").attr("disabled", true);
                $("#pay_help1").show();
                $("#pay_help2").hide();
                $("#txt_customer_name").attr("readonly", true);
            }
            if (res.customer_type == "FPO") {
                $("#rdo_farnm").attr("checked", true);
                $("#rdo_farm").attr("disabled", true);
                $("#rad_oth").attr("disabled", true);
                $("#pay_help2").show();
                $("#pay_help1").hide();
                //$("#txt_customer_name").attr("readonly", true);
            }
            else if (res.customer_type == "Others") {
                $("#txt_customer_name").removeAttr("readonly");
                $("#rad_oth").attr("checked", true);
                $("#rdo_farnm").attr("disabled", true);
                $("#rdo_farm").attr("disabled", true);
                //disable();
                $("#pay_help1").hide();
                $("#pay_help2").hide();
                $("#Search2").show();
                //$("#txt_customer_name").removeAttr("readonly");
                $("#address1").removeAttr("readonly");
                $("#address2").removeAttr("readonly");
                $("#pin_code").removeAttr("readonly");
                $("#combo_village").attr("readonly", true);
                $("#combo_country").attr("readonly", true);
                $("#combo_state").attr("readonly", true);
                $("#combo_taluk").attr("readonly", true);
                $("#combo_district").attr("readonly", true);
                $("#combo_grampanchayat").attr("readonly", true);
            }
            $("#txt_customer_name").val(res.In_customer_name);
            $("#address1").val(res.In_customer_addr1);
            $("#address2").val(res.In_customer_addr2);
            $("#pin_code").val(res.In_customer_pincode);
            //$("#text_Warehouse_rowid").val(res.whs_rowid);
            $('#combo_village').val(res.In_customer_village_desc);
            $('#combo_state').val(res.In_customer_state_desc);
            $('#combo_country').val(res.In_customer_country_desc);
            $('#combo_grampanchayat').val(res.In_customer_panchayat_desc);
            $('#combo_taluk').val(res.In_customer_taluk_desc);
            $('#combo_districtcode').val(res.In_customer_dist);
            $('#combo_villagecode').val(res.In_customer_village);
            $('#combo_statecode').val(res.In_customer_state);
            $('#combo_countrycode').val(res.In_customer_country);
            $('#combo_grampanchayatcode').val(res.In_customer_panchayat);
            $('#combo_talukcode').val(res.In_customer_taluk);
            $('#combo_district').val(res.In_customer_dist_desc);
            $("#txt_customer_rowID").val(res.IOU_customer_rowid);
            $("#txt_agg_code").val(res.IOU_customer_code);
            $("#txt_status_code").val(res.In_status_code);
            $("#txt_status_desc").val(res.In_status_desc);
            $("#txtMode").val(res.In_mode_flag);
            $("#txt_row_timestamp").val(res.In_row_timestamp);
            $("#txtMode").val("U");
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    $("#combo_country").change(function () {
        var c = $('#combo_village');
        var formval = c.data('kendoComboBox').value();
        var Countrycode = grid_comboScreen_deptcodes(formval);
        var Countrydept = Countrycode[0].dependent;
        var gmap_in = "";

        $("#combo_grampanchayat").empty();
        gmap_in = grid_comboScreen_deptcodes(Countrycode);
        var villagecode = gmap_in[0].code;
        var Panchacode = gmap_in[0].dependent;
        $("#combo_grampanchayat").data("kendoComboBox").value(villagecode);
        var gmap_in1 = "";

        $("#combo_taluk").empty();
        gmap_in1 = grid_comboScreen_deptcodes(Panchacode);
        var Pancode = gmap_in1[0].code;
        var talucode = gmap_in1[0].dependent;
        $("#combo_taluk").data("kendoComboBox").value(Pancode);
        var gmap_in2 = "";

        $("#combo_district").empty();
        gmap_in2 = grid_comboScreen_deptcodes(Pancode);
        var talcode = gmap_in1[0].code;

        var disckcode = gmap_in1[0].dependent;
        $("#combo_district").data("kendoComboBox").value(disckcode);
        var gmap_in3 = "";

        $("#combo_state").empty();
        gmap_in3 = grid_comboScreen_deptcodes(disckcode);
        var discode = gmap_in3[0].code;
        var statecode = gmap_in3[0].dependent;
        $("#combo_state").data("kendoComboBox").value(statecode);
        var gmap_in4 = "";

        //Country----
        $("#combo_country").empty();
        gmap_in4 = grid_comboScreen_deptcodes(statecode);
        var stscode = gmap_in4[0].code;
        var countrycode = gmap_in4[0].dependent;
        $("#combo_country").data("kendoComboBox").value(countrycode);
    });
</script>

<style>
    .k-widget.k-tooltip {
        background-color: #ffe79e;
        color: #6b5100;
    }

    span.k-tooltip {
        white-space: pre-line;
    }
</style>


@*<script>
        //$("#rdo_farnm").on("click", function () {
        //    $("#txt_Gst_no").attr("disabled", "disabled");
        //    cleartextbox();

        //})
        //$("#rad_oth").on("click", function () {
        //    $("#txt_Gst_no").attr("disabled", "disabled");

        //    cleartextbox();
        //})
        //$("#rad_oth").on("click", function () {
        //    $("#txt_Gst_no").attr("disabled", false);

        //})
    </script>*@