@{
    ViewBag.Form = "GST Master";
    Layout = "~/Views/Shared/FormViewLayout2.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div id="gst_grid"></div>
    </div>
</div>

<script src="~/CommonScripts/HelpFile.js"></script>
<script src="~/CommonScripts/common.js"></script>
<script>
    var data = [{
    }];
    function GstGrid(data) {
        try {
            $("#gst_grid").kendoGrid(
                {
                    dataSource: {
                        data: data,
                        schema: {
                            model: {
                                fields: {
                                    action: { type: "string" },
                                    state: { type: "string" },
                                    hsn_code: { type: "string" },
                                    hsn_description: { type: "string" },
                                    cgst: { type: "string" },
                                    sgst: { type: "string" },
                                    ugst: { type: "string" },
                                    igst: { type: "string" }
                                }
                            }
                        }
                    },
                    toolbar: "<a class='k-grid-add' id='btnSave' href=''><span class='fa fa-plus' style='color:Black'></span></a>",
                    height: 400,
                    groupable: false,

                    sortable: true,
                    selectable: true,
                    navigatable: true,

                    columns: [
                        {
                            command: [
                                {
                                    name: "Delete",
                                    id: "Delete",
                                    imageClass: "fa fa-close",
                                    click: function (e) {
                                        var grid = $("#gst_grid").data("kendoGrid");
                                        var dataItem = $("#gst_grid").data("kendoGrid").dataItem($(e.target).closest("tr"));
                                        DeleteWindowEvent(e, dataItem, grid);
                                        e.stopImmediatePropagation()
                                    }
                                },
                            ], title: "Action", width: "50px",
                        },
                       {
                           field: "state",
                           title: "State",
                           filterable: {
                               cell: {
                                   operator: "contains",
                                   inputWidth: 1500
                               }
                           },
                           editor: function (container, options) {
                               combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "", "gst_grid")
                           },
                       },
                       {
                           field: "hsn_code",
                           title: "HSN Code",
                           filterable: {
                               cell: {
                                   operator: "contains",
                                   inputWidth: 1500
                               }
                           },
                           editor: '<div class="input-group input-group-sm"><input type="text" readonly name="hsn_code" maxlength="50" style="width:100px;color:white"  data-bind="value:hsn_code"/><span class="input-group-btn" style="padding-right: 150px;"><a class="HelpWindow fa fa-search fa-lg" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Details" searchid="S01" data-target="#HelpModal" onclick=transfer(this,"grid","gst_grid","GstGrid") title="Search" style="font-size: 15px; padding-left: 10px;"></a> </span> </div>',
                       },
                       {
                           field: "hsn_description",
                           title: "HSN Description",
                           filterable: {
                               cell: {
                                   operator: "contains",
                                   inputWidth: 1500
                               }
                           }
                       },
                        {
                            field: "cgst",
                            title: "CGST",
                            filterable: {
                                cell: {
                                    operator: "contains",
                                    inputWidth: 1500
                                }
                            },
                            attributes: { style: "text-align:right;" },
                            editor: function (container, options) {
                                numeric_editor(container, options.field, '50', '0');
                            }
                        },
                        {
                            field: "sgst",
                            title: "SGST/UGST",
                            filterable: {
                                cell: {
                                    operator: "contains",
                                    inputWidth: 1500
                                }
                            },
                            attributes: { style: "text-align:right;" },
                            editor: function (container, options) {
                                numeric_editor(container, options.field, '50', '0');
                            }
                        },
                         //{
                         //    field: "ugst",
                         //    title: "UGST",
                         //    filterable: {
                         //        cell: {
                         //            operator: "contains",
                         //            inputWidth: 1500
                         //        }
                         //    }
                         //},
                         {
                             field: "igst",
                             title: "IGST",
                             filterable: {
                                 cell: {
                                     operator: "contains",
                                     inputWidth: 1500
                                 }
                             },
                             attributes: { style: "text-align:right;" },
                             editor: function (container, options) {
                                 numeric_editor(container, options.field, '50', '0');
                             }
                         },
                    ],
                    editable: true
                });
            var combo_data1 = [{ code: 1, description: "TamilNadu" }, { code: 2, description: "Kerala" },
            { code: 2, description: "AandraPradesh" }];
            state_list = getGridComboList(combo_data1);
        }
        catch (err) {
            alert(err);
        }
    }
</script>

<script>
    $(document).ready(function () {
        master_Flmain();
        GstGrid();
        $("#frmlayerdiv").hide();
        $(".file_attach").attr("hdrtitle", "GST Master");
        $(".notes").attr("hdrtitle", "GST Master");
        $("#lblForm_menuid").text("GST Master");
    });
</script>
<script>
    function grid_control() {
        var control_Name = [

        ];
        return control_Name;
    }

    function form_control() {
        var control_Name = [
            { "dataCol": "ccbill_no", "controlId": "txt_bill", "type": "Text" },

        ];
        return control_Name;

    }
    function trans_input_data() {
        var trans_coll = [
            { "trasfer": "Yes", "dataCol": "ccbill_no", "controlId": "", "grid_id": "", "grid_row_col": "" },
            { "trasfer": "No", "dataCol": "", "controlId": "", "grid_id": "", "grid_row_col": "" }
        ];
        return trans_coll;
    }
</script>


