@{
    ViewBag.Form = "Milk Receipts";
    Layout = "~/Views/Shared/FormViewLayout1.cshtml";
}

<form id="Milk_Receipts" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style=" padding-bottom:15px">
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtValidity" class=" col-sm-5 control-label required">CP Session Date</label>
                        <div class=" col-sm-6">
                            <input class="cusDate" type="date" data-role='datepicker' onkeypress="return date_validate(event)" id="txtValidity" data-checkdate-msg="Enter Valid Date" name="session_date" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class=" form-group">
                        <div class=" col-sm-7">
                            <input type="checkbox" id="received_all_cc" name="received_all_cc" style="padding-left:10px"> Close CP Session
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="cmb_chilling" class="col-sm-5 control-label required">Chilling Plant</label>
                        <div class="col-sm-6">
                            <input id="cmb_chilling" name="cp_aggrloc_code" style="width: 100%">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="cmb_collection" class="col-sm-5 control-label required">Collection Centre</label>
                        <div class="col-sm-7">
                            <input id="cmb_collection" name="cc_aggrloc_code" style="width: 100%">

                        </div>
                    </div>
                </div>
                <div class=" col-sm-4">

                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <button title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button" onclick="mandatory()" data-original-title="Refresh"> <span class="glyphicon glyphicon-refresh"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <section class="col-md-12">
                    <div id="tab_list" class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#Milkreceipts" id="tap_Milkreceipts" role="tab" data-toggle="tab">
                                    Milk Receipts
                                </a>
                            </li>
                            <li>
                                <a href="#Summary" id="tap_Summary" role="tab" data-toggle="tab">
                                    Summary
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div class="tab-pane fade active in" id="Milkreceipts">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div class="" style="padding-bottom:20px">
                                            <div id="MilkMap_grid">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Summary">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div id="Milksum_grid"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                </section>
            </div>
            <div class="row" style="padding-top:10px; padding-bottom:10px">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtmilkRev" class="col-sm-5 control-label ">Milk Received (Lts)</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtmilkRev" name="received_qty" class="form-control" maxlength="50" value="0" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtmilkacc" class="col-sm-5 control-label ">Milk Accepted (Lts)</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtmilkacc" name="accepted_qty" class="form-control" maxlength="50" value="0" readonly>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtmilkrej" class="col-sm-5 control-label ">Milk Rejected (Lts)</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtmilkrej" name="rejected_qty" class="form-control" maxlength="50" value="0" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" padding-bottom:15px">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txbuffalotmilkrec" class="col-sm-5 control-label "></label>
                        <div class=" col-sm-6">
                            <input type="text" id="txbuffalotmilkrec" name="" class="form-control" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtbuffalotmilkacc" class="col-sm-5 control-label "></label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtbuffalotmilkacc" class="form-control" maxlength="50" readonly>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtbuffalotmilkrej" class="col-sm-5 control-label "></label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtbuffalotmilkrej" class="form-control" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:10px">

                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="status_code" class="col-sm-5 control-label">Status_code</label>
                        <div class="col-sm-4">
                            <input type="text" value="A" id="txt_status_code" name="status_code" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>
                @*<div class="col-sm-6">
                        <div class="form-group" style="display:none;">
                            <label for="cpsession_rowid" class="col-sm-5 control-label">cpsession_rowid</label>
                            <div class="col-sm-4">
                                <input type="text" id="cpsession_rowid" name="cpsession_rowid" class="form-control" maxlength="10">
                            </div>
                        </div>
                    </div>*@
                <input type="hidden" name="cpsession_rowid" id="cpsession_rowid" />
                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="txtMode" class="col-sm-5 control-label">Mode</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtMode" name="mode_flag" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="row_timestamp" class="col-sm-5 control-label">Timestamp:</label>
                        <div class="col-sm-4">
                            <input type="text" id="txt_row_timestamp" name="row_timestamp" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<script>
    click_act_name = "MilkReceiptsCCList";
    click_ctrl_name = "MilkReceiptsCC";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>

<script src="~/API_Scripts/milk_receipt_defaultfetch_APIClient.js"></script>
<script src="~/API_Scripts/milk_receipt_retrievemilkreceipt_APIClient.js"></script>
<script src="~/API_Scripts/milk_receipt_retrievemilkreceiptList_APIClient.js"></script>
<script src="~/API_Scripts/milk_receipt_savemilkreceipt_APIClient.js"></script>
<script src="~/API_Scripts/retrievemilkreceiptList_Model.js"></script>
<script src="~/API_Scripts/retrievemilkreceipt_Model.js"></script>
<script src="~/API_Scripts/savemilkreceipt_Model.js"></script>
<script src="~/API_Scripts/defaultfetch_Model.js"></script>
<script src="~/API_Scripts/MilkReceipts.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/API_Scripts/milk_receipt_defaultmilk_receiptfetch_APIClient.js"></script>>
<script src="~/API_Scripts/defaultmilk_receiptfetch_Model.js"></script>

<script>
    $(document).ready(function () {

        kendodate_format();
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#Milk_Receipts");
        kendo.init(container);
        container.kendoValidator({
        });

        $(".file_attach").attr("hdrtitle", "Milk Receipts");
        $(".notes").attr("hdrtitle", "Milk Receipts");
        $("#lblForm_menuid").text("CPRECPT");


        Screen_Id = "CPRECPT";
        permission = sec_Permission(Screen_Id);

        $("#common_id").text("CP Session ID")
        load_master_code();

        var map_cp = "";
        $("#cmb_chilling").empty();
        map_cp = grid_comboScreen_mastercodes("CHILLING_PLANT");
        filter_combobox("cmb_chilling", map_cp);

        var map_cc = "";
        $("#cmb_collection").empty();
        map_cc = grid_comboScreen_mastercodes("CC");
        filter_combobox("cmb_collection", map_cc);
        gridmilk();
        gridsummary();

        $("#txtValidity").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });
        if (getlocalStorage('btn_clk_val') == "Create") {
            $('#divCreate #review').hide();
            $("#txtMode").val("I");
            $("#bottom_menus").hide();
            $("#DocStat").val("New");
        }
        else if (getlocalStorage('btn_clk_val') == "View" || getlocalStorage('btn_clk_val') == "Edit") {
            $('#divEdit #reviewEd').hide();
            if (getlocalStorage("ls_pageList") != undefined) {
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("Milk_Receipts");
                var obj_val = JSON.parse(formval);
                obj_val.orgn_code = data.orgn_code;
                obj_val.orgn_rowid = data.orgn_rowid;
                obj_val.cpsession_rowid = data.cpsession_rowid;
                var data = {};
                data.context = WebAPIProxy.getContext();
                data.context.Header = obj_val;
                retrieve_milkreceipts_details(data);
                $("#txtMode").val("U");
                setlocalStorage('doc_no', $("#txtFarmer_code").val());
                setlocalStorage('doc_row_id', $("#txt_Attr_rowid").val());
            }
        }

        $("#tap_Milkreceipts").click(function () {
            var grid = $("#MilkMap_grid").data("kendoGrid");
            var gridData = grid.dataSource.view();
            var MilkReceived = 0;
            var MilkAccepted = 0;
            var MilkRejected = 0;
            var CowMilkReceived = 0;
            var CowMilkAccepted = 0;
            var CowMilkRejected = 0;
            for (var i = 0; i < gridData.length; i++) {
                if (gridData[i].milk_from == 'Buffalo' || gridData[i].milk_from == 'buffalo') {
                    if (gridData[i].received_qty != '') {
                        MilkReceived += gridData[i].received_qty != undefined ? parseFloat(gridData[i].received_qty) : parseFloat(0);
                    }
                    if (gridData[i].accepted_qty != '') {
                        MilkAccepted += gridData[i].accepted_qty != undefined ? parseFloat(gridData[i].accepted_qty) : parseFloat(0);
                    }
                    if (gridData[i].rejected_qty != '') {
                        MilkRejected += gridData[i].rejected_qty != undefined ? parseFloat(gridData[i].rejected_qty) : parseFloat(0);
                    }
                }
                if (gridData[i].milk_from == 'Cow' || gridData[i].milk_from == 'cow') {
                    if (gridData[i].received_qty != '') {
                        CowMilkReceived += gridData[i].received_qty != undefined ? parseFloat(gridData[i].received_qty) : parseFloat(0);
                    }
                    if (gridData[i].accepted_qty != '') {
                        CowMilkAccepted += gridData[i].accepted_qty != undefined ? parseFloat(gridData[i].accepted_qty) : parseFloat(0);
                    }
                    if (gridData[i].rejected_qty != '') {
                        CowMilkRejected += gridData[i].rejected_qty != undefined ? parseFloat(gridData[i].rejected_qty) : parseFloat(0);
                    }
                }
            }
            $('#txtmilkRev').val(CowMilkReceived.toFixed(2));
            $('#txtmilkacc').val(CowMilkAccepted.toFixed(2));
            $('#txtmilkrej').val(CowMilkRejected.toFixed(2));
            $('#txbuffalotmilkrec').val(MilkReceived.toFixed(2));
            $('#txtbuffalotmilkacc').val(MilkAccepted.toFixed(2));
            $('#txtbuffalotmilkrej').val(MilkRejected.toFixed(2));

        });
        $("#received_all_cc").change(function () {
            if (this.checked) {
                $('#divCreate #btnSave').hide();
            }
            else
            {
                $('#divCreate #btnSave').show();
            }
        });
       

        $("#tap_Summary").click(function () {
            var grid = $("#Milksum_grid").data("kendoGrid");
            var gridData = grid.dataSource.view();
            var MilkReceived = 0;
            var MilkAccepted = 0;
            var MilkRejected = 0;
            var CowMilkReceived = 0;
            var CowMilkAccepted = 0;
            var CowMilkRejected = 0;
            for (var i = 0; i < gridData.length; i++) {
                if (gridData[i].milk_from == 'Buffalo' || gridData[i].milk_from == 'buffalo') {
                    if (gridData[i].received_qty != '') {
                        MilkReceived += gridData[i].received_qty != undefined ? parseFloat(gridData[i].received_qty) : parseFloat(0);
                    }
                    if (gridData[i].accepted_qty != '') {
                        MilkAccepted += gridData[i].accepted_qty != undefined ? parseFloat(gridData[i].accepted_qty) : parseFloat(0);
                    }
                    if (gridData[i].rejected_qty != '') {
                        MilkRejected += gridData[i].rejected_qty != undefined ? parseFloat(gridData[i].rejected_qty) : parseFloat(0);
                    }
                }
                if (gridData[i].milk_from == 'Cow' || gridData[i].milk_from == 'cow') {
                    if (gridData[i].received_qty != '') {
                        CowMilkReceived += gridData[i].received_qty != undefined ? parseFloat(gridData[i].received_qty) : parseFloat(0);
                    }
                    if (gridData[i].accepted_qty != '') {
                        CowMilkAccepted += gridData[i].accepted_qty != undefined ? parseFloat(gridData[i].accepted_qty) : parseFloat(0);
                    }
                    if (gridData[i].rejected_qty != '') {
                        CowMilkRejected += gridData[i].rejected_qty != undefined ? parseFloat(gridData[i].rejected_qty) : parseFloat(0);
                    }
                }
            }
            $('#txtmilkRev').val(CowMilkReceived.toFixed(2));
            $('#txtmilkacc').val(CowMilkAccepted.toFixed(2));
            $('#txtmilkrej').val(CowMilkRejected.toFixed(2));
            $('#txbuffalotmilkrec').val(MilkReceived.toFixed(2));
            $('#txtbuffalotmilkacc').val(MilkAccepted.toFixed(2));
            $('#txtbuffalotmilkrej').val(MilkRejected.toFixed(2));
        });
    });
</script>
<script>
    function load_master_code() {
        debugger;
        var data = {};
        var context = WebAPIProxy.getContext();
        data.userId = context.userId
        data.orgnId = context.orgnId
        data.locnId = context.locnId
        data.localeId = context.localeId
        data.screen_Id = "CPRECPT";
        var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
    }
</script>
<script>
    //var data = [];
    function gridmilk(data) {
        try {
            $("#MilkMap_grid").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {

                                cpsession_code: { type: "string", editable: false },
                                session_date: { type: "string", editable: false },
                                rejected_reason: { type: "string" },
                                milk_from: { type: "string", editable: false },
                                fat_percent: { type: "string", editable: false },
                                snf_percent: { type: "string", editable: false },
                                awm_percent: { type: "string", editable: false },
                                received_qty: { type: "string", editable: false },
                                accepted_qty: { type: "string" },
                                rejected_qty: { type: "string" },
                                mode_flag: { type: "string", defaultValue: "I" }
                            }
                        }
                    }
                },

                height: 200,
                groupable: false,
                sortable: true,
                edit: OnEdit,
                dataBound: function (e) {
                    var grid = $("#MilkMap_grid").data("kendoGrid");
                    var gridData = grid.dataSource.view();
                    var MilkReceived = 0;
                    var MilkAccepted = 0;
                    var MilkRejected = 0;
                    var CowMilkReceived = 0;
                    var CowMilkAccepted = 0;
                    var CowMilkRejected = 0;
                    for (var i = 0; i < gridData.length; i++) {
                        if (gridData[i].milk_from == 'Buffalo' || gridData[i].milk_from == 'buffalo') {
                            if (gridData[i].received_qty != '') {
                                MilkReceived += gridData[i].received_qty != undefined ? parseFloat(gridData[i].received_qty) : parseFloat(0);
                            }
                            if (gridData[i].accepted_qty != '') {
                                MilkAccepted += gridData[i].accepted_qty != undefined ? parseFloat(gridData[i].accepted_qty) : parseFloat(0);
                            }
                            if (gridData[i].rejected_qty != '') {
                                MilkRejected += gridData[i].rejected_qty != undefined ? parseFloat(gridData[i].rejected_qty) : parseFloat(0);
                            }
                        }
                        if (gridData[i].milk_from == 'Cow' || gridData[i].milk_from == 'cow') {
                            if (gridData[i].received_qty != '') {
                                CowMilkReceived += gridData[i].received_qty != undefined ? parseFloat(gridData[i].received_qty) : parseFloat(0);
                            }
                            if (gridData[i].accepted_qty != '') {
                                CowMilkAccepted += gridData[i].accepted_qty != undefined ? parseFloat(gridData[i].accepted_qty) : parseFloat(0);
                            }
                            if (gridData[i].rejected_qty != '') {
                                CowMilkRejected += gridData[i].rejected_qty != undefined ? parseFloat(gridData[i].rejected_qty) : parseFloat(0);
                            }
                        }
                    }
                    $('#txtmilkRev').val(CowMilkReceived.toFixed(2));
                    $('#txtmilkacc').val(CowMilkAccepted.toFixed(2));
                    $('#txtmilkrej').val(CowMilkRejected.toFixed(2));
                    $('#txbuffalotmilkrec').val(MilkReceived.toFixed(2));
                    $('#txtbuffalotmilkacc').val(MilkAccepted.toFixed(2));
                    $('#txtbuffalotmilkrej').val(MilkRejected.toFixed(2));
                },
                save: function (data) {

                    if (data.values.rejected_qty) {
                        data.model.set("accepted_qty", (parseFloat(data.model.received_qty) - parseFloat(data.values.rejected_qty)).toFixed(2));
                    }
                    //else {
                    //    data.model.set("rejected_qty", (parseInt(data.model.received_qty) - parseFloat(data.values.accepted_qty)).toFixed(2));
                    //}
                },
                selectable: true,
                navigatable: true,
                columns: [
                     {
                         field: "cpsessiondtl_rowid",
                         title: "cpsessiondtl_rowid",
                         width: 100,
                         hidden: true
                     },
                     {
                         field: "cpsession_code",
                         title: "Session ID",
                         width: 100
                     },
                     {
                         field: "session_date",
                         title: "Date",
                         width: 100
                     },
                     {
                         field: "milksessiondtl_rowid",
                         title: "milksessiondtl_rowid",
                         width: 100,
                         hidden: true
                     },
                     {
                         field: "cc_aggrloc_code",
                         title: "cc_aggrloc_code",
                         width: 100,
                         hidden: true
                     },
                     {
                         field: "milk_from",
                         title: "Milk From",
                         width: 100
                     },
                     {
                         field: "fat_percent",
                         title: "Fat%",
                         width: 80
                     },
                     {
                         field: "snf_percent",
                         title: "SNF%",
                         width: 80
                     },
                     {
                         field: "awm_percent",
                         title: "AWM%",
                         width: 80
                     },
                     {
                         field: "cpdespatch_no",
                         title: "Milk Despatched (Lts)",
                         width: 100,
                         hidden: true
                     },
                    {
                        field: "received_qty",
                        title: "Milk Received (Lts)",
                        width: 100
                    },
                    {
                        field: "accepted_qty",
                        title: "Milk Accepted (Lts)",
                        width: 100

                    },
                    {
                        field: "rejected_qty",
                        title: "Milk Rejected (Lts)",
                        width: 100,
                        editor: function (container, options) {
                            item_rate(container, options.field, '9', '2');
                        },
                    },
                    {
                        field: "rejected_reason",
                        title: "Reject Reason",
                        width: 100
                    },
                    {
                        field: "status_code",
                        title: "status_code",
                        hidden: true
                    },
                     {
                         field: "status_desc",
                         title: "status_desc",
                         hidden: true
                     },
                    {
                        field: "row_timestamp",
                        title: "row_timestamp",
                        hidden: true
                    },
                {
                    field: "mode_flag",
                    title: "Mode",
                    hidden: true
                }],
                editable: true
            });
        }
        catch (err) {
            alert(err);
        }
    }
    function OnEdit(e) {
        setDefaultValues(e);
        var grid_validate_msg = "";
        grid_validate_msg = "Milk Rejected should not greater than Milk Received";
        e.container.find("input[name='accepted_qty']").attr('onkeypress', 'return false');
        e.container.find("input[name='rejected_qty']").focusout(function () {
            if (parseFloat($(this).val()) > parseFloat(e.model.received_qty)) {
                e.model.rejected_qty = 0;
                kendoAlert(grid_validate_msg);
                return false;
            }
        });


        var grid = $("#MilkMap_grid").data("kendoGrid");
        var gridData = grid.dataSource.view();
        var rejc_qty = 0;
        var rejc_qty_buff = 0;
        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].milk_from == 'Buffalo' || gridData[i].milk_from == 'buffalo') {
                if (gridData[i].rejected_qty != '') {
                    rejc_qty_buff += gridData[i].rejected_qty != undefined ? parseFloat(gridData[i].rejected_qty) : parseFloat(0);
                }
            }
            if (gridData[i].milk_from == 'Cow' || gridData[i].milk_from == 'cow') {
                if (gridData[i].rejected_qty != '') {
                    rejc_qty += gridData[i].rejected_qty != undefined ? parseFloat(gridData[i].rejected_qty) : parseFloat(0);
                }
            }
        }
        $('#txtmilkrej').val(rejc_qty.toFixed(2));
        $('#txtbuffalotmilkrej').val(rejc_qty_buff.toFixed(2));

        var acc_qty = 0;
        var acc_qty_buff = 0;
        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].milk_from == 'Buffalo' || gridData[i].milk_from == 'buffalo') {
                if (gridData[i].accepted_qty != '') {
                    acc_qty_buff += gridData[i].accepted_qty != undefined ? parseFloat(gridData[i].accepted_qty) : parseFloat(0);
                }
            }
            if (gridData[i].milk_from == 'Cow' || gridData[i].milk_from == 'cow') {
                if (gridData[i].accepted_qty != '') {
                    acc_qty += gridData[i].accepted_qty != undefined ? parseFloat(gridData[i].accepted_qty) : parseFloat(0);
                }
            }
        }
        $('#txtmilkacc').val(acc_qty.toFixed(2));
        $('#txtbuffalotmilkacc').val(acc_qty_buff.toFixed(2));
    }
</script>
<script>
    function gridsummary(data) {
        try {
            $("#Milksum_grid").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {
                                received_cc: { type: "string" },
                                reject_reason: { type: "string" },
                                milk_frsom: { type: "string" },
                                received_qty: { type: "string" },
                                accepted_qty: { type: "string" },
                                rejected_qty: { type: "string" },
                                mode_flag: { type: "string", defaultValue: "I" }
                            }
                        }
                    }
                },
                height: 200,
                groupable: false,
                sortable: true,
                selectable: true,
                navigatable: true,
                columns: [
                     {
                         field: "received_cc",
                         title: "Received from CC ",
                         width: 100
                     },
                     {
                         field: "milk_from",
                         title: "Milk From",
                         width: 100
                     },
                    {
                        field: "milk_despatched_qty",
                        title: "Total Milk Despatched (Lts)",
                        width: 100,
                        hidden: true
                    },
                    {
                        field: "received_qty",
                        title: "Total Milk Received (Lts)",
                        width: 100
                    },
                    {
                        field: "accepted_qty",
                        title: "Total Milk Accepted (Lts)",
                        width: 100
                    },
                    {
                        field: "rejected_qty",
                        title: "Total Milk Rejected (Lts)",
                        width: 100
                    },
                    {
                        field: "status_code",
                        title: "status_code",
                        hidden: true
                    },
                    {
                        field: "status_desc",
                        title: "status_desc",
                        hidden: true
                    },
                    {
                        field: "row_timestamp",
                        title: "row_timestamp",
                        hidden: true
                    },
                {
                    field: "mode_flag",
                    title: "Mode",
                    hidden: true
                }],
                editable: true
            });
        }
        catch (err) {
            alert(err);
        }
    }
</script>
<script>
    function mandatory() {
        try {
            var mandatory_check = true;

            var grid_validate_msg = "";

            if ($('#cmb_chilling').data("kendoComboBox").value() == "") {
                grid_validate_msg += "chiling plant cannot be blank <br>";
                mandatory_check = false;
            }
            if ($('#cmb_collection').data("kendoComboBox").value() == "") {
                grid_validate_msg += "Collection centre cannot be blank <br>";
                mandatory_check = false;
            }

            if ($("#txtValidity").val() == "") {
                grid_validate_msg += "Cp Session Date cannot be blank <br>";
                mandatory_check = false;
            }

            if (mandatory_check == false) {
                kendoAlert(grid_validate_msg);
                return false;
            }

            else {
                return listLoad();
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function listLoad() {
        try {

            var formval = form_Serialize("Milk_Receipts");
            var obj_val = JSON.parse(formval);
            obj_val.cpsession_rowid = "0";
            var c = $('#cmb_chilling');
            obj_val.cp_aggrloc_code = c.data('kendoComboBox').value();
            var e = $('#cmb_collection');
            obj_val.cc_aggrloc_code = e.data('kendoComboBox').value();

            if (obj_val.session_date != '')
                obj_val.session_date = getFormated_StringDate($("#txtValidity").val());

            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Header = obj_val;
            retrieve_milkreceipts_default(data);
            //return false;
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>
<script>
    function generate_milkreceipt_detail(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                gridmilk(data);
            }
            else {

                gridmilk([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function generate_milkreceipt_summary(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                gridsummary(data);
            }
            else {

                gridsummary([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function generate_milkreceipt_header(res) {
        try {
            //$("#txtValidity").val(res.session_date);
            $('#cmb_chilling').data("kendoComboBox").value(res.cp_aggrloc_code);
            $('#cmb_collection').data("kendoComboBox").value(res.cc_aggrloc_code);
            $("#txt_status_code").val(res.status_code);
            $("#DocStat").val(res.status_desc);
            $("#txtMode").val(res.mode_flag);
            $("#row_timestamp").val(res.row_timestamp);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>
<script>
    function check_griddata() {
        var gridDataArray = $('#Milksum_grid').data('kendoGrid')._data;
        if (gridDataArray.length <= 0) {
            kendoAlert("There is no session loaded");
            return false;
        }
        else {
            return true;
        }

    }

    function save() {
        if (check_griddata()) {
            if ($("#txtMode").val() == "") {
                $("#txtMode").val('I');
            }
            if ($("#txtMode").val() == "S") {
                $("#txtMode").val('U');
            }

            var formval = form_Serialize("Milk_Receipts");
            var obj_val = JSON.parse(formval);
            if ($("#txtcommon_id").val() == undefined || $("#txtcommon_id").val() == "") {
                obj_val.cpsession_rowid = "0";
            }
            else {
                obj_val.cpsession_rowid = $("#cpsession_rowid").val();
            }

            var received_all_cc = document.getElementById("received_all_cc");
            if (received_all_cc.checked) {
                obj_val.received_all_cc = "Y";
            } else {
                obj_val.received_all_cc = "N";
            }
            if ($("#txt_status_code").val() == undefined || $("#txt_status_code").val() == "") {
                obj_val.status_code = "A";
            }
            else {
                obj_val.status_code = $("#txt_status_code").val();
            }
            if ($("#txtcommon_id").val() == undefined || $("#txtcommon_id").val() == "") {
                obj_val.cpsession_code = "0";
            }
            else {
                obj_val.cpsession_code = $("#txtcommon_id").val();
            }
            if (obj_val.hasOwnProperty('session_date')) {
                if (obj_val.session_date != '')
                    obj_val.session_date = getFormated_StringDate(obj_val.session_date);
            }
            //milk receipts
            var grid_val = JSON.stringify($("#MilkMap_grid").data().kendoGrid._data);
            var sts = $("#DocStat").val();
            var cpsesscode = $("#txtcommon_id").val()
            var Bind = {};
            Bind = grid_val;
            var result = JSON.parse(Bind);
            $.each(result, function (index, value) {
                var cpsessiondtl_rowid = value.cpsessiondtl_rowid;
                if (cpsessiondtl_rowid == undefined) {
                    result[index].cpsessiondtl_rowid = "0";
                }
                var mmode = result[index].mode_flag;
                if (mmode == "S") {
                    result[index].mode_flag = "U";
                }
                if (sts == "Active") {
                    result[index].cpsession_code = cpsesscode;
                }
                else {
                    result[index].cpsession_code = 0;
                }
            });
            var obj_grid_val = result;
            //summary
            var grid_val1 = JSON.stringify($("#Milksum_grid").data().kendoGrid._data);
            var Bind1 = {};
            Bind1 = grid_val1;
            var result1 = JSON.parse(Bind1);
            $.each(result1, function (index, value) {
                var milk_depatched_qty = value.milk_depatched_qty;
                if (milk_depatched_qty == undefined) {
                    result1[index].milk_depatched_qty = "0";
                }
                var mmode = result1[index].mode_flag;
                if (mmode == "S") {
                    result1[index].mode_flag = "U";
                }
            });
            var obj_grid_val1 = result1;

            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Header = obj_val;
            data.context.Detail = obj_grid_val;
            data.context.summary = obj_grid_val1;
            save_milkreceipts_details(data);
        }
    }
</script>
<script>
    function generate_milkreceipts_detail(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                gridmilk(data);
            }
            else {

                gridmilk([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function generate_milkreceipts_summary(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                gridsummary(data);
            }
            else {

                gridsummary([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function generate_milkreceipts_header(res) {
        try {
            $("#txtcommon_id").val(res.cpsession_code);
            $("#cpsession_rowid").val(res.cpsession_rowid);
            $("#txtValidity").val(res.session_date);
            $('#cmb_chilling').data("kendoComboBox").value(res.cp_aggrloc_code);
            $('#cmb_collection').data("kendoComboBox").value(res.cc_aggrloc_code);
            $("#txt_status_code").val(res.status_code);
            $("#DocStat").val(res.status_desc);
            $("#txtMode").val(res.mode_flag);
            $("#row_timestamp").val(res.row_timestamp);
            if (res.received_all_cc == 'Y') {
                $('#received_all_cc').attr('checked', 'checked');
                $("#divEdit #btnSaveEd").attr("disabled", true);
                $('#received_all_cc').attr("disabled", true);
            }
            else {
                $('#received_all_cc').removeAttr('checked');
                $("#divEdit #btnSaveEd").attr("disabled", false);
                $('#received_all_cc').attr("disabled", false);
            }

        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function get_reccipts_details(res) {
        var formval = form_Serialize("Milk_Receipts");
        var obj_val = JSON.parse(formval);
        $("#cpsession_rowid").val(res.cpsession_rowid);
        obj_val.cpsession_rowid = res.cpsession_rowid;
        var data = {};
        data.context = WebAPIProxy.getContext();
        data.context.Header = obj_val;
        retrieve_milkreceipts_details(data);
        $("#txtMode").val("U");
    }
</script>

<style>
    .k-widget.k-tooltip {
        background-color: #ffe79e;
        color: #6b5100;
    }

    span.k-tooltip {
        white-space: pre-line;
    }
</style>






