
@{
    ViewBag.List = "Notification";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}
<div class="row">
<div class="col-xs-12">
    <div id="notification_grid"></div>
</div>
</div>

<script>
    click_act_name = "NotificationForm";
    click_ctrl_name = "Notification";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>


<script>
    var data = [{
        screen_name: "Localization Definition", Created_Date: "04/11/2016", FY: "Display", Doc_Number_preview: "", Status: "active",

    }];
    $("#notification_grid").kendoGrid(
        {
            dataSource: {
                data: data,
                pageSize: 20,
                change: function (e) {
                    setTimeout(function () {
                        var gd = $("#notification_grid").data("kendoGrid");
                        filter_row(gd);
                        $('.k-i-close').css('display', 'none');
                        $('button.k-button-icon').css('display', 'none');
                        $('#notification_grid .k-input').prop('disabled', false);
                        $('#notification_grid .k-input').prop('readonly', true);

                    }, 1);
                },
            },
            toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
            excelExport: function (e) {
                var chkall = $('#chkall').is(':checked');
                var chkfilter = $('#chkfilter').is(':checked');
                var chktemp = $('#chktemp').is(':checked');
                var gd = $("#notification_grid").data("kendoGrid");
                var len = gd.dataSource._data.length;
                gd.dataSource.pageSize(len);
                exportfunction(e, chkall, chkfilter, chktemp);
                gd.dataSource.pageSize('10');
            },
            filterable: {
                enabled: true,
                delay: 1500,
                mode: "menu, row",
                height: 200,
                click: function (e) {
                    var gd = $("#notification_grid").data("kendoGrid");
                    filter_row(gd);
                }
            },
            filterMenuInit: function (e) {
                var gd = $("#notification_grid").data("kendoGrid");
                filter_row(gd);
            },
            dataBound: function (o) {
                var gd = $("#notification_grid").data("kendoGrid");
                for (var i = 0; i < gd.columns.length; i++) {
                    gd.showColumn(i);
                }
                $("div.k-group-indicator").each(function (i, v) {
                    gd.hideColumn($(v).data("field"));
                })
            },
            height: 450,
            sortable: true,
            selectable: true,
            //change: onChangeSelection,
            selectable: "singl",   //  Grid Row Selection
            pageable: {
                refresh: false,
                pageSizes: true,
                buttonCount: 5
            },
            navigatable: true,
            groupable: false,

            columns: [
                   {
                       title: "Sel", width: 40,
                       template: '#=sel_checkbox()#'

                   },
                {
                    field: "type",
                    title: "Type",
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    }
                },

                 {
                     field: "code",
                     title: "Code",
                     filterable: {
                         cell: {
                             operator: "contains",
                             inputWidth: 1500
                         }
                     }
                 },

                  {
                      field: "name",
                      title: "Name",
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      }
                  },
                {
                    field: "description_english",
                    title: "Description in English",
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    }
                },
                {
                    field: "description_local",
                    title: "Description in Local Lang",
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    }
                },

            {
                field: "Status",
                title: "Status",
                filterable: {
                    cell: {
                        operator: "contains",
                        inputWidth: 1500
                    }
                }
            },
            ]

        });



    $(".k-dropdown-operator").css('display', 'none');
    $("#notification_grid .k-input").attr('disabled', 'false');

    var gridRowID = -1;
    function sel_checkbox() {
        gridRowID++;
        return '<input id="chk_sel_' + gridRowID + '" class="checkbox" type="checkbox" />';
    }


</script>

<script>
    $("#btn_Edit").bind("click", function () {
        btn_onClick('Edit');
        location.href = "../Notification/NotificationForm";
    });

    $("#btn_View").bind("click", function () {
        btn_onClick('View');
        location.href = "../Notification/NotificationForm";
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../Notification/NotificationForm";
    });
</script>
<script>
    $(document).ready(function () {

        $(".adv_filter").attr("hdrtitle", "Farmer Profile List Record");
        $(".adv_filter").attr("fltid", "");
        $(".Export").attr("hdrtitle", "Notification List");


    });
</script>