@{
    ViewBag.Form = "Sales Report";
    Layout = "~/Views/Shared/FormViewLayout2.cshtml";
}
<style>
    span.k-widget.k-datepicker.k-header.cusDate.k-input {
        background: #fff;
    }
    #display_loading {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 50%);
        display: none;
    }
    button#btnExport {
        background-color: #00c0ef;
        border-color: #00acd6;
        margin-top: -6%;
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<form id="frm_salesreportpawhs" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-bottom:15px;padding-top:12px;">
                <div class="col-xs-4" style="display:none">
                    <div class=" form-group">
                        <label for="agg_code" class=" col-sm-5 control-label">Input Centre Name</label>
                        <div class=" col-sm-6">
                            <input type="text" id="agg_code" name="ic_code" class="form-control" maxlength="50" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">

                            <label for="txt_fromdate" class="col-sm-4 control-label ">From Date</label>
                            <div class="col-sm-8">
                                <input class="cusDate" data-role='datepicker' id="txt_fromdate" onkeypress="return date_validate(event)" data-checkdate-msg="Enter Valid Date" name="From_date" style="width:100%" />
                                <span data-for='valid' class='k-invalid-msg'></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="txt_todate" class="col-sm-4 control-label ">To Date</label>
                            <div class="col-sm-8">
                                <input class="cusDate" data-role='datepicker' id="txt_todate" onkeypress="return date_validate(event)" data-checkdate-msg="Enter Valid Date" name="To_date" style="width:100%" />
                                <span data-for='valid' class='k-invalid-msg'></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="cmb_prdtname" class="col-sm-4 control-label ">Invoice no:</label>
                            <div class="col-sm-5">
                                <input id="cmb_prdtname" name="status_option" data-role="filtercombo" style="width: 141%;margin-left:-26%;" />
                            </div>
                            <div class="col-sm-2">
                                <a class="HelpWindow fa fa-search fa-lg" role="button" id="pay_help21" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Invoice No " searchid="INno1" data-target="#HelpModal" onclick=transfer(this,"form","","form_control"); title="Search" style="font-size: 19px; "></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12" style="padding-top:21px;">

                        <div class="col-sm-4">

                            <label for="cmb_frmname" class="col-sm-5 control-label">Buyer First Name</label>
                            <div class="col-sm-5">
                                <input id="cmb_frmname" name="status_option" data-role="filtercombo" style="width: 141%;margin-left:-26%;" />

                            </div>
                            <div class="col-sm-2">
                                <a class="HelpWindow fa fa-search fa-lg" role="button" id="pay_help1" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Farmer " searchid="PAWHSBUYER" data-target="#HelpModal" onclick=transfer(this,"form","","form_control"); title="Search" style="font-size: 19px; "></a>
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <label for="cmb_frmcode" class="col-sm-4 control-label">Buyer Code</label>
                            <div class="col-sm-8">
                                <input id="cmb_frmcode" name="status_option" data-role="filtercombo" style="width:86%" disabled />
                                <input type="hidden" id="hdn_inputstring">
                            </div>
                        </div>
                        <div class="pull-right" style="margin-top: 1px;margin-right:5px">
                            <button id="refresh" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                    data-original-title="Refresh" onclick="listRefresh()" style="">
                                <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                            <div id="display_loading" style="z-index: 999;"><img src="https://i.stack.imgur.com/rBLb3.gif" style="height:100px; width:100px;"></div>
                            <button id="clear" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                    data-original-title="clear" onclick="listclear()" style="">
                                clear
                            </button>
                            <button id="btnExport" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button" data-original-title="Export" style="background-color: #00c0ef ;border-color: #00acd6; margin-top:0%" ;>
                                @*<span class="glyphicon glyphicon-export"></span>*@
                                Export to Excel
                            </button>
                        </div>
                        <div class="row"><br><br /></div>
                        <div class="row">
                        <div class="col-xs-12">
                            <div id="gd_loanDisbursementgen">
                                <div id="salesreportpawhs_grid"></div>
                            </div>
                        </div>
                    </div>
                   </div>
                </div>
            </div>
        </div>
        </div>
</form>

<script src="~/CommonScripts/Common_func.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>

<script>
    click_act_name = "home ";
    click_ctrl_name = "home";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;

</script>
<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        debugger;
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#frm_salesreportpawhs");
        kendo.init(container);
        container.kendoValidator({
        });
        $("#Topsubheader").show();
        $("#bottomFooter").show();
        $("#bottom_menus").hide();
        $("#btndiv").show();
        $("#frmlayerdiv").hide();
        $("#divCreate").hide();
        $("#divEdit").hide();
        $("#divView").show();
        $("#DocStat").show();
        $(".edtviw_item").show();
        $(".create_item").hide();
        $('#btnExport').hide();

        $(".Export").attr("hdrtitle", "PAWHS Sales Report List");
        $(".Export").attr("SubTreeId", "PAWHSSLRPT");
        var org_id = getlocalStorage('org_id');
       // var test = org_id.split("/");
        $('#ic_code').val(org_id);
        Screen_Id = "PAWHSSLRPT";
        //load_master_code();


        permission = sec_PermissionNew(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        var security = permission;
        console.log(security);
        if (security['print'] == true) {
            $("#btnExport").show();
        }
        else {
            $("#btnExport").hide();
        }
        $("#txt_fromdate").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });

        $("#txt_todate").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });
        /*  Prema added for fpo based abd ri user base loading*/
        var role = getlocalStorage("orgn_level");
        if (role == "ORG_FO") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
            cmb_riform3.value(getlocalStorage("org_id"));
            $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
            $("#cmb_FPOBelongform").data("kendoComboBox").value("ALL");
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(true);
        }
        if (role == "ORG_PF") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            $("#cmb_RIBelongform").data("kendoComboBox").value("ALL");
            $("#cmb_FPOBelongform").data("kendoComboBox").value("ALL");
            $("#cmb_RIBelongform").data("kendoComboBox").enable(true);
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(true);

        }
        if (role == "ORG_FPO") {
            debugger;
            $("#RIform").show();
            $("#FPOform").show();
            filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
            filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
            var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
            cmb_riform3.value(getlocalStorage("parent_code"));
            $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
            $("#cmb_FPOBelongform").data("kendoComboBox").enable(false);
            var cmap_inselform = $("#cmb_FPOBelongform").data("kendoComboBox");
            cmap_inselform.value(getlocalStorage("org_code"));
        }
          $("#cmb_RIBelongform").change(function () {
        debugger;
             var selected_value = $(this).val();
             var data1 = { RI_Code: selected_value}
            $.ajax({
            url: '@Url.Action("GetFPOlistRIBASE", "Login")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data1,
            success: function (response1) {
            debugger;
                var url_path = JSON.parse(response1);
                var itemArrFPO = [];
                for (var i = 0; i < url_path.Table.length; i++) {
                    var list = {};
                    list.id = url_path.Table[i].serial_number;
                    list.code = url_path.Table[i].dist_code;
                    list.desc = url_path.Table[i].Member_district_name;
                    itemArrFPO.push(list);
                }
                filter_combobox("cmb_FPOBelongform", itemArrFPO);
            },
                error: function (er)
                {
                alert(er)
                console.log(er)
                }
            });

    });
        /*  prema ended*/
        var combo_data1 = "";
        var combo_data2 = "";
        $("#cmb_prdtcode").empty();
        //combo_data1 = grid_comboScreen_mastercodes("PRODCTCODE");
        //filter_combobox("cmb_prdtcode", combo_data1);
        $("#cmb_prdtname").empty();
        //combo_data2 = grid_comboScreen_mastercodes("PRODCTNAME");
        //filter_combobox("cmb_prdtname", combo_data2);


        listgridpawhs([]);

        $("#btnExport").kendoButton({
            click: function () {
                debugger;
                //$("#salesreport_grid").data("kendoGrid").saveAsExcel();
                ExportButtonClick();
            }
        })
        if (org_id == 'RIFPO') {

            $('#cmb_prdtname').val('All');
            $('#cmb_frmname').val('All');
            $('#cmb_frmcode').val('All');
        }

    });

    $(function () {
        $('#refresh').click(function () {
            debugger;
            if ($("#txt_fromdate").val() != "" || $("#txt_todate").val() != "" || $('#cmb_prdtcode').val() != "" || $('#cmb_prdtname').val() != '' || $('#cmb_frmname').val() != '' || $('#cmb_frmcode').val() != '') {
                var from_date1 = $("#txt_fromdate").val();

                var to_date1 = $("#txt_todate").val();


                var parts = from_date1.split('/');
                var from_date = parts[2] + '-' + parts[1] + '-' + parts[0];

                var parts1 = to_date1.split('/');
                var to_date = parts1[2] + '-' + parts1[1] + '-' + parts1[0];

                var org_id = getlocalStorage('org_id');

                var cmb_code = $("#cmb_prdtcode").val();
                var cmb_name = $('#cmb_prdtname').val();
                var frm_code = $("#cmb_frmcode").val();

                var frm_name = $('#cmb_frmname').val()
                var fpo = $("#cmb_FPOBelongform").val();
                var parent_code = $("#cmb_RIBelongform").data("kendoComboBox").value();

                var user_code = getlocalStorage("User_Id_Value");
                $('#refresh').hide();
                $("#btnExport").hide();
                $("#clear").hide();
                $("#display_loading").show();
                $(".panel-default").css("opacity", 0.2);
                setTimeout(function () {
                    $(".panel-default").css("opacity", 1);
                    $("#display_loading").css({ "display": "none" });
                }, 6000);
                var ABC = "Input";
                var InputString = ABC.concat(" ", "{", cmb_code, ",", cmb_name, ",", from_date, ",", to_date, ",", org_id, ",", frm_code, ",", frm_name, ",", fpo, ",", parent_code, ",", user_code, "}");
                console.log(InputString);
                $("#hdn_inputstring").val(InputString);
                $.ajax({
                    type: "POST",
                    data: '{pro_code: "' + cmb_code + '",pro_name:"' + cmb_name + '",fromdate:"' + from_date + '",todate:"' + to_date + '",orgid:"' + org_id + '",frmcode:"' + frm_code + '",frmname:"' + frm_name + '",fpo:"' + fpo + '",parent_code:"' + parent_code + '",User:"' + user_code + '"}',
                    url: "/PAWHSNEWReports/Invoice",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        debugger;
                        if (response != null) {
                            $("#display_loading").hide();
                            $('#refresh').show();
                            Screen_Id = "PAWHSSLRPT";
                            permission = sec_PermissionNew(Screen_Id);
                            var security = permission;
                            console.log(security);
                            if (security['print'] == true) {
                                $("#btnExport").show();
                            }
                            else {
                                $("#btnExport").hide();
                            }
                            $("#clear").show();
                        console.log(response)
                            listgridpawhs(response);
                            var farmergrid = $("#salesreportpawhs_grid").data("kendoGrid");
                            farmergrid.dataSource.read();
                            var count = farmergrid.dataSource.total();
                            console.log(count);
                            if (count == 0) {
                                kendoAlert('No Records found');
                            }
                        }
                    },
                    error: function (er) {
                        $("#display_loading").hide();
                        $('#refresh').show();
                        $("#btnExport").show();
                        $("#clear").show();
                        alert(er)
                        console.log(er)
                    }

                });

            }
            else {
                kendoAlert('Please Select Any One Field');
            }

            return false;
        });
    });
</script>
<script>
    function load_master_code() {
        debugger;
        var data = {};
        var context = WebAPIProxy.getContext();
        data.userId = context.userId
        data.orgnId = context.orgnId
        data.locnId = context.locnId
        data.localeId = context.localeId
        data.screen_Id = "PAWHSSLRPT";
        var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
    }
    function ExportButtonClick() {
        debugger
        var grid = $("#salesreportpawhs_grid").data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            // alert("There are no records available in the Grid to Export!!!");
            kendoAlert('No records available in the Grid to Export!!!');
        }
        else {
            grid.bind("excelExport", function (e) {
                debugger;
                e.workbook.fileName = "PAWHSSalesReport.xlsx";
                var rows1 = e.workbook.sheets[0];

                var sheet = e.workbook.sheets[0];
                var grid = $("#salesreportpawhs_grid").data("kendoGrid");
                var data = grid.dataSource.data();
                var gridColumns = grid.columns;
                var columns = gridColumns.map(function (col) {
                    return {
                        value: col.title ? col.title : col.field,
                        autoWidth: true,
                        background: "#7a7a7a",
                        color: "#fff"
                    };
                });

                var rows = [{ cells: columns, type: "header" }];

                for (var i = 0; i < data.length; i++) {
                    var rowCells = [];
                    for (var j = 0; j < gridColumns.length; j++) {
                        var cellValue = data[i][gridColumns[j].field];
                        rowCells.push({ value: cellValue });
                    }
                    rows.push({ cells: rowCells, type: "data" });
                }
                sheet.rows = rows;
            });
             var InputString = $("#hdn_inputstring").val();
            var data = {};
            data.userId = getlocalStorage("User_Id_Value");
            var user_code = data.userId;
            var Report_Name = "PAWHS Sales Report";
            var flag = 1;
            var data = { report_name: Report_Name, input_string: InputString, flag: flag, userid: user_code };
         $.ajax({
            url: '@Url.Action("ExportExcelDownload", "PAWHSNEWReports")',
            type: "post",
            contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response1) {
            debugger;
            if (response1 != null) {
                debugger;

            }

          },
         error: function (er) {
         alert(er)
        console.log(er)
        }
         });
            grid.saveAsExcel();
            kendoAlert('Exported Sucessfully');
        }
    }
</script>

<script>
    function listpageloadfetch() {
        try {

            var formval = form_Serialize("frm_salesreportpawhs");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";
            if (obj_val.status_option == "" || obj_val.status_option == undefined) {
                obj_val.status_option = "V";
            }

            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Filter = obj_val;
            var colCount = $("#salesreport_grid").find('.k-grid-header colgroup > col').length;
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    var status_Priority = [];
    function listgridpawhs(data) {
        try {
            $("#salesreportpawhs_grid").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {
                                ic_code: { type: "string", editable: false },
                                //  customer_type: { type: "string", required: true },
                                invoice_no: { type: "string", required: true },
                                invoice_date: { type: "date" },
                                Buyer_code: { type: "string", required: true },
                                buyer_name: { type: "string", required: true },
                                mobile_no: { type: "string" },

                                qty: { type: "number" },
                                //  product_amount: { type: "number", defaultValue: "0" },
                                discount_amount: { type: "number", defaultValue: "0" },
                                transport_amount: { type: "number", defaultValue: "0" },
                                others: { type: "number", defaultValue: "0" },
                                tax_amount: { type: "number", defaultValue: "0" },
                                total_invoice_amount: { type: "number", defaultValue: "0" },
                                payment_mode: {type:"string"},
                                PaidAmount: { type: "number", defaultValue: "0" },
                                BalanceAmount: { type: "number", defaultValue: "0" },


                            }
                        }
                    },
                    aggregate: [{ field: "total_invoice_amount", aggregate: "sum" }],
                    pageSize: 20

                },

                height: 450,
                scrollable: true,
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: false,
                    pageSizes: true,
                    previousNext: false,
                    buttonCount: 8
                },
                filterable: {
                    enabled: true,
                },
                columns: [

                    {
                        field: "ic_code",
                        title: "PAWHS Center",
                        filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Contains"
                                }
                            }
                        },
                        width: 150
                    },

                    {
                        field: "invoice_no",
                        title: "Invoice #",
                        filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Contains"
                                }
                            }
                        },
                        width: 100
                    },

                    {
                        field: "invoice_date",
                        title: "Invoice Date",
                        width: 120,
                        filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    contains: "Contains"
                                }
                            },
                            cell: {
                                operator: "contains",
                                inputWidth: 1500,
                                format: "{0:dd-MM-yyyy}",
                            }
                        },
                        template: '#= kendo.toString(kendo.parseDate(invoice_date), "dd/MM/yyyy")#'

                    },

                    {
                        field: "Buyer_code",
                        title: "Buyer Code",
                        width: 100,
                        filterable: false,
                    },
                    {
                        field: "buyer_name",
                        title: "Buyer First Name",
                        width: 130,

                    },

                    {
                        field: "mobile_no",
                        title: "Mobile #",
                        width: 100,

                    },

                    
                    {
                        field: "qty",
                        title: "Quantity",
                        width: 80,
                        template: '#= kendo.toString(qty, "n2") #',
                        filterable: false,
                        attributes: { style: "text-align:right;" }
                    },

                
                    {
                        field: "discount_amount",
                        title: "Discount",
                        width: 80, filterable: false,
                        template: '#= kendo.toString(discount_amount, "n2") #',
                        attributes: { style: "text-align:right;" }
                    },
                    {
                        field: "transport_amount",
                        title: "Transport Amount",
                        width: 110, filterable: false,
                        template: '#= kendo.toString(transport_amount, "n2") #',
                        attributes: { style: "text-align:right;" }
                    },
                    {
                        field: "others",
                        title: "Others Amount",
                        width: 110, filterable: false,
                        template: '#= kendo.toString(others, "n2") #',
                        footerTemplate: "Total",
                        attributes: { style: "text-align:right;" }
                    },
                    {
                        field: "tax_amount",
                        title: "Tax Amount",
                        width: 80, filterable: false,
                      
                        template: '#= kendo.toString(tax_amount, "n2") #',
                        attributes: { style: "text-align:right;" }
                    },


                    {
                        field: "total_invoice_amount",
                        title: "Total Invoice Amount",
                        width: 130, filterable: false,
                        template: '#= kendo.toString(total_invoice_amount, "n2") #',
                        footerTemplate: "#=sum#",
                        footerTemplate: "<div style='text-align:right'> #=sum# </div>",
                        attributes: { style: "text-align:right;" }
                    },
                    {
                        field: "payment_mode",
                        title: "Payment Mode",
                        width: 110, 
                    },
                    {
                        field: "PaidAmount",
                        title: "Paid Amount",
                        width: 110, filterable: false,
                        template: '#= kendo.toString(PaidAmount, "n2") #',
                        attributes: { style: "text-align:right;" }
                    },
                    {
                        field: "BalanceAmount",
                        title: "Balance Amount",
                        width: 110, filterable: false,
                        template: '#= kendo.toString(BalanceAmount, "n2") #',
                        attributes: { style: "text-align:right;" }
                    },

                ],
                editable: false,

            });
        }
        catch (err) {
            alert(err);
        }
    }

</script>

<script>

    function listRefresh() {
        debugger;
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }



    function listclear() {
        try {

            listgridpawhs([]);
            $('#frm_salesreportpawhs').find('input:text').val('');
            var role = getlocalStorage("orgn_level");
            if (role == "ORG_PF") {
                $("#cmb_RIBelongform").data("kendoComboBox").value("");
                $("#cmb_FPOBelongform").data("kendoComboBox").value("");
            }

        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function form_control() {
        var control_Name = [

            { "dataCol": "invoice_no", "controlId": "cmb_prdtname", "type": "Text" },

            { "dataCol": "buyer_code", "controlId": "cmb_frmcode", "type": "Text" },
            { "dataCol": "buyer_name", "controlId": "cmb_frmname", "type": "Text" }

        ];
        return control_Name;
    }
    function trans_input_data() {
        var trans_coll = [
            { "trasfer": "Yes", "dataCol": "ic_code", "controlId": "ic_code", "grid_id": "", "grid_row_col": "" },
            { "trasfer": "Yes", "dataCol": "ProductCode", "controlId": "cmb_prdtcode", "grid_id": "", "grid_row_col": "ProductCode" },
            { "trasfer": "Yes", "dataCol": "ProductName", "controlId": "cmb_prdtname", "grid_id": "", "grid_row_col": "ProductName" },
            { "trasfer": "Yes", "dataCol": "buyer_code", "controlId": "cmb_frmcode", "grid_id": "", "grid_row_col": "buyer_code" },
            { "trasfer": "Yes", "dataCol": "buyer_name", "controlId": "cmb_frmname", "grid_id": "", "grid_row_col": "buyer_name" }
        ];
        return trans_coll;
    }
    function generate_Invoiceproduct_list(res) {
        var dataItem = $("#salesreport_grid").data("kendoGrid").dataSource.data()[0];

        dataItem.set("ProductCode", res[0].ProductCode);
        dataItem.set("ProductName", res[0].ProductName);




    }
</script>

<style>
    .k-footerTemplate {
        text-align: right;
    }
</style>