@{ ViewBag.Form = "Traceability Report";
                Layout = "~/Views/Shared/FormViewLayout2.cshtml"; }
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<form id="frm_productmovement" class="form-horizontal" style="padding-top: 31px;">
    <div class="panel panel-default">

        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-bottom:15px">

                <div class="row">
                    <div class="col-sm-3">
                        <label for="txt_fromdate" class="col-sm-4 control-label required">From Date</label>
                        <div class="col-sm-6">
                            <input class="cusDate" data-role='datepicker' id="txt_fromdate" onkeypress="return date_validate(event)" data-checkdate-msg="Enter Valid Date" name="From_date" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <label for="txt_todate" class="col-sm-4 control-label required">To Date</label>
                        <div class="col-sm-6">
                            <input class="cusDate" data-role='datepicker' id="txt_todate" onkeypress="return date_validate(event)" data-checkdate-msg="Enter Valid Date" name="To_date" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="cmb_warehouse" class=" col-sm-4 control-label required"> Warehouse Name</label>
                            <div class=" col-sm-7">
                                <input id="cmb_warehouse" name="txtwhs_name" style="width: 120%" data-role="filtercombo">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <button id="refresh" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                data-original-title="Refresh" onclick="listRefresh()">
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                        <button id="clear" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                data-original-title="clear" onclick="listclear()">
                            clear
                        </button>
                        <button type="button" id="btnExport" style="background-color:skyblue;display:none" class="Export btn btn-sm btn-info">
                        @*<span class="glyphicon glyphicon-export"></span>*@
                            Export to Excel
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div id="gd_trace">
                        <div id="traceability_grid" style="width:98%;margin-left:13px;"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/CommonScripts/Common_func.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>
<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        debugger;
        var error_flag = false;
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#frm_productmovement");
        kendo.init(container);
        container.kendoValidator({
        });
        $("#Topsubheader").show();
        $("#bottomFooter").show();
        $("#bottom_menus").hide();
        $("#btndiv").show();
        $("#frmlayerdiv").hide();
        $("#divCreate").hide();
        $("#divEdit").hide();
        $("#divView").show();
        $("#DocStat").show();
        $(".edtviw_item").show();
        $(".create_item").hide();
         $('#btnExport').hide();
        $(".Export").attr("hdrtitle", "StockMovement Register List");
        $(".Export").attr("SubTreeId", "ICDSMRRPT");
        $("#RIform").hide();
        $("#FPOform").hide();
        Screen_Id = "NPAWHSTRACERPT";
        var org_id = getlocalStorage('org_id');
        $('#ic_code').val(org_id);
        permission = sec_Permission(Screen_Id);
        //page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        $("#txt_fromdate").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });
        $("#txt_todate").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });
        var org_id = getlocalStorage('org_id');
        load_master_code();
        var combo_data1 = "";
        $("#cmb_warehouse").empty();
        combo_data1 = grid_comboScreen_mastercodes("WAREHOUSENAME");
        filter_combobox("cmb_warehouse", combo_data1);

        $("#ic_code").val(org_id);
        $("#btnExport").kendoButton({
            click: function () {
                debugger;
                ExportButtonClick();
            }
        })
       // listRefresh();
    });
    function load_master_code() {
        var data = {};
        var context = getContext();
        data.userId = context.userId
        data.orgnId = context.orgnId
        data.locnId = context.locnId
        data.localeId = context.localeId
        data.screen_Id = "NPAWHSTRACERPT";
        var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
    }
    function listRefresh() {
        listgrid([]);
        WarehouseNameSearch();
        $('#btnExport').show()
        @*try {
             var data = {};
                data.context = WebAPIProxy.getContext();
                var Context = data.context;
                var data = { org: Context.orgnId, locn: Context.locnId, user: Context.userId, lang: Context.localeId  };
          $.ajax({
         url: '@Url.Action("TraceabilityRpt", "PAWHSNEWReports")',
         type: "post",
         contentType: 'application/x-www-form-urlencoded',
         data: data,
              success: function (response) {
                  console.log(response);
                    listgrid(response);
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }
            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }*@
    }

    function WarehouseNameSearch() {
        try {
            var whs_code = $("#cmb_warehouse").val();
            var from_date1 = $("#txt_fromdate").val();
            var to_date1 = $("#txt_todate").val();

            datevalidata(from_date1, to_date1);

            if ($("#txt_fromdate").val() != '' && $("#txt_todate").val() != '') {
                var parts = from_date1.split('/');
                var from_date = parts[2] + '-' + parts[1] + '-' + parts[0];

                var parts1 = to_date1.split('/');
                var to_date = parts1[2] + '-' + parts1[1] + '-' + parts1[0];
            }


            if (error_flag == false) {
                var data = {};
                data.context = WebAPIProxy.getContext();
                var Context = data.context;
            var data = { org: Context.orgnId, locn: Context.locnId, user: Context.userId, lang: Context.localeId, whs_code: whs_code, In_from_date: from_date, In_to_date: to_date   };
          $.ajax({
         url: '@Url.Action("TraceabilityRpt", "PAWHSNEWReports")',
         type: "post",
         contentType: 'application/x-www-form-urlencoded',
         data: data,
              success: function (response) {
                  console.log(response);
                  if (response != null) {
                      listgrid(response);
                  }
                  else {
                      listgrid([]);
                  }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }
            });
        }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }



    function datevalidata(dtt1, dtt2) {
        error_flag = false;
        if (dtt1 == "" || dtt2 == "") {
            kendoAlert("From Date and To Date should not Empty!");
            error_flag = true;
            return false;
        }

        var dttt1 = dtt1.split("/");
        var dttt2 = dtt2.split("/");

        if (dttt1[2] > dttt2[2]) {
            kendoAlert("From Date must be smaller than To Date!");
            error_flag = true;
            return false;
        }
        else if (dttt1[2] == dttt2[2]) {
            if (dttt1[1] > dttt2[1]) {
                kendoAlert("From Date must be smaller than To Date!");
                error_flag = true;
                return false;
            }
            else if (dttt1[1] == dttt2[1]) {
                if (dttt1[0] >= dttt2[0]) {
                    kendoAlert("From Date must be smaller than to Date!");
                    error_flag = true;
                    return false;
                }
            }
        }

        if ($("#cmb_warehouse").val() == "" || $("#cmb_warehouse").val() == "undefined") {
            kendoAlert("Warehouse Name should not Empty!");
            error_flag = true;
            return false;
        }
    }
    function listgrid(data) {
        $("#traceability_grid").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            warehouse_name: { type: "string", editable: false },
                            plot_no: { type: "string", editable: false },
                            pfarmer_name: { type: "string", editable: false },
                            pfarmer_code: { type: "string", editable: false },
                            psl_no: { type: "string", editable: false },
                            slot_no: { type: "string", editable: false },
                            sbuyer_name: { type: "string", editable: false },
                            ssl_no: { type: "string", editable: false },
                        }
                    }
                },
                pageSize: 20
            },
             filterable:true,
            height: 450,
            scrollable: true,
            sortable: true,
            resizable: true,
            pageable: {
                refresh: false,
                pageSizes: true,
                previousNext: false,
                buttonCount: 8
            },
            columns: [
                {
                    field: "warehouse_name",
                    title: "Warehouse Name",
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                    width: 110,
                },
                {
                    field: "plot_no",
                    title: "PO Lot No",
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                    width: 110,
                },
                {
                    field: "pfarmer_code",
                    title: "PO Farmer Code",
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                    width: 110,
                },
                {
                    field: "pfarmer_name",
                    title: "PO Farmer name",
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                    width: 110,
                },
                {
                    field: "psl_no",
                    title: "PO Serial No",
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                    width: 110,
                },
                {
                    field: "slot_no",
                    title: "Sale Lot No",
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                    width: 110,
                },
                {
                    field: "sbuyer_name",
                    title: "Buyer Name",
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                    width: 110,
                },
                {
                    field: "ssl_no",
                    title: "Sale Serial No",
                    filterable: {
                        extra: false,
                        operators: {
                            string: {
                                contains: "Contains"
                            }
                        }
                    },
                    width: 110,
                },
            ],
        });
    }

    function ExportButtonClick() {
        debugger
        var grid = $("#traceability_grid").data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            kendoAlert('No records available in the Grid to Export!!!');
        }
        else {
            grid.bind("excelExport", function (e) {
                debugger;
                e.workbook.fileName = "PAWHS Traceability Report.xlsx";
                var rows1 = e.workbook.sheets[0];
                var sheet = e.workbook.sheets[0];
                var grid = $("#traceability_grid").data("kendoGrid");
                var data = grid.dataSource._data;//grid.dataSource.data();
                var gridColumns = grid.columns;
                var columns = gridColumns.map(function (col) {
                    return {
                        value: col.title ? col.title : col.field,
                        autoWidth: true,
                        background: "#7a7a7a",
                        color: "#fff"
                    };
                });
                var rows = [{ cells: columns, type: "header" }];

                for (var i = 0; i < data.length; i++) {
                    var rowCells = [];
                    for (var j = 0; j < gridColumns.length; j++) {
                        var cellValue = data[i][gridColumns[j].field];
                        rowCells.push({ value: cellValue });
                    }
                    rows.push({ cells: rowCells, type: "data" });
                }
                sheet.rows = rows;
            });

            grid.saveAsExcel();
            kendoAlert('Exported Sucessfully');
        }
    }
    function listclear() {
        try {
            listgrid([]);
            $('#frm_productmovement').find('input:text').val('');
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>