@{
    ViewBag.List = "Produce Calendar";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div id="produCalendr"></div>
    </div>
</div>
<script src="~/API_Scripts/PAWHS_saveProduceCalendar_Model.js"></script>
<script src="~/API_Scripts/PAWHS_getProduceCalendar_Model.js"></script>
<script src="~/API_Scripts/PAWHS_getProduceCalendarList_Model.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/API_Scripts/ProduceCalendar.js"></script>
<script src="~/API_Scripts/Produce_Calendar_PAWHS_getProduceCalendar_APIClient.js"></script>
<script src="~/API_Scripts/Produce_Calendar_PAWHS_saveProduceCalendar_APIClient.js"></script>
<script src="~/API_Scripts/Produce_Calendar_PAWHS_getProduceCalendarList_APIClient.js"></script>
<script src="~/CommonScripts/ExportExcel.js"></script>
<script src="~/CommonScripts/Common_func.js"></script>

<script>
    function ProduceCalendarList(data) {
       
            //var data = [{}];
            $("#produCalendr").kendoGrid({
                dataSource: {
                    data: data,
                    pageSize: 20,
                    change: function (e) {
                        setTimeout(function () {
                            var gd = $("#produCalendr").data("kendoGrid");
                            filter_row(gd);
                            $('.k-i-close').css('display', 'none');
                            $('button.k-button-icon').css('display', 'none');
                            $('#produCalendr .k-input').prop('disabled', false);
                            $('#produCalendr .k-input').prop('readonly', true);

                        }, 1);
                    },
                },
                toolbar: "<button type= 'button' id = 'Exportclick' class = 'k-grid-excel' style = 'display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",

                excelExport: function (e) {
                    var gd = $("#produCalendr").data("kendoGrid");
                    var len = gd.dataSource._data.length;
                    var chkall = $('#chkall').is(':checked');
                    var chkfilter = $('#chkfilter').is(':checked');
                    var chktemp = $('#chktemp').is(':checked');
                    var twokendobox = true;
                    gd.dataSource.pageSize(len);
                    if (e.sender.dataSource._data.length == len) {
                        twokendobox = false;
                        exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                    }
                    else {
                        exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                    }
                    gd.dataSource.pageSize('10');
                    return false;
                },
                filterable: {
                    enabled: true,
                    delay: 1500,
                    mode: "menu, row",
                    height: 200,
                    click: function (e) {
                        var gd = $("#produCalendr").data("kendoGrid");
                        filter_row(gd);
                    }
                },
                filterMenuInit: function (e) {
                    var gd = $("#produCalendr").data("kendoGrid");
                    filter_row(gd);
                },
                dataBound: function (o) {
                 
                },
               
                height: 450,
                sortable: true,
                selectable: true,
                change: selectRow,
                selectable: "singl",   //  Grid Row Selection
                pageable: {
                    refresh: false,
                    pageSizes: true,
                    buttonCount: 5
                },
                navigatable: true,
                groupable: false,

                columns: [
                //    {
                //title: "Action", width: "50px",
                //    },

                {
                        field: "Out_pac_no",
                    title: "PAC No.",
                    width: 100,
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    },
                },
                {
                    field: "Out_farmer_code",
                    title: "Farmer Code",
                    width: 100,
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    },
                },
                {
                    field: "Out_agg_code",
                    title: "Farmer Name",
                    width: 140,
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    },
                },
                {
                    field: "Out_pac_year",
                    title: "PAC Year",
                    width: 100,
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    },
                },
                 {
                     field: "Out_item_code",
                     title: "Item",
                     width: 140,
                     filterable: {
                         cell: {
                             operator: "contains",
                             inputWidth: 1500
                         }
                     },
                 },
                 {
                     field: "Out_jan",
                     title: "Total Quantity",
                     width: 140,
                     filterable: {
                         cell: {
                             operator: "contains",
                             inputWidth: 1500
                         }
                     },
                 },
                  {
                      field: "Out_producecal_rowid",
                      title: "Producecal rowid No.",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                 {
                     field: "Out_pac_date",
                     title: "PAC date",
                     width: 100,
                     filterable: {
                         cell: {
                             operator: "contains",
                             inputWidth: 1500
                         }
                     },
                     hidden: true,
                    },
                    {
                        field: "Out_jan",
                        title: "jan",
                        width: 100,
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        hidden: true,
                    },
                  {
                      field: "Out_feb",
                      title: "feb",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                  {
                      field: "Out_mar",
                      title: "mar",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                  {
                      field: "Out_apr",
                      title: "apr",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                  {
                      field: "Out_may",
                      title: "may",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                  {
                      field: "Out_jun",
                      title: "jun",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                  {
                      field: "Out_jul",
                      title: "jul",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                  {
                      field: "Out_aug",
                      title: "aug",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                  {
                      field: "Out_sep",
                      title: "sep",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                  {
                      field: "Out_oct",
                      title: "oct",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                  {
                      field: "Out_nov",
                      title: "nov",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                  {
                      field: "Out_dec",
                      title: "dec",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                  {
                      field: "Out_status_code",
                      title: "status code",
                      width: 100,
                      filterable: {
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      },
                      hidden: true,
                  },
                    {
                        field: "Out_status_desc",
                        title: "status desc",
                        width: 100,
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        hidden: true,
                    },
                    {
                        field: "Out_row_timestamp",
                        title: "row timestamp",
                        width: 100,
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        hidden: true,
                    },


                ],
                
            });
            $(".k-dropdown-operator").css('display', 'none');
            $("#produCalendr .k-input").attr('disabled', 'false');
        }
    function selectRow() {

        try {
            var grid = $("#produCalendr").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            setlocalStorage("ls_pageList", selectedItem);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>

<script>
    $("#btn_Edit").bind("click", function () {
        getSerializedSelectedRows('edit');

        //location.href = "../PAWHSProduceCalendar/PAWHSProduceCalendarForm";
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('View');
        
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../PAWHSProduceCalendar/PAWHSProduceCalendarForm";
    });
    function getSerializedSelectedRows(mode) {
        try {
            debugger;
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");
                if (items.length == 0) {
                    kendoAlert("Please select records");
                }

                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../PAWHSProduceCalendar/PAWHSProduceCalendarForm";
                    }
                    else if (mode == "View") {
                        btn_onClick('View');
                        location.href = "../PAWHSProduceCalendar/PAWHSProduceCalendarForm";
                    }
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>

<script>
    $(document).ready(function () {
        ProduceCalendarList();
        //$("#btn_new").hide();
        $(".adv_filter").attr("hdrtitle", "Produce Calendar List");
        $(".adv_filter").attr("fltid", "prodCal");
        $(".Export").attr("hdrtitle", "Produce Calendar List");


        $(".Export").attr("SubTreeId", "PWPRODCAL");
        list_grid_id = "produCalendr";
        listpageloadfetch();

        //var data = {};
        //data.context = WebAPIProxy.getContext();
        //   data.context.Filter = "";
        Screen_Id = "PWPRODCAL";
        permission = sec_Permission(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        filterhover();
    });

    function listpageloadfetch() {
        debugger;
        try {
            var formval = form_Serialize("Produce_Calendar");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_FromValue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_FromValue = ".";
            }
            obj_val.FilterBy_ToValue = ".";

            var data = {};
            data.context = WebAPIProxy.getContext();;
            data.context.Filter = obj_val;
            var Context = data.context;
            $.ajax({
                type: "POST",
                url: '/PAWHSProduceCalendar/PAWHSProduceCalendarListfetch',
                dataType: 'json',
                data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, FilterBy_Option: Context.Filter.FilterBy_Option, FilterBy_Code: Context.Filter.FilterBy_Code, FilterBy_Fromvalue: Context.Filter.FilterBy_FromValue, FilterBy_ToValue: Context.Filter.FilterBy_ToValue }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    //var list = JSON.parse(response);
                    if (response.context.List != null) {
                        generate_ProduceCal_list(response.context.List);
                    }
                    else {
                        ProduceCalendarList([]);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
        
            //retrieve_Produce_calendar_list(data);
            //setlocalStorage('flt_condition', "");
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    </script>
    <script>
        function generate_ProduceCal_list(res) {
            try {
                if (res != null) {
                    var data = changedataType(res);
                    $("#Produce_Calendar").empty();
                    ProduceCalendarList(data);
                }
                else {
                    ProduceCalendarList([]);
                }
            }
            catch (err) {
                javascript_log4j_root(arguments.callee.name, err);
            }
        }
        function listRefresh() {
            try {
                setlocalStorage('flt_condition', "");
                listpageloadfetch();
            }
            catch (err) {
                javascript_log4j_root(arguments.callee.name, err);
            }
        }
    
    </script>
