@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <link href="~/CSS/popupGrid.css" rel="stylesheet" />   
    <script src="~/API_Scripts/userrole_detail_changepassword_APIClient.js"></script>
    <script src="~/API_Scripts/userrole_detail_changesecanswer_APIClient.js"></script>
    <script src="~/API_Scripts/forgotPassword_Model.js"></script>
    <script src="~/API_Scripts/changePassword_Model.js"></script>
    <script src="~/API_Scripts/changeSecAnswer_Model.js"></script>
    <script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
    <script src="~/CommonScripts/ChangePassword.js"></script>
</head>
<body>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="changepasswdhdr" class="modal-title">Change Password/Security Q & A</h4>
    </div>
    <div class="modal-body" style="height:500px">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#ChangePassword" role="tab" data-toggle="tab">
                            Change Password
                        </a>
                    </li>
                    <li>
                        <a href="#ChangeSecurity" id="" role="tab" data-toggle="tab">
                            Change Security Q and A
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="ChangePassword">
                        <form id="frmChangePassword" class="form-horizontal" data-role="validator" novalidate="novalidate">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="txtUserId" class=" col-sm-5 control-label required" >User Id</label>
                                                <div class=" col-sm-7">
                                                    <input type="text" class="form-control" id="txtUserId" name="user_code" disabled>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="txtNewPassword" class="col-sm-5 control-label required">New Password</label>
                                                <div class=" col-sm-7">
                                                    <input type="password" class="form-control" name="user_pwd" id="txtNewPassword">
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="txtConPassword" class="col-sm-5 control-label required">Confirm Password</label>
                                                <div class=" col-sm-7">
                                                    <input type="password" class="form-control" name="con_password" id="txtConPassword" onchange="password_check()">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtCaptcha" class="col-sm-5 control-label"></label>
                                                <div class="col-sm-5">
                                                    <input id="txtCaptcha" type="text" class="form-control" disabled style="background-image: url('/images/1.jpg'); border: none; height: 30px; width: 140px; font-weight: bold; font-family: Modern; font-size: 20px; padding-right: 0px">
                                                </div>
                                                <div class="col-sm-2">
                                                    <a class="fa fa-refresh fa-lg " data-toggle="modal"
                                                       href="#" onclick="refresh()" title="Refresh"></a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtReCaptcha" class=" col-sm-5 control-label required">Re-Enter Captcha</label>
                                                <div class=" col-sm-7">
                                                    <input type="text" class="form-control" name="captcha" onchange="ValidCaptcha()" id="txtReCaptcha">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-5">
                                                <button id="btnPass_Save" type="button" onclick="save_password()" class="btn btn-primary">Save</button>
                                                @*<button id="btnPass_Save" class="btn btn-info" data-toggle="tooltip" data-placement="top" onclick="save_password()" title="சேமிக்க" > <span class="glyphicon glyphicon-ok"></span> Save </button>*@
                                            </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="ChangeSecurity">
                        <form id="frmchangePassword1" class="form-horizontal" data-role="validator" novalidate="novalidate">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <label for="txtUserIdCaptcha" class=" col-sm-5 control-label required">User Id</label>
                                                <div class=" col-sm-7">
                                                    <input type="text" class="form-control" name="user_code" id="txtUserIdCaptcha" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="cmb_question" class=" col-sm-5 control-label required">Security Question</label>
                                                <div class=" col-sm-7">
                                                    @*<select id="cmb_question" name="sec_question" class="form-control" style="height:31px;width:197px" required data-required-msg="Security Question cannot be blank"></select>*@
                                                    <input id="cmb_question" name="secquestion_code" data-role="filtercombo" style="width :100%" />
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label for="txtAnswer" class="col-sm-5 control-label required">Answer</label>
                                                <div class=" col-sm-7">
                                                    <input type="text" class="form-control" name="secquestion_answer" id="txtAnswer">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtCaptcha1" class="col-sm-5 control-label"></label>
                                                <div class="col-sm-5">
                                                    <input id="txtCaptcha1" type="text" class="form-control" disabled style="background-image: url('/images/1.jpg');
                                                     border: none;height:30px;width:140px; font-weight: bold; font-family: Modern; font-size: 20px; padding-right:0px">
                                                </div>
                                                <div class="col-sm-2">
                                                    <a class="fa fa-refresh fa-lg " data-toggle="modal"
                                                       href="#" onclick="refresh()" title="Refresh"></a>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="txtReCaptcha2" class=" col-sm-5 control-label">Re-Enter Captcha</label>
                                                <div class=" col-sm-7">
                                                    <input type="text" class="form-control" name="captcha2" id="txtReCaptcha2" onchange="ValidCaptcha_next()">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-8">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-5">
                                            <button id="btnSec_Save" type="button" onclick="save_security()" class="btn btn-primary">Save</button>
                                                @*<button id="btnSec_Save" class="btn btn-info" data-toggle="tooltip" data-placement="top" onclick="save_security()" title="சேமிக்க"> <span class="glyphicon glyphicon-ok"></span> Save </button>*@
                                            </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
