@{
    ViewBag.List = "Expenses";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}
<form id="frm_expenses_form" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="row">
        <div class="col-xs-12">
            <div id="gd_expenses">
                <div id="Expenses_grid"></div>
            </div>
        </div>
    </div>
</form>
<script src="~/API_Scripts/Expense_Account_retrieveExpenseAccount_APIClient.js"></script>
<script src="~/API_Scripts/Expense_Account_retrieveExpenseAccountList_APIClient.js"></script>
<script src="~/API_Scripts/Expense_Account_saveExpenseAccount_APIClient.js"></script>
<script src="~/API_Scripts/saveExpenseAccount_Model.js"></script>
<script src="~/API_Scripts/retrieveExpenseAccount_Model.js"></script>
<script src="~/API_Scripts/retrieveExpenseAccountList_Model.js"></script>
<script src="~/API_Scripts/ExpenseAccount.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>

<script>
    click_act_name = "ExpensesForm";
    click_ctrl_name = "Expenses";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>

<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {

        $(".adv_filter").attr("hdrtitle", "Expenses Details");
        $(".adv_filter").attr("fltid", "Expenses_fltr");
        $(".Export").attr("hdrtitle", "Expenses List");
        $(".Export").attr("SubTreeId", "Expenses");
        list_grid_id = "Expenses_grid";

        Screen_Id = "EXPACC";
        permission = sec_Permission(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        filterhover();
    });

</script>
<script>
    function listpageloadfetch() {
        try {
            var formval = form_Serialize("frm_expenses_form");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";
            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Filter = obj_val;
            retrieve_expense_list(data);
            //setlocalStorage('flt_condition', "");
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function load_master_code() {
        try {
            debugger;
            var data = {};
            var context = WebAPIProxy.getContext();
            data.userId = context.userId
            data.orgnId = context.orgnId
            data.locnId = context.locnId
            data.localeId = context.localeId
            data.screen_Id = "EXPACC";
            var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    var status_Priority = [];
    function listgrid(data) {
        try {
            $.each(data, function (index, value) {
                var flag = false;
                $.each(status_Priority, function (sindex, svalue) {
                    if (svalue == value.status_desc) {
                        flag = true;
                    }
                });
                if (flag == false) {
                    status_Priority.push(value.status_desc);
                }
            });
            $("#Expenses_grid").kendoGrid(
                {
                    dataSource: {
                        data: data,
                        pageSize: 20,
                        change: function (e) {
                            setTimeout(function () {
                                var gd = $("#Expenses_grid").data("kendoGrid");
                                filter_row(gd);
                                $('.k-i-close').css('display', 'none');
                                $('button.k-button-icon').css('display', 'none');
                                $('#Expenses_grid .k-input').prop('disabled', false);
                                $('#Expenses_grid .k-input').prop('readonly', true);
                            }, 1);
                        },
                    },
                    toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
                    excelExport: function (e) {
                        var gd = $("#Expenses_grid").data("kendoGrid");
                        var len = gd.dataSource._data.length;
                        var chkall = $('#chkall').is(':checked');
                        var chkfilter = $('#chkfilter').is(':checked');
                        var chktemp = $('#chktemp').is(':checked');
                        var twokendobox = true;
                        gd.dataSource.pageSize(len);
                        if (e.sender.dataSource._data.length == len) {
                            twokendobox = false;
                            exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                        }
                        else {
                            exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                        }
                        gd.dataSource.pageSize('10');
                        return false;
                    },
                    filterable: {
                        enabled: true,
                        delay: 1500,
                        mode: "menu, row",
                        height: 200,
                        click: function (e) {
                            var gd = $("#Expenses_grid").data("kendoGrid");
                            filter_row(gd);
                        }
                    },
                    filterMenuInit: function (e) {
                        var gd = $("#Expenses_grid").data("kendoGrid");
                        filter_row(gd);
                    },
                    change: selectRow,
                    height: 450,
                    sortable: true,
                    selectable: true,
                    selectable: "singl",   //  Grid Row Selection
                    pageable: {
                        refresh: false,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    navigatable: true,
                    groupable: false,
                    columns: [
                         {
                             field: "expense_rowid",
                             title: "Row Id",
                             width: 1,
                             hidden: true,
                         },
                        {
                            field: "cc_aggrloc_code",
                            title: "Collection Center code",
                            width: 1,
                            hidden: true,
                        },
                        {
                            field: "cc_aggrloc_desc",
                            title: "Collection Center Name",
                            filterable: {
                                cell: {
                                    operator: "contains",
                                    inputWidth: 1500
                                }
                            }
                        },
                        {
                            field: "expense_no",
                            title: "Expense ID",
                            filterable: {
                                cell: {
                                    operator: "contains",
                                    inputWidth: 1500
                                }
                            }
                        },
                 {
                     field: "finyear_code",
                     title: "Financial Year code",
                     width: 1,
                     hidden: true,
                 },
                 {
                     field: "finyear_desc",
                     title: "Financial Year",
                     filterable: {
                         cell: {
                             operator: "contains",
                             inputWidth: 1500
                         }
                     }
                 },
                  {
                      field: "status_code",
                      title: "STATUS Id",
                      width: 1,
                      hidden: true,
                  },
                  {
                      field: "status_desc",
                      title: "Status",
                      filterable: {
                          ui: statusFilter,
                          cell: {
                              operator: "contains",
                              inputWidth: 1500
                          }
                      }
                  },
                    ]
                });

            $(".k-dropdown-operator").css('display', 'none');
            $("#Expenses_grid .k-input").attr('disabled', 'false');
        }

        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function selectRow() {
        try {
            var grid = $("#Expenses_grid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            setlocalStorage("ls_pageList", selectedItem);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }


</script>


<script>
    $("#btn_Edit").bind("click", function () {
        getSerializedSelectedRows('edit');
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('view');
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../Expenses/ExpensesForm";
    });

    function getSerializedSelectedRows(mode) {
        try {
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");
                if (items.length == 0) {
                    kendoAlert("Please select records");
                }
                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../Expenses/ExpensesForm";
                    }
                    else if (mode == "view") {
                        btn_onClick('View');
                        location.href = "../Expenses/ExpensesForm";
                    }
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>
<script>
    function generate_expense_list(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                $("#gd_expenses").empty();
                $("#gd_expenses").append("<div id='Expenses_grid'></div>");
                listgrid(data);
            }
            else {
                listgrid([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>













