@{
    ViewBag.Form = "Farmer Loan Application";
    Layout = "~/Views/Shared/FormViewLayout1.cshtml";
}

<form id="frm_farmerloanapp" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtmember_id" class="col-sm-5 control-label required">Member ID</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtmember_id" class="form-control" name="fpomember_code" maxlength="100" readonly>
                            <input id="txtaggrorgn_code" name="fpoorgn_code" type="hidden" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <div class="col-sm-4" style="right:0;">
                            <a class="HelpWindow fa fa-search fa-lg" role="button" id="pay_help1" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Farmer Details" searchid="S10" data-target="#HelpModal" onclick=transfer(this,"form","","form_control"); title="Search" style="font-size: 19px; margin-left: 0px; margin-top: 10px;"></a>
                            @*<button type="button" class="btn btn-info"><span class="glyphicon glyphicon-search"></span></button>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtfarmer_code" class=" col-sm-5 control-label required">Farmer ID</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtfarmer_code" class="form-control" name="farmer_code" maxlength="50" readonly>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtfarmer_name" class="col-sm-5 control-label required">Farmer Name</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtfarmer_name" class="form-control" name="farmer_name" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtfarmer_surname" class="col-sm-5 control-label required">Farmer Surname</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtfarmer_surname" name="sur_name" class="form-control" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="application_date" class=" col-sm-5 control-label required">Application Date</label>
                        <div class="col-sm-6">
                            <input class="cusDate" data-role='datepicker' id="txtValidity" onkeypress="return date_validate(event)" data-checkdate-msg="Enter Valid Date" name="app_date" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="cmbfl_scheme" class="col-sm-5 control-label required">FL Scheme</label>
                        <div class="col-sm-6">
                            <input id="cmbfl_scheme" data-role="filtercombo" name="loanscheme_code" style="width:100%">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtinterest_rate" class=" col-sm-5 control-label required">Interest Rate</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtinterest_rate" name="interest_rate" class="form-control" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txttenor" class=" col-sm-5 control-label required">Tenure</label>
                        <div class="col-sm-6">
                            <input type="text" id="txttenor" class="form-control" name="repayment_in_yrs" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="loanamt_applied" class="col-sm-5 control-label required">Loan Amount</label>
                        <div class="col-sm-6">
                            <input type="text" id="loanamt_applied" class="form-control" name="loan_amount" maxlength="15">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="cmbbene_type" class=" col-sm-5 control-label required">Beneficiary Type</label>
                        <div class="col-sm-6">
                            <input id="cmbbene_type" data-role="filtercombo" name="beneficiary_type" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtbene_name" class=" col-sm-5 control-label required">Beneficiary Name</label>
                        <div class=" col-sm-6">
                            <input type="text" id="txtbene_name" class="form-control" name="beneficiary_name" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="cmbacc_type" class="col-sm-5 control-label required">Account Type</label>
                        <div class="col-sm-6">
                            <input id="cmbacc_type" data-role="filtercombo" name="bank_acc_type" style="width:100%" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtacc_no" class=" col-sm-5 control-label required">Account No</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtacc_no" class="form-control" name="bank_acc_no" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtbank" class=" col-sm-5 control-label required">Bank</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtbank" class="form-control" name="bank_code" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtifsc_code" class=" col-sm-5 control-label required">IFSC Code</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtifsc_code" class="form-control" name="bank_ifsc_code" maxlength="50" readonly>
                        </div>
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtsanctioned_date" class=" col-sm-5 control-label required">Sanctioned Date</label>
                        <div class="col-sm-6">
                            <input class="cusDate" data-role='datepicker' id="txtsanctioned_date" onkeypress="return date_validate(event)" disabled data-checkdate-msg="Enter Valid Date" name="sanctioned_date" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xs-12">
                <div id="div_Comments">
                    <label>Comments:</label>
                    <textarea id="txtremarks" rows="4" cols="20" style="width:1180px;height:77px;" class="form-control" name="app_remark"></textarea>
                </div>
                <input type="hidden" id="loanapp_rowid" name="loanapp_rowid" />
                <input type="hidden" id="txtMode" name="mode_flag" value="I">
                <input type="hidden" id="status_code" name="status_code">
                <input type="hidden" id="txtlookup" value="false">
                <input type="hidden" id="fpoorgn_code" name="fpoorgn_code">
                <input type="hidden" id="app_status" name="app_status">
                <input type="hidden" id="min_amt" name="min_amt">
                <input type="hidden" id="max_amt" name="max_amt">
                <input type="hidden" id="bal_amt" name="bal_amt">
                <input type="hidden" id="beneficiary" name="beneficiary">
                <input type="hidden" id="repayment_in_months" name="repayment_in_months" value="0">
                <input type="hidden" id="hnd_beneficiary">
                <input type="hidden" id="hnd_accountno">
                <input type="hidden" id="hnd_accounttype">
                <input type="hidden" id="hnd_bank">
                <input type="hidden" id="hnd_ifsccode">



            </div>
        </div>
    </div>
</form>

<script src="~/API_Scripts/Farmer_Loan_retrieveProcessFLApp_APIClient.js"></script>
<script src="~/API_Scripts/Farmer_Loan_saveProcessFLApp_APIClient.js"></script>
<script src="~/API_Scripts/retrieveProcessFarmerLoanApp_Model.js"></script>
<script src="~/API_Scripts/Farmer_Loan_retrieveSetupFLScheme_APIClient.js"></script>
<script src="~/API_Scripts/retrieveSetupFarmerLoanScheme_Model.js"></script>
<script src="~/API_Scripts/saveProcessFarmerLoanApp_Model.js"></script>
<script src="~/API_Scripts/retrieveFarmerLoanScheme_Model.js"></script>
<script src="~/API_Scripts/Farmer_Loan_retrieveFarmerLoanScheme_APIClient.js"></script>
<script src="~/API_Scripts/FarmerLoan_Schema_Setup.js"></script>
<script src="~/API_Scripts/FarmerLoan.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>
<script src="~/CommonScripts/Common_func.js"></script>
<script>
    click_act_name = "FarmerLoanAppList";
    click_ctrl_name = "FarmerLoanApp";
    form_list_url = '/' + click_ctrl_name + '/' + click_act_name;
</script>
<script>
    $(document).ready(function () {
        kendodate_format();
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#frm_farmerloanapp");
        kendo.init(container);
        container.kendoValidator({
        });
        Screen_Id = "FLAN";
        permission = sec_Permission(Screen_Id);
        load_master_code();
        if (permission.auth == false)
            $("#div_Comments").hide();
        else
            $("#div_Comments").show();
        //var data = [];
        var org_id = getlocalStorage('org_id');
        $('#fpoorgn_code').val(org_id);

        var org = getlocalStorage('org_id');
        $('#txtaggrorgn_code').val(org);

        $("#common_id").text("Application Ref.No");
        $(".file_attach").attr("hdrtitle", "Farmer Loan Application");
        $(".notes").attr("hdrtitle", "Farmer Loan Application");
        $("#lblForm_menuid").text("FLAN");

        var FLScheme = "";
        $("#cmbfl_scheme").empty();
        FLScheme = grid_comboScreen_mastercodes("SCHECODE");
        filter_combobox("cmbfl_scheme", FLScheme);

        var FLBeneficiary = "";
        $("#cmbbene_type").empty();
        FLBeneficiary = grid_comboScreen_mastercodes("QCD_FL_BENETYPE");
        filter_combobox("cmbbene_type", FLBeneficiary);

        var AccType = "";
        $("#cmbacc_type").empty();
        AccType = grid_comboScreen_mastercodes("QCD_BANKACCTYPE");
        filter_combobox("cmbacc_type", AccType);

        $("#txtValidity").kendoDatePicker({
            max: new Date(),// sets max date to Jan 1st, 2013
            format: "dd/MM/yyyy"
        });

        if (getlocalStorage('btn_clk_val') == "Create") {
            $('#divCreate #review').hide();
            $("#bottom_menus").hide();
            $("#status_code").val("A");
            $("#DocStat").val("New");

        }
        else if (getlocalStorage('btn_clk_val') == "View" || getlocalStorage('btn_clk_val') == "Edit") {
            if (getlocalStorage("ls_pageList") != undefined) {
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("frm_farmerloanapp");
                var obj_val = JSON.parse(formval);
                if (obj_val != undefined) {
                    obj_val.loanapp_rowid = data.loanapp_rowid;
                    $("#loanapp_rowid").val(data.loanapp_rowid);
                    $("#txtcommon_id").val(data.loanapp_no);
                    var data = {};
                    data.context = WebAPIProxy.getContext();
                    data.context.Header = obj_val;
                    retrieve_FarmerLoan_details(data);
                    $("#txtMode").val("U");
                    $("#div_Comments").show();
                    setlocalStorage('doc_no', $("#txtcommon_id").val());
                    localStorage.docno = $("#loanapp_rowid").val();
                    setlocalStorage('doc_row_id', $("#loanapp_rowid").val());

                }
            }
        }

        if (permission.auth == true) {

            $("#txtremarks").removeAttr("readonly");

            $("#txtremarks").prop("disabled", false);
            field_disable();
            $("#cmbfl_scheme").data("kendoComboBox").enable(false);
        }
        if (permission.auth != true && getlocalStorage('btn_clk_val') == "Edit") {
            field_enable();
            if ($("#cmbbene_type").data('kendoComboBox').value() != 'QCD_FL_Supplier' || $("#DocStat").val() != 'Active') {
                $("#cmbbene_type").data("kendoComboBox").enable(false);
                $("#cmbacc_type").data("kendoComboBox").enable(false);
                $("#txtacc_no").attr("readonly");
                $("#txtacc_no").prop("disabled", true);
                $("#txtbene_name").attr("readonly");
                $("#txtbene_name").prop("disabled", true);
                $("#txtbank").attr("readonly");
                $("#txtbank").prop("disabled", true);
                $("#txtifsc_code").attr("readonly");
                $("#txtifsc_code").prop("disabled", true);
            }
        }
        $('#cmbfl_scheme').change(function () {
            //Call FetchLoanShemeDetails
            fetch_LoanShemeDetails(this.value);

        });
        function load_master_code() {
            try {
                debugger;
                var data = {};
                var context = WebAPIProxy.getContext();
                data.userId = context.userId
                data.orgnId = context.orgnId
                data.locnId = context.locnId
                data.localeId = context.localeId
                data.screen_Id = "FLAN";
                var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
            }

            catch (err) {
                javascript_log4j_root(arguments.callee.name, err);
            }
        }
        $("#loanamt_applied").focusout(function () {
            var min_amt = parseFloat($('#min_amt').val());
            var max_amt = parseFloat($('#max_amt').val());
            var bal_amt = parseFloat($('#bal_amt').val());
            var loanamt = parseFloat($("#loanamt_applied").val());

            if (loanamt > bal_amt) {

                kendoAlert("Insufficient balance amount for this scheme to apply");
                $("#loanamt_applied").val("");
                return;
            }
            if (loanamt < min_amt) {
                kendoAlert("Loan amount does't meet minimum applicable amount");
                $("#loanamt_applied").val("");
                return;
            }
            if (loanamt > max_amt) {
                kendoAlert("Loan amount exeed the maximum applicable amount");
                $("#loanamt_applied").val("");
                return;
            }


        }
        );
        $('#HelpModal').on('hide.bs.modal', function (e) {
            if ($("#txtmember_id").val() != undefined && $("#txtmember_id").val() != "") {

            }
        });
        $("input[id*='loanamt_applied']").keydown(function (event) {

            if (event.shiftKey == true) {
                event.preventDefault();
            }

            if ((event.keyCode >= 48 && event.keyCode <= 57) ||
                (event.keyCode >= 96 && event.keyCode <= 105) ||
                event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 ||
                event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190) {

            } else {
                event.preventDefault();
            }

            if ($(this).val().indexOf('.') !== -1 && event.keyCode == 190)
                event.preventDefault();
            //if a decimal has been added, disable the "."-button
        });
        //field_disable();
    });

</script>

<script>
    function fetch_LoanShemeDetails(loanschemeid) {
        var org_id = getlocalStorage('org_id');
        var formval = form_Serialize("frm_farmerloanapp");
        var obj_val = JSON.parse(formval);
        if (obj_val != undefined) {
            obj_val.fpoorgn_code = org_id;
            obj_val.loanscheme_rowid = loanschemeid;
            var data1 = {};
            data1.context = WebAPIProxy.getContext();
            data1.context.Header = obj_val;
            retrieve_FarmerLoanScheme_details(data1);

        }
    }

    function generate_LoanScheme_header(res) {
        if (res != null) {
            $("#txtinterest_rate").removeAttr("readonly");
            $("#txtinterest_rate").prop("disabled", false);
            $("#txttenor").removeAttr("readonly");
            $("#txttenor").prop("disabled", false);
            $('#txtinterest_rate').val(res.interest_rate);
            $('#txttenor').val(res.repayment_in_yrs);
            $('#min_amt').val(res.min_loan_amount);
            $('#max_amt').val(res.max_loan_amount);
            $('#bal_amt').val(res.lend_balance_amount);
            $('#beneficiary').val(res.tp_beneficiary_flag);
            $("#txtinterest_rate").attr("readonly");
            $("#txtinterest_rate").prop("disabled", true);
            $("#txttenor").attr("readonly");
            $("#txttenor").prop("disabled", true);
            if (res.tp_beneficiary_flag == "QCD_NO") {
                $("#cmbbene_type").data("kendoComboBox").enable(true);
                $("#cmbbene_type").data("kendoComboBox").value("QCD_FL_Farmer");
                $("#cmbacc_type").data("kendoComboBox").value($("#hnd_accounttype").val());
                $("#cmbbene_type").data("kendoComboBox").enable(false);
                $("#cmbacc_type").data("kendoComboBox").enable(false);
                $("#txtbene_name").val($("#hnd_beneficiary").val());
                $("#txtacc_no").val($("#hnd_accountno").val());
                $("#txtbank").val($("#hnd_bank").val());
                $("#txtifsc_code").val($("#hnd_ifsccode").val());
                $("#txtacc_no").attr("readonly");
                $("#txtacc_no").prop("disabled", true);
                $("#txtbene_name").attr("readonly");
                $("#txtbene_name").prop("disabled", true);
                $("#txtbank").attr("readonly");
                $("#txtbank").prop("disabled", true);
                $("#txtifsc_code").attr("readonly");
                $("#txtifsc_code").prop("disabled", true);
            }
            else {
                $("#cmbbene_type").data("kendoComboBox").enable(true);
                $("#cmbbene_type").data("kendoComboBox").value("QCD_FL_Supplier");
                $("#cmbbene_type").data("kendoComboBox").enable(false);
                $("#cmbacc_type").data("kendoComboBox").enable(true);
                var Acc = "";
                $("#cmbacc_type").empty();
                Acc = grid_comboScreen_mastercodes("QCD_BANKACCTYPE");
                filter_combobox("cmbacc_type", Acc);
                $("#cmbacc_type").data("kendoComboBox").value("");

                $("#txtacc_no").removeAttr("readonly");
                $("#txtacc_no").prop("disabled", false);
                $("#txtbene_name").removeAttr("readonly");
                $("#txtbene_name").prop("disabled", false);
                $("#txtbank").removeAttr("readonly");
                $("#txtbank").prop("disabled", false);
                $("#txtifsc_code").removeAttr("readonly");
                $("#txtifsc_code").prop("disabled", false);

                $("#txtacc_no").val("");
                $("#txtbene_name").val("");
                $("#txtbank").val("");
                $("#txtifsc_code").val("");
                // $("#cmbacc_type").data("kendoComboBox").enable(false);
                //var FLBeneficiary = "";
                //$("#cmbbene_type").empty();
                //FLBeneficiary = grid_comboScreen_mastercodes("QCD_FL_BENETYPE");
                //filter_combobox("cmbbene_type", FLBeneficiary);
            }

        }
    }
    function generate_farmer_loan_schema_subvention() {
    }
    function field_enable() {
        $("#txtinterest_rate").removeAttr("readonly");
        $("#txtinterest_rate").prop("disabled", false);
        $("#txttenor").removeAttr("readonly");
        $("#txttenor").prop("disabled", false);
        $("#cmbfl_scheme").data("kendoComboBox").enable(true);
        $("#cmbbene_type").data("kendoComboBox").enable(true);
        $("#cmbacc_type").data("kendoComboBox").enable(true);
        $("#txtacc_no").removeAttr("readonly");
        $("#txtacc_no").prop("disabled", false);
        $("#txtbene_name").removeAttr("readonly");
        $("#txtbene_name").prop("disabled", false);
        $("#txtbank").removeAttr("readonly");
        $("#txtbank").prop("disabled", false);
        $("#txtifsc_code").removeAttr("readonly");
        $("#txtifsc_code").prop("disabled", false);
    }
    function field_disable() {
        $("#txtinterest_rate").attr("readonly");
        $("#txtinterest_rate").prop("disabled", true);
        $("#txttenor").attr("readonly");
        $("#txttenor").prop("disabled", true);
        $("#cmbbene_type").data("kendoComboBox").enable(false);
        if ($("#cmbbene_type").data('kendoComboBox').value() != 'QCD_FL_Supplier' || $("#DocStat").val() != 'Active') {
            $("#cmbacc_type").data("kendoComboBox").enable(false);
            $("#txtacc_no").attr("readonly");
            $("#txtacc_no").prop("disabled", true);
            $("#txtbene_name").attr("readonly");
            $("#txtbene_name").prop("disabled", true);
            $("#txtbank").attr("readonly");
            $("#txtbank").prop("disabled", true);
            $("#txtifsc_code").attr("readonly");
            $("#txtifsc_code").prop("disabled", true);
        }
        if (permission.auth != true) {
            $("#txtremarks").attr("readonly");
            $("#txtremarks").prop("disabled", true);
        }
    }
</script>
<script>
    function save() {
        try {
            field_enable();
            $("#txtlookup").val("false");
            if ($("#txtMode").val() == "S") {
                $("#txtMode").val('U');

            }
            var formval = form_Serialize("frm_farmerloanapp");
            var obj_val = JSON.parse(formval);
            if ($("#loanapp_rowid").val() == undefined || $("#loanapp_rowid").val() == "") {
                obj_val.loanapp_rowid = 0;
            }
            else {
                obj_val.loanapp_rowid = $("#loanapp_rowid").val();
            }
            if ($("#loanapp_no").val() == undefined || $("#loanapp_no").val() == "") {
                obj_val.loanapp_no = "0";
            }
            else {
                obj_val.loanapp_no = $("#loanapp_no").val();
            }
            if (obj_val.loan_no == undefined || obj_val.loan_no == "") {
                obj_val.loan_no = "0";
            }
            else {
                obj_val.loan_no = obj_val.loan_no;
            }
            if (obj_val.app_date == undefined || obj_val.app_date == "") {
                obj_val.app_date = "0";
            }
            else {
                obj_val.app_date = getFormated_StringDate(obj_val.app_date);
            }

            if (obj_val.app_status == undefined || obj_val.app_status == "") {
                obj_val.app_status = "0";
            }
            else {
                obj_val.app_status = obj_val.app_status;
            }

            if (obj_val.status_code == undefined) {
                obj_val.status_code = "A";
            }
            if (obj_val.row_timestamp == undefined) {
                obj_val.row_timestamp = "0";
            }
            if (obj_val.sanctioned_date == undefined) {
                obj_val.sanctioned_date = "";
            }
            if (obj_val.sanctioned_amount == undefined) {
                obj_val.sanctioned_amount = "0";
            }
            if (obj_val.payment_mode == undefined) {
                obj_val.payment_mode = "0";
            }
            if (obj_val.app_note == undefined) {
                obj_val.app_note = "0";
            }

            field_disable();
            var data_save = {};
            data_save.context = WebAPIProxy.getContext();
            data_save.context.Header = obj_val;
            save_FarmerLoan_details(data_save);
        }
        catch (err) {
            field_disable();
            javascript_log4j_root(arguments.callee.name, err);
        }

    }
    function review() {
        try {
            $("#txtMode").val('R');
            save();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function approve() {
        try {
            $("#txtMode").val('A');
            save();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function reject() {
        try {
            $("#txtMode").val('J');
            save();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>
<script>

    function get_FarmerLoan_details(res) {
        var formval = form_Serialize("frm_farmerloanapp");
        var obj_val = JSON.parse(formval);
        if (obj_val != undefined) {
            obj_val.loanapp_rowid = res;
            var data_res = {};
            data_res.context = WebAPIProxy.getContext();
            data_res.context.Header = obj_val;
            retrieve_FarmerLoan_details(data_res);
        }
    }

    function generate_Farmer_header(res) {
        if (res != null) {

            if ($("#txtlookup").val() == "false") {
                $("#txtcommon_id").val(res.loanapp_no);
                $("#txtmember_id").val(res.fpomember_code);
                $("#txtfarmer_code").val(res.farmer_code);
                $("#txtfarmer_name").val(res.farmer_name);
                $("#txtfarmer_surname").val(res.sur_name);
                //$("#loanapp_rowid").val(res.loanapp_rowid);
                $("#txtValidity").val(res.app_date);
                $("#cmbfl_scheme").data("kendoComboBox").value(res.loanscheme_code);
                $("#loanamt_applied").val(res.loan_amount);
                $("#cmbbene_type").data("kendoComboBox").value(res.beneficiary_type);
                $("#txtbene_name").val(res.beneficiary_type_desc);
                $("#txtinterest_rate").val(res.interest_rate);
                $("#txttenor").val(res.repayment_in_yrs);
                $('#cmbacc_type').data("kendoComboBox").value(res.bank_acc_type);
                $("#txtacc_no").val(res.bank_acc_no);
                $("#txtbank").val(res.bank_code);
                $("#txtifsc_code").val(res.bank_ifsc_code);
                $("#txtsanctioned_date").val(res.sanctioned_date);
                $("#txtremarks").val(res.app_remark);
                $("#mode_flag").val(res.mode_flag);
                $("#DocStat").val(res.status_desc);
                $("#status_code").val(res.status_code);
            }
            if (res.status_code == 'A') {
                $("#divEdit #deactivate").removeAttr("disabled");
                $("#divEdit #deactivate").prop("disabled", false);
            }
            else {
                $("#divEdit #deactivate").attr("disabled");
                $("#divEdit #deactivate").prop("disabled", true);
            }
        }
        field_disable();
    }
</script>

<script>
    function form_control() {
        var control_Name = [
            { "dataCol": "fpomember_code", "controlId": "txtmember_id", "type": "Text" },
            { "dataCol": "farmer_code", "controlId": "txtfarmer_code", "type": "Text" },
            { "dataCol": "member_name", "controlId": "txtfarmer_name", "type": "Text" },
            { "dataCol": "member_sur_name", "controlId": "txtfarmer_surname", "type": "Text" },
            { "dataCol": "bank_acc_no", "controlId": "txtacc_no", "type": "Text" },
            { "dataCol": "bank_acc_type", "controlId": "cmbacc_type", "type": "Combobox" },
            { "dataCol": "bank_code", "controlId": "txtbank", "type": "Text" },
            { "dataCol": "ifsc_code", "controlId": "txtifsc_code", "type": "Text" },
            { "dataCol": "member_name", "controlId": "hnd_beneficiary", "type": "Text" },
            { "dataCol": "bank_acc_no", "controlId": "hnd_accountno", "type": "Text" },
            { "dataCol": "bank_acc_type", "controlId": "hnd_accounttype", "type": "Text" },
            { "dataCol": "bank_code", "controlId": "hnd_bank", "type": "Text" },
            { "dataCol": "ifsc_code", "controlId": "hnd_ifsccode", "type": "Text" }

        ];
        return control_Name;

    }
    function trans_input_data() {
        var trans_coll = [
            { "trasfer": "Yes", "dataCol": "fpofarmer_code", "controlId": "txtmember_id", "grid_id": "", "grid_row_col": "" },
             //{ "trasfer": "Yes", "dataCol": "bank_acc_type", "controlId": "cmbacc_type", "grid_id": "", "grid_row_col": "" },
              { "trasfer": "Yes", "dataCol": "fpoorgn_code", "controlId": "txtaggrorgn_code", "grid_id": "", "grid_row_col": "" },
            { "trasfer": "No", "dataCol": "", "controlId": "", "grid_id": "", "grid_row_col": "" }
        ];

        return trans_coll;
    }
</script>
<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
          && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>
