
@{
    ViewBag.Form = "Downloadable Templates ";
    Layout = "~/Views/Shared/FormViewLayout1.cshtml";
}
<form class="form-horizontal" id="frm_attach_temp">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row" style="display :none">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="txt_status_code" class="col-sm-4 control-label">Status Code:</label>
                        <div class="col-sm-8">
                            <input id="txt_status_code" name="status_code" type="hidden" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="display :none">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="txt_Row_Id" class="col-sm-4 control-label">Row Id:</label>
                        <div class="col-sm-8">
                            <input id="txt_Row_Id" name="Row_Id" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="display :none">
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="txt_Mode" class="col-sm-4 control-label">Mode:</label>
                        <div class="col-sm-8">
                            <input id="txt_Mode" name="Mode" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="cmb_temp_group" class="col-sm-4 control-label required">Menu Id:</label>
                        <div class="col-sm-8">
                            <input id="cmb_temp_group" name="menu_id" data-role="filtercombo" style="width :100%" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" id="cmbtemp">
                    <div class="form-group">
                        <label for="cmb_temp_subgroup" class="col-sm-4 control-label ">Template Type:</label>
                        <div class="col-sm-8">
                            <input id="cmb_temp_subgroup" name="tempType" data-role="filtercombo" style="width :100%" onchange="tmpTypeChange()" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="txtTempName" id="lbltemp" class="col-sm-2 control-label ">TemplateName:</label>
                        <div class="col-sm-9">
                            <input type="text" id="txtTempName" name="tempName" class="form-control" readonly />
                        </div>
                        <div class="col-sm-1">
                            <input type="file" id="templateFile" style="display:none;" onchange="tempFileChange(this);" />
                            <button type="button" id="btn_down" class="btn btn-sm btn-primary" disabled onclick="browseTemplateFile();">Browse</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="txt_notes" id="lblnotes" class="col-sm-2 control-label">Notes:</label>
                        <div class="col-sm-10">
                            <textarea id="txt_notes" name="notes" rows="3" style="width:90%"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="downloadTemp_Grid"></div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    click_act_name = "DownloadableTemplateList";
    click_ctrl_name = "DownloadableTemplate";
    form_list_url = '/' + click_ctrl_name + '/' + click_act_name;
</script>
<script>
    var value_type_list = '';
    var oldform_value = {};
    var menuId = "";

    $(document).ready(function () {
        menuId = getlocalStorage("MenuId");
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var formval = form_Serialize("frm_attach_temp");
        oldform_value.form = JSON.parse(formval);
        var container = $("#frm_attach_temp");
        kendo.init(container);
        container.kendoValidator({
        });
        listfetch();
        var list_in = "";
        $("#cmb_temp_group").empty();
        $("#cmb_temp_subgroup").empty();

        $(".file_attach").attr("hdrtitle", "Downloadable Templates");
        $(".notes").attr("hdrtitle", "Downloadable Templates");
        $("#lblForm_menuid").text("TEMPLATES");

        list_in = grid_comboScreen_mastercodes("ACTIVITY");
        filter_combobox("cmb_temp_group", list_in);

        list_in = grid_comboScreen_mastercodes("TEMP_TYPE");
        filter_combobox("cmb_temp_subgroup", list_in);

        dirty_modal();
        $("#ststus").hide();
        $("#txtcommon_id").hide();
        $("#review").hide();
        $("#common_id").hide();
        $(document).on('click', '.dirty_anger a:not([target="_blank"])', onAnchorClick);
        if (getlocalStorage('btn_clk_val') == "Create") {
            var profile_userID = getlocalStorage("User_Id_Value");//sessionStorage.getItem('User_Id_Value');
            $('#txt_status_code').val("New");
            $("#DocStat").val("New");
            $("#txtID").hide();
            $("#txtDate").hide();
            $("#DocStat").hide();
            $('#divCreate #btnSaveDraft').hide();
            $('#divCreate #btnDeleteDraft').hide();
            $("#lbldocNo").css("display", "none");
            $("#date").css("display", "none");

            $('#divCreate #review').hide();
            var formval = form_Serialize("frm_attach_temp");
            oldform_value.form = JSON.parse(formval);
            oldform_value.grid = getGridDataSource(["downloadTemp_Grid"]);
            $('#divCreate #btnDeleteDraft').attr("disabled", true);
        }
        else if (getlocalStorage('btn_clk_val') == "View" || getlocalStorage('btn_clk_val') == "Edit" || getlocalStorage('btn_clk_val') == "draft") {
            if (getlocalStorage("ls_pageList") != undefined) {
                var data = getlocalStorage("ls_pageList");
                $("#pageTotal").text(data.length);
                if (data.length != 0) {
                    $("#page").text("1");
                }
                else {
                    $("#page").text("0");
                }
                $('#divEdit #reviewEd').hide();
                $('#txt_status_code').val("Edit");
                $("#DocStat").val("Edit");
                $('#cmb_temp_group').data("kendoComboBox").enable(false);
                $("#txtID").hide();
                $("#txtDate").hide();
                $("#DocStat").hide();
                $("#lbldocNo").css("display", "none");
                $("#date").css("display", "none");
                $("#cmbtemp").hide();
                $("#txtTempName").hide();
                $("#templateFile").hide();
                $("#btn_down").hide();
                $("#txt_notes").hide();
                $('#divEdit #btnSaveDraft').hide();
                $('#divEdit #btnDeleteDraft').hide();
                $('#divEdit #deactivate').hide();
                $("#lbltemp").css("display", "none");
                $("#lblnotes").css("display", "none");

                var ScreenId = "TEMPLATE";
                var permission = sec_Permission(ScreenId);
                form_user_permission(permission);

                var tmpl_row = data.menu_rowid;
                $('#cmb_temp_group').data("kendoComboBox").value(data.activity_code);
                $("#txt_Row_Id").val(data.tmpl_rowid);
                single_fetch(tmpl_row);
                var formval = form_Serialize("frm_attach_temp");
                oldform_value.form = JSON.parse(formval);
                oldform_value.grid = getGridDataSource(["downloadTemp_Grid"]);
                setlocalStorage('doc_no', $("#cmb_temp_group").val());
                setlocalStorage('doc_row_id', $("#txt_Row_Id").val());
            }
        }

        $("#cmb_temp_group").change(function (evt) {
            var menu_id = $("#cmb_temp_group").val();
            single_fetch(menu_id);
            var grid = $("#downloadTemp_Grid").data("kendoGrid");
            grid.hideColumn(0);
        });
    });


    function load_master_code() {
        debugger;
        var data = {};
        var context = WebAPIProxy.getContext();
        data.userId = context.userId
        data.orgnId = context.orgnId
        data.locnId = context.locnId
        data.localeId = context.localeId
        data.screen_Id = "TEMPLATES";
        var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
    }


    function listfetch() {
        var data = [];
        listgrid(data);
    }

</script>
<script>
    function single_fetch(tmpl_rowid) {
        try {
            $("#downloadTemp_Grid").empty();
            $("#downloadTemp_Grid").kendoGrid();
            var data = {};
            data.userId = getlocalStorage('User_Id_Value');
            data.tmpl_rowid = tmpl_rowid;
            var temp_detail = ajaxcall_param_new("/DownloadableTemplate/fetch_DownloadDetails", data);
            if (temp_detail != undefined) {
                var temp_data = JSON.parse(temp_detail);
                if (temp_data.success == true) {
                    var data = JSON.parse(temp_data.template);
                    listgrid(data);
                    $('#cmb_temp_group').data("kendoComboBox").value(tmpl_rowid);
                    $('#cmb_temp_subgroup').data("kendoComboBox").value('');
                    $('#txt_notes').val('');
                    $('#txtTempName').val('');
                }
                else {
                    if ($('#frm_docno_setup #txt_Row_Id').val() == '0') {
                        $('#txtID').val('');
                        $('#txtExample').val('');
                        $('#DocStat').val('');
                        $('#txt_status_code').val('');
                        $('#txtDate').val('');
                        $('#cmb_temp_group').data("kendoComboBox").value('');
                        $('#cmb_temp_subgroup').data("kendoComboBox").value('');
                    }
                    else {
                        kendoAlert(temp_data.msg);
                    }
                    var data = [];
                    listgrid(data);
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function save() {
        try {
            $('#cmb_temp_group').data("kendoComboBox").enable(true);
            var formval = form_Serialize("frm_attach_temp");
            var down_temp = JSON.stringify($("#downloadTemp_Grid").data("kendoGrid").dataSource.data());
            var fileUpload = $("#templateFile").get(0);
            var files = fileUpload.files;
            var fileData = new FormData();
            fileData.append("upFiles", files[0]);
            fileData.append('formval', formval);
            fileData.append('down_temp', down_temp);
            fileData.append("userId", getlocalStorage('User_Id_Value'));
            var mode = $('#modevalue').text();
            fileData.append("mode", mode);
            $.ajax({
                url: '/DownloadableTemplate/save_Template',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    var res = JSON.parse(result);
                    kendoAlert(res.msg);
                    var row_id = $("#cmb_temp_group").val();
                    single_fetch(row_id);

                    if ($("#modevalue").text() == "New Mode") {
                        var grid = $("#downloadTemp_Grid").data("kendoGrid");
                        grid.hideColumn(0);
                    }
                    var formval = form_Serialize("frm_attach_temp");
                    oldform_value.form = JSON.parse(formval);
                    oldform_value.grid = getGridDataSource(["downloadTemp_Grid"]);
                    if (mode == "Edit Mode") {
                        $('#cmb_temp_group').data("kendoComboBox").enable(false);
                        // $("#downloadTemp_Grid").data("kendoGrid").showColumn(0);
                    }
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });

            return false;
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function tmpTypeChange() {
        $("#btn_down").attr("disabled", false);
        $("#txtTempName").val('');
    }

    function browseTemplateFile() {
        try {
            if ($("#cmb_temp_subgroup").val() == "EXCEL_TMPL") {
                $("#templateFile").attr("accept", ".xls,.xlsx");
            } else {
                $("#templateFile").removeAttr("accept");
            }

            $("#templateFile").click();


        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function tempFileChange(evt) {
        var data = evt;
        var name = evt.files[0].name.split(".");
        $("#txtTempName").val(name[0]);
        if ($("#cmb_temp_subgroup").val() == "EXCEL_TMPL") {
            var validExtensions = ".xlsx";
            var file = frm_attach_temp.templateFile.value;
            var ext = file.slice(file.lastIndexOf(".")).toLowerCase();
            if (validExtensions == ext) {
                return true;
            } else {
                kendoAlert("Please choose Excel(.xlsx) files only.");
                $("#txtTempName").val('');
                return false;
            }
        }
    }


    function listgrid(data) {
        try {
            $("#downloadTemp_Grid").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {
                                template_name: { editable: false },
                                type_desc: { editable: false },
                                note: { editable: true },
                            }
                        }
                    },
                    pageSize: 10,
                },
                height: 330,
                sortable: true,
                groupable: false,
                dataBinding: setDefaultValues,
                columns: [
                    {
                        command: [
                   {
                       name: "Delete",
                       id: "Delete",
                       imageClass: "fa fa-close",
                       click: function (e) {
                           var grid = $("#downloadTemp_Grid").data("kendoGrid");
                           var dataItem = $("#downloadTemp_Grid").data("kendoGrid").dataItem($(e.target).closest("tr"));
                           DeleteWindowEvent(e, dataItem, grid);
                           e.stopImmediatePropagation()

                       }
                   }], title: "&nbsp;", width: "30px",
                    },

                {
                    field: "type_desc",
                    title: " Template Type",
                    width: 350,
                },
                 {
                     field: "template_name",
                     title: "Template Name",
                     width: 350,
                 },
                {
                    field: "note",
                    title: "Note",
                    width: 450,
                },
                ],
                editable: true,
            });
            load_master_code();
            $(".k-dropdown-operator").css('display', 'none');
            $("#purgeTask_Grid .k-input").attr('disabled', 'false');
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function next(status, dirty) {
        try {
            if ($('#modevalue').text() != "View Mode") {
                var formval = form_Serialize("frm_attach_temp");
                var currentform_value = {};
                currentform_value.form = JSON.parse(formval);
                currentform_value.grid = getGridDataSource(["downloadTemp_Grid"]);
                var dirty_cond = check_dirty(oldform_value, currentform_value);
                if (dirty_cond == true && dirty == undefined) {
                    $("#dirtymodal_proceed").attr("onclick", "next('" + status + "','proceed')");
                    $(".custom_proceed_href").remove();
                    $("#dirtymodal_proceed").css("display", "block");
                    $('#custom_dirty').modal("show");
                }
                else {
                    var data_next = getPagination(status);
                    var menu_rowid = data_next.menu_rowid;
                    $('#page').text(current_pageIndex + 1);
                    $('#custom_dirty').modal("hide");
                    if (Global_row_id == menu_rowid) {
                        $('#frm_docno_setup #txt_Row_Id').val('0');
                        $("#txtID").val('');
                        $('#txtDate').val('');
                        $('#DocStat').val('');
                        $('#txt_status_code').val('');
                        data = [];
                        listgrid(data);
                    }
                    else {
                        single_fetch(menu_rowid);
                    }
                    var formval = form_Serialize("frm_attach_temp");
                    oldform_value.form = JSON.parse(formval);
                    oldform_value.grid = getGridDataSource(["downloadTemp_Grid"]);
                }
            }
            else {
                var data_next = getPagination(status);
                var menu_rowid = data_next.menu_rowid;
                $('#page').text(current_pageIndex + 1);
                single_fetch(menu_rowid);
                $('#custom_dirty').modal("hide");
                var formval = form_Serialize("frm_attach_temp");
                oldform_value.form = JSON.parse(formval);
                oldform_value.grid = getGridDataSource(["downloadTemp_Grid"]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function savedata() {

    }


    function template_delete(row_id, temp_name, file_path) {
        try {
            var data = {};
            data.rowId = row_id;
            data.tempname = temp_name;
            data.filepath = file_path;
            var ErpItem_detail = ajaxcall_param_new("/DownloadableTemplate/delete_template", data);
            if (ErpItem_detail != undefined) {
                var ErpItem_data = JSON.parse(ErpItem_detail);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>
