@{
    ViewBag.List = "Production Transaction";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}

<form id="production_transaction" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="row">
        <div class="col-xs-12">
            <div id="gd_production">
                <div id="production_tran_grid"></div>
            </div>
        </div>
    </div>
</form>
<script src="~/API_Scripts/Production_Transaction_PAWHS_getProductionTransaction_APIClient.js"></script>
<script src="~/API_Scripts/Production_Transaction_PAWHS_getProductionTransactionList_APIClient.js"></script>
<script src="~/API_Scripts/Production_Transaction_PAWHS_saveProductionTransaction_APIClient.js"></script>
<script src="~/API_Scripts/PAWHS_saveProductionTransaction_Model.js"></script>
<script src="~/API_Scripts/PAWHS_getProductionTransaction_Model.js"></script>
<script src="~/API_Scripts/PAWHS_getProductionTransactionList_Model.js"></script>
<script src="~/API_Scripts/PAWHSProductionTransaction.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script>
    click_act_name = "Productionmasterform";
    click_ctrl_name = "PWProductionmaster";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>
<script>
    $(document).ready(function () {
        var menuId = "";
        var permission = "";
        $(document).ready(function () {
            $("#btn_Edit").hide();
            $(".adv_filter").attr("hdrtitle", "Production Transaction Record");
            $(".adv_filter").attr("fltid", "ProductTransaction");
            $(".Export").attr("hdrtitle", "Production Transaction List");
            $(".Export").attr("SubTreeId", "PRODTRANS");
            list_grid_id = "production_tran_grid";

            listpageloadfetch();

            Screen_Id = "PRODTRANS";
            permission = sec_Permission(Screen_Id);
            page_load_list_permission(permission);
            setlocalStorage("ls_pageList", "");
            filterhover();
        });
    });
</script>


<script>

    function listpageloadfetch() {
        try {
            var formval = form_Serialize("production_transaction");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_FromValue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_FromValue = ".";
            }
            obj_val.FilterBy_ToValue = ".";

            var data = {};
            data.context = WebAPIProxy.getContext();;
            data.context.Filter = obj_val;
            var Context = data.context;
            $.ajax({
                type: "POST",
                url: '/PAWHSProductionTransaction/PAWHSProductionTransactionListfetch',
                dataType: 'json',
                data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, FilterBy_Option: Context.Filter.FilterBy_Option, FilterBy_Code: Context.Filter.FilterBy_Code, FilterBy_Fromvalue: Context.Filter.FilterBy_FromValue, FilterBy_ToValue: Context.Filter.FilterBy_ToValue }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    //var list = JSON.parse(response);
                    if (response.context.List != null) {
                        generate_productiontransaction_list(response.context.List);
                    }
                    else {
                        Productiongrid([]);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    var status_Priority = [];
    function Productiongrid(data) {
        try {
            $.each(data, function (index, value) {
                var flag = false;
                $.each(status_Priority, function (sindex, svalue) {
                    if (svalue == value.status_desc) {
                        flag = true;
                    }
                });
                if (flag == false) {
                    status_Priority.push(value.status_desc);
                }
            });
            $("#production_tran_grid").kendoGrid(
             {
                 dataSource: {
                     data: data,
                     pageSize: 20,
                     change: function (e) {
                         setTimeout(function () {
                             var gd = $("#production_tran_grid").data("kendoGrid");
                             filter_row(gd);
                             $('.k-i-close').css('display', 'none');
                             $('button.k-button-icon').css('display', 'none');
                             $('#production_tran_grid .k-input').prop('disabled', false);
                             $('#production_tran_grid .k-input').prop('readonly', true);

                         }, 1);
                     },
                 },
                 toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
                 excelExport: function (e) {
                     var gd = $("#production_tran_grid").data("kendoGrid");
                     var len = gd.dataSource._data.length;
                     var chkall = $('#chkall').is(':checked');
                     var chkfilter = $('#chkfilter').is(':checked');
                     var chktemp = $('#chktemp').is(':checked');
                     var twokendobox = true;
                     gd.dataSource.pageSize(len);
                     if (e.sender.dataSource._data.length == len) {
                         twokendobox = false;
                         exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                     }
                     else {
                         exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                     }
                     gd.dataSource.pageSize('10');
                     return false;
                 },
                 filterable: {
                     enabled: true,
                     delay: 1500,
                     mode: "menu, row",
                     height: 200,
                     click: function (e) {
                         var gd = $("#production_tran_grid").data("kendoGrid");
                         filter_row(gd);
                     }
                 },
                 filterMenuInit: function (e) {
                     var gd = $("#production_tran_grid").data("kendoGrid");
                     filter_row(gd);
                 },
                 change: selectRow,
                 height: 450,
                 sortable: true,
                 selectable: true,
                 selectable: "singl",   //  Grid Row Selection
                 pageable: {
                     refresh: false,
                     pageSizes: true,
                     buttonCount: 5
                 },
                 navigatable: true,
                 groupable: false,

                 columns: [
                      {
                         field: "Out_pro_tran_rowid",
                          title: "pro_tran_rowid",
                          width: 1,
                          hidden: true,
                      },
                      {
                          field: "Out_status_desc",
                          title: "Transcation Type",
                          filterable: {
                              cell: {
                                  operator: "contains",
                                  inputWidth: 1500
                              }
                          }
                      },
                       {
                           field: "Out_stage_start_datetime",
                           title: "Stage Start Time",
                           filterable: {
                               cell: {
                                   operator: "contains",
                                   inputWidth: 1500
                               }
                           }
                       },
                      {
                          field: "Out_stage_end_datetime",
                          title: "Stage End Time",
                          filterable: {
                              cell: {
                                  operator: "contains",
                                  inputWidth: 1500
                              }
                          }
                      },
                      {
                          field: "Out_stage_document_id",
                          title: "Stage Document ID",
                          filterable: {
                              cell: {
                                  operator: "contains",
                                  inputWidth: 1500
                              }
                          }
                      },
                      {
                          field: "Out_stage_description",
                          title: "Stage Descripition",
                          filterable: {
                              cell: {
                                  operator: "contains",
                                  inputWidth: 1500
                              }
                          }
                      },
                      {
                          field: "Out_fg_code",
                          title: "FG Code",
                          filterable: {
                              cell: {
                                  operator: "contains",
                                  inputWidth: 1500
                              }
                          }
                      },
                      {
                          field: "Out_fg_desc",
                          title: "FG Name",
                          filterable: {
                              cell: {
                                  operator: "contains",
                                  inputWidth: 1500
                              }
                          }
                      },
                      {
                          field: "Out_status_code",
                          title: "status_code",
                          width: 1,
                      },
                      
                  {
                      field: "Out_row_timestamp",
                      title: "row_timestamp",
                      width: 1,
                      hidden: true,
                  },
                 ]

             });
            $(".k-dropdown-operator").css('display', 'none');
            $("#production_tran_grid .k-input").attr('disabled', 'false');
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }

    function selectRow() {
        try {
            var grid = $("#production_tran_grid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            setlocalStorage("ls_pageList", selectedItem);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>


<script>
    $("#btn_Edit").bind("click", function () {
        getSerializedSelectedRows('edit');
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('view');
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../PAWHSProductionTransaction/TransactionStageForm";
    });
    function getSerializedSelectedRows(mode) {
        try {
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");
                if (items.length == 0) {
                    kendoAlert("Please select records");
                }

                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../PAWHSProductionTransaction/TransactionStageForm";
                    }
                    else if (mode == "view") {
                        btn_onClick('View');
                        location.href = "../PAWHSProductionTransaction/TransactionStageForm";
                    }
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function generate_productiontransaction_list(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                $("#gd_production").empty();
                $("#gd_production").append("<div id='production_tran_grid'></div>");
                Productiongrid(data);
            }
            else {
                Productiongrid([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>



