
@{
    ViewBag.List = "Transfer Request";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}
<form id="service_trans" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="row">       
            <div class="col-xs-12">
                <div id="gd_serName">
                    <div id="Service_grid_transfer"></div>
                </div>
        </div>
    </div>
</form>

<script src="~/API_Scripts/Service_Request_retrieveServiceRequestList_APIClient.js"></script>
<script src="~/API_Scripts/retrieveServiceRequestTransfer_Model.js"></script>
<script src="~/API_Scripts/Service_Request_saveServiceRequestTransfer_APIClient.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/API_Scripts/retrieveServiceRequestList_Model.js"></script>
<script src="~/API_Scripts/ServiceReqTransfer.js"></script>

<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        $(".adv_filter").attr("hdrtitle", "Transfer List Record");
        $(".adv_filter").attr("fltid", "ServiceDetail");
        $(".Export").attr("hdrtitle", "Sevice Request List");
        $(".Export").attr("SubTreeId", "SRVTRAN");
        listpageloadfetch();
        Screen_Id = "SRVTRAN";
        permission = sec_Permission(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
    });
</script>



<script>
    function listpageloadfetch() {
        var formval = form_Serialize("service_trans");
        var obj_val = JSON.parse(formval);
        obj_val.FilterBy_Option = "QCD_FPOSERVICE_CERTTRAN";
        obj_val.FilterBy_Code = ".";
        if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
            obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
        }
        else {
            obj_val.FilterBy_Fromvalue = ".";
        }
        obj_val.FilterBy_ToValue = ".";
        var data = {};
        data.context = WebAPIProxy.getContext();
        data.context.Filter = obj_val;
        var Context = data.context;
        $.ajax({
            type: "POST",
            data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, Filter: Context.Filter }),
            url: "/ServiceTransfer/ServiceList",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                debugger;
                if (response.context != null) {
                    generate_SerReqtrans_list(response.context.List)
                    //listgrid(response.context.List);
                    //SetPager(response.context.Filter.out_record_count)
                }
                else {
                    SerNamegrid([]);
                }
            },
            error: function (er) {
                alert(er)
                console.log(er)
            }

        });
        //retrieve_SerReqtrans_list(data);      
    }

    var status_Priority = [];
    function SerNamegrid(data) {
        $.each(data, function (index, value) {
            var flag = false;
            $.each(status_Priority, function (sindex, svalue) {
                if (svalue == value.status_desc) {
                    flag = true;
                }
            });
            if (flag == false) {
                status_Priority.push(value.status_desc);
            }
        });      
            $("#Service_grid_transfer").kendoGrid({
                dataSource: {
                    data: data,
                    pageSize: 20,
                    change: function (e) {
                        setTimeout(function () {
                            var gd = $("#Service_grid_transfer").data("kendoGrid");
                            filter_row(gd);
                            $('.k-i-close').css('display', 'none');
                            $('button.k-button-icon').css('display', 'none');
                            $('#Service_grid_transfer .k-input').prop('disabled', false);
                            $('#Service_grid_transfer .k-input').prop('readonly', true);
                        }, 1);
                    },
                },
                toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
                excelExport: function (e) {
                    var gd = $("#Service_grid_transfer").data("kendoGrid");
                    var len = gd.dataSource._data.length;
                    var chkall = $('#chkall').is(':checked');
                    var chkfilter = $('#chkfilter').is(':checked');
                    var chktemp = $('#chktemp').is(':checked');
                    var twokendobox = true;
                    gd.dataSource.pageSize(len);
                    if (e.sender.dataSource._data.length == len) {
                        twokendobox = false;
                        exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                    }
                    else {
                        exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                    }
                    gd.dataSource.pageSize('10');
                    return false;
                },
                filterable: {
                    enabled: true,
                    delay: 1500,
                    mode: "menu, row",
                    height: 200,
                    click: function (e) {
                        var gd = $("#Service_grid_transfer").data("kendoGrid");
                        filter_row(gd);
                    }
                },
                filterMenuInit: function (e) {
                    var gd = $("#Service_grid_transfer").data("kendoGrid");
                    filter_row(gd);
                },
                change: selectRow,
                height: 450,
                sortable: true,
                selectable: true,
                selectable: "singl",   //  Grid Row Selection
                pageable: {
                    refresh: false,
                    pageSizes: true,
                    buttonCount: 5
                },
                navigatable: true,
                groupable: false,
                columns: [
                     {
                        field: "Out_servicereq_rowid",
                         title: "servicereq_rowid",
                         hidden:true
                    },
                    {
                        field: "Out_servicereq_no",
                        title: "Service Request No",
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        width: 150

                    },
                    {
                        field: "Out_request_date",
                        title: "Request Date",
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        width: 150

                    },
                {
                    field: "Out_farmer_code",
                    title: "Farmer ID",
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    },
                    width: 150

                },
                {
                    field: "Out_fpomember_code",
                    title: "Member ID",
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    },
                    width: 150

                },
                {
                    field: "Out_farmer_name",
                    title: "Farmer Given Name",
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    },
                    width: 150

                },
                {
                    field: "Out_sur_name",
                    title: "Surname",
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    },
                    width: 150

                },
                {
                    field: "Out_certificate_no",
                    title: "Certificate No",
                    attributes: { style: "text-align:right;" },
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    },
                    width: 150

                },
                {
                    field: "Out_issued_date",
                    title: "Issued Date",
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    },
                    width: 150

                },

                   {
                       field: "Out_dist_from",
                       title: "Distinct From",
                       attributes: { style: "text-align:right;" },
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       },
                       width: 150

                   },
                    {
                        field: "Out_dist_to",
                        title: "Distinct To",
                        attributes: { style: "text-align:right;" },
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        width: 150

                    },
                   
                    {
                        field: "Out_request_type",
                        title: "Request Type",
                       
                        hidden: true
                    },
                     {
                         field: "Out_request_type_desc",
                         title: "Request Type",
                         filterable: {
                             cell: {
                                 operator: "contains",
                                 inputWidth: 1500
                             }
                         },
                         width: 150
                     },

                    {
                        field: "Out_requestsub_type",
                        title: "Request Sub Type",
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        hidden: true,
                        width: 150

                    },
                     {
                         field: "Out_requestsub_type_desc",
                         title: "requestsub_type_desc",
                         hidden: true
                     },
                      {
                          field: "Out_chklist_status_flag",
                          title: "chklist_status_flag",
                          hidden: true
                      },
                       {
                           field: "Out_sr_comments",
                           title: "sr_comments",
                           hidden: true
                       },
                    {
                        field: "Out_status_desc",
                        title: "Status",
                        filterable: {
                            cell: {
                                operator: "contains",
                                inputWidth: 1500
                            }
                        },
                        width: 150

                    },


                {
                    field: "Out_status_code",
                    title: "status_code",
                    hidden: true
                }],             

            });
    
    $(".k-dropdown-operator").css('display', 'none');
    $("#Service_grid_transfer .k-input").attr('disabled', 'false');
    }
    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }

    function selectRow() {
        var grid = $("#Service_grid_transfer").data("kendoGrid");
        var selectedItem = grid.dataItem(grid.select());
        setlocalStorage("ls_pageList", selectedItem);
    }

 

</script>
<script>
    $("#btn_Edit").bind("click", function () {
        getSerializedSelectedRows('edit');
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('view');
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../ServiceTransfer/ServiceTransferForm";
    });
    function getSerializedSelectedRows(mode) {
        try {
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");
                if (items.length == 0) {
                    kendoAlert("Please select records");
                }

                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../ServiceTransfer/ServiceTransferForm";
                    }
                    else if (mode == "view") {
                        btn_onClick('View');
                        location.href = "../ServiceTransfer/ServiceTransferForm";
                    }
                }
            }
        }
        catch (err) {

        }

    }
</script>
<script>
    function generate_SerReqtrans_list(res) {
        if (res != null) {
            var data = changedataType(res);
            $("#gd_serName").empty();
            $("#gd_serName").append("<div id='Service_grid_transfer'></div>");
            SerNamegrid(data);
        }
        else {
            SerNamegrid([]);
        }
    }

    function listRefresh() {
        setlocalStorage('flt_condition', "");
        listpageloadfetch();
    }
</script>


