@{
    ViewBag.Form = "Farmer Profile";
    ViewBag.helpName = "FarmerProfile.html";
    Layout = "~/Views/Shared/FormViewLayout1.cshtml";
}
<script src="~/CommonScripts/common.js"></script>
<script src="~/CommonScripts/tamil.js"></script>
<script>
    $(document).ready(function () {

        $("#bottom_menus").hide();
        //farmer name
        langTranslate('txtFarmer_nameEng', 'txtFarmer_nameTn');
        $("#txtFarmer_nameTn").on("keypress", function (e) {
            convertThis(e);
        });
        //surname
        langTranslate('txtFHWS_nameEn', 'txtFHWS_nameIN');
        $("#txtFHWS_nameIN").on("keypress", function (e) {
            convertThis(e);
        });
        //father name
        langTranslate('txtFHW_nameEn', 'txtFHW_nameIn');
        $("#txtFHW_nameIn").on("keypress", function (e) {
            convertThis(e);
        });
        //address 1
        langTranslate('txtaddressEn', 'txtaddressIn');
        $("#txtaddressIn").on("keypress", function (e) {
            convertThis(e);
        });
        //address 2
        langTranslate('txtaddress2En', 'txtaddress2In');
        $("#txtaddress2In").on("keypress", function (e) {
            convertThis(e);
        });

        function langTranslate(src, dest) {
            try {
                $("#" + src).focusout(function () {
                    var id = $('#' + src).val();
                    $("#HelpDiv").hide();
                    if (id != "") {

                        $.ajax({
                            url: '@Url.Action("Foo", "ListViewMaker")',
                            type: 'GET',
                            dataType: 'json',
                            cache: false,
                            data: { 'id': id },
                            success: function (result) {
                                $('#' + dest).val(decodeEntities(result));
                            },
                            error: function () {
                                alert('Error occured');
                            }
                        });
                    }
                    else {
                        $('#' + dest).val("");
                        $("#HelpDiv").hide();
                    }

                })
                $('#' + dest).focus(function () {
                    $("#HelpDiv").html("")
                });

                $("body").click(function () {
                    $("#HelpDiv").hide();
                });
                $("tab_list").click(function () {
                    $("#HelpDiv").hide();
                });


            }
            catch (err) {
                javascript_log4j_root(arguments.callee.name, err);
            }
        }

        function decodeEntities(input) {
            try {
                var y = document.createElement('textarea');
                y.innerHTML = input;
                return y.value;
            }
            catch (err) {
                javascript_log4j_root(arguments.callee.name, err);
            }
        }

    });
</script>
<form id="farmer_profile" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            @*<div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label id="lblFarmer_no" for="txtFarmer_no" class="col-sm-5 control-label">Farmer ID / விவசாயி் எண்</label>
                    <div class="col-sm-7">
                        <input type="text" id="txtFarmer_no" class="form-control samplebox" data-toggle="tooltip" data-placement="bottom" title="" placeholder="" disabled>
                    </div>
                </div>
            </div>

        </div>*@
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_farmer_rowid" class="col-sm-5 control-label">Farmer Row Id:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_farmer_rowid" name="inout_farmer_rowid" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_farmer_code" class="col-sm-5 control-label">Farmer Code:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_farmer_code" name="inout_farmer_code" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_version_no" class="col-sm-5 control-label">Version No:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_version_no" name="inout_version_no" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_farmer_photo" class="col-sm-5 control-label">Farmer Photo:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_farmer_photo" name="in_photo_farmer" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_farmer_dob" class="col-sm-5 control-label"> DOB:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_farmer_dob" name="in_farmer_dob" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_farmer_country" class="col-sm-5 control-label">Farmer Country:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_farmer_country" name="in_farmer_country" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_farmer_state" class="col-sm-5 control-label">Farmer State:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_farmer_state" name="in_farmer_state" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_farmer_district" class="col-sm-5 control-label">Farmer District:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_farmer_district" name="in_farmer_dist" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_farmer_taluk" class="col-sm-5 control-label">Farmer Taluk:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_farmer_taluk" name="in_farmer_taluk" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_farmer_panchayat" class="col-sm-5 control-label">Farmer Panchayat:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_farmer_panchayat" name="in_farmer_panchayat" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_farmer_village" class="col-sm-5 control-label">Farmer Village:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_farmer_village" name="in_farmer_village" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_farmer_pincode" class="col-sm-5 control-label">Farmer Pincode:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_farmer_pincode" name="in_farmer_pincode" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_marital_status" class="col-sm-5 control-label">Marital Status:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_marital_status" name="in_marital_status" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_gender_flag" class="col-sm-5 control-label">Gender Flag:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_gender_flag" name="in_gender_flag" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_reg_mobilno" class="col-sm-5 control-label">Mobile No:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_reg_mobilno" name="in_reg_mobile_no" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_reg_note" class="col-sm-5 control-label">Reg Note:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_reg_note" name="in_reg_note" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_status_code" class="col-sm-5 control-label">Status Code:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_status_code" name="in_status_code" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_mode_flag" class="col-sm-5 control-label">Mode Flag:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_mode_flag" name="in_mode_flag" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            <div class="col-sm-5" style="display:none">
                <div class="form-group">
                    <label for="txt_row_timestamp" class="col-sm-5 control-label">Time Stamp:</label>
                    <div class="col-sm-7">
                        <input type="text" id="txt_row_timestamp" name="in_row_timestamp" class="form-control" maxlength="125">
                    </div>
                </div>
            </div>
            @*prema added for demo changes on may 13*@
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label id="lblmember_Id" for="txtmember_id" class="col-sm-5 control-label">Member ID :</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtmember_id" class="form-control" name="in_member_id" data-toggle="tooltip" data-placement="bottom" title="" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label id="lblmember_Id" class="col-sm-5 control-label">सदस्य पहचान पत्र:</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtmember_idTn" class="form-control" name="in_member_id1" data-toggle="tooltip" data-placement="bottom" title="Member ID" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label id="lblfpo_name" for="txtfpo_name" class="col-sm-5 control-label">FPO Name :</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtfpo_name" class="form-control" name="in_fpo_name" data-toggle="tooltip" data-placement="bottom" title="" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label id="lblfpo_name" class="col-sm-5 control-label">एफपीओ नाम:</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtfpo_nameTn" class="form-control" name="in_fpo_name1" data-toggle="tooltip" data-placement="bottom" title="FPO Name" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            @*end*@
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label id="lblFarmer_name" for="txtFarmer_nameEng" class="col-sm-5 control-label">Farmer First Name :</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtFarmer_nameEng" class="form-control" name="in_farmer_name" data-toggle="tooltip" data-placement="bottom" title="" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label id="txtFarmer_name" class="col-sm-5 control-label">किसान नाम:</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtFarmer_nameTn" class="form-control" name="in_farmer_ll_name" data-toggle="tooltip" data-placement="bottom" title="Farmer Name" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtFHW_name" class="col-sm-5 control-label">Sur Name</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtFHWS_nameEn" class="form-control" name="in_sur_name" data-toggle="tooltip" data-placement="bottom" title="" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label id="txtsurname1" class="col-sm-5 control-label">पारिवारिक नाम</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtFHWS_nameIN" class="form-control" name="in_sur_ll_name" data-toggle="tooltip" data-placement="bottom" title="Sur Name" placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtFHW_name" class="col-sm-5 control-label">Father / Husband / Wife's Name :</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtFHW_nameEn" class="form-control" name="in_fhw_name" data-toggle="tooltip" data-placement="bottom" title="" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label id="txtFHW_name" class="col-sm-5 control-label">पिता / पति / पत्नी का नाम:</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtFHW_nameIn" class="form-control" name="in_fhw_ll_name" data-toggle="tooltip" data-placement="bottom" title="Father / Husband / Wife's Name" placeholder="">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtaddress" class="col-sm-5 control-label">Permanent Address 1 :</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtaddressEn" class="form-control" name="in_farmer_addr1" data-toggle="tooltip" data-placement="bottom" title="" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label id="txtaddress1" class="col-sm-5 control-label">पता - पंक्ति १:</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtaddressIn" class="form-control" name="in_farmer_ll_addr1" data-toggle="tooltip" data-placement="bottom" title="Address Line 1 " placeholder="">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="txtaddress2" class="col-sm-5 control-label">Permanent Address 2 :</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtaddress2En" class="form-control" name="in_farmer_addr2" data-toggle="tooltip" data-placement="bottom" title="" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label id="txtaddres2" class="col-sm-5 control-label">पता - पंक्ति २:</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtaddress2In" class="form-control" name="in_farmer_ll_addr2" data-toggle="tooltip" data-placement="bottom" title="Address Line 2 " placeholder="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <section class="col-md-12">
                    <div id="tab_list" class="col-md-12">
                        <ul class="nav nav-tabs" role="tablist"></ul>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id="tab_Section" class="tab-content" style="height:350px">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>
<div id="dialogFileuploadView">
    <img id="farmer_Land_img" src="~/images/Bill Image.jpg" class="col-sm-5 img-bordered profileImg" alt="User Image" height="350" width="200" style="width:98%" />
</div>

<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script>
    click_act_name = "FarmerProfile_List";
    click_ctrl_name = "FarmerProfile";
    form_list_url = '/' + click_ctrl_name + '/' + click_act_name;
</script>
<script src="~/CommonScripts/DynamicGrid.js"></script>
<script>
    var grid_columns;
    var grid_values;
    var menuId = "";

    $(document).ready(function () {
        var sowdate_det;
        menuId = getlocalStorage("MenuId");
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#farmer_profile");
        kendo.init(container);
        container.kendoValidator({
        });

        $("#dialogFileuploadView").hide();

        //  master_FDR();
        Screen_Id = "FARMPREF";
        permission = sec_Permission(Screen_Id);

        $("#EC_FD_MEMDOB").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy"
        });
        load_master_code();
        $(".file_attach").attr("hdrtitle", "Farmer Profile");
        $(".notes").attr("hdrtitle", "Farmer Profile");
        $("#lblForm_menuid").text("FARMER_PRO");
        $("#EC_LAND_CROPCAT").change(function () {
            //alert("hi arul");
        });
        function a1() {
            //alert("hi arul flexi");
        }
        if (getlocalStorage('btn_clk_val') == "Create") {
            $('#divCreate #review').hide();
            $("#bottom_menus").hide();
            getTabCreation("");
        }
        else if (getlocalStorage('btn_clk_val') == "Edit") {
            debugger;
            $('#divEdit #reviewEd').hide();
            $('#divEdit #deactivate').hide();
            if (getlocalStorage("ls_pageList") != undefined) {
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("farmer_profile");
                var obj_val = JSON.parse(formval);
                obj_val.inout_farmer_code = data.out_farmer_code;
                obj_val.inout_version_no = data.out_version_no;
                obj_val.inout_farmer_rowid = data.out_farmer_rowid;
                $("#txtcommon_id").val(data.out_farmer_code);
                $("#txt_version_no").val(data.out_version_no);
                $("#txt_farmer_rowid").val(data.out_farmer_rowid);
                setlocalStorage('doc_no', obj_val.inout_farmer_code);
                setlocalStorage('doc_row_id', obj_val.inout_farmer_rowid);
                var data = {};
                data.context = WebAPIProxy.getContext();;
                data.context.Header = obj_val;

                var Context = data.context;
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, Header: Context.Header }),
                    url: "/FarmerProfile/GetFarmer",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        var res = JSON.parse(response);
                        if (res.context != null) {
                            generate_farmerprofile_header(res.context.header);
                        }
                        else {
                            console.log("Issue where Dropped");
                        }
                    },
                    error: function (er) {
                        console.log(er);
                    }

                });


            }
        }
        else if (getlocalStorage('btn_clk_val') == "View") {
            debugger;
            $('#divEdit #reviewEd').hide();
            $('#divEdit #deactivate').hide();
            if (getlocalStorage("ls_pageList") != undefined) {
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("farmer_profile");
                var obj_val = JSON.parse(formval);
                obj_val.inout_farmer_code = data.out_farmer_code;
                obj_val.inout_version_no = data.out_version_no;
                obj_val.inout_farmer_rowid = data.out_farmer_rowid;
                $("#txtcommon_id").val(data.out_farmer_code);
                $("#txt_version_no").val(data.out_version_no);
                $("#txt_farmer_rowid").val(data.out_farmer_rowid);
                setlocalStorage('doc_no', obj_val.inout_farmer_code);
                setlocalStorage('doc_row_id', obj_val.inout_farmer_rowid);
                var data = {};
                data.context = WebAPIProxy.getContext();;
                data.context.Header = obj_val;

                var Context = data.context;
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, Header: Context.Header }),
                    url: "/FarmerProfile/GetFarmer",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        debugger;

                        var res = JSON.parse(response);
                        if (res.context != null) {
                        /*  Prema added for fpo based abd ri user base loading*/
                            var role = getlocalStorage("orgn_level");
                            if (role == "ORG_FO") {
                                debugger;
                                $("#RIform").show();
                                $("#FPOform").show();
                                filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
                                filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
                                var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
                                cmb_riform3.value(getlocalStorage("org_id"));
                                $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
                                $("#cmb_FPOBelongform").data("kendoComboBox").enable(false);
                                var cmap_inselform = $("#cmb_FPOBelongform").data("kendoComboBox");
                                cmap_inselform.value(getlocalStorage("org"));
                            }
                            if (role == "ORG_PF") {
                                debugger;
                                $("#RIform").show();
                                $("#FPOform").show();
                                filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
                                filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
                                $("#cmb_RIBelongform").data("kendoComboBox").value("UPPRO");
                                $("#cmb_FPOBelongform").data("kendoComboBox").value(res.context.header.out_fpo_name);
                                $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
                                $("#cmb_FPOBelongform").data("kendoComboBox").enable(false);

                            }
                            if (role == "ORG_FPO") {
                                debugger;
                                $("#RIform").show();
                                $("#FPOform").show();
                                filter_combobox("cmb_RIBelongform", getlocalStorage("rilist"));
                                filter_combobox("cmb_FPOBelongform", getlocalStorage("fpolist"));
                                var cmb_riform3 = $("#cmb_RIBelongform").data("kendoComboBox");
                                cmb_riform3.value(getlocalStorage("parent_code"));
                                $("#cmb_RIBelongform").data("kendoComboBox").enable(false);
                                $("#cmb_FPOBelongform").data("kendoComboBox").enable(false);
                                var cmap_inselform = $("#cmb_FPOBelongform").data("kendoComboBox");
                                // cmap_inselform.value(getlocalStorage("org"));
                                cmap_inselform.value(getlocalStorage("org_code"));
                            }
                        /*  prema ended*/
                            generate_farmerprofile_header(res.context.header);
                        }
                        else {
                            console.log("Issue where Dropped");
                        }
                    },
                    error: function (er) {
                        console.log(er);
                    }

                });


            }
        }
    });

    function get_hindi_lang() {
        try {
            langcodeloc("FARMPREF");
            $("#tab_list li").remove();
            if (getlocalStorage("ls_pageList") != undefined) {
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("farmer_profile");
                var obj_val = JSON.parse(formval);               
                obj_val.inout_farmer_code = $("#txtcommon_id").val();
                obj_val.inout_version_no = $("#txt_version_no").val();
                obj_val.inout_farmer_rowid = $("#txt_farmer_rowid").val();
                var data = {};
                data.context = WebAPIProxy.getContext();;
                data.context.Header = obj_val;
                var Context = data.context;
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, Header: Context.Header }),
                    url: "/FarmerProfile/GetFarmer",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        var res = JSON.parse(response);
                        if (res.context != null) {
                            generate_farmerprofile_header(res.context.header);
                        }
                        else {
                            console.log("Issue where Dropped");
                        }
                    },
                    error: function (er) {
                        console.log(er);
                    }

                });
                //$("#txtcommon_id").val(data.farmer_code);
                //$("#txt_version_no").val(data.version_no);
            }

            var tab_lt = $("#tab_list").find('li');
            for (var k = 0; k < tab_lt.length; k++) {
                setlocalefortab(tab_lt[k].innerHTML, 'ta_IN', 'en_US');
            }
            $('[data-toggle="tab"]').tooltip();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function load_master_code() {
        try {
            debugger;
            var data = {};
            var context = WebAPIProxy.getContext();
            data.userId = context.userId
            data.orgnId = context.orgnId
            data.locnId = context.locnId
            data.localeId = context.localeId
            data.screen_Id = "FARMPREF";
            var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
            sowdate_det = JSON.parse(tab_values);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function get_english_lang() {
        try {
            langcodeloc("FARMPREF");
            $("#tab_list li").remove();
            if (getlocalStorage("ls_pageList") != undefined) {
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("farmer_profile");
                var obj_val = JSON.parse(formval);
                obj_val.inout_farmer_code = $("#txtcommon_id").val();
                obj_val.inout_version_no = $("#txt_version_no").val();
                obj_val.inout_farmer_rowid = $("#txt_farmer_rowid").val();
                var data = {};
                data.context = WebAPIProxy.getContext();
                data.context.Header = obj_val;
                var Context = data.context;
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, Header: Context.Header }),
                    url: "/FarmerProfile/GetFarmer",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        var res = JSON.parse(response);
                        if (res.context != null) {
                            generate_farmerprofile_header(res.context.header);
                        }
                        else {
                            console.log("Issue where Dropped");
                        }
                    },
                    error: function (er) {
                        console.log(er);
                    }

                });
                //retrieve_farmerprofile_details(data);
                //$("#txtcommon_id").val(data.farmer_code);
                $("#txt_version_no").val(data.version_no);
            }

            var tab_lt = $("#tab_list").find('li');
            for (var k = 0; k < tab_lt.length; k++) {
                setlocalefortab(tab_lt[k].innerHTML, 'en_US', 'ta_IN');
            }
            $('[data-toggle="tab"]').tooltip();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function getTabCreation(val) {
        debugger;
        try {
            debugger;
            var context = WebAPIProxy.getContext();

            var data = {};
            var firstid = "";
            data.xml_name = "farmer_tab.xml";
            data.activity_code = 'FARMPREF';
            data.orgnid = context.orgnId;
            data.locnid = context.locnId;
            data.userid = context.userId;
            data.localeid = context.localeId;
            var tab_values = ajax_set_context("/DynamicGrid/tabdetails", JSON.stringify(data));
            if (tab_values != undefined) {
                tab_dat = JSON.parse(tab_values);
                for (var i = 0; i <= tab_dat.length; i++) {
                    var result = "";
                    $("#tab_Section").append(tab_dat[i]);
                    result = $("#tab_Section").children('div');
                    //                    var id = tab_dat[i].row_slno;
                    var id = tab_dat[i].entitygrp_code;
                    var name = tab_dat[i].description;
                    var add_option = tab_dat[i].multiline_flag;
                    if (i == 0) {
                        $("#tab_list ul").append('<li ><a href="#' + id + '" role="tab" data-toggle="tab" data-original-title=""> ' + name + '</a></li>');
                        $("#tab_Section").append('<div class="tab-pane fade active in" id= ' + (id) + '><div id=' + (id) + '><div id=' + tab_dat[i].entitygrp_code + ' style="width: 100%;"></div></div></div>')
                    }
                    else {
                        $("#tab_list ul").append('<li ><a href="#' + id + '" role="tab" data-toggle="tab" data-original-title=""> ' + name + '</a></li>');
                        $("#tab_Section").append('<div class="tab-pane fade" id= ' + (id) + '><div id=' + (id) + '><div id=' + tab_dat[i].entitygrp_code + ' style="width: 100%;"></div></div></div>')
                    }

                    showGrid(tab_dat[i].entitygrp_code, add_option, val);
                    //showGridData(tab_dat[i].entitygrp_code);
                    setlocaleforgrid(tab_dat[i].entitygrp_code);
                    //if (add_option == 'N')
                    //    $("#" + tab_dat[i].entitygrp_code).data("kendoGrid").addRow();
                }
                $('.nav-tabs a[href="#EC_PER_FARMER"]').tab('show');
                var tab_lt = $("#tab_list").find('li');
                for (var k = 0; k <= tab_lt.length; k++) {
                    setlocalefortab(tab_lt[k].innerHTML, 'en_US', 'ta_IN');
                }
                $('[data-toggle="tab"]').tooltip();
            }

            //showGridData('EC_ADDR_LGD');
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function setlocalefortab(tabinnerhtml, def, loc) {
        try {
            var res = tabinnerhtml;
            res = res.split('href');
            res = res[1].split('#');
            res = res[1].split('role');
            var tabid = res[0].split('"');
            tabid = tabid[0];
            getLanguageListMode("FARMPREF", tabid, def, loc);
            $("#" + tabid).data("kendoGrid").refresh();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    //function dynGrid()
    //{
    //    alert("R&D");
    //    //load_Screenmastercodes();
    //    var data = {};
    //    var list = [];
    //    data.deptcode = (getlocalStorage('combocrop'));
    //    data.mstcode = 'QCD_CROPSUBCAT';
    //    var mst_Dt = ajaxcall_param('/Home/getScreendepen', JSON.stringify(data));
    //    if (mst_Dt.toString() != "null" && mst_Dt != "[]")
    //        list = getGridComboList(JSON.parse(mst_Dt));//changed as getComboList
    //    else
    //        list = getGridComboList([]);
    //    return list;
    //}
    function showGrid(grdId, add_option, val) {
        debugger;
        try {
            var data = {};
            var context = WebAPIProxy.getContext();
            data.grid_id = grdId;
            data.grid_data = val;
            data.activity_code = 'FARMPREF';
            data.orgnid = context.orgnId;
            data.locnid = context.locnId;
            data.userid = context.userId;
            data.localeid = context.localeId;
            data.xml_name = "farmer_tabgrid_enUS.xml";
            var grid_values = ajax_set_context("/DynamicGrid/gridCreation", JSON.stringify(data));
            if (grid_values != undefined) {
                grid_values = JSON.parse(grid_values);
                grid_columns = JSON.parse(grid_values.column_list);
                grid_data = JSON.parse(grid_values.grid_data);
                if (data.grid_id == "EC_ADS" && grid_data.length >= 1) {
                    add_option = 'S';
                }
                DynaGrid(grdId, grid_data, add_option);
                // $("#" + grdId).data("kendoGrid").refresh();
            }
           
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function setlocaleforgrid(grdId) {
        getLanguageListMode("FARMPREF", grdId, "en_US", "ta_IN");
    }

    function DynaGrid(grd_id, data, add_option) {
        debugger;
        try {
            debugger;
            var gfields = getFields(grd_id, grid_columns);
            var gcolumns = getColumns(grd_id, grid_columns, add_option);
            var gtoolbar = gettoolbar(add_option);
            //  data = formatData(data);
            $("#" + grd_id).kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: gfields
                        }
                    }
                },
                toolbar: gtoolbar,
                height: 300,
                groupable: false,
                dataBound: function (e) {
                    resultData = e.sender._data;
                    var rows = $("#" + grd_id).data('kendoGrid').tbody.children();
                    setColor(rows, resultData);
                },
                sortable: true,
                resizable: true,
                selectable: true,
                scrollable: true,
                navigatable: true,
                columns: gcolumns,

                editable: true
            });


        

           
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function Uploadview(e, dataItem, grid) {
        debugger
        $("#dialogFileuploadView").kendoWindow();
        var dialog = $("#dialogFileuploadView").data("kendoWindow");
        dialog.open().element.closest(".k-window").css({
            top: 121,
            left: 300, height: 400, width: 500
        });
        dialog.title("Land Photo");
        //dialog.bind("open", serialnoview);
        var imagedata = dataItem.in_photo_kyc
        if (imagedata != "")
            document.getElementById("farmer_Land_img").src = "data:image/png;base64," + imagedata;
        else
            document.getElementById("farmer_Land_img").src = "/images/noimage.png";
    }

    function save() {
        debugger;
        try {

           
            var id = $("#txtcommon_id").val();
            $("#txt_farmer_code").val(id);
            if ($("#txt_farmer_rowid").val() == "") {
                $("#txt_farmer_rowid").val('0');
            }
            if ($("#txt_mode_flag").val() == "") {
                $("#txt_mode_flag").val('U');
            }
            var formval = form_Serialize("farmer_profile");
            var obj_val = JSON.parse(formval);


            if (obj_val.hasOwnProperty('in_farmer_dob')) {
                if (obj_val.in_farmer_dob != '')
                    obj_val.in_farmer_dob = getFormated_StringDate(obj_val.in_farmer_dob);
            }
            if (obj_val.in_row_timestamp == null || obj_val.in_row_timestamp == "" || obj_val.in_row_timestamp == undefined) {
                obj_val.in_row_timestamp = "2000-01-01";
            }
            var grid_id = get_grid_id();
            var isvalidmail = true;
            var isvalidSowDate = true;
            if (grid_id.length != 0) {
                var arr = [];
                for (var i = 0; i < grid_id.length; i++) {
                    var grid_value = JSON.stringify($("#" + grid_id[i].entitygrp_code).data().kendoGrid._data);
                    grid_value = JSON.parse(grid_value);
                    $.each(grid_value, function (Key, val) {
                        for (key in val) {
                            if (key.toUpperCase().indexOf('_INPUT') == -1) {
                                if (key.toUpperCase().indexOf('_CODE') == -1) {
                                    var obj = {};
                                    obj.in_farmerdetail_rowid = "0";
                                    obj.in_entitygrp_code = grid_id[i].entitygrp_code;
                                    obj.in_row_slno = Key + 1;//grid_id[i].row_slno;
                                    obj.in_entity_code = key;
                                    if (val[key] == null) {
                                        obj.entity_value = "";
                                    }
                                    else {
                                        obj.in_entity_value = val[key];
                                    }
                                    //This code Introduced by venkat Personal details email validation Purpose 16-6-2020
                                    if (key == "EC_PDF_MAIL" && val != "") {
                                        if (isvalidmail == true) {
                                            var email = obj.in_entity_value;
                                            isvalidmail = isValidEmail(email);
                                        }
                                    }
                                    if (key == "EC_CROP_SOWING_SOWDATE" && val != "") {
                                        if (isvalidSowDate == true) {

                                            if (val.EC_CROP_SOWING_SOWDATE != "" && val.EC_CROP_SOWING_SOWDATE != undefined) {


                                                isvalidSowDate = isValidSowDate(val.EC_CROP_SOWING_Season, val.EC_CROP_SOWING_SOWDATE);

                                                if (isvalidSowDate == false) {
                                                    kendoAlert('Ensure Valid Sowing Date for' + val.EC_CROP_SOWING_Season.toUpperCase() + ' Season');
                                                    isvalidSowDate = false;
                                                    return;
                                                }
                                                else {
                                                    isvalidSowDate = true;
                                                }
                                            }
                                            else {
                                                kendoAlert('Ensure Valid Sowing Date for' + val.EC_CROP_SOWING_Season.toUpperCase() + ' Season');
                                                isvalidSowDate = false;
                                                return;
                                            }
                                        }
                                    }
                                    //end


                                    obj.in_mode_flag = "I";
                                    arr.push(obj);
                                }
                            }
                        }
                        // }
                    });
                }
                var obj_grid_val = arr;
                var data = {};
                data.context = WebAPIProxy.getContext();;
                data.context.Header = obj_val;
                data.context.Detail = obj_grid_val;
                //save_farmerprofile_details(data);
                var Context = data.context;
                if (data.context.Header.in_status_code != "R") {
                    if (isvalidmail == true && isvalidSowDate == true ) {
                        $.ajax({
                            type: "POST",
                            data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, Header: Context.Header, Detail: Context.Detail }),
                            url: "/FarmerProfile/SaveFarmer",
                            dataType: "json",
                            contentType: 'application/json; charset=utf-8',
                            success: function (response) {
                                console.log(response)
                                var Res = JSON.parse(response);
                                if (Res.context != null) {
                                    kendoAlert("Farmer Profile  Details saved successfully");

                                    farmerprofile_details(Res.context.header.inout_farmer_rowid, Res.context.header.inout_farmer_code, Res.context.header.inout_version_no);
                                    // generate_farmer_registration_header(Res.context.header);
                                }
                                else {
                                    kendoAlert(Res.ApplicationException.errorDescription);
                                }
                            },
                            error: function (er) {
                                alert(er)
                                console.log(er)
                            }

                        });
                    }
                    else {
                       if(isvalidmail == false) 
                        kendoAlert("Please Enter Valid Email ID");
                    }
                }
                else {
                    kendoAlert("Farmer has Rejected Record Cannot be Modified");
                }
            }

        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function generate_farmerprofile_detail(res) {
        try {
            grid_values = res;
            getTabCreation(grid_values);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    //Email validation

    function isValidEmail(email) {
        debugger;

        var filter = /^[A-Z0-9._%+-]+@@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
        if (filter.test(email)) {
            console.log("Venkat true" + email);
            return true;
        }
        else {
            console.log("Venkat false" + email);
            return false;
        }


    }
     
    function farmerprofile_details(rowid, code, version) {
        try {
            $("#tab_list li").remove();
            var formval = form_Serialize("farmer_profile");
            var obj_val = JSON.parse(formval);
            obj_val.inout_farmer_code = code;
            obj_val.inout_version_no = version;
            obj_val.inout_farmer_rowid = rowid;
            $("#txtcommon_id").val(code);
            $("#txt_version_no").val(version);
            $("#txt_farmer_rowid").val(rowid);
            var data = {};
            data.context = WebAPIProxy.getContext();;
            data.context.Header = obj_val;
            var Context = data.context;
            //retrieve_farmer_registration_details(data);
            $.ajax({
                type: "POST",
                data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, Header: Context.Header }),
                url: "/FarmerProfile/GetFarmer",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    var res = JSON.parse(response);
                    if (res.context != null) {
                        generate_farmerprofile_header(res.context.header);
                    }
                    else {
                        console.log("Issue where Dropped");
                    }
                },
                error: function (er) {
                    console.log(er);
                }

            });
            $("#txtcommon_id").val(res.context.Header.farmer_code);
            //$("#txt_version_no").val(data[0].version_no);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function generate_farmerprofile_header(res) {
        try {
            $("#txtmember_id").val(res.out_member_id);
            $("#txtfpo_name").val(res.out_fpo_name);
            $("#txtmember_idTn").val(res.out_member_id);
            $("#txtfpo_nameTn").val(res.out_fpo_name);
            $("#txtFarmer_nameEng").val(res.out_farmer_name);
            $("#txtFHWS_nameEn").val(res.out_sur_name);
            $("#txtFHW_nameEn").val(res.out_fhw_name);
            $("#txtaddressEn").val(res.out_farmer_addr1);
            $("#txtaddress2En").val(res.out_farmer_addr2);
            $("#txtFarmer_nameTn").val(res.out_farmer_ll_name);
            $("#txtFHWS_nameIN").val(res.out_sur_ll_name);
            $("#txtFHW_nameIn").val(res.out_fhw_ll_name);
            $("#txtaddressIn").val(res.out_farmer_ll_addr1);
            $("#txtaddress2In").val(res.out_farmer_ll_addr2);
            $("#txt_status_code").val(res.out_status_code);
            $("#DocStat").val(res.out_status_desc);
            $("#txtMode").val(res.out_mode_flag);
            $("#txt_row_timestamp").val(res.out_row_timestamp);
            $("#txt_farmer_dob").val(res.out_farmer_dob);

            //This Code Introduced By Venkat on  08-06-2020 [Issue No: 83]
            $("#txtFarmer_nameEng").attr("readonly", "");
            // $("#txtFarmer_nameEng").removeAttr("disabled");
            $("#txtFHWS_nameEn").attr("readonly", "");
            $("#txtFHW_nameEn").attr("readonly", "");
            $("#txtaddressEn").attr("readonly", "");
            $("#txtaddress2En").attr("readonly", "");
            $("#txtFarmer_nameTn").attr("readonly", "");
            $("#txtFHWS_nameIN").attr("readonly", "");
            $("#txtFHW_nameIn").attr("readonly", "");
            $("#txtaddressIn").attr("readonly", "");
            $("#txtaddress2In").attr("readonly", "");
            $("#txtfpo_name").attr("readonly", "");
            $("#txtmember_id").attr("readonly", "");
            $("#txtmember_idTn").attr("readonly", "");
            $("#txtfpo_nameTn").attr("readonly", "");
            $("#txtFarmer_nameEng").attr("readonly", "");
            //end




            if ($("#txtFarmer_nameEng").val() == $("#txtFarmer_nameTn").val() || $("#txtFarmer_nameTn").val() == "" || check($('#txtFarmer_nameTn').val()) == true) {  langTranslate1('txtFarmer_nameEng', 'txtFarmer_nameTn'); }
            if ($("#txtFHWS_nameEn").val() == $("#txtFHW_nameIn").val() || $("#txtFHW_nameIn").val() == "" || check($('#txtFHW_nameIn').val()) == true) { langTranslate1('txtFHWS_nameEn', 'txtFHWS_nameIN'); }
            if ($("#txtFHW_nameEn").val() == $("#txtFHW_nameIn").val() || $("#txtFHW_nameIn").val() == "" || check($('#txtFHW_nameIn').val()) == true) { langTranslate1('txtFHW_nameEn', 'txtFHW_nameIn'); }
            if ($("#txtaddressEn").val() == $("#txtaddressIn").val() || $("#txtaddressIn").val() == "" || check($('#txtaddressIn').val()) == true) { langTranslate1('txtaddressEn', 'txtaddressIn'); }
            if ($("#txtaddress2En").val() == $("#txtaddress2In").val() || $("#txtaddress2In").val() == "" || check($('#txtaddress2In').val()) == true) { langTranslate1('txtaddress2En', 'txtaddress2In'); }
             
           

            generate_farmerprofileDtl(res.inout_farmer_code, res.inout_version_no, res.inout_farmer_rowid);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
     function langTranslate1(src, dest) {
            debugger;

                var id = $('#' + src).val();
                $("#HelpDiv").hide();
                if (id != "") {

                    $.ajax({
                        url: '@Url.Action("Foo", "ListViewMaker")',
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        data: { 'id': id },
                        success: function (result) {
                            $('#' + dest).val(decodeEntities1(result));
                        },
                        error: function () {
                            alert('Error occured');
                        }
                    });
                }
                else {
                    $('#' + dest).val("");
                    $("#HelpDiv").hide();
                }


            $('#' + dest).focus(function () {
                $("#HelpDiv").html("")
            });

            $("body").click(function () {
                $("#HelpDiv").hide();
            });
            $("tab_list").click(function () {
                $("#HelpDiv").hide();
            });
        }

        function decodeEntities1(input) {
            var y = document.createElement('textarea');
            y.innerHTML = input;
            return y.value;
        }


    function generate_farmerprofileDtl(farmercode, version_no, farmer_row_id) {
        debugger
        try {
            var data = {};
            var grid_dat = "";
            var context = WebAPIProxy.getContext();
            data.activity_code = 'FARMPREF';
            data.orgnid = context.orgnId;
            data.locnid = context.locnId;
            data.userid = context.userId;
            data.localeid = context.localeId;
            data.farmer_rowid = farmer_row_id;
            data.farmer_code = farmercode;
            data.version_no = version_no;

            var grid_val = ajax_set_context("/FarmerProfile/profiledetails", JSON.stringify(data));
            if (grid_val != undefined) {
                grid_values = grid_dat;
                getTabCreation(grid_val);
            }
            else {
                grid_dat = "";
            }
            return grid_dat;


        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function get_grid_id() {
        try {
            var data = {};
            var firstid = "";
            var tab_dat = "";
            var context = WebAPIProxy.getContext();
            data.xml_name = "farmer_tab.xml";
            data.activity_code = 'FARMPREF';
            data.orgnid = context.orgnId;
            data.locnid = context.locnId;
            data.userid = context.userId;
            data.localeid = context.localeId;
            var tab_values = ajax_set_context("/DynamicGrid/tabdetails", JSON.stringify(data));
            if (tab_values != undefined) {
                tab_dat = JSON.parse(tab_values);
            }
            else {
                tab_dat = "";
            }
            return tab_dat;
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }



    var specialChars = "?";
    var check = function (string) {
        for (i = 0; i < specialChars.length; i++) {
            if (string.indexOf(specialChars[i]) > -1) {
                return true
            }
        }
        return false;
    } 

    function isValidSowDate(Season, Date) {
        debugger;
        var tcheck = false; 
        var SowMonth = convertDate(Date);


        for (var j = 0; j < sowdate_det.length; j++) {
            
            if (sowdate_det[j].out_parent_code.startsWith("QCD_SOW_MON")) {
                if (sowdate_det[j].out_depend_desc.toUpperCase().trim() == Season.trim().toUpperCase() && sowdate_det[j].out_master_description.trim().toUpperCase() == SowMonth.trim().toUpperCase()) {
                    tcheck = true;
                    return tcheck;
                }
            }

        }
        return tcheck;
    } 
    function convertDate(str){
        debugger;
        var date = new Date(str),
            mnth = ("0" + (date.getMonth() )).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        var months = ["January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December"];
        //return [date.getFullYear(), mnth, day].join("-");
        return months[parseInt(mnth)];
    }
      
    function Reslocal(Resourcelocal) {
        var result1 = JSON.stringify(Resourcelocal);
        var result = JSON.parse(result1);
        for (var i = 0; i < result.length; i++) {
            var screendata = result[i].data_field;
            var finalscreen = screendata.split("-");
            $("#" + result[i].control_code + "").text(result[i].control_value);
        }
    }
</script>
