
@{
    ViewBag.Form = "LRS-Reports";
    Layout = "~/Views/Shared/FormViewLayout2.cshtml";
}
<form id="Master_form" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="txtselect_rep" class="col-sm-4 control-label ">Select Report</label>
                        <div class="col-sm-7">
                            <input id="cmbselec_rep" data-role="filtercombo" style="width:100%">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtreport_run" class=" col-sm-5 control-label">Period From</label>
                        <div class=" col-sm-4">
                            <input class="cusDate" data-role='datepicker' id="txtValidity" data-checkdate-msg="Enter Valid Date" name="valid_until" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtins_mon" class=" col-sm-5 control-label">Period To</label>
                        <div class=" col-sm-4">
                            <input class="cusDate" data-role='datepicker' id="txtValidity" data-checkdate-msg="Enter Valid Date" name="valid_until" style="width:100%" />
                            <span data-for='valid' class='k-invalid-msg'></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <fieldset>
                    <label>FPO Loan Utilization Report</label>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-12">
                            <div id="grid_farmer_Instal"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="panel panel-default">
                <fieldset>
                    <label>FPO Gross Margin Report</label>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-12">
                            <div id="grid_farmer_pdc"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="panel panel-default">
                <fieldset>
                    <label>Collection Overdue Report</label>
                    <div class="row" style="padding-bottom:15px">
                        <div class="col-sm-12">
                            <div id="grid_farmer_nach"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</form>
<script>
    click_act_name = "home";
    click_ctrl_name = "home";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>


<script>
    $(document).ready(function () {
        kendodate_format();
        master_sanction();
        $(".file_attach").attr("hdrtitle", "LRS-Reports");
        $(".notes").attr("hdrtitle", "LRS-Reports");
        $("#lblForm_menuid").text("LRS-Reports");
        gridFLnach();
        gridFLLoan();
        gridFLpdc();
        var combo_data = [{ code: 1, desc: "FPO Loan Utilization" },
             { code: 1, desc: "FPO Gross Margin" }, { code: 1, desc: "Collection Overdue" }];
        filter_combobox("cmbselec_rep", combo_data);
       
    });
</script>
<script>
    //var data = [];
    function gridFLLoan(data) {
        try {
            $("#grid_farmer_Instal").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {

                                fpo_lan: { type: "string" },
                                institution: { type: "string" },
                                fpo_loan_amt: { type: "string" },
                                fl_amount: { type: "string" },
                                fpo_loan_amt: { type: "string" },
                               

                                mode_flag: { type: "string", defaultValue: "I" }
                            }
                        }
                    }
                },

                height: 150,
                groupable: false,
                sortable: true,
                selectable: true,
                navigatable: true,
                columns: [
                    {
                        field: "fpo_lan",
                        title: "FPO LAN",
                        width: 100
                    },
                {
                    field: "institution",
                    title: "Institution",
                    width: 100
                },
                  {
                      field: "fpo_loan_amt",
                      title: "FPO Loan Amt",
                      width: 100
                  },
                   {
                       field: "fl_amount",
                       title: "Farmer Loan Amt Disbursed",
                       width: 100
                   },
                    {
                        field: "fpo_loan_amt",
                        title: "FPO Loan Amt Unutilized",
                        width: 100
                    },
                    
                {
                    field: "mode_flag",
                    title: "Mode",
                    hidden: true
                }],
                editable: true
            });
        }
        catch (err) {
            alert(err);
        }
    }

</script>
<script>
    //var data = [];
    function gridFLpdc(data) {
        try {
            $("#grid_farmer_pdc").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {
                                fpo_lan: { type: "string" },
                                fin_int: { type: "string" },
                                fpo_loan_amt: { type: "string" },
                                inst_recd: { type: "string" },
                                fl_amt: { type: "string" },
                                int_recd_fl: { type: "string" },
                                int_fig: { type: "string" },
                                gross_margin: { type: "string" },
                                mode_flag: { type: "string", defaultValue: "I" }
                            }
                        }
                    }
                },
                height: 150,
                groupable: false,
                sortable: true,
                selectable: true,
                navigatable: true,
                columns: [
                    {
                        field: "fpo_lan",
                        title: "FPO LAN",
                        width: 100
                    },
                {
                    field: "fin_int",
                    title: "Fin.Inst",
                    width: 100
                },
                  {
                      field: "fpo_loan_amt",
                      title: "FPO Loan Amt",
                      width: 100
                  },
                   {
                       field: "inst_recd",
                       title: "Int.Paid To Fin.Inst",
                       width: 100
                   },
                    {
                        field: "fl_amt",
                        title: "FL Amt Disb",
                        width: 100
                    },
                    {
                        field: "int_recd_fl",
                        title: "Int.Recd From FL",
                        width: 100
                    },
                    {
                        field: "int_fig",
                        title: "Int.Paid To FIG",
                        width: 100
                    },
                    {
                        field: "gross_margin",
                        title: "Gross Margin",
                        width: 100
                    },
                {
                    field: "mode_flag",
                    title: "Mode",
                    hidden: true
                }],
                editable: true
            });
        }
        catch (err) {
            alert(err);
        }
    }
</script>
<script>
    //var data = [];
    function gridFLnach(data) {
        try {
            $("#grid_farmer_nach").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {
                                member_id: { type: "string" },
                                farmer_name: { type: "string" },
                                fl_scheme: { type: "string" },
                                instalment_no: { type: "string" },
                                instalment_amount: { type: "string" },
                                instalment_date: { type: "string" },
                                paymode: { type: "string" },
                                status: { type: "string" },
                                mode_flag: { type: "string", defaultValue: "I" }
                            }
                        }
                    }
                },

                height: 150,
                groupable: false,
                sortable: true,
                selectable: true,
                navigatable: true,
                columns: [
                    {
                        field: "farmer_member_id",
                        title: "Farmer Member Id",
                        width: 100
                    },
                {
                    field: "farmer_name",
                    title: "Farmer Name",
                    width: 100
                },
                                //{
                                //    field: "fl_scheme",
                                //    title: "FL Scheme",
                                //    width: 100
                                //},
                  {
                      field: "instalment_no",
                      title: "Instalment No",
                      width: 100
                  },
                   {
                       field: "instalment_amount",
                       title: "Instalment Amount",
                       width: 100
                   },
                    {
                        field: "instalment_date",
                        title: "Instalment Date",
                        width: 100
                    },
                    {
                        field: "paymode",
                        title: "Paymode",
                        width: 100
                    },
                    {
                        field: "status",
                        title: "Status",
                        width: 100
                    },
                 {
                    field: "mode_flag",
                    title: "Mode",
                    hidden: true
                }],
                editable: true
            });
        }
        catch (err) {
            alert(err);
        }
    }
</script>


