@{
    ViewBag.Form = "Raise Invoice";
    Layout = "~/Views/Shared/FormViewLayout1.cshtml";
}
<form id="invoice_form" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:16px;padding-bottom:2px">

            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4" style="display:none;">
                    <label for="txt_invc_rowid" class=" col-sm-5 control-label">Invoice rowid </label>
                    <div class=" col-sm-6">
                        <input type="text" id="txt_invc_rowid" name="IOU_invoice_rowid" class="form-control" maxlength="50">
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="txtorgn_code" class=" col-sm-5 control-label">FPO Name </label>
                    <div class=" col-sm-6">
                        <input type="text" id="txtorgn_code" name="In_fpo_name" class="form-control" maxlength="50" readonly>
                        <input type="hidden" id="txtorgn_desc">
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="invoice_date" class=" col-sm-5 control-label">Invoice Date</label>
                    <div class=" col-sm-6">
                        <input class="cusDate" type="date" data-role='datepicker' onkeypress="return date_validate(event)" id="invoice_date" data-checkdate-msg="Enter Valid Date" name="In_invoice_date" style="width:100%" />
                        <span data-for='valid' class='k-invalid-msg'></span>
                    </div>
                </div>
                <div class="col-xs-4">
                    <label for="txtinvoice_no" class=" col-sm-5 control-label">Invoice No</label>
                    <div class=" col-sm-6">
                        <input type="text" id="txtinvoice_no" name="In_invoice_no" class="form-control" maxlength="50" readonly>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-bottom:15px">
                <div class="col-xs-4" style="display:none;">
                    <label for="txtcus_code" class=" col-sm-5 control-label">customer code</label>
                    <div class=" col-sm-6">
                        <input type="text" id="txtcus_code" name="In_customer_code" class="form-control" maxlength="50" readonly>
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="txt_farmer_name" class=" col-sm-5 control-label required">Customer Name</label>
                    <div class=" col-sm-6">
                        <input type="text" id="txt_farmer_name" name="In_customer_name" class="form-control" maxlength="50" readonly>
                    </div>
                    <a class="HelpWindow fa fa-search fa-lg" role="button" id="pay_help1" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Member" searchid="PW07" data-target="#HelpModal" onclick=transfer(this,"form","","form_control"); title="Search" style="font-size: 19px; "></a>
                </div>

                <div class="col-sm-4">
                    <label for="txt_farmer_state" class=" col-sm-5 control-label">Customer State</label>
                    <div class=" col-sm-6">
                        <input type="text" id="txt_farmer_state" class="form-control" maxlength="50" readonly>
                        <input type="hidden" id="txtprovider_desc" name="In_customer_state">
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="txt_provider_state" class=" col-sm-5 control-label">Provider State</label>
                    <div class=" col-sm-6">
                        <input type="text" id="txt_provider_state" name="" class="form-control" maxlength="50" readonly>
                        <input type="hidden" id="txtprovider" name="In_provider_state" value="QCD_UNS_TAMIL">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" style="display:none;">
                        <label for="txt_status_code" class="col-sm-5 control-label">Status_code</label>
                        <div class="col-sm-4">
                            <input type="text" value="A" id="txt_status_code" name="In_status_code" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group" style="display:none;">
                        <label for="txt_status_desc" class="col-sm-5 control-label">Status_desc</label>
                        <div class="col-sm-4">
                            <input type="text" value="Active" id="txt_status_desc" name="In_status_desc" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    @*<div class="col-sm-4">*@
                    @*<div class="form-group" style="display:none;">
                            <label for="txt_farmer_name" class=" col-sm-5 control-label required">Farmer Name</label>
                            <div class=" col-sm-6">
                                <input type="text" id="txt_farmer_name" name="farmer_name" class="form-control" />
                            </div>
                        </div>*@
                </div>
                <div class="form-group" style="display:none;">
                    <label for="txtMode" class="col-sm-5 control-label">Mode</label>
                    <div class="col-sm-4">
                        <input type="text" id="txtMode" name="In_mode_flag" class="form-control" maxlength="10">
                        <input type="hidden" id="hdn_hsn_code">
                        <input type="hidden" id="hdn_hsn_code_desc">
                        <input type="hidden" id="tax_rate" name="tax_rate">
                        @*<input type="hidden" id="amount">*@
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group" style="display:none;">
                    <label for="row_timestamp" class="col-sm-5 control-label">Timestamp:</label>
                    <div class="col-sm-4">
                        <input type="text" id="txt_row_timestamp" name="In_row_timestamp" class="form-control" maxlength="10">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <section class="col-md-12">
                <div id="tab_list" class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#Invoice" id="" role="tab" data-toggle="tab">
                                Invoice Details
                            </a>
                        </li>
                        <li>
                            <a href="#Tax" id="txtdtl" role="tab" data-toggle="tab">
                                Tax Details
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="Invoice">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div id="grid_invoice">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Tax">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div id="grid_tax"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <a type="button" id="btnpayment" class="btn btn-info" data-toggle="modal" href="~/PAWHSRaiseInvoice/PaymentCollections" data-target="#WhsRecpt">
                        Payment
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    click_act_name = "PAWHSRaiseInvoiceList";
    click_ctrl_name = "PAWHSRaiseInvoice";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>
<script src="~/API_Scripts/PAWHS_getRaiseInvoice_Model.js"></script>
<script src="~/API_Scripts/PAWHS_getRaiseInvoiceList_Model.js"></script>
<script src="~/API_Scripts/PAWHS_saveRaiseInvoice_Model.js"></script>
<script src="~/API_Scripts/PAWHS_getPaymentCollection_Model.js"></script>
<script src="~/API_Scripts/PAWHS_savePaymentCollection_Model.js"></script>
<script src="~/API_Scripts/Raise_Invoice_PAWHS_getPaymentCollection_APIClient.js"></script>
<script src="~/API_Scripts/Raise_Invoice_PAWHS_getRaiseInvoice_APIClient.js"></script>
<script src="~/API_Scripts/Raise_Invoice_PAWHS_getRaiseInvoiceList_APIClient.js"></script>
<script src="~/API_Scripts/Raise_Invoice_PAWHS_savePaymentCollection_APIClient.js"></script>
<script src="~/API_Scripts/Raise_Invoice_PAWHS_saveRaiseInvoice_APIClient.js"></script>
<script src="~/API_Scripts/RaiseInvoice.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>
<script src="~/API_Scripts/Invoice_master_getProductSearch_APIClient.js"></script>
<script src="~/API_Scripts/product_search_Model.js"></script>
<script src="~/API_Scripts/invoice.js"></script>
<script src="~/CommonScripts/common.js"></script>
<script src="~/CommonScripts/tamil.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>


<script>
    $(document).ready(function () {
        master_GST_PRODUCT1();
        load_master_code();
        kendodate_format();
        $("#hide_div").hide();
        $("#invoice").hide();
        $("#frmlayerdiv").show();
        $("#divUserRole20 #btnReport").hide();


        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#invoice_form");
        kendo.init(container);
        container.kendoValidator({
            rules: {
                checkdate: function (input) {
                    if (input.attr("data-role") == "datepicker") {
                        var res = isDate(input.val());
                        return res;
                    }
                    else {
                        return true;
                    }
                }
            }
        });
        Screen_Id = "WHSINVOICE";
        permission = sec_Permission(Screen_Id);
        $("#txt_provider_state").val('TamilNadu');

        $(".file_attach").attr("hdrtitle", "Raise Invoice");
        $(".notes").attr("hdrtitle", "Raise Invoice");
        $("#lblForm_menuid").text("WHSINVOICE");
        $('#txtValidity').attr('disabled', 'disabled');
        var org_id = getlocalStorage('org_id');
        var org = getlocalStorage('org');
        $('#hdn_hsn_code').val(org_id);
        $('#txtorgn_code').val(org);
        gridinvoice([]);
        gridtax([]);
        setlocalStorage("invoice_data", "");
        setlocalStorage("tax_data", "");

        $("#invoice_date").kendoDatePicker({
            max: new Date(),// sets max date
            format: "dd/MM/yyyy",
            value: new Date(),
        });
        if (getlocalStorage('btn_clk_val') == "Create") {
            $("#txtMode").val("I");
            $("#bottom_menus").hide();
            $("#DocStat").val("New");
        }
        else if (getlocalStorage('btn_clk_val') == "View" || getlocalStorage('btn_clk_val') == "Edit") {
            debugger;
            if (getlocalStorage("ls_pageList") != undefined) {
                $("#bottom_menus li:nth-child(1)").hide();
                $("#bottom_menus li:nth-child(3)").hide();
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("invoice_form");
                var obj_val = JSON.parse(formval);
                obj_val.IOU_invoice_rowid = data.Out_raise_invoce_rowid;
                obj_val.In_invoice_no = data.Out_invoice_no;
                var data = {};
                data.context = WebAPIProxy.getContext();
                data.context.Header = obj_val;
                var Context = data.context;
                SingleFetch_RaiseInvoice_details(Context);
                //retrieve_RaiseInvoice_details(data);
                $("#txtMode").val("U");
                $("#DocStat").val("Edit");
            }
        }

        $("#txtdtl").click(function () {
            var sourcegrid = $('#grid_invoice').data('kendoGrid');
            var destinationgrid = $('#grid_tax').data('kendoGrid');
            if (sourcegrid._data.length > 0 && destinationgrid._data.length > 0) {
                for (var i = 0; i < sourcegrid._data.length; i++) {
                    for (var j = 0; j < destinationgrid._data.length; j++) {

                        var srcdataitem = sourcegrid._data[i];
                        var decdataitem = destinationgrid._data[j];
                        if (srcdataitem.In_item_code == decdataitem.In_status_code) {
                            if (srcdataitem.In_discount == "") {
                                srcdataitem.In_discount = "0";
                            }
                            var firstItem = $('#grid_tax').data().kendoGrid.dataSource.data()[j];
                            firstItem["In_taxable_amount"] = (parseFloat(srcdataitem.In_amount)).toFixed(3);
                            firstItem["In_tax_amount"] = (parseFloat(srcdataitem.In_tax_amount)).toFixed(3);
                        }
                    }
                }
            }
            destinationgrid.refresh();

        });
    });

    function SingleFetch_RaiseInvoice_details(Context) {
        debugger;
        try {
            $.ajax({
                type: "POST",
                data: JSON.stringify({ orgnId: Context.orgnId, locnId: Context.locnId, userId: Context.userId, localeId: Context.localeId, IOU_invoice_rowid: Context.Header.IOU_invoice_rowid }),
                url: "/PAWHSRaiseInvoice/SingleServiceList",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    if (response.context != null) {
                        generate_RaiseInvoice_header(response.context.Header)

                    }
                    if (response.context.Header.InvoiceDetails != null) {
                        generate_RaiseInvoice_InvoiceDetail(response.context.Header.InvoiceDetails)
                    }
                    if (response.context.Header.TaxDetails != null) {
                        generate_RaiseInvoice_InvoiceTax(response.context.Header.TaxDetails)
                    }
                    if (response.ApplicationException != null) {
                        kendoAlert(response.ApplicationException.errorDescription);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function get_RaiseInvoice_details(res) {
        debugger;
        try {
            var formval = form_Serialize("invoice_form");
            var obj_val = JSON.parse(formval);
            obj_val.IOU_invoice_rowid = res.IOU_invoice_rowid;
            obj_val.invoice_no = res.IOU_invoice_no;
            $("#txtinvoice_no").val(res.IOU_invoice_no);
            $("#txt_invc_rowid").val(res.IOU_invoice_rowid);
            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Header = obj_val;
            var Context = data.context;
            SingleFetch_RaiseInvoice_details(Context);
            //retrieve_RaiseInvoice_details(data);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>

<script>
    function load_master_code() {
        debugger;
        debugger;
        var data = {};
        var context = WebAPIProxy.getContext();
        data.userId = context.userId
        data.orgnId = context.orgnId
        data.locnId = context.locnId
        data.localeId = context.localeId
        data.screen_Id = "WHSINVOICE";
        var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
    }
</script>
<script>
    //var data = [];
    function gridinvoice(data) {
        try {
            $("#grid_invoice").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {

                                In_invoice_details_rowid: { type: "string" },
                                In_item_code: { type: "string" },
                                In_item_desc: { type: "string" },
                                In_uom_code: { type: "string" },
                                In_uom_desc: { type: "string", required: true },
                                In_qty: { type: "string" },
                                In_amount: { type: "string" },
                                In_rate: { type: "string", defaultValue: "0" },
                                In_discount: { type: "string", defaultValue: "0" },
                                In_status_code: { type: "string", defaultValue: "A" },
                                In_mode_flag: { type: "string", defaultValue: "I" },
                                In_tax_amount: { type: "string", defaultValue: "0" },
                                In_net_amount: { type: "string", defaultValue: "0" },

                            }
                        }
                    }
                },
                toolbar: "<a  class='k-grid-add' id='btnSave' href=''><span class='fa fa-plus' style='color:Black'></span></a>",
                height: 240,
                groupable: false,
                dataBinding: setDefaultValues,
                dataBound: function (e) {
                    resultData = e.sender._data;
                    var rows = $('#grid_invoice').data('kendoGrid').tbody.children();
                    setColor(rows, resultData);
                },
                edit: OnEdit,
                save: function (data) {
                    debugger;
                    if (data.values.In_qty) {
                        data.model.set("In_amount", (parseFloat(data.values.In_qty) * parseFloat(data.model.In_rate)).toFixed(2));
                        
                        var prd_amt = data.model.In_amount != undefined ? parseFloat(data.model.In_amount) : parseFloat(0.0);
                        var dis_amt = data.model.In_discount != "" ? parseFloat(data.model.In_discount) : parseFloat(0.0);
                        var amt = parseFloat(prd_amt) + parseFloat(dis_amt);
                        data.model.set("In_tax_amount", ((parseFloat(amt) * parseFloat(data.model.In_tax_rate)) / 100.0).toFixed());
                        data.model.set("In_net_amount", (parseFloat(amt) + parseFloat(data.model.In_tax_amount)).toFixed());
                    }
                    if (data.values.In_rate) {
                        data.model.set("In_amount", (parseFloat(data.model.In_qty) * parseFloat(data.values.In_rate)).toFixed(2));
                        var amou = ((parseFloat(data.model.In_qty) * parseFloat(data.values.In_rate)).toFixed(2));
                        var dis_amt = data.model.In_discount != undefined ? parseFloat(data.model.In_discount) : parseFloat(0.0);
                        var amt = amou + parseFloat(dis_amt);
                        data.model.set("In_tax_amount", ((parseFloat(amt) * parseFloat(data.model.In_tax_rate)) / 100.0).toFixed());
                        data.model.set("In_net_amount", (parseFloat(amt) + parseFloat(data.model.In_tax_amount)).toFixed());
                    }
                    if (data.values.In_discount != "") {
                        var amt_disc = (data.model.In_amount != undefined ? parseFloat(data.model.In_amount) : parseFloat(0.0)) - (data.values.In_discount != undefined ? parseFloat(data.values.In_discount) : parseFloat(0.0));
                        data.model.set("In_tax_amount", ((parseFloat(amt_disc) * parseFloat(data.model.In_tax_rate)) / 100.0).toFixed());
                        data.model.set("In_net_amount", (parseFloat(amt_disc) + parseFloat(data.model.In_tax_amount)).toFixed());
                    }
                    if (data.values.In_item_code != "") {
                        var code = (data.model.In_item_code)
                    }
                   
                    //}
                },

                sortable: true,
                selectable: true,
                navigatable: true,
                columns: [
                    {
                        command: [
                            {
                                name: "Delete",
                                id: "Delete",
                                imageClass: "fa fa-close",
                                click: function (e) {
                                    // e.preventDefault();
                                    var grid = $("#grid_invoice").data("kendoGrid");
                                    var dataItem = $("#grid_invoice").data("kendoGrid").dataItem($(e.target).closest("tr"));
                                    DeleteWindowEvent(e, dataItem, grid);
                                    e.stopImmediatePropagation()

                                    var gridTax2 = $("#grid_tax").data("kendoGrid");
                                    var gridData2 = gridTax2.dataSource.view();

                                    for (var i = 0; i < gridData2.length; i++) {
                                        if (gridData2[i].In_status_code == dataItem.In_item_code) {
                                            var array1 = gridTax2.dataSource.data();
                                            gridTax2.dataSource.remove(array1[i]);
                                            gridTax2.dataSource.sync();
                                        }
                                    }
                                }
                            },
                        ], title: "Action", width: "50px",
                    },

                    {
                        field: "In_invoice_details_rowid",
                        title: "itemrowid",
                        width: 15,
                        hidden: true,

                    },
                    {
                        field: "In_item_code",
                        title: "Item Code",
                        hidden: true,
                        width: 100,
                    },

                    {
                        field: "In_item_desc",
                        title: "Item Name",
                        editor: function (container, options) {
                            combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "In_item_code", "grid_invoice")
                        },
                        //editor: '<div class="input-group input-group-sm"><input type="text" readonly name="item_desc" maxlength="50" style="width:150px;color:black"  onkeypress="return speical_char(event)" data-bind="value:item_desc"/><span class="input-group-btn" style="padding-right: 200px;"><a class="HelpWindow fa fa-search fa-lg" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Item Details Search" searchid="PW04" data-target="#HelpModal" onclick=transfer(this,"grid","grid_invoice","gridinvoice") title="Search" style="font-size: 15px; padding-left: 10px;"></a> </span> </div>',
                        width: 100,
                    },
                    {

                        field: "In_item_name",
                        title: "Item",
                        width: 120,
                        hidden: true,
                        editor: function (container, options) {
                            combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "", "grid_invoice")
                        },
                    },
                    {
                        field: "In_type",
                        title: "Item Type",
                        width: 100,
                    },
                    {
                        field: "In_uom_code",
                        title: "uom_code",
                        hidden: true,
                        width: 100,
                    },

                    {
                        field: "In_uom_desc",
                        title: "UOM",
                        width: 50,

                    },

                    {
                        field: "In_qty",
                        title: "QTY",
                        width: 80,
                        attributes: { style: "text-align:right;" },
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '50', '0');
                        }
                    },



                    {
                        field: "In_rate",
                        title: "Rate",
                        width: 100,
                        attributes: { style: "text-align:right;" },
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '50', '0');
                        }
                    },
                    {
                        field: "In_amount",
                        title: "Amount",
                        width: 100,
                        attributes: { style: "text-align:right;" },
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '50', '0');
                        }
                    },
                    {
                        field: "In_discount",
                        title: "Discount",
                        width: 90,
                        attributes: { style: "text-align:right;" },
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '50', '0');
                        }
                    },
                    {
                        field: "In_tax_amount",
                        title: "Tax Amount",
                        width: 100,
                        attributes: { style: "text-align:right;" },
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '50', '0');
                        }
                    },
                    {
                        field: "In_net_amount",
                        title: "Net Amount",
                        width: 100,
                        attributes: { style: "text-align:right;" },
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '50', '0');
                        }

                    },
                    {
                        field: "In_tax_rate",
                        title: "Tax Rate",
                        width: 100,
                        hidden: true
                    },
                    {
                        field: "In_status_code",
                        title: "status_code",
                        hidden: true,
                        width: 50,
                    },
                    {
                        field: "In_status_desc",
                        title: "Status",
                        hidden: true,
                        width: 50,
                    },
                    {
                        field: "In_mode_flag",
                        title: "Mode",
                        hidden: true
                    }

                ],
                editable: true
            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    load_master_code();
    In_item_desc_list = grid_comboScreen_mastercodes("ITEMCODE");

    function load_master_code() {
        try {
            var data = {};
            var context = WebAPIProxy.getContext();
            data.userId = context.userId
            data.orgnId = context.orgnId
            data.locnId = context.locnId
            data.localeId = context.localeId
            data.screen_Id = "WHSINVOICE";
            var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function OnEdit(e) {
        setDefaultValues(e);
        e.container.find("input[name='In_amount']").attr('onkeypress', 'return false');
        e.container.find("input[name='In_tax_amount']").attr('onkeypress', 'return false');
        e.container.find("input[name='In_net_amount']").attr('onkeypress', 'return false');
        //var grid_validate_msg = "";
        //grid_validate_msg = "Given quantity is greater than stock";
        //e.container.find("input[name='qty']").focusout(function () {
        //    if (parseFloat($(this).val()) > 0) {
        //        e.model.qty = 0;
        //        e.model.rate = 0;
        //        e.model.amount = 0;
        //        e.model.discount_amount = 0;
        //        e.model.tax_amount = 0;
        //        e.model.net_amount = 0;
        //        kendoAlert(grid_validate_msg);
        //        return false;
        //    }
        //});
        e.container.find("input[name='In_item_desc']").change(function () {
            debugger;
            var valueprd = $(this).val();
            //var tect ='Tamil Nadu';

            var formval = form_Serialize("invoice_form");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = 'pawhs';
            obj_val.FilterBy_Code = valueprd;
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                //obj_val.FilterBy_Fromvalue = ".";
                obj_val.FilterBy_Fromvalue = $('#txt_farmer_state').val();
            }
            obj_val.FilterBy_Tovalue = ".";


            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Header = obj_val;
            var Context = data.context;
            $.ajax({
                type: "POST",
                data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, Filter: Context.Header }),
                url: "/PAWHSRaiseInvoice/ProductServiceList",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    if (response.context.InvoiceTax != null) {
                        generate_RaiseInvoice_InvoiceTax(response.context.InvoiceTax)
                        generate_TaxInvoiceproduct_list(response.context.InvoiceTax)
                        //listgrid(response.context.List);
                        //SetPager(response.context.Filter.out_record_count)

                        //retrieve_Invoiceproduct_list(data);
                        var colCount = $("#grid_tax").find('.k-grid-header colgroup > col').length;

                        //If There are no results place an indicator row
                        if ($("#grid_tax").data("kendoGrid").dataSource._view.length == 0) {
                            kendoAlert("Kindly Maintain  GST Rate for this product/ Hsn Code ");
                            gridtax([]);
                        }
                    }
                    if (response.context != null) {
                        generate_Invoiceproduct_details(response.context.Detail)
                    }
                
                    else {
                        gridtax([]);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });




          
        })
    }
</script>

<script>
    //var data = [];
    function gridtax(data) {
        try {
            $("#grid_tax").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {
                                In_taxdetails_rowid: { type: "string", defaultValue: "0" },
                                In_state: { type: "string", },
                                In_hsn_code: { type: "string" },
                                In_hsn_desc: { type: "string" },
                                In_cgst_rate: { type: "string" },
                                In_sgst_rate: { type: "string" },
                                In_igst_rate: { type: "string" },
                                In_tax_rate: { type: "string" },
                                In_taxable_amount: { type: "string", defaultValue: "0" },
                                In_tax_amount: { type: "string", defaultValue: "0" },
                                In_status_code: { type: "string" },
                                In_mode_flag: { type: "string" }
                            }
                        }
                    }
                },

                height: 240,
                groupable: false,
                dataBinding: setDefaultValues,
                dataBound: function (e) {
                    resultData = e.sender._data;
                    var rows = $('#grid_tax').data('kendoGrid').tbody.children();
                    setColor(rows, resultData);
                },
                sortable: true,
                selectable: true,
                navigatable: true,
                columns: [

                    {
                        field: "In_taxdetails_rowid",
                        title: "State",
                        hidden: true,
                        width: 100,

                    },
                    {
                        field: "In_state",
                        title: "State",
                        width: 100,

                    },
                    {
                        field: "In_hsn_code",
                        title: "HSN Code",
                        width: 100,
                        //editor: '<div class="input-group input-group-sm"><input type="text" readonly name="hsn_code" maxlength="50" style="width:100px;color:white"  data-bind="value:hsn_code"/><span class="input-group-btn" style="padding-right: 150px;"><a class="HelpWindow fa fa-search fa-lg" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Details" searchid="S01" data-target="#HelpModal" onclick=transfer(this,"grid","grid_tax","gridtax") title="Search" style="font-size: 15px; padding-left: 10px;"></a> </span> </div>',
                    },
                    {
                        field: "In_hsn_desc",
                        title: "HSN Description",
                        width: 100,
                    },
                    //{
                    //    field: "cgst_rate",
                    //    title: "CGST %",
                    //    width: 100,
                    //    editor: function (container, options) {
                    //        item_rate(container, options.field, '4', '2');
                    //    },
                    //},
                    {
                        field: "In_cgst_rate",
                        title: "CGST %",
                        width: 100,
                        editor: function (container, options) {
                            item_rate(container, options.field, '4', '2');
                        },
                    },
                    {
                        field: "In_sugst_rate",
                        title: "sgst_rate",
                        hidden: true
                    },
                    {
                        field: "In_ugst_rate",
                        title: "ugst_rate",
                        hidden: true
                    },
                    //{
                    //    field: "sgst_rate",
                    //    title: "SGST % / UGST %",
                    //    width: 100,
                    //    editor: function (container, options) {
                    //        item_rate(container, options.field, '4', '2');
                    //    },
                    //},
                    {
                        field: "In_sgst_rate",
                        title: "SGST % / UGST %",
                        width: 100,
                        editor: function (container, options) {
                            item_rate(container, options.field, '4', '2');
                        },
                    },
                    //{
                    //    field: "igst_rate",
                    //    title: "IGST %",
                    //    width: 100,
                    //    editor: function (container, options) {
                    //        item_rate(container, options.field, '4', '2');
                    //    },
                    //},
                    {
                        field: "In_igst_rate",
                        title: "IGST %",
                        width: 100,
                        editor: function (container, options) {
                            item_rate(container, options.field, '4', '2');
                        },
                    },
                    {
                        field: "In_tax_rate",
                        title: "Tax Rate",
                        width: 100,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '50', '0');
                        }
                    },
                    {
                        field: "In_taxable_amount",
                        title: "Taxable Amount",
                        width: 100,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '50', '0');
                        }
                    },
                    {
                        field: "In_tax_amount",
                        title: "Tax Amount",
                        width: 100,
                        editor: function (container, options) {
                            numeric_editor(container, options.field, '50', '0');
                        },

                    },
                    {
                        field: "In_status_code",
                        title: "status_code",
                        hidden: true,
                        width: 50,
                    },
                    {
                        field: "In_status_desc",
                        title: "Status",
                        hidden: true,
                        width: 50,
                    },
                    {
                        field: "In_mode_flag",
                        title: "Mode",
                        hidden: true
                    }
                ],
                editable: true
            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>
<script>
    function grid_control() {
        var control_Name = [
            { "dataCol": "", "grid_row_col": "In_invoice_details_rowid" },
            { "dataCol": "", "grid_row_col": "In_item_name" },
            { "dataCol": "", "grid_row_col": "In_type" },
            { "dataCol": "", "grid_row_col": "In_qty" },
            { "dataCol": "", "grid_row_col": "In_rate" },
            { "dataCol": "", "grid_row_col": "In_amount" },
            { "dataCol": "", "grid_row_col": "In_discount" },
            { "dataCol": "", "grid_row_col": "In_tax_amount" },
            { "dataCol": "", "grid_row_col": "In_net_amount" },
            { "dataCol": "", "grid_row_col": "In_status_code", defaltvalue: "A" },
            { "dataCol": "item_code", "grid_row_col": "In_item_code" },
            { "dataCol": "item_desc", "grid_row_col": "In_item_desc" },
            { "dataCol": "uom_code", "grid_row_col": "In_uom_code" },
            { "dataCol": "", "grid_row_col": "uid" }

        ];
        return control_Name;
    }

    function form_control() {
        var control_Name = [
            { "dataCol": "prodc_cate", "controlId": "txt_produ_cate", "type": "Text" },
            //{ "dataCol": "farmer_state", "controlId": "txt_farmer_state", "type": "Text" },
            // { "dataCol": "farmer_state", "controlId": "txt_provider_state", "type": "Text" },
            { "dataCol": "farmer_code", "controlId": "txtcus_code", "type": "Text" },
            { "dataCol": "farmer_name", "controlId": "txt_farmer_name", "type": "Text" },
            { "dataCol": "farmer_state", "controlId": "txtprovider_desc", "type": "Text" },
            { "dataCol": "state", "controlId": "txt_farmer_state", "type": "Text" },

        ];
        return control_Name;

    }

    function trans_input_data() {
        var trans_coll = [
            { "trasfer": "Yes", "dataCol": "prodc_cate", "controlId": "", "grid_id": "", "grid_row_col": "" },
            { "trasfer": "Yes", "dataCol": "farmer_code", "controlId": "txtcus_code", "grid_id": "", "grid_row_col": "farmer_state" },

            //{ "trasfer": "Yes", "dataCol": "farmer_state", "controlId": "txt_provider_state", "grid_id": "", "grid_row_col": "farmer_state" },
            //{ "trasfer": "Yes", "dataCol": "farmer_state", "controlId": "txt_farmer_state", "grid_id": "", "grid_row_col": "farmer_state" },
            { "trasfer": "No", "dataCol": "farmer_name", "controlId": "", "grid_id": "", "grid_row_col": "farmer_name" },
            { "trasfer": "Yes", "dataCol": "item_code", "controlId": "", "grid_id": "grid_invoice", "grid_row_col": "" },
            { "trasfer": "Yes", "dataCol": "item_desc", "controlId": "", "grid_id": "grid_invoice", "grid_row_col": "" },
            { "trasfer": "Yes", "dataCol": "uom_code", "controlId": "", "grid_id": "grid_invoice", "grid_row_col": "" },


        ];
        return trans_coll;
    }

    function mandatory() {
        kendo.alert("enter product category")
    }
</script>

<script>
    function save() {
        debugger;
        try {
            if ($("#txtinvoice_no").val() == "" || $("#txtinvoice_no").val() == undefined) {
                $("#txtinvoice_no").val('0');
            }
            if ($("#txt_invc_rowid").val() == "" || $("#txt_invc_rowid").val() == undefined) {
                $("#txt_invc_rowid").val('0');

            }
            //if ($("#txtorgn_code").val() == "" || $("#txtorgn_code").val() == undefined) {
            //    $("#txtorgn_code").val('fpo');
            //}
            //if ($("#txtcus_code").val() == "" || $("#txtcus_code").val() == undefined) {
            //    $("#txtcus_code").val('cust/0001');
            //}
            if ($("#txtMode").val() == "S") {
                $("#txtMode").val('U');
            }
            if ($("#txtMode").val() == "") {
                $("#txtMode").val("I");
            }
            //if ($("#txt_provider_state").val() == "" || $("#txt_provider_state").val() == undefined) {
            //    $("#txt_provider_state").val('TamilNadu');
            //}
            //if ($("#txt_farmer_state").val() == "" || $("#txt_farmer_state").val() == undefined) {
            //    $("#txt_farmer_state").val('TamilNadu');
            //}


            //$("#txtcus_code").removeAttr("readonly");
            //$("#txtorgn_code").removeAttr("readonly");
            //$("#txtinvoice_no").attr("readonly");
            //$("#txt_farmer_name").removeAttr("readonly");
            //$("#txt_farmer_state").removeAttr("readonly");
            //$("#txt_provider_state").removeAttr("readonly");
            //$("#invoice_date").attr("readonly");
            var grid = $("#grid_invoice").data("kendoGrid");
            var gridData = grid.dataSource.view();
            var net_amt = 0;
            for (var i = 0; i < gridData.length; i++) {
                if (gridData[i].In_net_amount != '') {
                    net_amt += gridData[i].In_net_amount != undefined ? parseFloat(gridData[i].In_net_amount) : parseFloat(0);
                }
            }
            $('#hdn_tot_amt').val(parseFloat(net_amt).toFixed(3));

            var formval = form_Serialize("invoice_form");
            var obj_val = JSON.parse(formval);
            obj_val.In_fpo_name = $("#txtorgn_desc").val();
            if (obj_val.hasOwnProperty('In_invoice_date')) {
                if (obj_val.In_invoice_date != '')
                    obj_val.In_invoice_date = getFormated_StringDate(obj_val.In_invoice_date);
            }
            var grid_val1 = JSON.stringify($("#grid_invoice").data().kendoGrid._data);
            var Bind = {};
            Bind = grid_val1;
            var result1 = JSON.parse(Bind);
            $.each(result1, function (index, value) {

                var invoice_details_rowid = value.In_invoice_details_rowid;
                if (invoice_details_rowid == undefined || invoice_details_rowid == '') {
                    result1[index].In_invoice_details_rowid = "0";
                }
                var discount = value.In_discount;
                if (discount == undefined || discount == '') {
                    result1[index].In_discount = "0";
                }


                var status_code = value.In_status_code;
                if (status_code == undefined || status_code == '') {
                    result1[index].In_status_code = "A";
                }

                var item_name = value.In_item_name;
                if (item_name == undefined || item_name == '') {
                    result1[index].In_item_name = "Item";
                }
                var mode_flag = value.In_mode_flag;
                if (mode_flag == undefined || mode_flag == '') {
                    result1[index].In_mode_flag = "I";
                }


            });
            var obj_tax_val1 = result1;

            var grid_val2 = JSON.stringify($("#grid_tax").data().kendoGrid._data);
            var Bind = {};
            Bind = grid_val2;
            var result2 = JSON.parse(Bind);
            $.each(result2, function (index, value) {
                var taxdetails_rowid = value.In_taxdetails_rowid;
                if (taxdetails_rowid == undefined) {
                    result2[index].In_taxdetails_rowid = "0";
                }
                var status_code = value.In_status_code;
                if (status_code == undefined || status_code == '') {
                    result2[index].In_status_code = "A";
                }
                var mode_flag = value.In_mode_flag;
                if (mode_flag == undefined || mode_flag == '') {
                    result2[index].In_mode_flag = "I";
                }

                var taxable_amount = value.In_taxable_amount;
                if (taxable_amount == undefined || taxable_amount == '') {
                    result2[index].In_taxable_amount = result1[index].In_net_amount;
                }
                var tax_amount = value.In_tax_amount;
                if (tax_amount == undefined || tax_amount == '') {
                    result2[index].In_tax_amount = result1[index].In_tax_amount;
                }
            });

            var obj_grid_val2 = result2;
            var data = {};
            obj_val.IOU_invoice_no= obj_val.In_invoice_no;
            data.context = WebAPIProxy.getContext();
            data.context.Header = obj_val;
            data.context.InvoiceDetails = obj_tax_val1;
            data.context.TaxDetails = obj_grid_val2;
            data.context.Header.InvoiceDetails = obj_tax_val1;
            data.context.Header.TaxDetails = obj_grid_val2;
            var Context = data.context;

            $.ajax({
                type: "POST",
                data: JSON.stringify({ orgnId: Context.orgnId, locnId: Context.locnId, userId: Context.userId, localeId: Context.localeId, Header: Context.Header }),
                url: "/PAWHSRaiseInvoice/NewRaiseInvoice",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    var Res = JSON.parse(response);
                    if (Res != null) {
                        var msg = Res.ApplicationException;
                        //retrive_SingleFetch_Details(Res.context);
                        
                        if (Res.ApplicationException == null || Res.ApplicationException == "") {
                            //generate_RaiseInvoice_header(Res.context.Header)
                            get_RaiseInvoice_details(Res.context.Header);
                            kendoAlert("Raise Invoice Details Saved Successfully");
                        }
                        else {
                            kendoAlert(Res.ApplicationException.errorDescription);
                        }

                    }

                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
            /*save_RaiseInvoice_details(data)*/;


            //$("#txtcus_code").removeAttr("readonly", true);
            //$("#txtorgn_code").removeAttr("readonly", true);
            //$("#txtinvoice_no").attr("readonly", true);
            //$("#txt_farmer_name").removeAttr("readonly", true);
            //$("#txt_farmer_state").removeAttr("readonly", true);
            //$("#txt_provider_state").removeAttr("readonly", true);
            //$("#invoice_date").attr("readonly", true);
            $("#DocStat").val("Active");

        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    //function generate_RaiseInvoice_header(res) {
    //    try {
    //        $("#txt_invc_rowid").val(res.invoice_rowid);
    //        $("#txtorgn_code").val(res.orgn_code);
    //        $("#invoice_date").val(res.invoice_date);
    //        $("#txtinvoice_no").val(res.invoice_no);
    //        $("#txtcus_code").val(res.customer_code);
    //        $("#txt_farmer_name").val(res.farmer_name);
    //        $("#txt_farmer_state").val(res.farmer_state);
    //        $("#txt_provider_state").val(res.farmer_name);
    //        $("#txt_status_code").val(res.status_code);
    //        $("#txt_status_desc").val(res.status_desc);
    //        $("#txt_farmer_name").val(res.farmer_name);
    //        $("#txtMode").val(res.mode_flag);
    //        $("#txt_row_timestamp").val(res.row_timestamp);

    //    } catch (err) {
    //        javascript_log4j_root(arguments.callee.name, err);
    //    }
    //}
    function generate_Invoiceproduct_details(res) {
        var dataItem = $("#grid_invoice").data("kendoGrid").dataSource.data()[0];

        dataItem.set("In_item_code", res[0].In_productcategory);
        dataItem.set("In_item_desc", res[0].In_productcategory_desc);
        dataItem.set("In_type", res[0].In_productsubcategory);
        dataItem.set("In_product_subcatg_desc", res[0].In_productsubcategory_desc);
        dataItem.set("In_item_name", res[0].In_productcategory_desc);
        dataItem.set("In_uom_code", res[0].In_uomtype_code);
        dataItem.set("In_uom_desc", res[0].In_uomtype_code_desc);
        //dataItem.set("hsn_code", $("#hdn_hsn_code").val());
        dataItem.set("In_tax_rate", $("#tax_rate").val());
        dataItem.set("In_tax_amount", $("#tax_amount").val());
        //console.log($("#hdn_hsn_code").val());
        dataItem.set("In_mode_flag", "I");



    }

    function generate_TaxInvoiceproduct_list(res) {
        debugger;
        var gridTax1 = $("#grid_tax").data("kendoGrid");
        var grid = $("#grid_invoice").data("kendoGrid");
        var datavalue = grid.dataItem(grid.select());
        var gridData = gridTax1.dataSource.view();

        for (var i = 0; i < gridData.length; i++) {
            if (gridData[i].In_status_code == datavalue.In_item_code) {
                var array = gridTax1.dataSource.data();
                //gridTax1.dataSource.remove(array[i]);
            }
        }
        var prdgrid1 = $("#grid_invoice").data("kendoGrid");
        var selected1 = prdgrid1.select().index();
        var setdataItem = $("#grid_invoice").data("kendoGrid").dataSource.data()[selected1]

        setdataItem.set("In_qty", "");
        setdataItem.set("In_tax_rate", "");
        setdataItem.set("In_discount", "");
        setdataItem.set("In_net_amount", "");
        if (res != null) {
            var gridTax = $("#grid_tax").data("kendoGrid");
            if (gridtax) {
                var dataSource_Tax = gridTax.dataSource;
                dataSource_Tax.insert(
                    {
                        product_catg_desc: "",
                        product_subcatg_desc: "",
                        item_code: res[0].In_product_code,
                        item_name: res[0].In_product_name,
                        hsn_code: res[0].In_hsn_code,
                        hsn_description: res[0].In_hsn_desc,
                        cgst: res[0].In_cgst_rate,
                        sgst: res[0].In_sgst_rate,
                        ugst_rate: res[0].In_ugst_rate,
                        igst: res[0].In_igst_rate,
                        tax_rate: res[0].In_tax_rate,
                        tax_amount: res[0].In_tax_amount,
                        taxable_amount: res[0].In_taxable_amount,
                        status_code: res[0].In_status_code,
                        state: res[0].In_status_desc

                    });
                $("#tax_rate").val(res[0].In_tax_rate);
                $("#hdn_hsn_code").val(res[0].In_hsn_code);
                $("#hdn_hsn_code_desc").val(res[0].In_hsn_desc);
            }
        }
        else {
            kendoAlert("Kindly Maintain  GST Rate for this product/ Hsn Code ");
        }
    }

    function generate_RaiseInvoice_header(res) {
        debugger;
        try {
            $("#txt_invc_rowid").val(res.IOU_invoice_rowid);
            $("#txtfarcusname").val(res.In_customer_name);
            $("#txtcus_code").val(res.In_customer_code);
            $("#txt_provider_state").val(res.In_provider_state);
            $("#txt_farmer_state").val(res.In_customer_state);
            $("#txt_farmer_name").val(res.In_customer_name);
            $("#hdn_state_reciver").val(res.reciver_location_desc);
            $("#txt_rec_add").val(res.customer_address);
            $("#txtinvoice_no").val(res.In_invoice_no);
            //var fromDate = res.In_invoice_date.split('/').reverse().join('/');
            var fromDate = res.In_invoice_date;
            $("#invoice_date").val(fromDate);
            $("#txt_status_code").val(res.In_status_desc);
            //$('#cmb_cus_type').data("kendoComboBox").value(res.customer_type);
            $("#invoice #DocStat").val(res.In_status_desc);
            $("#hdn_mode_flag").val(res.In_mode_flag);
            $("#DocStat").val("Active");
            //$("#hdn_tot_amt").val(res.totalinvoice_amount);
            //$("#hdn_bal_amt").val(res.balance_amount);
            setlocalStorage("procrowid", res.IOU_invoice_rowid);
            localStorage.invoiceno = res.In_invoice_no;
            //console.log(localStorage.invoiceno);
            $("#divUserRole20 #btnReport").prop("disabled", false);
            //$("#btnPayment").attr("disabled", false);
            //$("#btnPayment").css("pointer-events", "default");
            var formval = form_Serialize("invoice_form");
            var obj_val = JSON.parse(formval);
            setlocalStorage("payment_info", obj_val);
            setlocalStorage('grn', $("#txtinvoice_no").val());
        } catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function generate_RaiseInvoice_InvoiceDetail(res) {
        try {
            if (res != null) {

                var data = changedataType(res);
                setlocalStorage("invoice_data", data);
                for (var i = 0; i < data.length; i++) {
                    data[i].hsn_code = data[i].hsn_code;
                    data[i].In_qty = (parseFloat(data[i].In_qty)).toFixed(3);
                    data[i].In_rate = (parseFloat(data[i].In_rate)).toFixed(3);
                    data[i].In_amount = (parseFloat(data[i].In_amount)).toFixed(3);
                    data[i].In_discount = (parseFloat(data[i].In_discount)).toFixed(3);
                    data[i].In_net_amount = (parseFloat(data[i].In_net_amount)).toFixed(3);
                    data[i].In_tax_amount = (parseFloat(data[i].In_tax_amount)).toFixed(3);
                    data[i].In_tax_rate = (parseFloat(data[i].In_tax_rate)).toFixed(3);
                }
                gridinvoice(data);



            }
            else {
                gridinvoice([]);
            }

        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function generate_RaiseInvoice_InvoiceTax(res) {
        debugger;
        try {
            if (res != null) {
                var data = changedataType(res);
                setlocalStorage("tax_data", data);
                for (var i = 0; i < data.length; i++) {
                    data[i].In_hsn_code = data[i].In_hsn_code;
                    data[i].In_hsn_desc = (parseFloat(data[i].In_hsn_desc));
                    data[i].In_cgst_rate = (parseFloat(data[i].In_cgst_rate)).toFixed(2);
                    data[i].In_sgst_rate = (parseFloat(data[i].In_sgst_rate)).toFixed(2);
                    data[i].In_igst_rate = (parseFloat(data[i].In_igst_rate)).toFixed(2);
                    data[i].In_tax_rate = (parseFloat(data[i].In_tax_rate)).toFixed(2);
                    data[i].In_taxable_amount = (parseFloat(data[i].In_taxable_amount)).toFixed(2);
                    data[i].In_tax_amount = (parseFloat(data[i].In_tax_amount)).toFixed(2);

                }

                gridtax(data);

            }
            else {
                gridtax([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>





