@{
    ViewBag.List = "Dividend Structure Definition";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}

<form id="Dividend_Structurelist" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="row">
        <div class="col-xs-12">
            <div id="gd_dividend">
                <div id="dividend_grid"></div>
            </div>
        </div>
    </div>
</form>

<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/API_Scripts/DividendStructure.js"></script>

<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        debugger;
        $(".adv_filter").attr("hdrtitle", "Dividend Structure");
        $(".adv_filter").attr("fltid", "DivStruct");
        $(".Export").attr("hdrtitle", "Dividend Structure List");
        $(".Export").attr("SubTreeId", "SETUPDIV");

        Screen_Id = "SETUPDIV";
        permission = sec_Permission(Screen_Id);
        //page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        $("#RI").hide();
        $("#FPO").hide();
        listpageloadfetch();
    });
</script>

<script>

    function listpageloadfetch() {
        debugger;
        try {
            var formval = form_Serialize("Dividend_Structurelist");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";


            var data = {};
            data.context = WebAPIProxy.getContext();;
            data.context.Filter = obj_val;
            //retrieve_DividendStructure_list(data);
            var Context = data.context;
            $.ajax({
                type: "POST",
                data: JSON.stringify({ orgnId: Context.orgnId, locnId: Context.locnId, userId: Context.userId, localeId: Context.localeId, Filter: Context.Filter }),
                url: "/DividendStructureDefinition/GetDividendStructure",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    if (response.context.List != null) {
                        generate_DividendStructure_list(response)
                    }
                    else {
                        dividendgrid([]);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    var status_Priority = [];
    function dividendgrid(data) {
        try {
            $.each(data, function (index, value) {
                var flag = false;
                $.each(status_Priority, function (sindex, svalue) {
                    if (svalue == value.status_desc) {
                        flag = true;
                    }
                });
                if (flag == false) {
                    status_Priority.push(value.status_desc);
                }
            });
            $("#dividend_grid").kendoGrid(
                {
                    dataSource: {
                        data: data,
                        pageSize: 20,
                        change: function (e) {
                            setTimeout(function () {
                                var gd = $("#dividend_grid").data("kendoGrid");
                                filter_row(gd);
                                $('.k-i-close').css('display', 'none');
                                $('button.k-button-icon').css('display', 'none');
                                $('#dividend_grid .k-input').prop('disabled', false);
                                $('#dividend_grid .k-input').prop('readonly', true);
                            }, 1);
                        },
                    },
                    toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
                    excelExport: function (e) {
                        var gd = $("#dividend_grid").data("kendoGrid");
                        var len = gd.dataSource._data.length;
                        var chkall = $('#chkall').is(':checked');
                        var chkfilter = $('#chkfilter').is(':checked');
                        var chktemp = $('#chktemp').is(':checked');
                        var twokendobox = true;
                        gd.dataSource.pageSize(len);
                        if (e.sender.dataSource._data.length == len) {
                            twokendobox = false;
                            exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                        }
                        else {
                            exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                        }
                        gd.dataSource.pageSize('10');
                        return false;
                    },
                    filterable: {
                        enabled: true,
                        delay: 1500,
                        mode: "menu, row",
                        height: 200,
                        click: function (e) {
                            var gd = $("#dividend_grid").data("kendoGrid");
                            filter_row(gd);
                        }
                    },
                    filterMenuInit: function (e) {
                        var gd = $("#dividend_grid").data("kendoGrid");
                        filter_row(gd);
                    },
                    change: selectRow,
                    height: 450,
                    sortable: true,
                    selectable: true,
                    selectable: "singl",   //  Grid Row Selection
                    pageable: {
                        refresh: false,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    navigatable: true,
                    groupable: false,
                    columns: [
                        {
                            field: "Out_dividendstru_rowid",
                            title: "Dividend Structure ID",
                            hidden: true
                        },
                        {
                            field: "Out_report_date",
                            title: "Record Date",
                            //filterable: {
                            //    cell: {
                            //        operator: "contains",
                            //        inputWidth: 1500
                            //    }
                            //},
                            width: 100,
                        },
                        {
                            field: "Out_fpoorgn_code",
                            title: "fpoorgn_code ",
                            hidden: true
                        },
                        {
                            field: "Out_finyear_code",
                            title: "Financial Year ",
                            filterable: {
                                cell: {
                                    operator: "contains",
                                    inputWidth: 1500
                                }
                            },
                            width: 100,
                            
                        },
                        {
                            field: "Out_finyear_desc",
                            title: "finyear_desc",
                            hidden: true,
                            filterable: {
                                cell: {
                                    operator: "contains",
                                    inputWidth: 1500
                                }
                            },
                            width: 100,
                        },
                        {
                            field: "Out_period_from",
                            title: "Period From",
                            filterable: {
                                cell: {
                                    operator: "contains",
                                    inputWidth: 1500
                                }
                            },
                            width: 100,

                        },
                        {
                            field: "Out_period_to",
                            title: "Period To",
                            filterable: {
                                cell: {
                                    operator: "contains",
                                    inputWidth: 1500
                                }
                            },
                            width: 100,

                        },
                        {
                            field: "Out_dividend_type",
                            title: "dividend_type",
                            hidden: true
                        },
                        {
                            field: "Out_dividend_type_desc",
                            title: "Dividend type",
                            filterable: {
                                cell: {
                                    operator: "contains",
                                    inputWidth: 1500
                                }
                            },
                            width: 100,
                        },
                        {
                            field: "Out_dividend_percent",
                            title: "Dividend %",
                            filterable: {
                                cell: {
                                    operator: "contains",
                                    inputWidth: 1500
                                }
                            },
                            width: 100,
                        },
                        {
                            field: "Out_status_code",
                            title: "Status",
                            hidden: true,
                            width: 100,
                        },
                        {
                            field: "Out_status_desc",
                            title: "Status",
                            hidden: true,
                            filterable: {
                                cell: {
                                    operator: "contains",
                                    inputWidth: 1500
                                }
                            },
                            width: 100,
                        },
                        {
                            field: "Out_declared_date",
                            title: "declared_date",
                            hidden: true
                        },
                        {
                            field: "Out_payor_bank_code",
                            title: "payor_bank_code",
                            hidden: true
                        },
                        {
                            field: "Out_payor_bank_desc",
                            title: "payor_bank_desc",
                            hidden: true
                        },
                        {
                            field: "Out_payor_bank_acc_type",
                            title: "payor_bank_acc_type",
                            hidden: true
                        },
                        {
                            field: "Out_payor_bank_acc_type_desc",
                            title: "payor_bank_acc_type_desc",
                            hidden: true
                        },
                        {
                            field: "Out_payor_bank_acc_no",
                            title: "payor_bank_acc_no",
                            hidden: true
                        },
                        {
                            field: "Out_payor_ifsc_code",
                            title: "payor_ifsc_code",
                            hidden: true
                        },
                        {
                            field: "Out_row_timestamp",
                            title: "row_timestamp",
                            hidden: true
                        },
                        {
                            field: "Out_mode_flag",
                            title: "Mode",
                            hidden: true
                        }],
                });

            $(".k-dropdown-operator").css('display', 'none');
            $("#dividend_grid .k-input").attr('disabled', 'false');
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function selectRow() {
        try {
            var grid = $("#dividend_grid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            setlocalStorage("ls_pageList", selectedItem);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }
</script>
<script>
    $("#btn_Edit").bind("click", function () {
        debugger;
        getSerializedSelectedRows('edit');
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('view');
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../DividendStructureDefinition/DividendStructureDefinitionForm";
    });

    function getSerializedSelectedRows(mode) {
        debugger;
        try {
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");
                if (items.length == 0) {
                    kendoAlert("Please select records");
                }
                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../DividendStructureDefinition/DividendStructureDefinitionForm";
                    }
                    else if (mode == "view") {
                        btn_onClick('View');
                        location.href = "../DividendStructureDefinition/DividendStructureDefinitionForm";
                    }
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>
<script>
    function generate_DividendStructure_list(res) {
        debugger;
        try {
            if (res != null) {
                var data = changedataType(res.context.List);
                $("#gd_dividend").empty();
                $("#gd_dividend").append("<div id='dividend_grid'></div>");
                dividendgrid(data);
            }
            else {
                dividendgrid([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>



