@{
    ViewBag.Form = "Farmer LRP Wise Count Report";
    Layout = "~/Views/Shared/FormViewLayout2.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<style>
    .loading {
        background-image: url('http://www.fotos-lienzo.es/media/aw_searchautocomplete/default/loading.gif');
        background-repeat: no-repeat;
    }
        .loading:after {
            content: "In Progress....Wait for few Miniutes";
            text-align: right;
            color: red;
            padding-left: 25px;
        }
</style>
<style>
    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }
</style>
<form id="frm_adslrp_form" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <label id="lblprog" style="color:red;display:none"> In Progress..Please Wait </label>
                        <button id="btnExport" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button" data-original-title="Export" style="background-color: #00c0ef ; border-color: #00acd6; width:27%" ;><span class="fa fa-file-excel-o"></span>Export Excel </button>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div id="gd_adslrp">
                        <div id="AdsLRP_grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        $("#Topsubheader").show();
        $("#bottomFooter").show();
        $("#bottom_menus").hide();
        $("#btndiv").show();
        $("#frmlayerdiv").hide();
        $("#divCreate").hide();
        $("#divEdit").hide();
        $("#divView").show();
        $("#DocStat").show();
        $(".edtviw_item").show();
        $(".create_item").hide();
        Loadreport();
        $("#btnExport").kendoButton({
            click: function () {
                debugger;
                ExportButtonClick();
            }
        })
    });

    function Loadreport() {
        $('#lblprog').show();
        var cmb_fpocode = $("#cmb_fpocode").val();
        var cmb_dist = $("#cmb_dist").val();
        var cmb_taluk = $("#cmb_taluk").val();
        var cmb_village = $("#cmb_village").val();
        //Sp Name For this Report  : Report_Bank_And_Kyc
        console.log("Report SP :  Report_Bank_And_Kyc");
        $.ajax({
            type: "POST",
            // data: '{fpocode: "' + cmb_fpocode + '",district:"' + cmb_dist + '",taluk:"' + cmb_taluk + '",village:"' + cmb_village + '"}',
            url: "/FarmerADSLRP/LoadLRPBasedADS",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
                $('#lblprog').hide();
                if (response != null) {
                    console.log(response);
                    $("#gd_adslrp").empty();
                    $("#gd_adslrp").append("<div id='AdsLRP_grid'></div>");
                    FarmerADSLRPGrid(response);
                }
                else {
                    response([]);
                }
            },
            error: function (er) {
                $('#lblprog').hide();
                console.log(er)
            }
        });
    }
    var s_Priority = [];
    function FarmerADSLRPGrid(data) {
        try {
            $.each(data, function (index, value) {
                var flag = false;
                $.each(s_Priority, function (sindex, svalue) {
                    if (svalue == value.status_desc) {
                        flag = true;
                    }
                });
                if (flag == false) {
                    s_Priority.push(value.status_desc);
                }
            });
            $("#AdsLRP_grid").kendoGrid(
                {
                    dataSource: {
                        data: data,
                        schema: {
                            model: {
                                fields: {
                                    lrp_name: { type: "string" },
                                    no_of_total: { type: "string" },
                                    no_of_completed: { type: "string" },
                                    no_of_incomplete: { type: "string" },
                                }
                            }
                        },
                    },
                    filterable: true,
                    height: 300,
                    scrollable: true,
                    sortable: true,
                    pageable: {
                        refresh: false,
                        pageSizes: true,
                        previousNext: true,
                        buttonCount: 8,
                        pageSize: 20,
                    },
                    columns: [
                        {
                            field: "lrp_name",
                            title: "LRP NAME",
                            width: 100,
                        },
                        {
                            field: "no_of_total",
                            title: "Total No of Records",
                            width: 100,
                        },
                        {
                            field: "no_of_completed",
                            title: "Completed Records",
                            width: 100,
                        },
                        {
                            field: "no_of_incomplete",
                            title: "InComplete Records",
                            width: 100,
                        },
                    ]
                });
            $(".k-dropdown-operator").css('display', 'none');
            $("#Expenses_grid .k-input").attr('disabled', 'false');
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>
<script>

    function ExportButtonClick() {
        debugger
        var grid = $("#Expenses_grid").data("kendoGrid");
        if (grid.dataSource.total() == 0) {
            kendoAlert('No records available in the Grid to Export!!!');
        }
        else {
            grid.bind("excelExport", function (e) {
                debugger;
                e.workbook.fileName = "Bank Details and KYC.xlsx";
                var rows1 = e.workbook.sheets[0];

                var sheet = e.workbook.sheets[0];
                var gd = $("#Expenses_grid").data("kendoGrid");
                var gd_fi = $("#Expenses_grid").data("kendoGrid").dataSource;
                var filters = gd_fi.filter();
                var allData = gd_fi.data();
                var query = new kendo.data.Query(allData);
                var data = query.filter(filters).data;
                var data_tt = gd.dataSource.data();
                var sheet = e.workbook.sheets[0];
                var gridColumns = gd.columns;

                var columnCells = [];
                for (var c = 0; c < gridColumns.length; c++) {
                    var fieldName = gd.columns[c].hidden;
                    if (typeof (fieldName) === "undefined") {
                        var cellValue = gridColumns[c].title ? gridColumns[c].title : gridColumns[c].field;
                        columnCells.push({ value: cellValue, autoWidth: true, background: "#7a7a7a", color: "#fff" });
                    }
                }
                var rows = [{ cells: columnCells, type: "header" }];
                for (var i = 0; i < data.length; i++) {
                    var rowCells = [];
                    for (var j = 0; j < gridColumns.length; j++) {

                        var fieldName = gd.columns[j].hidden;
                        if (typeof (fieldName) === "undefined") {
                            var cellValue = data[i][gridColumns[j].field];
                            rowCells.push({ value: cellValue });
                        }
                    }
                    rows.push({ cells: rowCells, type: "data" });
                }

                sheet.rows = rows;
            });
            grid.saveAsExcel();
            kendoAlert('Exported Sucessfully');
        }
    }
</script>
@*<style>
        .k-footerTemplate {
            text-align: right;
        }
    </style>*@