@{
    ViewBag.List = "Apply For Shares";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}
<form id="frm_shareapp_form" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="row">
        <div class="col-xs-12">
            <div id="gd_shareapp">
                <div id="apply_grid"></div>
            </div>
        </div>
    </div>
</form>
<script src="~/Scripts/json2.js"></script>
<script src="~/Scripts/jquery.collapse.js"></script>
<script src="~/Scripts/jquery.collapse_storage.js"></script>
<script src="~/Scripts/jquery.collapse_cookie_storage.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script>
    click_act_name = "ApplyNew";
    click_ctrl_name = "Apply";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>

<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        $(".adv_filter").attr("hdrtitle", "Share Application Details");
        $(".adv_filter").attr("fltid", "shareapp_fltr");
        $(".Export").attr("hdrtitle", "Share Application Details");
        $(".Export").attr("SubTreeId", "PSHAPP");
        //$("#btn_Edit").hide();
        $("#RI").hide();
        $("#FPO").hide();       
        Screen_Id = "PSHAPP";
        permission = sec_Permission(Screen_Id);
        //page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        listpageloadfetch();
    });
</script>

<script>
    function listpageloadfetch() {
        try {
            var formval = form_Serialize("frm_shareapp_form");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_FromValue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_FromValue = ".";
            }
            obj_val.FilterBy_ToValue = ".";


            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Filter = obj_val;
            var Context = data.context;
            $.ajax({
                type: "POST",
                url: '/Apply/ApplyListfetch',
                dataType: 'json',
                data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, FilterBy_Option: Context.Filter.FilterBy_Option, FilterBy_Code: Context.Filter.FilterBy_Code, FilterBy_Fromvalue: Context.Filter.FilterBy_FromValue, FilterBy_ToValue: Context.Filter.FilterBy_ToValue }),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    //var list = JSON.parse(response);
                    if (response.context.List != null) {
                        generate_ProcessShareApp_list(response.context.List);
                    }
                    else {
                        listgrid([]);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    var status_Priority = [];
    function listgrid(data) {
        try {
            $.each(data, function (index, value) {
                var flag = false;
                $.each(status_Priority, function (sindex, svalue) {
                    if (svalue == value.status_desc) {
                        flag = true;
                    }
                });
                if (flag == false) {
                    status_Priority.push(value.status_desc);
                }
            });
            $("#apply_grid").kendoGrid(
                {
                    dataSource: {
                        data: data,
                        pageSize: 20,
                        change: function (e) {
                            setTimeout(function () {
                                var gd = $("#apply_grid").data("kendoGrid");
                                filter_row(gd);
                                $('.k-i-close').css('display', 'none');
                                $('button.k-button-icon').css('display', 'none');
                                $('#apply_grid .k-input').prop('disabled', false);
                                $('#apply_grid .k-input').prop('readonly', true);

                            }, 1);
                        },
                    },
                    toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
                    excelExport: function (e) {
                        var gd = $("#apply_grid").data("kendoGrid");
                        var len = gd.dataSource._data.length;
                        var chkall = $('#chkall').is(':checked');
                        var chkfilter = $('#chkfilter').is(':checked');
                        var chktemp = $('#chktemp').is(':checked');
                        var twokendobox = true;
                        gd.dataSource.pageSize(len);
                        if (e.sender.dataSource._data.length == len) {
                            twokendobox = false;
                            exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                        }
                        else {
                            exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                        }
                        gd.dataSource.pageSize('10');
                        return false;
                    },
                    //filterable: {
                    //    enabled: true,
                    //    delay: 1500,
                    //    mode: "menu, row",
                    //    height: 200,
                    //    click: function (e) {
                    //        var gd = $("#apply_grid").data("kendoGrid");
                    //        filter_row(gd);
                    //    }
                    //},
                    filterable: true,
                    resizable: true, 
                    filterMenuInit: function (e) {
                        var gd = $("#apply_grid").data("kendoGrid");
                        filter_row(gd);
                    },

                    change: selectRow,
                    height: 450,
                    sortable: true,
                    selectable: true,
                    selectable: "singl",   //  Grid Row Selection
                    pageable: {
                        refresh: false,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    navigatable: true,
                    groupable: false,

                    columns: [
                           {
                            field: "Out_shareapp_rowid",
                               title: " Row Id",                               
                               hidden: true,
                           },


                            {
                                field: "Out_fpoorgn_code",
                                title: "fpoorgn_code", 
                                hidden: true,
                            },
                             {
                                 field: "Out_member_name",
                                 title: "member_name", 
                                 hidden: true,
                        },
                      
                        {
                            field: "Out_shareapp_no",
                            title: "Application No",
                            attributes: { style: "text-align:right;" },
                            filterable: {
                                extra: false,
                                operators: {
                                    string: {
                                        contains: "Contains"
                                    }
                                }
                            }, 
                            width: 120
                        },
                        {
                            field: "Out_applied_on",
                            title: "Applied Date",
                            filterable: {
                                extra: false,
                                operators: {
                                    string: {
                                        contains: "Contains"
                                    }
                                }
                            }, 
                            width: 110
                        },
                        {
                            field: "Out_farmer_code",
                            title: "Farmer ID",
                            filterable: {
                                extra: false,
                                operators: {
                                    string: {
                                        contains: "Contains"
                                    }
                                }
                            }, 
                            width: 150
                        },
                        {
                            field: "Out_fpomember_code",
                            title: "Member ID",
                            filterable: {
                                extra: false,
                                operators: {
                                    string: {
                                        contains: "Contains"
                                    }
                                }
                            }, 
                            width: 150
                        },

                         {
                             field: "Out_farmer_name",
                             title: "Farmer First Name",
                             filterable: {
                                 extra: false,
                                 operators: {
                                     string: {
                                         contains: "Contains"
                                     }
                                 }
                             }, 
                             width: 150
                         },
                          {
                              field: "Out_sur_name",
                              title: "Surname",
                              filterable: {
                                  extra: false,
                                  operators: {
                                      string: {
                                          contains: "Contains"
                                      }
                                  }
                              }, 
                              width: 150
                          },
                         

                         {
                             field: "Out_applied_shares",
                             title: "Applied Shares",
                             attributes: { style: "text-align:right;" },
                             filterable: {
                                 extra: false,
                                 operators: {
                                     string: {
                                         contains: "Contains"
                                     }
                                 }
                             }, 
                             width: 150
                         },

                         {
                             field: "Out_amount_due",
                             title: "Amount Due",
                             attributes: { style: "text-align:right;" },
                             filterable: {
                                 extra: false,
                                 operators: {
                                     string: {
                                         contains: "Contains"
                                     }
                                 }
                             }, 
                             width: 150
                         },
                          {
                              field: "Out_payment_mode",
                              title: " payment_mode",                            
                              hidden: true,
                          },
                           {
                               field: "Out_payment_status",
                               title: " payment_status",                              
                               hidden: true,
                           },
                             {
                                 field: "Out_status_code",
                                 title: " status_code",                                
                                 hidden: true,
                             },
                                {
                                    field: "Out_shareapp_remark",
                                    title: " shareapp_remark",                                   
                                    hidden: true,
                                },

                          {
                              field: "Out_payment_mode_desc",
                              title: "Payment Method",
                              filterable: {
                                  extra: false,
                                  operators: {
                                      string: {
                                          contains: "Contains"
                                      }
                                  }
                              }, 
                              width: 150
                          },
                           {
                               field: "Out_payment_ref_no",
                               title: "Payment Reference",
                               filterable: {
                                   extra: false,
                                   operators: {
                                       string: {
                                           contains: "Contains"
                                       }
                                   }
                               }, 
                               width: 150
                           },
                            {
                                field: "Out_payment_status_desc",
                                title: "Payment Status",
                                filterable: {
                                    extra: false,
                                    operators: {
                                        string: {
                                            contains: "Contains"
                                        }
                                    }
                                }, 
                                width: 150
                            },
                              {
                                  field: "Out_status_desc",
                                  title: "Application Status",
                                  filterable: {
                                      extra: false,
                                      operators: {
                                          string: {
                                              contains: "Contains"
                                          }
                                      }
                                  }, 
                                  width: 150
                              },
                    ]

                });



            $(".k-dropdown-operator").css('display', 'none');
            $("#apply_grid .k-input").attr('disabled', 'false');
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function selectRow() {
        try {
            var grid = $("#apply_grid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            setlocalStorage("ls_pageList", selectedItem);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }
</script>
<script>
    $("#btn_Edit").bind("click", function () {
        getSerializedSelectedRows('edit');
        //$("#btn_new").attr("disabled", true);
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('view');
        //$("#btn_new").attr("disabled", true);
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../Apply/ApplyNew";
    });

    function getSerializedSelectedRows(mode) {
        try {
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");
                if (items.length == 0) {
                    kendoAlert("Please select records");
                }
                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../Apply/ApplyNew";
                    }
                    else if (mode == "view") {
                        btn_onClick('View');
                        location.href = "../Apply/ApplyNew";
                    }
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);

        }
    }
</script>
<script>
    function generate_ProcessShareApp_list(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                $("#gd_shareapp").empty();
                $("#gd_shareapp").append("<div id='apply_grid'></div>");
                listgrid(data);


            }
            else {
                listgrid([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>
