@{
    ViewBag.List = "Maintain Subvention";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}
<form id="frm_bank_form" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="row">
        <div class="col-xs-12">
            <div id="gd_subvention">
                <div id="Subvension_grid"></div>
            </div>
        </div>
    </div>
</form>
<script src="~/API_Scripts/subvention_master_retrieve_subvention_List_APIClient.js"></script>
<script src="~/API_Scripts/subvention_master_save_maintain_subvention_APIClient.js"></script>
<script src="~/API_Scripts/subvention_master_retrieveSubventionMaster_APIClient.js"></script>
<script src="~/API_Scripts/subvention_master_get_subvention_loantype_APIClient.js"></script>
<script src="~/API_Scripts/retrieve_subvention_List_Model.js"></script>
<script src="~/API_Scripts/retrieveMaintainMaster_Model.js"></script>
<script src="~/API_Scripts/save_maintain_subvention_Model.js"></script>
<script src="~/API_Scripts/SubventionMaster.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        $(".adv_filter").attr("hdrtitle", "Maintain Subvention List");
        $(".adv_filter").attr("fltid", "SubventionList");
        $(".Export").attr("hdrtitle", "Maintain Subvention List");
        $(".Export").attr("SubTreeId", "SUBSCH");

        Screen_Id = "SUBSCH";
        permission = sec_Permission(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
    });
</script>
<script>
    function listpageloadfetch() {
        try {
            var formval = form_Serialize("frm_bank_form");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";


            var data = {};
            data.context = WebAPIProxy.getContext();;
            data.context.Filter = obj_val;
            retrieve_SubventionMaster_list(data);
            // setlocalStorage('flt_condition', "");
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    var status_Priority = [];
    function listgrid(data) {
        try {
            $.each(data, function (index, value) {
                var flag = false;
                $.each(status_Priority, function (sindex, svalue) {
                    if (svalue == value.status_desc) {
                        flag = true;
                    }
                });
                if (flag == false) {
                    status_Priority.push(value.status_desc);
                }
            });
            $("#Subvension_grid").kendoGrid(
                    {
                        dataSource: {
                            data: data,
                            pageSize: 20,
                            change: function (e) {
                                setTimeout(function () {
                                    var gd = $("#Subvension_grid").data("kendoGrid");
                                    filter_row(gd);
                                    $('.k-i-close').css('display', 'none');
                                    $('button.k-button-icon').css('display', 'none');
                                    $('#Subvension_grid .k-input').prop('disabled', false);
                                    $('#Subvension_grid .k-input').prop('readonly', true);

                                }, 1);
                            },
                        },
                        toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
                        excelExport: function (e) {
                            var gd = $("#Subvension_grid").data("kendoGrid");
                            var len = gd.dataSource._data.length;
                            var chkall = $('#chkall').is(':checked');
                            var chkfilter = $('#chkfilter').is(':checked');
                            var chktemp = $('#chktemp').is(':checked');
                            var twokendobox = true;
                            gd.dataSource.pageSize(len);
                            if (e.sender.dataSource._data.length == len) {
                                twokendobox = false;
                                exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                            }
                            else {
                                exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                            }
                            gd.dataSource.pageSize('10');
                            return false;
                        },
                        filterable: {
                            enabled: true,
                            delay: 1500,
                            mode: "menu, row",
                            height: 200,
                            click: function (e) {
                                var gd = $("#Subvension_grid").data("kendoGrid");
                                filter_row(gd);
                            }
                        },
                        filterMenuInit: function (e) {
                            var gd = $("#Subvension_grid").data("kendoGrid");
                            filter_row(gd);
                        },
                        change: selectRow,
                        height: 450,
                        sortable: true,
                        selectable: true,
                        selectable: "singl",   //  Grid Row Selection
                        pageable: {
                            refresh: false,
                            pageSizes: true,
                            buttonCount: 5
                        },
                        navigatable: true,
                        groupable: false,

                        columns: [
                              {
                                  field: "loansubvention_rowid",
                                  title: "loansubvention_rowid",
                                  hidden: true,
                              },
                              {
                                  field: "subvention_code",
                                  title: "subvention_code",
                                  hidden: true,
                              },

                            {
                                field: "subvention_name",
                                title: "Scheme",
                                width: 200,
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        inputWidth: 1500
                                    }
                                }
                            },

                              {
                                  field: "period_from",
                                  title: "Vaild From",
                                  width: 200,
                                  filterable: {
                                      cell: {
                                          operator: "contains",
                                          inputWidth: 1500
                                      }
                                  }
                              },
                             {
                                 field: "period_to",
                                 title: "Vaild To",
                                 width: 200,
                                 filterable: {
                                     cell: {
                                         operator: "contains",
                                         inputWidth: 1500
                                     }
                                 }
                             },
                              {
                                  field: "loan_type",
                                  title: "loan_type",
                                  hidden: true,
                              },
                            {
                                field: "interest_amount",
                                title: "Interest %",
                                width: 200,
                                //hidden: true,
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        inputWidth: 1500
                                    }
                                }
                            },
                             {
                                 field: "Threshold",
                                 title: "Thershold",
                                 width: 200,
                                 //hidden: true,
                                 filterable: {
                                     cell: {
                                         operator: "contains",
                                         inputWidth: 1500
                                     }
                                 }
                             },
                            {
                                field: "Ref_Circular_No",
                                title: "Ref. Circular. No.",
                                width: 200,
                                //hidden: true,
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        inputWidth: 1500
                                    }
                                }
                            },
                             {
                                 field: "loan_type_desc",
                                 title: "Loan Type",
                                 width: 200,
                                 filterable: {
                                     cell: {
                                         operator: "contains",
                                         inputWidth: 1500
                                     }
                                 }
                             },
                             {
                                 field: "Interest_Paid_From",
                                 title: "Interest Paid From",
                                 width: 200,
                                 //hidden: true,
                                 filterable: {
                                     cell: {
                                         operator: "contains",
                                         inputWidth: 1500
                                     }
                                 }
                             },
                              {
                                  field: "Interest_Paid_to",
                                  title: "Interest Paid To",
                                  width: 200,
                                  //hidden: true,
                                  filterable: {
                                      cell: {
                                          operator: "contains",
                                          inputWidth: 1500
                                      }
                                  }
                              },

                               {
                                   field: "Loan_Disb_From",
                                   title: "Loan Disb. From",
                                   width: 200,
                                   //hidden: true,
                                   filterable: {
                                       cell: {
                                           operator: "contains",
                                           inputWidth: 1500
                                       }
                                   }
                               },
                            {
                                field: "Loan_Disb_To",
                                title: "Loan Disb. To",
                                width: 200,
                                //hidden: true,
                                filterable: {
                                    cell: {
                                        operator: "contains",
                                        inputWidth: 1500
                                    }
                                }
                            },
{
    field: "created_date",
    title: "Creation Date",
    width: 200,
    filterable: {
        cell: {
            operator: "contains",
            inputWidth: 1500
        }
    }
},


                        ]

                    });



            $(".k-dropdown-operator").css('display', 'none');
            $("#Subvension_grid .k-input").attr('disabled', 'false');
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function selectRow() {
        try {
            var grid = $("#Subvension_grid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            setlocalStorage("ls_pageList", selectedItem);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }

</script>
<script>
    $("#btn_Edit").bind("click", function () {
        getSerializedSelectedRows('edit');
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('view');
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../SubVentionMaster/SubVentionMaster";
    });

    function getSerializedSelectedRows(mode) {
        try {
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");               
                if (items.length == 0) {
                    kendoAlert("Please select records");
                }
                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../SubVentionMaster/SubVentionMaster";
                    }
                    else if (mode == "view") {
                        btn_onClick('View');
                        location.href = "../SubVentionMaster/SubVentionMaster";
                    }
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>
<script>
    function generate_SubventionMaster_list(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                $("#gd_subvention").empty();
                $("#gd_subvention").append("<div id='Subvension_grid'></div>");
                listgrid(data);
            }
            else {
                listgrid([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


</script>




