
@{
    ViewBag.List = "ESP Equipment Setup";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}
<form id="frm_eqp_reg" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="row">
            <div class="col-xs-12">
                <div id="gd_eqp">
                    <div id="Eqp_grid"></div>
                </div>
            </div>
    </div>
</form>
<script src="~/API_Scripts/Equipment_Details.js"></script>
<script src="~/API_Scripts/ESP_EquipmentSetup_retrieveESPEquipmentSetupList_APIClient.js"></script>
<script src="~/API_Scripts/retrieveESPEquipmentSetupList_Model.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script>
    click_act_name = "EquipmentDetails";
    click_ctrl_name = "EquipmentDetailsForm";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;

</script>
<script>

    var menuId = "";
    var permission = "";

    $(document).ready(function () {
        $(".adv_filter").attr("hdrtitle", "ESP Equipment List Record");
        $(".adv_filter").attr("fltid", "eqpsetup");
        $(".Export").attr("hdrtitle", "ESP Equipment List");
        $(".Export").attr("SubTreeId", "eqp_grid");
        list_grid_id = "eqp_grid";

        listpageloadfetch();

        Screen_Id = "FALEQPDEI";
        permission = sec_Permission(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        filterhover();

    });
</script>
<script>
    function listpageloadfetch() {
        try {
            var formval = form_Serialize("frm_esp_reg");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_FromValue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_FromValue = ".";
            }
            obj_val.FilterBy_ToValue = ".";

            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Filter = obj_val;
            retrieve_Equipmentdetails_list(data);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    var status_Priority = [];
    function EQPgrid(data) {
        try{
            $.each(data, function (index, value) {
                var flag = false;
                $.each(status_Priority, function (sindex, svalue) {
                    if (svalue == value.status_desc) {
                        flag = true;
                    }
                });
                if (flag == false) {
                    status_Priority.push(value.status_desc);
                }
            });

    $("#Eqp_grid").kendoGrid(
        {
            dataSource: {
                data: data,
                pageSize: 20,
                change: function (e) {
                    setTimeout(function () {
                        var gd = $("#Eqp_grid").data("kendoGrid");
                        filter_row(gd);
                        $('.k-i-close').css('display', 'none');
                        $('button.k-button-icon').css('display', 'none');
                        $('#Eqp_grid .k-input').prop('disabled', false);
                        $('#Eqp_grid .k-input').prop('readonly', true);

                    }, 1);
                },
            },
            toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
            excelExport: function (e) {
                var chkall = $('#chkall').is(':checked');
                var chkfilter = $('#chkfilter').is(':checked');
                var chktemp = $('#chktemp').is(':checked');
                var gd = $("#Eqp_grid").data("kendoGrid");
                var len = gd.dataSource._data.length;
                gd.dataSource.pageSize(len);
                exportfunction(e, chkall, chkfilter, chktemp);
                gd.dataSource.pageSize('10');
            },
            filterable: {
                enabled: true,
                delay: 1500,
                mode: "menu, row",
                height: 200,
                click: function (e) {
                    var gd = $("#Eqp_grid").data("kendoGrid");
                    filter_row(gd);
                }
            },
            filterMenuInit: function (e) {
                var gd = $("#Eqp_grid").data("kendoGrid");
                filter_row(gd);
            },
            change: selectRow,
            height: 450,
            sortable: true,
            selectable: true,
            selectable: "singl",   //  Grid Row Selection
            pageable: {
                refresh: false,
                pageSizes: true,
                buttonCount: 5
            },
            navigatable: true,
            groupable: false,

            columns: [
                {
                    field: "espequipment_rowid",
                    title: "espequipment_rowid",
                    hidden: true
                },
                {
                    field: "customer_code",
                    title: "Customer Code",
                    hidden: true
                },
                {
                    field: "customer_name",
                    title: "Customer Name",
                    hidden: true
                },
                {
                    field: "booking_no",
                    title: "Booking ID",
                    hidden: true
                },
                {
                    field: "equipment_code",
                    title: "equipment_code",
                    hidden:true
                },
                {
                    field: "equipment_name",
                    title: "Equipment Name",
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    }
                },
                {
                    field: "booking_date",
                    title: "Date of Booking",
                    hidden: true
                },
                {
                    field: "effective_from",
                    title: "Effective From",
                    hidden: true
                 },
                 {
                    field: "effective_to",
                    title: "Effective To",
                    hidden: true
                 },
                 {
                     field: "manufacturer_name",
                     title: "Manufacturer Name",
                     filterable: {
                         cell: {
                             operator: "contains",
                             inputWidth: 1500
                         }
                     }
                 },
                 {
                     field: "serial_no",
                     title: "Serial no",
                     filterable: {
                         cell: {
                             operator: "contains",
                             inputWidth: 1500
                         }
                     }
                 },
                 {
                     field: "chasis_no",
                     title: "Chasis no",
                     filterable: {
                         cell: {
                             operator: "contains",
                             inputWidth: 1500
                         }
                     }
                 },
                 {
                     field: "imei_no",
                     title: "IMEI no",
                     filterable: {
                         cell: {
                             operator: "contains",
                             inputWidth: 1500
                         }
                     }
                 },
                 {
                     field: "sim_no",
                     title: "SIM no",
                     filterable: {
                         cell: {
                             operator: "contains",
                             inputWidth: 1500
                         }
                     }
                 },
                 {
                     field: "gps_id",
                     title: "GPS ID",
                     filterable: {
                         cell: {
                             operator: "contains",
                             inputWidth: 1500
                         }
                     }
                 },
                 {
                     field: "status_code",
                     title: "GPS ID",
                     hidden: true
                 },
                 {
                     field: "status_desc",
                    title: "Status",
                    filterable: {
                        cell: {
                            operator: "contains",
                            inputWidth: 1500
                        }
                    }
                 },
            ]

        });



    $(".k-dropdown-operator").css('display', 'none');
    $("#Eqp_grid .k-input").attr('disabled', 'false');

        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }

    function selectRow() {
        try {
            var grid = $("#Eqp_grid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            setlocalStorage("ls_pageList", selectedItem);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>
<script>
    $("#btn_Edit").bind("click", function () {
        getSerializedSelectedRows('edit');
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('view');
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../EquipmentDetails/EquipmentDetailsForm";
    });
    function getSerializedSelectedRows(mode) {
        try {
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");
                if (items.length == 0) {
                    kendoAlert("Please select a record to modify / view");
                }

                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../EquipmentDetails/EquipmentDetailsForm";
                    }
                    else if (mode == "view") {
                        btn_onClick('View');
                        location.href = "../EquipmentDetails/EquipmentDetailsForm";
                    }
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>

<script>
    // To bind grid
    function generate_Equipmentdetails_list(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                EQPgrid(data);
            }
            else {
                EQPgrid([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>


