@{
    ViewBag.List = "FL-ForeClosure";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}
<form id="frm_ForeClosure" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="row">
        <div class="col-xs-12">
            <div id="gd_ForeClosure">
                <div id="FLclosure_grid"></div>
            </div>
        </div>
    </div>
</form>

<script>
    click_act_name = "FLForeClosureForm";
    click_ctrl_name = "FLForeClosure";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;

</script>
<script src="~/API_Scripts/FLForeClosure_retrieveFLFore_Closure_APIClient.js"></script>
<script src="~/API_Scripts/FLForeClosure_retrieveFLFore_ClosureList_APIClient.js"></script>
<script src="~/API_Scripts/FLForeClosure_saveFLFore_Closure_APIClient.js"></script>
<script src="~/API_Scripts/Foreclosure.js"></script>
<script src="~/API_Scripts/saveFLFore_Closure_Model.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/API_Scripts/retrieveFLFore_Closure_Model.js"></script>
<script src="~/API_Scripts/retrieveFLFore_ClosureList_Model.js"></script>

<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        $(".adv_filter").attr("hdrtitle", "ForeClosure");
        $(".adv_filter").attr("fltid", "ForeClosure");
        $(".Export").attr("hdrtitle", "ForeClosure List");
        $(".Export").attr("SubTreeId", "FLFCLOSE");
        list_grid_id = "FLclosure_grid";
        Screen_Id = "FLFCLOSE";
        permission = sec_Permission(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        filterhover();
    });
</script>
<script>
    function listpageloadfetch() {
        try {
            var formval = form_Serialize("frm_ForeClosure");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";


            var data = {};
            data.context = WebAPIProxy.getContext();;
            data.context.Filter = obj_val;
            retrieve_Foreclosure_list(data);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    var status_Priority = [];
    function listgrid(data) {
        try {
            $.each(data, function (index, value) {
                var flag = false;
                $.each(status_Priority, function (sindex, svalue) {
                    if (svalue == value.status_desc) {
                        flag = true;
                    }
                });
                if (flag == false) {
                    status_Priority.push(value.status_desc);
                }
            });
    $("#FLclosure_grid").kendoGrid(
           {
               dataSource: {
                   data: data,
                   pageSize: 20,
                   change: function (e) {
                       setTimeout(function () {
                           var gd = $("#FLclosure_grid").data("kendoGrid");
                           filter_row(gd);
                           $('.k-i-close').css('display', 'none');
                           $('button.k-button-icon').css('display', 'none');
                           $('#FLclosure_grid .k-input').prop('disabled', false);
                           $('#FLclosure_grid .k-input').prop('readonly', true);
                       }, 1);
                   },
               },
               toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
               excelExport: function (e) {
                   var gd = $("#FLclosure_grid").data("kendoGrid");
                   var len = gd.dataSource._data.length;
                   var chkall = $('#chkall').is(':checked');
                   var chkfilter = $('#chkfilter').is(':checked');
                   var chktemp = $('#chktemp').is(':checked');
                   var twokendobox = true;
                   gd.dataSource.pageSize(len);
                   if (e.sender.dataSource._data.length == len) {
                       twokendobox = false;
                       exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                   }
                   else {
                       exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                   }
                   gd.dataSource.pageSize('10');
                   return false;
               },
               filterable: {
                   enabled: true,
                   delay: 1500,
                   mode: "menu, row",
                   height: 200,
                   click: function (e) {
                       var gd = $("#FLclosure_grid").data("kendoGrid");
                       filter_row(gd);
                   }
               },
               filterMenuInit: function (e) {
                   var gd = $("#FLclosure_grid").data("kendoGrid");
                   filter_row(gd);
               },
               change: selectRow,
               height: 450,
               sortable: true,
               selectable: true,
               selectable: "singl",   //  Grid Row Selection
               pageable: {
                   refresh: false,
                   pageSizes: true,
                   buttonCount: 5
               },
               navigatable: true,
               groupable: false,
                columns: [
                    
                      {
                          field: "loan_no",
                          title: "Loan Account No.",
                          width: 200,
                          filterable: {
                              cell: {
                                  operator: "contains",
                                  inputWidth: 1500
                              }
                          }
                      },
                       {
                           field: "fpomember_code",
                           title: "Member ID",
                           width: 200,
                           filterable: {
                               cell: {
                                   operator: "contains",
                                   inputWidth: 1500
                               }
                           }
                       },
                   {
                       field: "farmer_code",
                       title: "Farmer ID",
                       width: 200,
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       }
                   },


                   {
                       field: "farmer_name",
                       title: "Farmer Name",
                       width: 200,
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       }
                   },
                   {
                       field: "sur_name",
                       title: "Farmer SurName",
                       width: 200,
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       }
                   },
                    {
                        field: "loanapp_no",
                        title: "loanapp_no",
                        width: 1,
                        hidden: true,
                    },
                     {
                         field: "app_date",
                         title: "app_date",
                         width: 1,
                         hidden: true,
                     },
                      {
                          field: "loanscheme_code",
                          title: "loanscheme_code",
                          width: 1,
                          hidden: true,
                      },
                   {
                       field: "loanscheme_desc",
                       title: "FL Scheme",
                       width: 200,
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       }
                   },
                    {
                        field: "interest_rate",
                        title: "interest_rate",
                        width: 1,
                        hidden: true,
                    },
                     {
                         field: "Tenure",
                         title: "Tenure",
                         width: 1,
                         hidden: true,
                     },
                   {
                       field: "loan_amount",
                       title: "Loan Amount",
                       width: 200,
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       }
                   },
                   {
                       field: "principle_paid",
                       title: "principle_paid",
                       width: 1,
                       hidden: true,
                   },
                   {
                       field: "principle_due",
                       title: "principle_due",
                       width: 1,
                       hidden: true,
                                },
                   {
                       field: "instalment_paid",
                       title: "Loan Outstanding Amount",
                       width: 200,
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       }
                   },
                    {
                        field: "interest_paid",
                        title: "interest_paid",
                        width: 1,
                        hidden: true,
                    },
                   
                   {
                       field: "req_date",
                       title: "Request date",
                       width: 200,
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       }
                   },
                   {
                       field: "bank_ref_no",
                       title: "Bank Ref. No.",
                       width: 200,
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       }
                   },
                   {
                       field: "prepayment_date",
                       title: "Pre-Payment Received Date",
                       width: 200,
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       }
                   },
                   {
                       field: "received_date",
                       title: "Pre-Payment Status",
                       width: 200,
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       }
                   },
                   {
                       field: "loan_status",
                       title: "loan_status",
                       width: 1,
                       hidden: true,
                   },
                   {
                       field: "loan_status_desc",
                       title: "Loan Account No. Status",
                       width: 200,
                       filterable: {
                           cell: {
                               operator: "contains",
                               inputWidth: 1500
                           }
                       }
                   },

                ]

            });


    $(".k-dropdown-operator").css('display', 'none');
    $("#FLclosure_grid .k-input").attr('disabled', 'false');

        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function selectRow() {
        try {
            var grid = $("#FLclosure_grid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            setlocalStorage("ls_pageList", selectedItem);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }
</script>
<script>
    $("#btn_Edit").bind("click", function () {
        getSerializedSelectedRows('edit');
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('view');
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../FLForeClosure/FLForeClosureForm";
    });

    function getSerializedSelectedRows(mode) {
        try {
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");
                if (items.length == 0) {
                    kendoAlert("Please select records");
                }
                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../FLForeClosure/FLForeClosureForm";
                    }
                    else if (mode == "view") {
                        btn_onClick('View');
                        location.href = "../FLForeClosure/FLForeClosureForm";
                    }
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>
<script>
    function generate_Foreclosure_list(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                $("#gd_ForeClosure").empty();
                $("#gd_ForeClosure").append("<div id='FLclosure_grid'></div>");
                listgrid(res);
            }
            else {
                listgrid([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


</script>











