@{
    ViewBag.Form = "Suppliermaster";
    Layout = "~/Views/Shared/FormViewLayout1.cshtml";
}
<script src="~/CommonScripts/common.js"></script>
<script src="~/CommonScripts/tamil.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>
<form id="ICD_Supmst" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txt_mobile" class=" col-sm-5 control-label required">IC Name</label>
                        <div class=" col-sm-6">
                            <input id="cmb_filter" name="orgid" style="width: 100%" data-role="filtercombo">
                            <input id="txtagg_code" type="hidden" />
                            <input id="txtic_code" type="hidden" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtsup_code" class="col-sm-5 control-label required">Supplier Code</label>
                        <div class="col-sm-6">
                            <input type="text"  id="txtsup_code" name="In_supplier_code" class="form-control" maxlength="10" onkeypress="return isValidsupcode(event,this);">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtsupplier_name" class="col-sm-5 control-label required">Supplier Name</label>
                        <div class="col-sm-6">
                            <input type="text" id="txtsupplier_name" name="In_supplier_name" class="form-control" data-toggle="tooltip" data-placement="bottom" placeholder="" onkeypress="return isValidsupcode(event,this);">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:2px">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txt_pan_no" class="col-sm-5 control-label required">PAN NO</label>
                        <div class="col-sm-6">
                            <input id="txt_pan_no" name="In_pan_no" style="width: 100%" data-role="filtercombo" class="form-control" maxlength="10" minlength="10" onkeypress="return isValidAlphanumeric(event);">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-bottom:10px">
                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="txt_version_no" class="col-sm-5 control-label">version_no</label>
                        <div class="col-sm-4">
                            <input type="number" id="txt_version_no" name="In_version_no" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="txt_supplier_rowid" class="col-sm-5 control-label">supplier_rowid</label>
                        <div class="col-sm-4">
                            <input type="text" id="txt_supplier_rowid" name="In_supplier_rowid" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="status_desc" class="col-sm-5 control-label">Status_Desc</label>
                        <div class="col-sm-4">
                            <input type="text" value="A" id="txt_status_desc" name="In_status_desc" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="status_code" class="col-sm-5 control-label">Status_code</label>
                        <div class="col-sm-4">
                            <input type="text" value="A" id="txt_status_code" name="In_status_code" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="txtMode" class="col-sm-5 control-label">Mode</label>
                        <div class="col-sm-4">
                            <input type="text" id="txtMode" name="In_mode_flag" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="row_timestamp" class="col-sm-5 control-label">Timestamp:</label>
                        <div class="col-sm-4">
                            <input type="text" id="txt_row_timestamp" name="In_row_timestamp" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <section class="col-md-12">
                    <div id="tab_list" class="col-md-12">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#Address" onclick="Address1()" role="tab" data-toggle="tab">
                                    Address
                                </a>
                            </li>
                            <li>
                                <a href="#tax" onclick="tax1()" role="tab" data-toggle="tab">
                                    Tax
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="Address">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div id="grid_Address"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade active in" id="tax">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <div id="grid_tax"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdstatename">
</form>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script>
    click_act_name = "SuppliermasterList";
    click_ctrl_name = "Supplier";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>
<script>
    $(document).ready(function () {
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#ICD_Supmst");
        kendo.init(container);
        container.kendoValidator({
        });
        grid_Address_details([]);
        grid_taxdetail([]);
        $(".file_attach").attr("hdrtitle", "FPO Registration");
        $(".notes").attr("hdrtitle", "FPO Registration");
        $("#lblForm_menuid").text("ICDSUPMST");
        $("#hide_div").hide();
        Screen_Id = "ICDSUPMST";
        permission = sec_Permission(Screen_Id);

        $("div#tax").hide();

        setlocalStorage("status", "Active");
        setlocalStorage('status_code', "A");

        var org = getlocalStorage('org_id');
        $('#txtagg_code').val(org);

        setlocalStorage("status", "Active");
        setlocalStorage('status_code', "A");

        if (getlocalStorage('btn_clk_val') == "Create") {
            $('#divCreate #review').hide();
            $("#txtMode").val("I");
            $("#bottom_menus").hide();
            $("#DocStat").val("New");
            load_master_code();
        }
        else if (getlocalStorage('btn_clk_val') == "View" || getlocalStorage('btn_clk_val') == "Edit") {
            debugger;
            $('#divEdit #reviewEd').hide();
            $('#divEdit #deactivate').hide();
            $('#bottom_menus').hide();
            $("#DocStat").val(getlocalStorage('btn_clk_val'));
            if (getlocalStorage("ls_pageList") != undefined) {
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("ICD_Supmst");
                var obj_val = JSON.parse(formval);
                obj_val.In_supplier_rowid = data.Out_supplier_rowid;
                obj_val.In_supplier_code = data.Out_supplier_code;
                obj_val.In_version_no = data.Out_version_no;
                var data = {};
                debugger;
                data.context = WebAPIProxy.getContext();;
                data.context.header = obj_val;
                var Context = data.context;
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, supplier_rowid: Context.header.In_supplier_rowid, supplier_code: Context.header.In_supplier_code }),
                    url: "/Supplier/Supplierfetch",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        debugger;
                        if (response.context != null) {
                            generate_Supplier_header(response.context.Header);
                            generate_Supplier_Address(response.context.SupplierAddress);
                            generate_Supplier_tax(response.context.SupplierTax);
                        }
                        else {
                            console.log("Issue where Dropped");
                        }
                    },
                    error: function (er) {
                        console.log(er);
                    }
                });
                $("#txtMode").val("U");
            }
        }
        $('#txt_pan_no').change(function (event) {
            debugger;
            var regExp = /[a-zA-z]{5}\d{4}[a-zA-Z]{1}/;
            var txtpan = $(this).val();
            $('#txt_pan_no').val(txtpan.toUpperCase());
            if (txtpan.length == 10) {
                if (txtpan.match(regExp)) {
                    $('#txt_pan_no').val(txtpan.toUpperCase());
                }
                else {
                    kendoAlert("Not a valid PAN number");
                    $('#txt_pan_no').val("");
                    return false;
                }
            }
            else {
                kendoAlert("Please enter 10 digits for a valid PAN number");
                return false;
            }

        });
        $('#txtsup_code').keypress(function (e) {
            var regex = new RegExp(/^[a-zA-Z0-9\s]+$/);
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }
            else {
                e.preventDefault();
                return false;
            }
        });
        $('#txtsupplier_name').keypress(function (e) {
            var regex = new RegExp(/^[a-zA-Z0-9\s]+$/);
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (regex.test(str)) {
                return true;
            }
            else {
                e.preventDefault();
                return false;
            }
        });
     var In_agg_code = $("#txtagg_code").val();
        var data = { In_agg_code: In_agg_code, module: "ICD" };
        $.ajax({
          url: '@Url.Action("lcdcenter_search", "Product")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
            data: data,
            success: function (response) {
                debugger;
                if (response != null) {
                    debugger;
                    var itemArr = [];
                    for (var i = 0; i < response.length; i++) {
                        var list = {};
                        list.id = response[i].Out_orgn_rowid
                        list.code = response[i].Out_orgn_code;
                        list.desc = response[i].Out_orgn_desc;
                        itemArr.push(list);
                    }
                    filter_combobox("cmb_filter", itemArr);

                }
                else {
                    $("#cmb_filter").empty();
                }
            },
            error: function (er) {
                alert(er);
                console.log(er);
            }
        });
    });
</script>
<script>
    function load_master_code() {
        try {
            var data = {};
            data.screen_Id = "ICDSUPMST";
            var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    var addr_type_desc_list = "";
    var In_supplier_state_desc_list = "";
    var orgn_village_desc_list = "";
    var orgn_dist_desc_list = "";
    var orgn_taluk_desc_list = "";
    var orgn_panchayat_desc_list = "";
    var status_desc_list = "";
    function grid_Address_details(data) {
        try {
            $("#grid_Address").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {

                                In_orgn_pincode: { type: "string", validation: { required: { message: "Pincode cannot be blank" } } },
                                //----
                                
                                //In_supplier_addr_type: { type: "string", required: true },
                                In_supplier_addr_type_desc: { type: "string", required: true },
                                addr_type_desc: {
                                    validation: {
                                        dropdownlistValidation: function (input) {
                                            if (input.is("[name='addr_type_desc']")) {
                                                var isValid = true;
                                                input.attr("data-dropdownlistValidation-msg", "Address Type cannot be blank"); if (input.val().length <= 0) {
                                                    isValid = false;
                                                }
                                                return isValid;
                                            }
                                            return true;
                                        }
                                    }
                                },

                                In_supplier_state: { type: "string", required: true },
                                In_supplier_state_desc: {
                                    validation: {
                                        dropdownlistValidation: function (input) {
                                            if (input.is("[name='In_supplier_state_desc']")) {
                                                var isValid = true;
                                                input.attr("data-dropdownlistValidation-msg", "State Type cannot be blank"); if (input.val().length <= 0) {
                                                    isValid = false;
                                                }
                                                return isValid;
                                            }
                                            return true;
                                        }
                                    }
                                },

                                In_supplier_dist: { type: "string", required: true, editable: false },
                                orgn_dist: {
                                    validation: {
                                        dropdownlistValidation: function (input) {
                                            if (input.is("[name='orgn_dist_desc']")) {
                                                var isValid = true;
                                                input.attr("data-dropdownlistValidation-msg", "District Type cannot be blank"); if (input.val().length <= 0) {
                                                    isValid = false;
                                                }
                                                return isValid;
                                            }
                                            return true;
                                        }
                                    }, editable: false
                                },
                                
                                In_supplier_panchayat: { type: "string", required: true, editable: false },
                                orgn_panchayat_desc: {
                                    validation: {
                                        dropdownlistValidation: function (input) {
                                            if (input.is("[name='orgn_panchayat_desc']")) {
                                                var isValid = true;
                                                input.attr("data-dropdownlistValidation-msg", "Grama panchayat Type cannot be blank"); if (input.val().length <= 0) {
                                                    isValid = false;
                                                }
                                                return isValid;
                                            }
                                            return true;
                                        }
                                    }, editable: false
                                },

                                In_supplier_taluk: { type: "string", required: true, editable: false },
                                orgn_taluk_desc: {
                                    validation: {
                                        dropdownlistValidation: function (input) {
                                            if (input.is("[name='orgn_taluk_desc']")) {
                                                var isValid = true;
                                                input.attr("data-dropdownlistValidation-msg", "Taluk Type cannot be blank"); if (input.val().length <= 0) {
                                                    isValid = false;
                                                }
                                                return isValid;
                                            }
                                            return true;
                                        }
                                    }, editable: false
                                },

                                In_supplier_village: { type: "string", required: true, editable: false },
                                orgn_village_desc: {
                                    validation: {
                                        dropdownlistValidation: function (input) {
                                            if (input.is("[name='orgn_village_desc']")) {
                                                var isValid = true;
                                                input.attr("data-dropdownlistValidation-msg", "Village Type cannot be blank"); if (input.val().length <= 0) {
                                                    isValid = false;
                                                }
                                                return isValid;
                                            }
                                            return true;
                                        }
                                    }, editable: false
                                },

                                In_supplier_addr1: {
                                    validation: {
                                        required: { message: "Addr1 cannot be blank" },
                                        maxlength:
                                            function (input) {
                                                if (input.val().length > 50) {
                                                    input.attr("data-maxlength-msg", "Max length is 50");
                                                    return false;
                                                }
                                                return true;
                                            },

                                    }
                                },
                                In_supplier_addr2: {
                                    validation: {
                                        required: { message: "Addr2 cannot be blank" },
                                        maxlength:
                                            function (input) {
                                                if (input.val().length > 50) {
                                                    input.attr("data-maxlength-msg", "Max length is 50");
                                                    return false;
                                                }
                                                return true;
                                            }
                                    }
                                },


                                In_supplier_country_desc: { type: "string", required: true },
                                status_desc: {
                                    defaultValue: "Active", editable: false,
                                    validation: {
                                        dropdownlistValidation: function (input) {
                                            if (input.is("[name='status_desc']")) {
                                                var isValid = true;
                                                input.attr("data-dropdownlistValidation-msg", "Country cannot be blank"); if (input.val().length <= 0) {
                                                    isValid = false;
                                                }
                                                return isValid;
                                            }
                                            return true;
                                        }
                                    }
                                },
                                In_mode_flag: { type: "string", defaultValue: "I" },
                                In_supplier_taluk_desc: { type: "string", editable: false },
                                In_supplier_panchayat_desc: { type: "string", editable: false },
                                In_supplier_village_desc: { type: "string", editable: false },
                                In_supplier_dist_desc: {
                                    type: "string"
                                }
                            }
                        }
                    }
                },
                toolbar: "<a class='k-grid-add' id='btnSave' href=''><span class='fa fa-plus' style='color:Black'></span></a>",
                height: 300,
                groupable: false,
                dataBinding: setDefaultValues,
                dataBound: function (e) {
                    resultData = e.sender._data;
                    var rows = $('#grid_Address').data('kendoGrid').tbody.children();
                    setColor(rows, resultData);
                },
                edit: OnEdit,
                sortable: true,
                selectable: true,
                navigatable: true,
                columns: [{
                    command: [
                        {
                            name: "Delete",
                            id: "Delete",
                            imageClass: "fa fa-close",
                            click: function (e) {
                                var grid = $("#grid_Address").data("kendoGrid");
                                var dataItem = $("#grid_Address").data("kendoGrid").dataItem($(e.target).closest("tr"));
                                DeleteWindowEvent(e, dataItem, grid);
                                e.stopImmediatePropagation()
                            }
                        },
                    ], title: "Action", width: "50px",
                },


                {
                    field: "In_supplieraddr_rowid",
                    title: "orgnaddr_rowid",
                    hidden: true,
                },
                {
                    field: "In_supplieraddr_type",
                    title: "addr_type",
                    hidden: true,

                },
                {
                    field: "In_supplier_addr_type_desc",
                    title: "Addr Type",
                    editor: function (container, options) {
                        combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "In_supplieraddr_type", "grid_Address")
                    },
                    width: 100,

                },
                {
                    field: "In_supplier_country",
                    title: "Country",
                    hidden: true,
                },

                {
                    field: "In_supplier_country_desc", 
                    title: "Country",
                    editor: function (container, options) {
                        combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "In_supplier_country", "grid_Address")
                    },
                    width: 100,
                },
                {
                    field: "In_supplier_state",
                    title: "orgn_state",
                    hidden: true,
                },
                {
                    field: "In_supplier_state_desc",
                    title: "State",
                    editor: function (container, options) {
                        combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "In_supplier_state", "grid_Address")
                    },
                    width: 100,
                },

                {
                    field: "In_supplier_dist",
                    title: "orgn_dist",
                    width: 100,
                    hidden: true,
                },
                {
                    field: "In_supplier_dist_desc",
                    title: "District",
                    editor: '<div class="input-group input-group-sm"><input type="text" readonly name="In_supplier_dist_desc" maxlength="10" style="width:100px;color:black"  onkeypress="return speical_char(event)" data-bind="value:In_supplier_dist_desc"/><span class="input-group-btn" style="padding-right: 150px;"><a class="HelpWindow fa fa-search fa-lg" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Details" searchid="S02" data-target="#HelpModal" onclick=transfer(this,"grid","grid_Address","grid_Address_details") title="Search" style="font-size: 15px; padding-left: 10px;color:white;"></a> </span> </div>',
                    //editor: function (container, options) {
                    //    combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "In_supplier_dist", "grid_Address")
                    //},
                    width: 150,

                },
                {
                    field: "In_supplier_taluk",
                    title: "orgn_taluk",
                    width: 100,
                    hidden: true,
                },
                {
                    field: "In_supplier_taluk_desc",
                    title: "Taluk",
                    //editor: function (container, options) {
                    //    combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "In_supplier_taluk", "grid_Address")
                    //},
                    width: 100,
                },

                {
                    field: "In_supplier_panchayat",
                    title: "orgn_panchayat",
                    width: 100,
                    hidden: true,
                },
                {
                    field: "In_supplier_panchayat_desc",
                    title: "Gram Panchayat",
                    //editor: function (container, options) {
                    //    combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "In_supplier_panchayat", "grid_Address")
                    //},
                    width: 100,
                },
                {
                    field: "In_supplier_village",
                    title: "orgn_village",
                    width: 100,
                    hidden: true,
                },
                {
                    field: "In_supplier_village_desc",
                    title: "Village",
                    //editor: function (container, options) {
                    //    combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "In_supplier_village", "grid_Address")
                    //},
                    // editor: '<div class="input-group input-group-sm"><input type="text" readonly name="In_supplier_village_desc" maxlength="10" style="width:100px;color:black"  onkeypress="return speical_char(event)" data-bind="value:In_supplier_village_desc"/><span class="input-group-btn" style="padding-right: 150px;"><a class="HelpWindow fa fa-search fa-lg" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Details" searchid="SUP01" data-target="#HelpModal" onclick=transfer(this,"grid","grid_Address","grid_Address_details") title="Search" style="font-size: 15px; padding-left: 10px;"></a> </span> </div>',
                    width: 150,

                },

                {
                    field: "In_supplier_addr1",
                    title: "Addr Line 1",
                    width: 100,
                    editor: '<div class="input-group input-group-sm"><input type="text"  name="In_supplier_addr1"   style="width:150px;color:black"  onkeypress="return isValidChar(event)" data-bind="value:In_supplier_addr1"/><span class="input-group-btn" style="padding-right: 200px;"></span> </div>'

                },
                {
                    field: "In_supplier_addr2",
                    title: "Addr Line 2",
                    width: 100,
                    editor: '<div class="input-group input-group-sm"><input type="text"  name="In_supplier_addr2"   style="width:150px;color:black"  onkeypress="return isValidChar(event)" data-bind="value:In_supplier_addr2"/><span class="input-group-btn" style="padding-right: 200px;"></span> </div>'

                },
                {
                    field: "In_supplier_pincode_desc",
                    title: "Pin Code",
                    hidden: true,
                },
                {
                    field: "In_supplier_pincode",
                    title: "PinCode",
                    width: 100,
                    editor: function (container, options) {
                        numeric_editor(container, options.field, '6', '0');
                    },

                },


                {
                    field: "In_status_code",
                    title: "status_code",
                    hidden: true,
                    width: 100,
                },

                {
                    field: "In_status_desc",
                    title: "Status",
                    editor: function (container, options) {
                        combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "In_status_code", "grid_Address")
                    },
                    width: 100,
                },
                {
                    field: "In_mode_flag",
                    title: "Mode",
                    hidden: true
                }],
                editable: true
            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    load_master_code();

    In_supplier_addr_type_desc_list = grid_comboScreen_mastercodes("QCD_ADDRTYPE");
    In_supplier_state_desc_list = grid_comboScreen_mastercodes("QCD_UN_STATE");
    //In_supplier_panchayat_desc_list = grid_comboScreen_mastercodes("QCD_UN_GRAMPAN");
    //In_supplier_taluk_desc_list = grid_comboScreen_mastercodes("QCD_UN_TALUK");
    //In_supplier_dist_desc_list = grid_comboScreen_mastercodes("QCD_UN_DIST");
    //In_supplier_village_desc_list = grid_comboScreen_mastercodes("QCD_UN_VILLAGE");
    In_supplier_country_desc_list = grid_comboScreen_mastercodes("QCD_COUNTRY");
    In_status_desc_list = grid_comboScreen_mastercodes("STATUS");
    function grid_taxdetail(data) {
        try {
            $("#grid_tax").kendoGrid({
                dataSource: {
                    data: data,
                    schema: {
                        model: {
                            fields: {

                                In_tax_rowid: { type: "string" },
                                In_tax_type: { type: "string" },
                                In_tax_reg_no: { type: "string" },
                                In_state_code: { type: "string" },
                                In_state_desc: { type: "string" },
                                In_status_code: { type: "string" },
                                In_status_desc: { type: "string" },
                                In_mode_flag: { type: "string", defaultValue: "I" }
                            }
                        }
                    }
                },
                toolbar: "<a class='k-grid-add' id='btnSave' href=''><span class='fa fa-plus' style='color:Black'></span></a>",
                height: 300,
                groupable: false,
                dataBinding: setDefaultValues,
                edit: OnEdit,
                sortable: true,
                selectable: true,
                navigatable: true,
                columns: [{
                    command: [
                        {
                            name: "Delete",
                            id: "Delete",
                            imageClass: "fa fa-close",
                            click: function (e) {
                                // e.preventDefault();
                                var grid = $("#grid_tax").data("kendoGrid");
                                var dataItem = $("#grid_tax").data("kendoGrid").dataItem($(e.target).closest("tr"));
                                DeleteWindowEvent(e, dataItem, grid);
                                e.stopImmediatePropagation()
                            }
                        },
                    ], title: "Action", width: "50px",
                },

                {
                    field: "In_tax_rowid",
                    title: "tax_rowid",
                    hidden: true
                },
                {
                    field: "In_state_desc",
                    title: "State",
                    editor: function (container, options) {
                        combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "In_state_code", "grid_tax")
                    },
                    width: 100,
                },
                {
                    field: "In_tax_type",
                    title: "Bussiness Vertical",
                    width: 100,
                    editor: '<div class="input-group input-group-sm"><input type="text"  name="In_tax_type"   style="width:323px;color:black"  onkeypress="return isValidAlphanumeric(event)" data-bind="value:In_tax_type"/><span class="input-group-btn" style="padding-right: 200px;"></span> </div>',

                },
                {
                    field: "In_tax_reg_no",
                    title: "GST Registration No",
                    width: 100,
                    editor: '<div class="input-group input-group-sm"><input type="text"  name="In_tax_reg_no"   style="width:323px;color:black"  onkeypress="return isValidAlphanumeric(event)" data-bind="value:In_tax_reg_no"/><span class="input-group-btn" style="padding-right: 200px;"></span> </div>',
                },
                {
                    field: "In_state_code",
                    title: "state",
                    width: 100,
                    hidden: true
                },


                {
                    field: "In_status_code",
                    title: "status_code",
                    hidden: true
                },
                {
                    field: "In_status_desc",
                    title: "Status",
                    editor: function (container, options) {
                        combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "In_status_code", "grid_tax")
                    },
                    width: 100,

                },

                {
                    field: "In_mode_flag",
                    title: "Mode",
                    hidden: true
                }],
                editable: true
            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    In_state_desc_list = grid_comboScreen_mastercodes("QCD_UN_STATE");
    In_status_desc_list = grid_comboScreen_mastercodes("FPO_STATUS");
    function OnEdit(e) {
        setDefaultValues(e);
        e.container.find("input[name='In_tax_reg_no']").attr('maxlength', '15');
        debugger;
        //$("#hdstatename").val(e.container.find("input[name='In_supplier_state_desc']").val());
        $("#hdstatename").val(e.model.In_supplier_state_desc);
        //e.container.find("input[name='In_supplier_dist_desc']").onkeypress(function () {
        //    debugger;
        //    $("#hdstatename").val(e.model.In_supplier_state_desc);
        //});
        //In_supplier_state_desc_list = grid_comboScreen_mastercodes("QCD_UN_STATE");
        //In_supplier_panchayat_desc_list = grid_comboScreen_mastercodes("QCD_UN_GRAMPAN");
        //In_supplier_taluk_desc_list = grid_comboScreen_mastercodes("QCD_UN_TALUK");
        //In_supplier_dist_desc_list = grid_comboScreen_mastercodes("QCD_UN_DIST");
        //In_supplier_village_desc_list = grid_comboScreen_mastercodes("QCD_UN_VILLAGE");
        
        //load_master_code();
        //In_supplier_dist_desc_list = grid_comboScreen_deptcodes(e.model.In_supplier_state);
        //e.container.find("input[name='In_supplier_dist_desc']").onkeypress(function () {
        //    debugger;
        //    In_supplier_dist_desc_list = grid_comboScreen_deptcodes(e.model.In_supplier_state);
            
        //});
        
    }
    function Address1() {
        try {
            //$("div#Address").toggleClass('tab-pane fade active in'); //double click tab issue - grid hiding issue - ramya 03 Jun 21
            $("div#Address").show();
            $("div#tax").hide();
            var itemGrid = $("#grid_Address").data("kendoGrid");
            itemGrid.refresh();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function tax1() {

        //$("div#tax").toggleClass('tab-pane fade active in'); //double click tab issue - grid hiding issue - ramya 03 Jun 21
        $("div#tax").show();
        $("div#Address").hide();
    }
</script>
<script>

    function isValidChar(e) {
        var mm = e.target.value;
        var match = e.key.match(/[a-zA-Z0-9. ]/);
        return match ? true : false;
    }
    function isValidAlphanumeric(e) {
        var mm = e.target.value;
        var match = e.key.match(/[a-zA-Z0-9]/);
        return match ? true : false;
    }
    function IssupplierValid(e) {
        var mm = e.target.value;
        var match = e.key.match(/[a-zA-Z0-9 ]/);
        return match ? true : false;
    }

    function isValidsupcode(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }

            if ((charCode > 47 && charCode < 58) || (charCode > 63 && charCode < 91) || (charCode > 95 && charCode < 123 || charCode == 38 || charCode == 45 || charCode == 92 || charCode == 32))
                return true;
            else
                return false;
        }
        catch (err) {
            alert(err.Description);
        }
    }


    function generate_Supplier_header(res) {
        try {
            debugger;
            $('#txtic_code').val(res.In_ic_code);
            //$("#txtic_code").data("kendoComboBox").value(res.In_ic_code);
            $("#txtsup_code").val(res.In_supplier_code)
            $("#txtsupplier_name").val(res.In_supplier_name);
            $("#txt_version_no").val(res.In_version_no);
            $("#txt_pan_no").val(res.In_pan_no);
            //$("#cmb_filter").val(res.In_ic_name);
           
            $("#txt_supplier_rowid").val(res.In_supplier_rowid);
            $("#txt_status_desc").val(res.In_status_desc);
            $("#txt_status_code").val(res.In_status_code);
            $("#txtMode").val(res.In_mode_flag);
            $("#txt_row_timestamp").val(res.In_row_timestamp);
            setTimeout(function () {
            $("#cmb_filter").data("kendoComboBox").value(res.In_ic_name);
                $("#cmb_filter").attr("readonly", "readonly");
            }, 500);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function generate_Supplier_Address(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                grid_Address_details(data);
            }
            else {

                grid_Address_details([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function generate_Supplier_tax(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                grid_taxdetail(data);
            }
            else {

                grid_taxdetail([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function grid_control() {
        try {
            var control_Name = [

                { "dataCol": "", "grid_row_col": "In_supplier_state" },
                { "dataCol": "", "grid_row_col": "In_supplier_state_desc" },
                { "dataCol": "orgn_village", "grid_row_col": "In_supplier_village" },
                { "dataCol": "orgn_village_desc", "grid_row_col": "In_supplier_village_desc" },
                { "dataCol": "orgn_dist", "grid_row_col": "In_supplier_dist" },
                { "dataCol": "orgn_dist_desc", "grid_row_col": "In_supplier_dist_desc" },
                { "dataCol": "orgn_taluk", "grid_row_col": "In_supplier_taluk" },
                { "dataCol": "orgn_taluk_desc", "grid_row_col": "In_supplier_taluk_desc" },
                { "dataCol": "orgn_grampan", "grid_row_col": "In_supplier_panchayat" },
                { "dataCol": "orgn_grampan_desc", "grid_row_col": "In_supplier_panchayat_desc" },
                { "dataCol": "", "grid_row_col": "In_status_code" },
                { "dataCol": "", "grid_row_col": "In_status_desc" },
                { "dataCol": "", "grid_row_col": "In_supplieraddr_type" },
                { "dataCol": "", "grid_row_col": "In_supplier_addr_type_desc" },
                { "dataCol": "", "grid_row_col": "In_supplier_country" },
                { "dataCol": "", "grid_row_col": "In_supplier_country_desc" },
                { "dataCol": "", "grid_row_col": "In_supplier_addr1" },
                { "dataCol": "", "grid_row_col": "In_supplier_addr2" },
                { "dataCol": "", "grid_row_col": "In_supplier_pincode" },
                { "dataCol": "", "grid_row_col": "In_supplier_pincode_desc" },
                { "dataCol": "", "grid_row_col": "In_supplier_country" },
                { "dataCol": "", "grid_row_col": "In_mode_flag" },
                { "dataCol": "", "grid_row_col": "uid" }];
            return control_Name
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function controlName() {
        var control_Name = [
        ];
        return control_Name
    }
    function trans_input_data() {
        var trans_coll = [
            { "trasfer": "NO", "dataCol": "", "controlId": "", "grid_id": "", "grid_row_col": "" },
            //{ "trasfer": "Yes", "dataCol": "in_bank_code", "controlId": "", "grid_id": "grid_Bank", "grid_row_col": "" },
            { "trasfer": "Yes", "dataCol": "orgn_state_desc", "controlId": "hdstatename", "grid_id": "grid_Address", "grid_row_col": "" }
        ];
        return trans_coll;
    }
</script>
<script>
    function save_validate() {
        var validate_msg = "";
        var sup_name = $('#txtsupplier_name').val().trim();
        $("#txtsupplier_name").val(sup_name.trim());
        var sup_code = $('#txtsup_code').val().trim();
        $('#txtsup_code').val(sup_code.trim());
        if (sup_code == '' || sup_code == undefined) {
            validate_msg += "Supplier Code cannot be blank<br>"
        }
        if ($('#txtsupplier_name').val().trim() == '' || $('#txtsupplier_name').val().trim() == undefined) {
            validate_msg += "Supplier name cannot be blank<br>"
        }
        if ($('#txt_pan_no').val() == '' || $('#txt_pan_no').val() == undefined) {
            validate_msg += "PAN No cannot be blank<br>"
        }
        if ($("#cmb_filter").val() == '' || $("#cmb_filter").val() == undefined) {
            kendoAlert('Please IC Name');
        }
        var grid_val = JSON.stringify($("#grid_Address").data().kendoGrid._data);
        var Bind = {};
        Bind = grid_val;
        var result = JSON.parse(Bind);
        if (result.length == 0) {
            validate_msg += "Address record needs to be entered";
        }
        $.each(result, function (key, value) {
            if (value.In_supplier_addr_type_desc == "" || value.In_supplier_addr_type_desc == undefined) {
                validate_msg += "Address Type cannot be blank <br>";
            }
            if (value.In_supplier_country_desc == "" || value.In_supplier_country_desc == undefined) {
                validate_msg += "Country cannot be blank <br>";
            }
            if (value.In_supplier_state_desc == "" || value.In_supplier_state_desc == undefined) {
                validate_msg += "State cannot be blank <br>";
            }
            if (value.In_supplier_dist_desc == "" || value.In_supplier_dist_desc == undefined) {
                validate_msg += "District cannot be blank <br>";
            }
            // AS Per demo sign on 02-02-2021
            //if (value.In_supplier_panchayat_desc == "" || value.In_supplier_panchayat_desc == undefined) {
            //    validate_msg += "Panchayat cannot be blank <br>";
            //}
            //if (value.In_supplier_taluk_desc == "" || value.In_supplier_taluk_desc == undefined) {
            //    validate_msg += "Taluk cannot be blank <br>";
            //}
            //if (value.In_supplier_village_desc == "" || value.In_supplier_village_desc == undefined) {
            //    validate_msg += "Village cannot be blank <br>";
            //}

            if (value.In_supplier_addr1 == "" || value.In_supplier_addr1 == undefined) {
                validate_msg += "Supplier Address 1 cannot be blank <br>";
            }
            if (value.In_supplier_addr2 == "" || value.In_supplier_addr2 == undefined) {
                validate_msg += "Supplier Address 2 cannot be blank <br>";
            }
            if (value.In_supplier_pincode == "" || value.In_supplier_pincode == undefined) {
                validate_msg += "Pincode cannot be blank <br>";
            }
            if (value.In_status_desc == "" || value.In_status_desc == undefined) {
                validate_msg += "Status cannot be blank <br>";
            }
            if (value.In_status_desc == "Inactive") {
                validate_msg += "Status cannot be Inactive <br>";
            }

        });

        //----------------------Tax
       
        return validate_msg;
    }
    function save() {
        try {
            debugger;
            var valid = save_validate();
            if (valid == "") {
                if ($("#txt_supplier_rowid").val() == "") {
                    $("#txt_supplier_rowid").val(0);
                }
                if ($("#txt_version_no").val() == "") {
                    $("#txt_version_no").val(1);
                }

                if ($("#txtMode").val() == "S" || $("#txtMode").val() == "U") {
                    $("#txtMode").val('U');
                    $('#divEdit #btnSaveEd').prop('disabled', true);
                }
                else {
                    $('#divCreate #btnSave').prop('disabled', true);
                }
                var formval = form_Serialize("ICD_Supmst");
                var obj_val = JSON.parse(formval);
                if (obj_val.In_row_timestamp == null || obj_val.In_row_timestamp == "" || obj_val.In_row_timestamp == undefined) {
                    obj_val.In_row_timestamp = "2000-01-01";
                }
                //address

                var grid_val = JSON.stringify($("#grid_Address").data().kendoGrid._data);
                var Bind = {};
                Bind = grid_val;
                var result = JSON.parse(Bind);

                $.each(result, function (index, value) {
                    debugger;
                    var row_id = value.In_supplier_addr_rowid;
                    if (row_id == undefined) {
                        result[index].In_supplier_addr_rowid = 0;
                    }
                    else {
                        result[index].In_supplier_addr_rowid = row_id;
                    }
                    var mmode = result[index].In_mode_flag;
                    if (mmode == "S") {
                        result[index].In_mode_flag = "U";
                    }

                    var Status = result[index].In_status_code;
                    if (Status == undefined || Status == "") {
                        result[index].In_status_code = "A";
                    }

                });
                var obj_grid_val = result;


                //tax
                var grid_val5 = JSON.stringify($("#grid_tax").data().kendoGrid._data);
                var Bind5 = {};
                Bind5 = grid_val5;
                var result5 = JSON.parse(Bind5);
                
                if (result5.length > 0) {
                    $.each(result5, function (index, value) {
 
                        var tax_rowid = value.In_tax_rowid;
                        if (tax_rowid == undefined || tax_rowid == '') {
                            result5[index].In_tax_rowid = 0;
                        }
                        var state_code = value.In_state_code;
                        var state_code = result5[index].In_state_code;
                        if (state_code == '' || tax_rowid == undefined) {
                            result5[index].In_state_code = "tn";
                        }
                        var mmode = result5[index].In_mode_flag;
                        if (mmode == "S") {
                            result5[index].In_mode_flag = "U";
                        }
                    });
                    var obj_grid_val5 = result5;
                }
                else {
                    var obj_grid_val5 = null;
                }
                var org = ""
                if ($("#txtic_code").val() != "") {
                    org = $("#txtic_code").val();
                } else {
                    org = $("#cmb_filter").val();
                }
                var data = {};
                debugger;
                data.context = getContext();
                data.context.orgnId = org;
                data.context.header = obj_val;
                data.context.address = obj_grid_val;
                data.context.tax = obj_grid_val5;
                var Context = data.context;
                var SupplierAddress = data.context.address;
                var SupplierTax = data.context.tax;
                $.ajax({
                    type: "POST",
                    data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, header: Context.header, SupplierAddress: Context.address, SupplierTax: Context.tax }),
                    url: "/Supplier/SupplierSave",
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    success: function (response) {
                        console.log(response)
                        var Res = JSON.parse(response);
                        debugger;
                        var mode = $("#txtMode").val();
                        if (Res.applicationException.errorDescription != null && Res.applicationException.errorDescription != "") { //ramya
                            kendoAlert(Res.applicationException.errorDescription);
                            if (mode == "S" || mode == "U") {
                                $('#divEdit #btnSaveEd').prop('disabled', false);
                            }
                            else {
                                $('#divCreate #btnSave').prop('disabled', false);
                            }
                            return false;
                        }
                        if (Res.context != null) {
                            
                            if (mode == "I") {
                                kendoAlert("Supplier Master saved successfully");
                                get_Supplier_details(Res.context.Header);
                            }
                            else if (mode == "D") {
                                kendoAlert("Supplier Master inactivate successfully");
                                get_Supplier_details(Res.context.Header);

                            }
                            else {
                                kendoAlert("Supplier Master Updated successfully");
                                get_Supplier_details(Res.context.Header);
                            }
                        }
                        else {
                            kendoAlert(Res.applicationException.errorDescription);
                        }
                    },
                    error: function (er) {
                        alert(er)
                        console.log(er)
                    }

                });
            }
            else {
                kendoAlert(valid);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function get_Supplier_details(res) {
        try {
            debugger;
            var formval = form_Serialize("ICD_Supmst");
            var obj_val = JSON.parse(formval);
            //obj_val.In_supplier_rowid = data.Out_supplier_rowid; //ramya
            //obj_val.In_supplier_code = data.Out_supplier_code;
            //obj_val.In_version_no = data.Out_version_no;
            var data = {};
            //data.context = WebAPIProxy.getContext();;
            data.context = getContext();;
            data.context.header = obj_val;
            var Context = data.context;

            $.ajax({
                type: "POST",
                data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, supplier_rowid: Context.header.In_supplier_rowid, supplier_code: Context.header.In_supplier_code }),
                url: "/Supplier/Supplierfetch",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    if (response.Context != null) {
                        generate_Supplier_header(response.Context.Header);
                        generate_Supplier_Address(response.Context.SupplierAddress);
                        generate_Supplier_tax(response.Context.SupplierTax);

                    }
                    else {
                        console.log("Issue where Dropped");
                    }
                },
                error: function (er) {
                    console.log(er);
                }

            });
            $("#txtsup_code").val(res.In_supplier_code);
            $("#txt_supplier_rowid").val(res.In_supplier_rowid);
            $("#txt_version_no").val(res.In_version_no);
            $("#txtMode").val("U");
            setlocalStorage('doc_no', $("#txtsup_code").val());
            setlocalStorage('doc_row_id', $("#txt_supplier_rowid").val());
            setlocalStorage('doc_ver_no', $("#txt_version_no").val());
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>
