
@{
    ViewBag.List = "FPO Expenses";
    Layout = "~/Views/Shared/ListViewLayout.cshtml";
}
<form id="fpoexpense_list" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="row">
        <div class="col-xs-12">
            <div id="gd_expense">
                <div id="FPOExpenses_grid"></div>
            </div>
        </div>
    </div>
</form>
<script src="~/API_Scripts/Fpo_expense_retrieveFPOExpense_APIClient.js"></script>
<script src="~/API_Scripts/Fpo_expense_retrieveFPOExpenseList_APIClient.js"></script>
<script src="~/API_Scripts/Fpo_expense_saveFPOExpense_APIClient.js"></script>
<script src="~/API_Scripts/FpoExpence.js"></script>
<script src="~/API_Scripts/retrieveFPOExpense_Model.js"></script>
<script src="~/API_Scripts/retrieveFPOExpenseList_Model.js"></script>
<script src="~/API_Scripts/saveFPOExpense_Model.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>

<script>
    $(document).ready(function () {

        $(".adv_filter").attr("hdrtitle", "FPoExpenses List");
        $(".adv_filter").attr("fltid", "");
        $(".Export").attr("hdrtitle", "FPoExpenses List");
        $(".Export").attr("SubTreeId", "FPOEXPENSE");
        list_grid_id = "FPOExpenses_grid";

        listpageloadfetch();

        Screen_Id = "FPOEXPENSE";
        permission = sec_Permission(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        filterhover();
    });
</script>

    <script>   
        function listpageloadfetch() {
            try{
                var formval = form_Serialize("fpoexpense_list");
                var obj_val = JSON.parse(formval);
                obj_val.FilterBy_Option = "ALL";
                obj_val.FilterBy_Code = ".";
                if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                    obj_val.FilterBy_FromValue = getlocalStorage('flt_condition');
                }
                else {
                    obj_val.FilterBy_FromValue = ".";
                }
                obj_val.FilterBy_ToValue = ".";

                var data = {};
                data.context = WebAPIProxy.getContext();;
                data.context.Filter = obj_val;        
                retrieve_fpoexpence_list(data);
               
            }
            catch (err) {
                javascript_log4j_root(arguments.callee.name, err);
            }
        }

        var status_Priority = [];
        function fpoexpencegrid(data) {
            try {
                $.each(data, function (index, value) {
                    var flag = false;
                    $.each(status_Priority, function (sindex, svalue) {
                        if (svalue == value.status_desc) {
                            flag = true;
                        }
                    });
                    if (flag == false) {
                        status_Priority.push(value.status_desc);
                    }
                });

                $("#FPOExpenses_grid").kendoGrid(
                 {
                     dataSource: {
                         data: data,
                         pageSize: 20,
                         change: function (e) {
                             setTimeout(function () {
                                 var gd = $("#FPOExpenses_grid").data("kendoGrid");
                                 filter_row(gd);
                                 $('.k-i-close').css('display', 'none');
                                 $('button.k-button-icon').css('display', 'none');
                                 $('#FPOExpenses_grid .k-input').prop('disabled', false);
                                 $('#FPOExpenses_grid .k-input').prop('readonly', true);

                             }, 1);
                         },
                     },
                     toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
                     excelExport: function (e) {
                         var gd = $("#FPOExpenses_grid").data("kendoGrid");
                         var len = gd.dataSource._data.length;
                         var chkall = $('#chkall').is(':checked');
                         var chkfilter = $('#chkfilter').is(':checked');
                         var chktemp = $('#chktemp').is(':checked');
                         var twokendobox = true;
                         gd.dataSource.pageSize(len);
                         if (e.sender.dataSource._data.length == len) {
                             twokendobox = false;
                             exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                         }
                         else {
                             exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
                         }
                         gd.dataSource.pageSize('10');
                         return false;
                     },
                     filterable: {
                         enabled: true,
                         delay: 1500,
                         mode: "menu, row",
                         height: 200,
                         click: function (e) {
                             var gd = $("#FPOExpenses_grid").data("kendoGrid");
                             filter_row(gd);
                         }
                     },
                     filterMenuInit: function (e) {
                         var gd = $("#FPOExpenses_grid").data("kendoGrid");
                         filter_row(gd);
                     },
                    
                     height: 450,
                     sortable: true,
                     selectable: true,
                     change: selectRow,
                     selectable: "singl",   //  Grid Row Selection
                     pageable: {
                         refresh: false,
                         pageSizes: true,
                         buttonCount: 5
                     },
                     navigatable: true,
                     groupable: false,
                     columns: [
                         {
                             field: "expense_rowid",
                             title: "expense_rowid",
                             width: 1,
                             hidden: true,
                         },

                          {
                              field: "expense_code",
                              title: "Expense ID",
                              filterable: {
                                  cell: {
                                      operator: "contains",
                                      inputWidth: 1500
                                  }
                              }
                          },
                          {
                              field: "finyear_code",
                              title: "finyear_code",
                              width: 1,
                              hidden: true,
                          },
                          {
                              field: "finyear_desc",
                              title: "Financial Year",
                              filterable: {
                                  cell: {
                                      operator: "contains",
                                      inputWidth: 1500
                                  }
                              }
                          },
                          {
                              field: "totalexpense_Amt",
                              title: "Total Expenses",
                              filterable: {
                                  cell: {
                                      operator: "contains",
                                      inputWidth: 1500
                                  }
                              }
                          },
                          {
                              field: "status_code",
                              title: "status_code",
                              width: 1,
                              hidden: true,
                          },
                     {
                         field: "status_desc",
                         title: "Status",
                         filterable: {
                             cell: {
                                 operator: "contains",
                                 inputWidth: 1500
                             }
                         }
                     },
                     ]

                 });

                $(".k-dropdown-operator").css('display', 'none');
                $("#FPOExpenses_grid .k-input").attr('disabled', 'false');
            }
       catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function statusFilter(element) {    // Dropdown list functionality
        element.kendoDropDownList({
            dataSource: status_Priority,
            optionLabel: "--Select Value--"
        });
    }

    function selectRow() {
        try{
            var grid = $("#FPOExpenses_grid").data("kendoGrid");
            var selectedItem = grid.dataItem(grid.select());
            setlocalStorage("ls_pageList", selectedItem);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    </script>


   
<script>
    $("#btn_Edit").bind("click", function () {
        getSerializedSelectedRows('edit');
    });

    $("#btn_View").bind("click", function () {
        getSerializedSelectedRows('view');
    });

    $("#btn_new").bind("click", function () {
        btn_onClick('Create');
        location.href = "../FPOExpense/FPOExpenseForm";
    });

    function getSerializedSelectedRows(mode) {
        try {
            if (getlocalStorage("ls_pageList") != undefined) {
                var items = getlocalStorage("ls_pageList");
                if (items.length == 0) {
                    kendoAlert("Please select records");
                }

                else {
                    if (mode == "edit") {
                        btn_onClick('Edit');
                        location.href = "../FPOExpense/FPOExpenseForm";
                    }
                    else if (mode == "view") {
                        btn_onClick('View');
                        location.href = "../FPOExpense/FPOExpenseForm";
                    }
                }
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>

<script>
    function generate_fpoexpence_list(res) {
        try {
            if (res != null) {
                var data = changedataType(res);
                $("#gd_expense").empty();
                $("#gd_expense").append("<div id='FPOExpenses_grid'></div>");
                fpoexpencegrid(data);
            }
            else {
                fpoexpencegrid([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>








