@{
    ViewBag.Form = "Stock Position";
    Layout = "~/Views/Shared/FormViewLayout2.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<form id="frm_stockposition" class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-12">
                    <div class="col-sm-4" style="display:none">
                        <div class=" form-group">
                            <label for="tran_type" class="col-sm-4 control-label">Transaction Type</label>
                            <div class=" col-sm-4">
                                <input type="radio" id="rdo_procurement" name="tran_type" checked="checked" onclick="changing()" />Procurement
                            </div>
                            <div class=" col-sm-3">
                                <input type="radio" id="rdo_service" name="tran_type" onclick="changing()" />Service
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="item_name" id="item_Name" class=" col-sm-4 control-label required">Item Name</label>
                            <div class="col-sm-6">
                                <input id="item_name" name="item_name" class="form-control" style="width:100%" />
                            </div>
                            <a class="HelpWindow fa fa-search fa-lg" role="button" id="pay_help1" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="Farmer " searchid="PW04" data-target="#HelpModal" onclick=transfer(this,"form","","form_control"); title="Search" style="font-size: 19px; "></a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="item_code" id="item_Code" class="col-sm-4 control-label required">Item Code</label>
                            <div class="col-sm-6">
                                <input id="item_code" name="item_code" class="form-control" style="width:100%" disabled />
                            </div>
                            <div class="col-sm-1">
                                <button id="refresh" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                        data-original-title="Refresh" onclick="listRefresh()">
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                   
                       
                  

                    <div class="pull-right" style="margin-top: 18px;">
                        <button id="clear" title="" data-placement="top" data-toggle="tooltip" class="btn btn-info" type="button"
                                data-original-title="clear" onclick="listclear()">
                            clear
                        </button> 
                        <button type="button" style="background-color:skyblue" id="btnExport" class="Export btn btn-sm btn-info"><span class="glyphicon glyphicon-export"></span></button> 
                    </div>
                  
                    <div class="col-sm-4" style="display:none">
                        <div class="form-group">
                            <label for="agg_code" class=" col-sm-4 control-label required">Agg Code</label>
                            <div class="col-sm-6">
                                <input id="agg_code" name="agg_code" data-role="filtercombo" style="width:100%" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="gd_stockpositionreport">
                                <div id="StockPositionReport_grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="~/CommonScripts/Common_func.js"></script>
<script src="~/CommonScripts/HelpFile.js"></script>
<script>
    click_act_name = "home ";
    click_ctrl_name = "home";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;

</script>
<script>
    var menuId = "";
    var permission = "";
    $(document).ready(function () {
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#frm_stockposition");
        kendo.init(container);
        container.kendoValidator({
        });
        $("#Topsubheader").show();
        $("#bottomFooter").show();
        $("#bottom_menus").hide();
        $("#btndiv").show();
        $("#frmlayerdiv").hide();
        $("#divCreate").hide();
        $("#divEdit").hide();
        $("#divView").show();
        $("#DocStat").show();
        $(".edtviw_item").show();
        $(".create_item").hide();
        //$('#btnExport').hide();
        $(".Export").attr("hdrtitle", " StockPosition Report List");
        $(".Export").attr("SubTreeId", "ICDSPRPT");

        Screen_Id = "Stock";
        //load_master_code();
        var org_id = getlocalStorage('org_id');
        $('#ic_code').val(org_id);
        permission = sec_Permission(Screen_Id);
        page_load_list_permission(permission);
        setlocalStorage("ls_pageList", "");
        var combo_data = "";
        $("#cmb_Prdcde").empty();
        $("#cmb_prdnme").empty();
        listgrid([]);
        $("#btnExport").kendoButton({
            click: function () {
                $("#StockPositionReport_grid").data("kendoGrid").saveAsExcel();
            }
        })
    });
</script>
<script>
    //function load_master_code() {
    //    var data = {};
    //    data.screen_Id = "ICDSPRPT";
    //    var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
    //}
    $('btnExport').click(function () {
        try {
            hdrtitle = $(this).attr('hdrtitle');
            TreeId = $(this).attr('TreeId');
            SubTreeId = $(this).attr('SubTreeId');
        }
        catch (err) {
            alert(err);
        }
    });
</script>

<script>
    $(function () {
        $('#refresh').click(function () {
            debugger;
            var cmb_code = $("#item_code").val();
            var cmb_name = $('#item_name').val()
            var org_id = getlocalStorage('org_id');

            var datas = { "pro_code": cmb_code, "pro_name": cmb_name,  "orgid": org_id };


            $.ajax({
                type: "POST",
                data: JSON.stringify(datas),
                url: "/PAWHSReports/Stock_PositionReport",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    console.log(response)
                    listgrid(response);

                },
                error: function (er) {
                    console.log(er)
                }

            });



            return false;
        });
    });

    function listpageloadfetch() {
        try {
           
            var formval = form_Serialize("frm_stockposition");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";
            if (obj_val.status_option == "" || obj_val.status_option == undefined) {
                obj_val.status_option = "V";
            }

            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Filter = obj_val;
            retrieve_FarmerLoanDisbursement_details(data);
            var colCount = $("#StockPositionReport_grid").find('.k-grid-header colgroup > col').length;

            //If There are no results place an indicator row
            if ($("#StockPositionReport_grid").data("kendoGrid").dataSource._view.length == 0) {
                $("#StockPositionReport_grid").find('.k-grid-content tbody')
                    .append('<tr class="kendo-data-row"><td colspan="' +
                        colCount +
                   '" style="text-align:center; padding-top:10px;background-color:#AFE4FA"><b> No pending records available for the selected status; please try later!!!</b></td></tr>');
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    var status_Priority = [];
    function listgrid(data) {
        $("#StockPositionReport_grid").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {

                            product_code: { type: "string", required: true },
                            product_name: { type: "string", required: true },
                            qty: { type: "string" },
                        }
                    }
                },
 batch: true,
                pageSize: 15,
            },
            //toolbar: "<button type='button' id='Exportclick' class='k-grid-excel' style='display:none' href=''><span class='fa fa-file-excel-o' style='color: Black;'> &nbsp Export To Excel</span></button>",
            //excelExport: function (e) {
            //    var gd = $("#StockPositionReport_grid").data("kendoGrid");
            //    var len = gd.dataSource._data.length;
            //    var chkall = $('#chkall').is(':checked');
            //    var chkfilter = $('#chkfilter').is(':checked');
            //    var chktemp = $('#chktemp').is(':checked');
            //    var twokendobox = true;
            //    gd.dataSource.pageSize(len);
            //    if (e.sender.dataSource._data.length == len) {
            //        twokendobox = false;
            //        exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
            //    }
            //    else {
            //        exportfunction(e, chkall, chkfilter, chktemp, twokendobox, gd);
            //    }
            //    gd.dataSource.pageSize('10');
            //    return false;
            //},

            height: 450,
            sortable: true,
            selectable: true,

            selectable: "singl",   //  Grid Row Selection
            navigatable: true,
            groupable: false,
             pageable: {
                refresh: false,
                pageSizes: true,
                previousNext: false,
                buttonCount: 8
            },
            columns: [


                 {
                     field: "product_code",
                     title: "Product Code",
                     width: 80,

                 },

                 {
                     field: "product_name",
                     title: "Product Name",
                     width: 80,

                 },
                    {
                        field: "uom",
                        title: "Uom Type",
                        width: 80,

                    },

                 {
                     field: "current_qty",
                     title: "Current Quantity",
                     width: 80,
                     attributes: { style: "text-align:right;" }
                 },

 ],
            editable: true
        });

    }

</script>
<script>
        function generate_FLDisbursementAdviceGen_list(res) {

            try {
                if (res != null) {
                    var data = changedataType(res);
                    $("#gd_stockpositionreport").empty();
                    $("#gd_stockpositionreport").append("<div id='StockPositionReport_grid'></div>");
                    listgrid(data);
                }
                else {
                    listgrid([]);
                }
            }
            catch (err) {
                javascript_log4j_root(arguments.callee.name, err);
            }
        }
    function get_FLDisbursementAdviceGen_details() {
        try {
            var formval = form_Serialize("frm_stockposition");
            var obj_val = JSON.parse(formval);
            obj_val.FilterBy_Option = "ALL";
            obj_val.FilterBy_Code = ".";
            if (getlocalStorage('flt_condition') != undefined && getlocalStorage('flt_condition') != "") {
                obj_val.FilterBy_Fromvalue = getlocalStorage('flt_condition');
            }
            else {
                obj_val.FilterBy_Fromvalue = ".";
            }
            obj_val.FilterBy_Tovalue = ".";
            obj_val.status_option = "V";
            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Filter = obj_val;
            retrieve_FarmerLoanDisbursement_details(data);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function listRefresh() {
        try {
            setlocalStorage('flt_condition', "");
            listpageloadfetch();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function listclear() {
        try {

            listgrid([]);

            $('#frm_stockposition').find('input:text').val('');
            location.reload();

        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function grid_control() {
        var control_Name = [

        ];
        return control_Name;
    }

    function changing() {
        debugger;
        if ($("#rdo_procurement").is(":checked")) {
            $("#item_name").show();
            $("#item_Name").show();
            $("#pay_help1").show();
            $("#item_code").show();
            $("#item_Code").show();
        }
        if ($("#rdo_service").is(":checked")) {
            $("#item_name").hide();
            $("#item_Name").hide();
            $("#pay_help1").hide();
            $("#item_code").hide();
            $("#item_Code").hide();
            //document.getElementById('item_Code').innerHTML = 'Farmer Code';
            //document.getElementById('item_Name').innerHTML = 'Farmer Name';
        }
    }

    function form_control() {
        var control_Name = [

            { "dataCol": "item_name", "controlId": "item_name", "type": "Text" },
            { "dataCol": "item_code", "controlId": "item_code", "type": "Text" },
            { "dataCol": "agg_code", "controlId": "agg_code", "type": "Text" }
        ];
        return control_Name;
    }
    function trans_input_data() {
        var trans_coll = [
            // { "trasfer": "Yes", "dataCol": "agg_code", "controlId": "ic_code", "grid_id": "", "grid_row_col": "" },
            //{ "trasfer": "Yes", "dataCol": "item_name", "controlId": "item_name", "grid_id": "", "grid_row_col": "farmer_code" },
            //{ "trasfer": "Yes", "dataCol": "item_code", "controlId": "item_code", "grid_id": "", "grid_row_col": "farmer_name" }
        ];
        return trans_coll;
    }
    function generate_Invoiceproduct_list(res) {
        var dataItem = $("#StockPositionReport_grid").data("kendoGrid").dataSource.data()[0];

        dataItem.set("ProductName", res[0].product_name);
        dataItem.set("ProductCode", res[0].product_code);

    }
</script>


