@{
    ViewBag.Form = "Nominee Change";
    Layout = "~/Views/Shared/FormViewLayout1.cshtml";
}

<form id="Service_nominee" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="panel panel-default">
        <div class="box-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-top:10px;padding-bottom:15px">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txt_member" class="col-sm-5 control-label ">Member ID</label>
                        <div class="col-sm-5" style="width:200px;">
                            <input type="text" id="txt_member" name="In_fpomember_code" class="form-control" maxlength="50" readonly onchange="fetch_nominee()">

                        </div>
                        <div id="pay_help">
                            <a class="HelpWindow fa fa-search fa-lg" role="button" id="pay_help1" data-toggle="modal" href="/HelpFilter/HelpFilter" hdrtitle="FPO Member" searchid="L001" data-target="#HelpModal" onclick=transfer(this,"form","","form_control"); title="Search" style="font-size: 19px; margin-left: 0px; margin-top: 10px;"></a>
                        </div>
                    </div>
                </div>
                <div class="form-group" id="sign">
                    <label for="txtRoleDesc" class="col-sm-4 control-label ">Signature</label>

                    <img id="former_sign" src="~/images/1.JPG" style="margin-left: -233px;" class="col-sm-4 img-bordered-sm profileImg" alt="User Image" height="40" width="100" />
                    <div class="form-group">
                        <div>
                            <input type="hidden" id="farmer_img" name="signature_farmer" />
                            <input id="txtaggrorgn_code" name="fpoorgn_code" type="hidden" />
                        </div>

                    </div>

                </div>

            </div>
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class=" form-group">
                        <label for="txtfarmer_id" class=" col-sm-5 control-label">Farmer ID</label>
                        <div class=" col-sm-7">
                            <input type="text" id="txtfarmer_id" name="In_farmer_code" class="form-control" maxlength="50" readonly>
                            <input type="hidden" id="request_type" name="request_type" value="QCD_FPOSERVICE_NOMICHNG">
                            <input id="txtaggrorgn_code" name="fpoorgn_code" type="hidden" />

                            <input type="hidden" id="chklst_status_flag" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="txtMode" class="col-sm-5 control-label">Mode</label>
                        <div class="col-sm-7">
                            <input id="txtMode" name="In_mode_flag" type="text" class="form-control" data-toggle="tooltip" data-placement="bottom" value="I">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtfarmer_name" class="col-sm-5 control-label">Farmer Given Name</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtfarmer_name" name="member_name" class="form-control" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtsurname" class="col-sm-5 control-label ">Farmer Surname</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtsurname" name="member_sur_name" class="form-control" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="box-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-top:10px;padding-bottom:15px">
                <div class="col-sm-6">
                    <div class=" form-group">
                        <label for="txtcurrent_nominee" class=" col-sm-5 control-label">Current Nominee</label>
                        <div class=" col-sm-7">
                            <input type="text" id="txtcurrent_nominee" name="In_cur_member_nominee" class="form-control" maxlength="50" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" style="display:none;">
                        <label for="txtservicereq_rowid" class="col-sm-5 control-label">servicereq_rowid</label>
                        <div class="col-sm-7">
                            <input id="txtservicereq_rowid" name="IOU_servicereq_rowid" type="text" class="form-control" data-toggle="tooltip" data-placement="bottom">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class=" form-group">
                        <label for="txtchanged_nominee" class=" col-sm-5 control-label required">Changed Nominee</label>
                        <div class=" col-sm-7">
                            <input type="text" id="txtchanged_nominee" name="In_changeto_member_nominee" class="form-control" maxlength="50">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="col-sm-12" id="default-example">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingone">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseone" aria-expanded="true" aria-controls="collapseone">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                Share Certificates Held
                            </a>
                        </h4>
                    </div>
                    <div id="collapseone" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingone">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div id="grid_share_cert"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" id="default-example">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
                                <i class="more-less glyphicon glyphicon-plus"></i>
                                Service Request History
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <div id="grid_req_history"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <label> Comments</label>
        <textarea id="txtComments" rows="4" cols="20" name="reg_note" style="width:100%" class="form-control" ></textarea>
    </div>

</form>

<script>
    click_act_name = "ServiceNomineeList";
    click_ctrl_name = "ServiceNominee";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>

<script src="~/API_Scripts/Service_Request_retrieveServiceRequestList_APIClient.js"></script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script src="~/API_Scripts/retrieveServiceRequestList_Model.js"></script>
<script src="~/API_Scripts/Service_Request_retrieveServiceRequestDetail_APIClient.js"></script>
<script src="~/API_Scripts/Service_Request_retrieveServiceRequestNominee_APIClient.js"></script>
<script src="~/API_Scripts/Service_Request_saveServiceRequestNomiee_APIClient.js"></script>
<script src="~/API_Scripts/ServiceNominee.js"></script>
<script src="~/API_Scripts/saveServiceRequestNomiee_Model.js"></script>
<script src="~/API_Scripts/retrieveServiceRequestNominee_Model.js"></script>
<script src="~/API_Scripts/retrieveServiceRequestList_Model.js"></script>
<script src="~/API_Scripts/retrieveSRMemberDetail_Model.js"></script>
<script src="~/Scripts/AccordianPan.js"></script>
<link href="~/CSS/AccordianPan.css" rel="stylesheet" />
<script src="~/API_Scripts/Service_Request_retrieveSRMemberDetail_APIClient.js"></script>

<script>
    var permission = "";
    $(document).ready(function () {

        kendodate_format();
        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#Service_nominee");
        kendo.init(container);
        container.kendoValidator({
        });

        Screen_Id = "SRVNOI";
        permission = sec_Permission(Screen_Id);
        grid_share_cert();
        grid_req_history();
        //var elements = document.getElementsByClassName('file_attach');
        //while (elements.length > 1) {
        //    elements[0].parentNode.removeChild(elements[0]);
        //    elements[1].parentNode.removeChild(elements[1]);
        //}
        $(document).on('click', '#btnSave', function (e) {

            var C_nominee = $('#txtchanged_nominee').val();
            var Cmemid_nominee = $('#txt_member').val();

            if (C_nominee != "" && C_nominee != null && Cmemid_nominee != "" && Cmemid_nominee != null) {
                $('#divCreate #btnSave').prop('disabled', true);
                $('#divCreate #review').prop('disabled', false);
            }
            else {
                $('#divCreate #btnSave').prop('disabled', false);
                $('#divCreate #review').prop('disabled', true);
            }
        });
        $(document).on('click', '#btnSaveEd', function (e) {

            var C_nominee = $('#txtchanged_nominee').val();
            var Cmemid_nominee = $('#txt_member').val();

            if (C_nominee != "" && C_nominee != null && Cmemid_nominee != "" && Cmemid_nominee != null) {
                $('#divEdit #btnSaveEd').prop('disabled', true);
                $('#divEdit #reviewEd').prop('disabled', false);
            }
            else {
                $('#divEdit #btnSaveEd').prop('disabled', false);
                $('#divEdit #reviewEd').prop('disabled', false);
            }
        });
        $(document).on('click', '#btnApprove', function (e) {
            $('#divEdit #btnReject').prop('disabled', true);
            $('#divEdit #btnApprove').prop('disabled', true);
        });
        $(document).on('click', '#btnReject', function (e) {
            var cmt = $('#txtComments').val();
            if (cmt != "" && cmt != null) {
                $('#divEdit #btnApprove').prop('disabled', true);
                $('#divEdit #btnReject').prop('disabled', true);
            }

        });
        $(document).on('click', '#reviewEd', function (e) {
             master_review();
          
            $('#divEdit #reviewEd').prop('disabled', true);
        });
        $(document).on('click', '#review', function (e) {
            master_review();
            $('#divCreate #review').prop('disabled', true);
        });

        $("#common_id").text("Service Request No")
        $(".file_attach").attr("hdrtitle", "Service Request-NomineeChange");
        $(".notes").attr("hdrtitle", "Service Request-NomineeChange");
        $("#lblForm_menuid").text("SRVNOI");

        var org = getlocalStorage('org_id');
        $('#txtaggrorgn_code').val(org);

        if (getlocalStorage('btn_clk_val') == "Create") {
            $('#divCreate #review').show();
            $('#divCreate #review').prop('disabled', true);
            //$('#divCreate #review').hide();
            $("#bottom_menus").hide();
            $("#status_code").val("N");
            $("#DocStat").val("New");
        }
        else if (getlocalStorage('btn_clk_val') == "View" || getlocalStorage('btn_clk_val') == "Edit") {
            field_enable();
            $('#sign').hide();
            $("#bottom_menus").show();
            var elements = document.getElementsByClassName('file_attach');
            while (elements.length > 1) {
                elements[0].parentNode.removeChild(elements[0]);
                elements[1].parentNode.removeChild(elements[1]);
            }
            $("#divEdit #reviewEd").prop("disabled", true);
            if (getlocalStorage("ls_pageList") != undefined) {
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("Service_nominee");
                var obj_val = JSON.parse(formval);
                if (data != undefined) {
                    obj_val.IOU_fpomember_code = data.Out_fpomember_code;
                    obj_val.IOU_request_type = data.Out_request_type;
                    obj_val.IOU_servicereq_rowid = data.Out_servicereq_rowid;
                    obj_val.IOU_servicereq_no = data.Out_servicereq_no;
                    var data = {};
                    data.context = WebAPIProxy.getContext();
                    data.context.Header = obj_val;
                    var Context = data.context;
                    Singleretrieve_SerReqNominee_details(Context);
                    SingleHistory_SerReqNomineedetail_details(Context);

                    //retrieve_SerReqNominee_details(data)
                    //retrieve_SerReqNomineedetail_details(data);

                    $("#txtMode").val("U");
                    $("#txtcommon_id").val(obj_val.IOU_servicereq_no);
                    setlocalStorage('doc_no', $("#txtcommon_id").val());
                    setlocalStorage('doc_row_id', $("#txtservicereq_rowid").val())
                }
            }
        }

        function field_enable() {
            if (permission.auth == true || getlocalStorage('btn_clk_val') == "View") {
                $("#Service_nominee :input").attr("readonly", "");
                $("#pay_help1").hide();
                $("#txtComments").removeAttr("readonly");
                $("#farmerfile").removeAttr("readonly");
                $("#farmerfile").prop("disabled", true);
            }
        }

        $('#HelpModal').on('hide.bs.modal', function (e) {
            if ($("#txt_member").val() != undefined && $("#txt_member").val() != "") {
                fetch_nominee();
            }
        });

    });
</script>
<script>
    function Singleretrieve_SerReqNominee_details(Context) {

        debugger;
        try {
            $.ajax({
                type: "POST",
                data: JSON.stringify({ orgnId: Context.orgnId, locnId: Context.locnId, userId: Context.userId, localeId: Context.localeId, Header: Context.Header }),
                url: "/ServiceNominee/SingleServiceList",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    if (response.context != null) {
                        generate_SerReqNominee_header(response.context.Header)

                    }
                    if (response.ApplicationException != null ) {
                        kendoAlert(response.ApplicationException.errorDescription);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }

    }
    function SingleHistory_SerReqNomineedetail_details(Context) {
        debugger;
        try {
            $.ajax({
                type: "POST",
                data: JSON.stringify({ orgnId: Context.orgnId, locnId: Context.locnId, userId: Context.userId, localeId: Context.localeId, Header: Context.Header }),
                url: "/ServiceNominee/SingleServiceNomineeDetails",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    if (response.context.Header != null) {
                        generate_SerReqNominee_Header(response.context.Header)

                    }
                    if (response.context.Share_certificate != null) {
                        generate_SerReqNominee_share_certificate(response.context.Share_certificate)
                    }
                    if (response.context.Request_history != null) {
                        generate_SerReqNominee_request_history(response.context.Request_history)
                    }
                    if (response.ApplicationException != null ) {
                        kendoAlert(response.ApplicationException.errorDescription);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }

    }
    function grid_share_cert(data) {
        $("#grid_share_cert").kendoGrid(
                {
                    dataSource: {
                        data: data,
                    },

                    height: 200,
                    sortable: true,
                    selectable: true,
                    //change: onChangeSelection,
                    selectable: "singl",   //  Grid Row Selection

                    navigatable: true,
                    groupable: false,

                    columns: [
                           {
                            field: "In_certificatedist_rowid",
                               title: "certificatedist_rowid",
                               hidden: true
                           },
                           {
                               field: "In_certificate_no",
                               title: "Share Certificate No",
                               width: 200,
                           },
                         {
                             field: "In_dist_from",
                             title: "Distinct From",
                             width: 200,
                         },
                          {
                              field: "In_dist_to",
                              title: "Distinct to",
                              width: 200,
                          },
                          {
                              field: "In_issued_date",
                              title: "Issued Date",
                              width: 200,
                          },
                          {
                              field: "In_status_code",
                              title: "status_code",
                              hidden: true
                          },
                        {
                            field: "In_status_desc",
                            title: "Status",
                            width: 200,
                        },
                    ]
                });
    }
</script>

<script>
    function grid_req_history(data) {
        $("#grid_req_history").kendoGrid({
            dataSource: {
                data: data,
                schema: {
                    model: {
                        fields: {
                            print_ref: { editable: false },
                            certificate: { editable: false },
                            print_date: { editable: false },
                            certificates_print: { editable: false },

                        }
                    }
                },
            },

            height: 200,
            sortable: true,
            columns: [
                 {
                    field: "In_servicereq_rowid",
                     title: "servicereq_rowid",
                     hidden: true
                 },
                {
                    field: "In_certificate_no",
                    title: "Certificate No",
                    width: 200
                },
                {
                    field: "In_issued_date",
                    title: "Issued Date",
                    width: 200
                },
            {
                field: "In_servicereq_no",
                title: "Service Request No",
                width: 200
            },
            {
                field: "In_request_date",
                title: "Request Date",
                width: 200
            },
             {
                 field: "In_request_type",
                 title: "Request Type",
                 hidden: true
             },
             {
                 field: "In_request_type_desc",
                 title: "Request Type",
                 width: 200
             },
             {
                 field: "In_requestsub_type",
                 title: "Request Subtype",
                 hidden: true
             },
             {
                 field: "In_requestsub_type_desc",
                 title: "Request Subtype",
                 width: 200
             },
             {
                 field: "In_status_code",
                 title: "status_code",
                 hidden: true
             },
             {
                 field: "In_status_desc",
                 title: "Status",
                 width: 200,
                 filterable: {
                     cell: {
                         operator: "contains",
                         inputWidth: 1500
                     }
                 }
             },
            ]
        });

    }
</script>

<script>

    function save() {
        if ($('#txt_member').val() == '' || $('#txt_member').val() == undefined) {
            kendoAlert('Please Select the Member ID');
        }
        else {
            if ($("#txtservicereq_rowid").val() == "") {
                $("#txtservicereq_rowid").val('0');
            }
            if ($("#txtMode").val() == "S") {
                $("#txtMode").val('U');

            }
            var formval = form_Serialize("Service_nominee");
            var obj_val = JSON.parse(formval);
            if ($("#txtcommon_id").val() == undefined || $("#txtcommon_id").val() == "") {
                obj_val.IOU_servicereq_no = "0";
            }
            else {
                obj_val.IOU_servicereq_no = $("#txtcommon_id").val();
            }
            if (obj_val.In_status_code == undefined) {
                obj_val.In_status_code = "A";
            }
            if (obj_val.In_row_timestamp == undefined) {
                obj_val.In_row_timestamp = "0";
            }
            if ($("#chklst_status_flag").val() == undefined) {
                obj_val.In_chklst_status_flag = 0;
            }
            else {
                obj_val.In_chklst_status_flag = $("#chklst_status_flag").val();
            }

            if ($("#txtComments").val() == undefined || $("#txtComments").val() == "") {
                obj_val.In_sr_comments = "";
            }
            else {
                obj_val.In_sr_comments = $("#txtComments").val();
            }

            var data_save = {};
            data_save.context = WebAPIProxy.getContext();
            data_save.context.Header = obj_val;
            var Context = data_save.context;

            $.ajax({
                type: "POST",
                data: JSON.stringify({ orgnId: Context.orgnId, locnId: Context.locnId, userId: Context.userId, localeId: Context.localeId, Header: Context.Header }),
                url: "/ServiceNominee/SaveReqNominee",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    var Res = response;
                    if (Res != null) {
                        var mode = $("#txtMode").val();
                        if (mode == "I") {
                            kendoAlert("Nominee Change Details saved successfully");
                            get_SerReqNominee_details(Res.context.Header);
                        }
                        else if (mode == "D") {
                            kendoAlert("Nominee Change Details inactivate successfully");
                            get_SerReqNominee_details(Res.context.Header);
                        }
                        else if (mode == "R") {
                            kendoAlert("Nominee Change Details Send for Review");
                            get_SerReqNominee_details(Res.context.Header);
                        }
                        else if (mode == "A") {
                            kendoAlert("Nominee Change Details Approved Successfully");
                            get_SerReqNominee_details(Res.context.Header);
                        }
                        else if (mode == "J") {
                            kendoAlert("Nominee Change Details Rejected Successfully");
                            get_SerReqNominee_details(Res.context.Header);
                        }
                        else {
                            kendoAlert("Nominee Change Details saved successfully");
                            get_SerReqNominee_details(Res.context.Header);
                        }
                    }
                        else {
                            kendoAlert(Res.ApplicationException.errorDescription);
                        }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
        }
    }
    
    function fetch_nominee() {
        var formval = form_Serialize("Service_nominee");
        var obj_val = JSON.parse(formval);
        if (obj_val != undefined) {
            obj_val.IOU_fpomember_code = $("#txt_member").val();
            obj_val.IOU_request_type = "QCD_FPOSERVICE_NOMICHNG";
            obj_val.IOU_request_type = "0";
            obj_val.IOU_servicereq_rowid = "0";
            obj_val.IOU_servicereq_no = "0";
            var data_fetch = {};
            data_fetch.context = WebAPIProxy.getContext();
            data_fetch.context.Header = obj_val;
            var Context = data_fetch.context;
            Singleretrieve_SerReqNominee_details(Context);
            SingleHistory_SerReqNomineedetail_details(Context);
            //retrieve_SerReqNominee_details(data_fetch);
            //retrieve_SerReqNomineedetail_details(data_fetch);
            var profiledata = $("#farmer_img").val()
            console.log($("#farmer_img").val());
            if (profiledata != "")
                document.getElementById("former_sign").src = "data:image/png;base64," + profiledata;
            else
                document.getElementById("former_sign").src = "/images/noimage.png";
        }
    }

    function generate_SerReqNominee_Header(res) {
        if (res != null && getlocalStorage('btn_clk_val') != "Create") {
            $("#txtfarmer_id").val(res.In_farmer_code);
            $("#txtfarmer_name").val(res.In_farmer_name);
            $("#txtsurname").val(res.In_sur_name);
        }
    }

    function generate_SerReqNominee_share_certificate(res) {
        if (res != null) {
            var data = changedataType(res);
            grid_share_cert(data);
        }
        else {
            grid_share_cert([]);
        }
    }
    function generate_SerReqNominee_request_history(res) {
        if (res != null) {
            var data = changedataType(res);
            grid_req_history(data);
        }
        else {
            grid_req_history([]);
        }
    }

    function generate_SerReqNominee_header(res) {
        debugger;
        if (res != null) {
            $("#txtcommon_id").val(res.IOU_servicereq_no);
            $("#txtservicereq_rowid").val(res.IOU_servicereq_rowid);
            $("#mode_flag").val(res.In_mode_flag);
            $("#DocStat").val(res.In_status_desc);
            if (getlocalStorage('btn_clk_val') != "Create") {
                $("#txt_member").val(res.IOU_fpomember_code);
                $("#txtcurrent_nominee").val(res.In_cur_member_nominee);
                $("#txtchanged_nominee").val(res.In_changeto_member_nominee);
                $("#txtComments").val(res.In_sr_comments);
                localStorage.docno = res.IOU_servicereq_rowid;
            }
            else {
                $("#txtcurrent_nominee").val(res.In_cur_member_nominee);
            }
        }
    }
    function get_SerReqNominee_details(res) {
        var formval = form_Serialize("Service_nominee");
        var obj_val = JSON.parse(formval);
        if (obj_val != undefined) {
            obj_val.IOU_fpomember_code = $("#txt_member").val();
            obj_val.IOU_request_type = "QCD_FPOSERVICE_NOMICHNG";
            obj_val.IOU_servicereq_rowid = res.IOU_servicereq_rowid;
            obj_val.IOU_servicereq_no = res.IOU_servicereq_no;
            var data_res = {};
            data_res.context = WebAPIProxy.getContext();
            data_res.context.Header = obj_val;
            var Context = data_res.context;
            Singleretrieve_SerReqNominee_details(Context);
            SingleHistory_SerReqNomineedetail_details(Context);
            //retrieve_SerReqNominee_details(data_res);
            //retrieve_SerReqNomineedetail_details(data_res);
            //var mode = obj_val.mode_flag;
            //if (mode == "I") {
            //    kendoAlert("Nominee Change Details saved successfully");
            //}
            //else if (mode == "D") {
            //    kendoAlert("Nominee Change Details inactivate successfully");
            //}
            //else if(mode =="A")
            //{
            //    kendoAlert("Application Approved");
            //}
            //else {
            //    kendoAlert("Nominee Change Details saved successfully");

            //}

        }
    }
</script>

<style>
    .k-widget.k-tooltip {
        background-color: #ffe79e;
        color: #6b5100;
    }

    span.k-tooltip {
        white-space: pre-line;
    }
</style>

<script>
    function grid_control() {
        var control_Name = [

        ];
        return control_Name;
    }

    function form_control() {
        var control_Name = [
            { "dataCol": "fpomember_code", "controlId": "txt_member", "type": "Text" },
            { "dataCol": "farmer_code", "controlId": "txtfarmer_id", "type": "Text" },
            { "dataCol": "member_name", "controlId": "txtfarmer_name", "type": "Text" },
             { "dataCol": "member_sur_name", "controlId": "txtsurname", "type": "Text" },
             { "dataCol": "farmer_signature", "controlId": "farmer_img", "type": "Text" }
        ];
        return control_Name;

    }



    function trans_input_data() {
        var trans_coll = [
            { "trasfer": "Yes", "dataCol": "fpofarmer_code", "controlId": "", "grid_id": "", "grid_row_col": "" },
            { "trasfer": "Yes", "dataCol": "fpoorgn_code", "controlId": "txtaggrorgn_code", "grid_id": "", "grid_row_col": "" },
             { "trasfer": "Yes", "dataCol": "farmer_signature", "controlId": "farmer_img", "grid_id": "", "grid_row_col": "" }
        ];
        return trans_coll;
    }
    function review() {
        $("#txtMode").val('R');
        save();
    }

    function approve() {
        $("#txtMode").val('A');
        save();
    }

    function reject() {
        try {
            console.log($("#txtComments").val());
            if ($("#txtComments").val() == "") {
                kendoAlert("Please provide rejection reason for rejecting a request");
            }
            else {
                $("#txtMode").val('J');
                save();
                $("#btnReject").prop('disabled', false);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
</script>
<script src="~/CommonScripts/HelpFile.js"></script>