@{
    ViewBag.Form = "Bank";
    ViewBag.helpName = "BankForm.html";
    Layout = "~/Views/Shared/FormViewLayout1.cshtml";
}

<form id="Bank_form" class="form-horizontal" data-role="validator" novalidate="novalidate">
    <div class="panel panel-default">
        <div class="panel-body" style="padding-top:6px;padding-bottom:2px">
            <div class="row" style="padding-bottom:15px">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="txtBankCode" class="col-sm-5 control-label required">Bank Code:</label>
                        <div class="col-sm-7">
                            <input type="text" onkeypress="return blockSpecialChar(event)" id="txtbank" name="In_bank_code" class="form-control" maxlength="10">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label for="txtBankName" class="col-sm-4 control-label required">Bank Name:</label>
                        <div class="col-sm-8">
                            <input type="text" onkeypress="return blockSpecialChar(event)" id="txtbankname" name="In_bank_name" class="form-control" maxlength="50">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5" style="display:none">
                    <div class="form-group">
                        <label for="txt_bank_rowid" class="col-sm-5 control-label">Bank Row Id:</label>
                        <div class="col-sm-7">
                            <input type="text" id="txt_bank_rowid" name="IOU_bank_rowid" class="form-control" maxlength="125">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5" style="display:none">
                    <div class="form-group">
                        <label for="txt_row_timestamp" class="col-sm-5 control-label">Timestamp:</label>
                        <div class="col-sm-7">
                            <input type="text" id="txt_row_timestamp" name="In_row_timestamp" class="form-control" maxlength="125">
                        </div>
                    </div>
                </div>
                <div class="col-sm-5" style="display:none">
                    <div class="form-group">
                        <label for="txt_status_code" class="col-sm-5 control-label">Status Code:</label>
                        <div class="col-sm-7">
                            <input type="text" id="txt_status_code" name="In_status_code" class="form-control" maxlength="125">
                        </div>
                    </div>
                </div>
                <div class="col-sm-3" style=" display:none">
                    <div class="form-group" style=" display:none">
                        <label for="txtMode" class="col-sm-5 control-label">Mode Flag</label>
                        <div class="col-sm-7">
                            <input type="text" id="txtMode" name="In_mode_flag" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" padding-bottom:15px">

                <div class="col-xs-12">

                    <div id="grid_bank">
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<script>
    click_act_name = "Banklist";
    click_ctrl_name = "Bank";
    form_list_url = '../' + click_ctrl_name + '/' + click_act_name;
</script>
<script src="~/API_Scripts/UmoldITWebAPIProxy.js"></script>
<script>
    $(document).ready(function () {

        Form_validate_Name = $('form.form-horizontal').attr('id');
        var container = $("#Bank_form");
        kendo.init(container);
        container.kendoValidator({
        });
        $(".file_attach").attr("hdrtitle", "BANK");
        $(".notes").attr("hdrtitle", "BANK");
        $("#lblForm_menuid").text("BANK");


        Screen_Id = "BANK";
        permission = sec_Permission(Screen_Id);
        $("#txtcommon_id").hide();
        $("#common_id").hide();
        //$("#review").hide();
        $("#lblForm_menuid").text("BANK");
        grid_bank_details([]);

        if (getlocalStorage('btn_clk_val') == "Create") {
            $('#divCreate #review').hide();
            $("#txtMode").val("I");
            $("#bottom_menus").hide();
            $("#DocStat").val("New");

        }
        else if (getlocalStorage('btn_clk_val') == "View" || getlocalStorage('btn_clk_val') == "Edit") {
            debugger;
            $('#divEdit #reviewEd').hide();
            $('#divEdit #deactivate').hide();
            $("#bottom_menus").hide();
            if (getlocalStorage("ls_pageList") != undefined) {
                var data = getlocalStorage("ls_pageList");
                var formval = form_Serialize("Bank_form");
                var obj_val = JSON.parse(formval);
                obj_val.bank_rowid = data.Out_bank_rowid;
                $("#txt_bank_rowid").val(obj_val.bank_rowid);
                var data = {};
                data.context = WebAPIProxy.getContext();;
                data.context.Header = obj_val;
                var Context = data.context;

                var data = { userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, bank_rowid: Context.Header.bank_rowid  };
              $.ajax({
          url: '@Url.Action("Bankfetch", "Bank")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
         data: data,
        success: function (response1) {
                debugger;
                if (response1 != null) {
                    generate_bank_header(response1.context.Header);
                    generate_bank_detail(response1.context.BankDtl);

                    $("#txtMode").val("U");
                    setlocalStorage('doc_no', $("#txtbank").val());
                    setlocalStorage('doc_row_id', $("#txt_bank_rowid").val());
            }
                else {
                           grid_role([]);
                   }

            },
            error: function (er) {
                alert(er)
                console.log(er)
            }
        });


                //HTTP GET API Purpose Commented by Venkat 10-09-2020 Start

                //$.ajax({
                //    type: "POST",
                //    data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, bank_rowid: Context.Header.bank_rowid }),
                //    url: "/Bank/Bankfetch",
                //    dataType: "json",
                //    contentType: 'application/json; charset=utf-8',
                //    success: function (response) {
                //        debugger;
                //        if (response.context != null) {
                //            generate_bank_header(response.context.Header);
                //            generate_bank_detail(response.context.BankDtl);
                //            //SetPager(response.context.Filter.out_record_count)
                //            //$("#txt_attr_code").val(data.entitygrp_code);

                //            $("#txtMode").val("U");
                //            setlocalStorage('doc_no', $("#txtbank").val());
                //            setlocalStorage('doc_row_id', $("#txt_bank_rowid").val());
                //        }
                //        else {
                //            grid_role([]);
                //        }
                //    },
                //    error: function (er) {
                //        alert(er)
                //        console.log(er)
                //    }

                //});

                //HTTP GET API Purpose Commented by Venkat 10-09-2020 end

            }
        }

        setlocalStorage("status", "Active");
        setlocalStorage('status_code', "A");
    });
    function load_master_code() {
        try {
            debugger;
            var data = {};
            var context = WebAPIProxy.getContext();
            data.userId = context.userId
            data.orgnId = context.orgnId
            data.locnId = context.locnId
            data.localeId = context.localeId
            data.screen_Id = "BANK";
            var tab_values = ajaxcall_param("/Home/screenId_mastercodelist", JSON.stringify(data));
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }
    function clear_val() {
        try {
            $("#txt_bank_rowid").val("");
            $("#bank_code").val("");
            $("#bank_name").val("");

            $("#txt_status_code").val("");
            $("#txtMode").val("");
            $("#txt_row_timestamp").val("");

            grid_bank_details([]);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

    function get_bank_details(id) {
        debugger;
        try {
            //clear_val();

            var formval = form_Serialize("Bank_form");
            var obj_val = JSON.parse(formval);
            obj_val.bank_rowid = id;

            var data = {};
            data.context = WebAPIProxy.getContext();;
            data.context.Header = obj_val;
            var Context = data.context;

            var data = { userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, bank_rowid: Context.Header.bank_rowid  };
              $.ajax({
          url: '@Url.Action("Bankfetch", "Bank")',
         type: "post",
        contentType: 'application/x-www-form-urlencoded',
         data: data,
        success: function (response1) {
                debugger;
                if (response1 != null) {
                    generate_bank_header(response1.context.Header);
                    generate_bank_detail(response1.context.BankDtl);
     
            }
                else {
                           grid_role([]);
                   }

            },
            error: function (er) {
                alert(er)
                console.log(er)
            }
        });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }

</script>
<script type="text/javascript">
    function ValidateIFSC(Obj) {
        var ifscChk = true;
        if (Obj != "") {
            ObjVal = Obj;
            var reg = /[A-Z|a-z]{4}[0][a-zA-Z0-9]{6}$/;
            if (ObjVal.search(reg) == -1) {
                return false;
            };
        }
        else
            return ifscChk;
    }
    function blockSpecialChar(e) {
        debugger;
        var k;
        document.all ? k = e.keyCode : k = e.which;
        return ((k > 64 && k < 91) || (k > 96 && k < 123) || k == 8 || k == 32 || (k >= 48 && k <= 57));
    }
  
</script>
<script>
    var status_desc_list = "";
    function grid_bank_details(data) {
        try {
            $("#grid_bank").kendoGrid({
                dataSource:
                {
                    data: data,
                    schema:
                    {
                        model:
                        {
                            fields:
                            {
                                In_branch_name: { type: "string" },
                                In_ifsc_code: { type: "string" },
                                In_bankifsc_rowid: { type: "string" },
                                In_row_timestamp: { type: "string" },
                                In_status_code: { type: "string", defaultValue: "A" },
                                In_status_desc: { type: "string", defaultValue: getlocalStorage('status'), editable: false },
                                In_mode_flag: { type: "string", defaultValue: "I" }
                            }
                        }
                    }
                },
                toolbar: "<a class='k-grid-add' id='btnSave' href=''><span class='fa fa-plus' style='color:Black'></span></a>",
                height: 400,
                groupable: false,
                dataBinding: setDefaultValues,

                dataBound: function (e) {
                    resultData = e.sender._data;
                    var rows = $('#grid_bank').data('kendoGrid').tbody.children();
                    setColor(rows, resultData);
                },
              
                sortable: true,
                selectable: true,
                navigatable: true,
                columns: [{
                    command: [
                {
                    name: "Delete",
                    id: "Delete",
                    imageClass: "fa fa-close",
                    click: function (e) {
                        // e.preventDefault();
                        var grid = $("#grid_bank").data("kendoGrid");
                        var dataItem = $("#grid_bank").data("kendoGrid").dataItem($(e.target).closest("tr"));
                        DeleteWindowEvent(e, dataItem, grid);
                        e.stopImmediatePropagation()
                    }
                },
                    ], title: "&nbsp;", width: "25px",
                },
				 {
                     field: "In_bankifsc_rowid",
				     title: "Row id",
				     width: 100,
				     hidden: true,

				 },

                 {
                     field: "In_branch_name",
                     title: "Branch Name",
                    
                     width: 100,

                 },
                 {
                     field: "In_ifsc_code",
                     title: "IFSC Code",
                     editor: function (container, options) {
                         $('<input data-text-field="' + options.field + '" ' +'class="k-input k-textbox" ' +'maxlength="11"' +'data-bind="value:' + options.field + '"/>')
                             .appendTo(container)
                     },
                     
                     width: 100,
                 },


                 {
                     field: "In_status_desc",
                     title: "Status Descripition",
                     editor: function (container, options) {
                         combo_editor_man(container, "cmb_" + options.field, eval(options.field + "_list"), options.field, "status_code", "grid_Drop_list")
                     },
                     width: 100,
                 },
             {
                 field: "In_status_code",
                 title: "Status",
                 hidden: true,
                 width: 100
             },
                   {
                       field: "In_row_timestamp",
                       title: "Timestamp",
                       hidden: true
                   },

                {
                    field: "In_mode_flag",
                    title: "Mode",
                    hidden: true
                }],
                editable: true,
                edit: function (e) {
                    var fieldName = e.container.find("input").attr("name");
                    if (fieldName == 'entity_code' && e.model.mode_flag != 'I') { this.closeCell(); }
                },
            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);

        }
    }
    load_master_code();
    //In_status_desc_list = grid_combo_mastercodes("STATUS");

   
    function save(mode) {
       
        try {
            var mandatory_check = true;
            var grid_validate_msg = "";
            var IFSC_check = true;
            
            if ($("#txtbank").val() == '' || $('#txtbank').val() == undefined)
            {
                kendoAlert("Bank Code is not empty!");
                return false;
            }
            else if ($("#txtbankname").val() == '' || $('#txtbankname').val() == undefined) {
                kendoAlert("Bank Name is not empty!");
                return false;
            }
            if ($("#txt_bank_rowid").val() == "") {
                $("#txt_bank_rowid").val('0');
            }
            if ($("#txtMode").val() == "") {
                $("#txtMode").val('I');
            }
            if ($("#txtMode").val() == "S") {
                $("#txtMode").val('U');
            }

            if (mode != undefined) {
                $("#txtMode").val('D');
            }
            if (mandatory_check == false) {
                kendoAlert(grid_validate_msg);
                return false;
            }
            var formval = form_Serialize("Bank_form");
            var obj_val = JSON.parse(formval);
            var grid_val = JSON.stringify($("#grid_bank").data().kendoGrid._data);
            var Bind = {};
            Bind = grid_val;
            var result = JSON.parse(Bind); 

            if (result.length == 0) {
                kendoAlert("Atleast one record needs to be entered");
                mandatory_check = false;
                return false;
            }
            $.each(result, function (index, value) {
                debugger;
                var row_id = value.In_bankifsc_rowid;
                if (row_id == undefined || row_id == "") {
                    result[index].In_bankifsc_rowid = "0";
                }
                var mode = value.In_mode_flag;
                if (mode == "S") {
                    result[index].In_mode_flag = "U";
                }
                var branch = value.In_branch_name;
                var IFscCode = value.In_ifsc_code;
                if (/^[a-zA-Z0-9- ]*$/.test(branch) == false) {
                    kendoAlert("Invalid Characters in Branch Name,Kindly check it.");
                    mandatory_check = false;
                    return false;
                }
                if (/^[a-zA-Z0-9- ]*$/.test(IFscCode) == false) {
                    kendoAlert("Invalid Characters in IFSC Code,Kindly check it.");
                    mandatory_check = false;
                    return false;
                }
                if (value.In_ifsc_code != "")
                {
                   
                    if (value.In_ifsc_code.length != 11) {
                        kendoAlert("IFSC Code. should be 11 digits");
                        mandatory_check = false;
                        return false;
                    }
                  
                    IFSC_check = ValidateIFSC(value.In_ifsc_code);
                    if (IFSC_check == false) {
                        kendoAlert("Invalid IFSC Code.");
                        mandatory_check = false;
                        return false;
                    }
                }
               
            });
            if (mandatory_check == false) {
                return false;
            }
            var obj_grid_val = result;


            var data = {};
            data.context = WebAPIProxy.getContext();
            data.context.Header = obj_val;
            data.context.BankDtl = obj_grid_val;
            var Context = data.context;
            $.ajax({
                type: "POST",
                data: JSON.stringify({ userId: Context.userId, orgnId: Context.orgnId, locnId: Context.locnId, localeId: Context.localeId, Header: Context.Header, BankDtl: Context.BankDtl }),
                url: "/Bank/SaveBank",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    debugger;
                    
                    var Res = JSON.parse(response);
                    console.log(Res);
                    if (Res.applicationException.errorDescription == "") {
                        var mode = $("#txtMode").val();
                        if (mode == "I") {
                            kendoAlert("Bank Details saved successfully");
                            get_bank_details(Res.context.header.ioU_bank_rowid);
                            $('#divCreate #btnSave').prop('disabled', true);
                        }
                        else if (mode == "D") {
                            kendoAlert("Bank Details inactivate successfully");
                            get_bank_details(Res.context.header.ioU_bank_rowid);
                        }
                        else {
                            kendoAlert("Bank Details saved successfully");
                            get_bank_details(Res.context.header.ioU_bank_rowid);
                            $('#divCreate #btnSave').prop('disabled', true);
                        }
                    }
                    else {
                        kendoAlert(Res.applicationException.errorDescription);
                        $('#divCreate #btnSave').prop('disabled', false);
                    }
                },
                error: function (er) {
                    alert(er)
                    console.log(er)
                }

            });
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function DeleteDetails() {
        try {
            $("#txtMode").val('D');
            save();
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function generate_bank_header(res) {
        try {
            $("#txt_bank_rowid").val(res.In_bank_rowid);
          
            $("#txtbank").val(res.In_bank_code);
            $("#txtbank").attr("readonly", "");
            $("#txtbankname").val(res.In_bank_name);

            $("#txt_status_code").val(res.In_status_code);
            $("#DocStat").val(res.In_status_desc);

            $("#txtMode").val(res.In_mode_flag);

            $("#txt_row_timestamp").val(res.In_row_timestamp);
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


    function generate_bank_detail(res) {
        try {
            if (res != null) {
                var data = changedataType(res);

                grid_bank_details(data);
            }
            else {
                grid_bank_details([]);
            }
        }
        catch (err) {
            javascript_log4j_root(arguments.callee.name, err);
        }
    }


</script>